<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="share-link-form" [formGroup]="formGp">
    <p class="help-text">{{ 'biox.share_object_help' | translate }}</p>

    <!--    Valid until      -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'biox.share_link_valid_until' | translate }}</mat-label>
      <input
        matInput
        formControlName="validUntil"
        [matDatepicker]="endingPicker"
        [placeholder]="'flDate.date_picker_placeholder' | translate" />
      <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
      <mat-datepicker #endingPicker startView="month"></mat-datepicker>
      <mat-hint>{{ 'biox.share_link_no_valid_until_help' | translate }}</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="share-link-form" class="g-centered-forced">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
