<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="server-info-form" [formGroup]="formGp">


    <!--  Type  -->
    <mat-radio-group aria-label="Select an option" formControlName="type"
                     fxLayout="row" fxLayoutAlign="space-between stretch"
                     (change)="onTypeChange($event.value)" class="type">
      <fl-radio-button-big value="CLOUD" fxFlex="49%">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em"
             class="radio-text">
          <mat-icon>cloud</mat-icon>
          <div>{{'lab_instance_type_CLOUD' | translate}}</div>
        </div>

        <div class="g-text-small g-text-light radio-description">
          {{'lab_instance_type_CLOUD_desc' | translate}}
        </div>
      </fl-radio-button-big>

      <fl-radio-button-big value="DESKTOP" fxFlex="49%">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em"
             class="radio-text">
          <mat-icon>computer</mat-icon>
          <div>{{'lab_instance_type_DESKTOP' | translate}}</div>
        </div>

        <div class="g-text-small g-text-light radio-description">
          {{'lab_instance_type_DESKTOP_desc' | translate}}
        </div>
      </fl-radio-button-big>
    </mat-radio-group>


    <ng-container *ngIf="isCloud(); else onPromise">

      <p class="help-text g-text-light">{{'lab_instance_request_help' | translate}}</p>

      <!--  Cloud provider  -->
      <div>{{'lab_instance_request_cloud_provider' | translate}}</div>
      <mat-radio-group formControlName="cloudProvider" class="cloud-radio">
        <mat-radio-button value="OVH">OVH</mat-radio-button>
        <mat-radio-button value="AZURE">AZURE</mat-radio-button>
        <mat-radio-button value="AWS">AWS</mat-radio-button>
        <mat-radio-button value="GCP">GCP</mat-radio-button>
        <mat-radio-button value="I don’t know / Other">I don’t know / Other</mat-radio-button>
      </mat-radio-group>

      <!--  Cpu count  -->
      <div>{{'lab_instance_request_cpu_count' | translate}}</div>
      <mat-radio-group formControlName="cpuCount" class="cloud-radio">
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
        <mat-radio-button value="8">8</mat-radio-button>
        <mat-radio-button value=">8">more than 8</mat-radio-button>
        <mat-radio-button value="I don’t know / Other">I don’t know / Other</mat-radio-button>
      </mat-radio-group>

      <!--  Storage size  -->
      <div>{{'lab_instance_request_storage' | translate}}</div>
      <mat-radio-group formControlName="storageSize" class="cloud-radio">
        <mat-radio-button value="< 500 GB"><500 {{'flCoreComponent.giga_byte_symbole' | translate}}</mat-radio-button>
        <mat-radio-button value="> 500 GB">>500 {{'flCoreComponent.giga_byte_symbole' | translate}}</mat-radio-button>
        <mat-radio-button value="I don’t know / Other">I don’t know / Other</mat-radio-button>
      </mat-radio-group>

      <!--  Lab need  -->
      <mat-form-field class="g-form-input lab-need">
        <mat-label>{{'lab_instance_request_need' | translate}}</mat-label>
        <textarea matInput formControlName="labNeed" rows="4"
                  [placeholder]="'lab_instance_request_need' | translate"></textarea>
      </mat-form-field>

      <!--  Additional data  -->
      <mat-form-field class="g-form-input">
        <mat-label>{{'lab_instance_request_additional_info' | translate}}</mat-label>
        <textarea matInput formControlName="additionalInfo" rows="4"
                  [placeholder]="'lab_instance_request_additional_info' | translate"></textarea>
      </mat-form-field>

    </ng-container>

    <ng-template #onPromise>
      <!--  Name  -->
      <mat-form-field class="g-form-input name">
        <mat-label>{{'name' | translate}}</mat-label>
        <input matInput formControlName="name" required [flInputMaxLength]="maxNameLength"
               [placeholder]="'name' | translate">
        <mat-error *ngIf="formGp.get('name').hasError('required')">
          {{'name' | flErrorRequired}}
        </mat-error>
        <mat-error *ngIf="formGp.get('name').hasError('pattern')">
          {{'lab_name_invalid' | translate}}
        </mat-error>
      </mat-form-field>

      <!--  On Premise Platform  -->
      <div class="on-premise-platform">
        {{'lab_desktop_platform' | translate}}
        <mat-radio-group formControlName="onPremisePlatform" required>
          <mat-radio-button value="WINDOWS" color="primary">Windows</mat-radio-button>
          <mat-radio-button value="MAC" color="primary">Mac OS</mat-radio-button>
          <mat-radio-button value="LINUX" color="primary">Linux</mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-template>


  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="server-info-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
