<fl-card class="g-full-height" *ngIf="labInstance$ | async as labInstance">

  <fl-card-body>

    <!--   Lab type   -->
    <fl-text-icon>
      <mat-icon>{{labInstance.typeIcon}}</mat-icon>
      <fl-key-value>
        <fl-key>{{'lab_instance_type' | translate}}</fl-key>
        {{'lab_instance_type_' + labInstance.type | translate}}
      </fl-key-value>
    </fl-text-icon>


    <!--   Lab url   -->
    <fl-text-icon *ngIf="labInstance.isCloud">
      <mat-icon>link</mat-icon>
      <fl-key-value>
        <fl-key>{{'url' | translate}}</fl-key>
        <a [href]="labInstance.frontUrl" target="_blank" class="g-text-link"
           [matTooltip]="'open_lab_in_new_tab' | translate">
          {{labInstance.frontUrl}}
        </a>
      </fl-key-value>
    </fl-text-icon>


    <fl-text-icon *ngIf="labInstance.region">
      <mat-icon>location_on</mat-icon>
      <fl-key-value class="key-val-inline">
        <fl-key class="key">{{'region' | translate}}</fl-key>
        <ca-city [city]="labInstance.region.city" class="city"></ca-city>
      </fl-key-value>
    </fl-text-icon>

    <fl-text-icon *ngIf="labInstance.billingMode">
      <mat-icon>attach_money</mat-icon>
      <fl-key-value class="key-val-inline">
        <fl-key class="key">{{'lab_billing_mode' | translate}}</fl-key>
        {{'lab_billing_mode_' + labInstance.billingMode | translate}}
      </fl-key-value>
    </fl-text-icon>

    <!--   Platform   -->
    <fl-text-icon *ngIf="labInstance.desktopPlatform">
      <mat-icon>info</mat-icon>
      <fl-key-value>
        <fl-key>{{'lab_desktop_platform' | translate}}</fl-key>
        {{labInstance.desktopPlatform}}
      </fl-key-value>
    </fl-text-icon>

    <fl-text-icon *ngIf="labInstance.isDesktop">
      <mat-icon>help</mat-icon>
      <a [href]="desktopDocUrl" target="_blank" class="g-text-link">
        {{'lab_desktop_how_to_link' | translate}}
      </a>
    </fl-text-icon>

  </fl-card-body>

  <fl-card-footer layoutGap="0.5em">

    <ng-container *ngIf="labInstance.isCloud; else desktop">

      <ca-lab-login-button [labInstanceId]="labInstance.id" [isRunning]="labIsRunning$ | async"></ca-lab-login-button>

      <ca-lab-instance-start-stop *ngIf="isOwner$ | async"></ca-lab-instance-start-stop>

      <button mat-stroked-button type="button" (click)="openCodelabInfo(labInstance)"
              class="g-button-small">
        <mat-icon flIcon="code"></mat-icon>
        {{'codelab_info' | translate}}
      </button>

    </ng-container>

    <ng-template #desktop>
      <button mat-stroked-button (click)="getDesktopConfigDownloadUrl(labInstance)"
              type="button">
        <mat-icon>cloud_download</mat-icon>
        <span>{{'download_desktop_config' | translate}}</span>
      </button>
    </ng-template>

    <button mat-stroked-button type="button" (click)="openLabConfig(labInstance)"
            class="g-button-small">
      <mat-icon>info</mat-icon>
      {{'brick_versions' | translate}}
    </button>


  </fl-card-footer>
</fl-card>
