<fl-dialog-header>
  {{ 'codelab_info' | translate }}
</fl-dialog-header>

<mat-dialog-content class="content">
  <fl-async-section [object]="codelabInfo$">
    <ng-container *flSectionBody="codelabInfo$ as codelabInfo">
      <p>{{ 'codelab_description' | translate }}</p>

      <fl-key-value>
        <fl-key>{{ 'codelab_link' | translate }}</fl-key>
        <span class="g-text-link">
          <a [href]="codelabInfo.url" target="_blank">{{ codelabInfo.url }}</a>
        </span>
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{ 'codelab_user' | translate }}</fl-key>
        {{ codelabInfo.username }}
      </fl-key-value>

      <fl-password-hidden [password]="codelabInfo.token" [label]="'codelab_token' | translate">
      </fl-password-hidden>

      <fl-key-value>
        <fl-key>{{ 'codelab_more_info' | translate }}</fl-key>
        <span class="g-text-link"
          ><a [href]="communityHelpUrl" target="_blank">{{ communityHelpUrl }}</a></span
        >
      </fl-key-value>
    </ng-container>
  </fl-async-section>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button [matDialogClose]="null" type="button" class="g-centered-forced primary">
    {{ 'ok' | translate }}
  </button>
</div>
