<fl-input-search
  [selectedItem]="selectedSpace"
  (selectedItemChange)="setAndEmitValue($event)"
  [datasource]="spaceDatasource"
  [placeholder]="placeholder"
  [required]="required"
  [disabled]="disabled"
  (focused)="onFocused($event)">
  <div class="photo" *flInputSearchPrefix="spaceDatasource as currentSpace">
    @if (currentSpace) {
      <ca-space-photo [space]="currentSpace" size="small"></ca-space-photo>
    } @else {
      <mat-icon flIcon="space"></mat-icon>
    }
  </div>

  <ca-space-inline *flInputSearchOption="spaceDatasource as space" [space]="space"></ca-space-inline>
</fl-input-search>
