<fl-card class="g-full-height">
  <fl-card-header>
    <!--  Center header  -->
    <fl-search-header>
      <fl-text-icon>
        <mat-icon>people</mat-icon>
        <h2>{{ 'users' | translate }}</h2>
      </fl-text-icon>

      <fl-search-header-actions class="g-layout-row g-layout-start-center">
        <button
          mat-icon-button
          type="button"
          (click)="exportSearch()"
          [matTooltip]="'export_search_to_csv' | translate">
          <mat-icon>cloud_download</mat-icon>
          @if (exportIsLoading) {
            <fl-button-loader position="override"></fl-button-loader>
          }
        </button>

        <button
          *caIsAdmin
          mat-icon-button
          type="button"
          (click)="syncAllUserWithCommunity()"
          [matTooltip]="'synchronise_user_with_community' | translate">
          <mat-icon>cloud_sync</mat-icon>
        </button>
      </fl-search-header-actions>
    </fl-search-header>
  </fl-card-header>

  <fl-card-body class="g-full-height">
    <fl-search>
      <!-- Advanced section in the right in a drawer -->
      <fl-search-advanced-form>
        <ca-user-search-form></ca-user-search-form>
      </fl-search-advanced-form>

      <fl-search-result>
        <ca-user-table [datasource]="datasource" [columns]="columns"></ca-user-table>
      </fl-search-result>
    </fl-search>
  </fl-card-body>
</fl-card>
