<div class="g-flex" *ngIf="isLoading">
  <fl-loader class="g-centered"></fl-loader>
</div>

<div *ngIf="!isLoading">
  <div class="spacer-v2"></div>

  <div class="live-task-versions-list-div">
    <fl-input-file-container class="create-new-lt-version-bt" color="primary" *ngIf="canEdit && liveTask && latestVersionIsPublished()" [placeholder]="'create_new_live_task_version' | translate">
      <input flInputFile type="file" [strictMode]="true" [autoClearHtmlInput]="true" accept="application/json" (fileChange)="onFileSelected($any($event))">
    </fl-input-file-container>
    <a *ngFor="let liveTaskVersion of liveTaskVersions" [routerLink]="liveTaskVersion.id">
      <ha-card>
        <div class="live-task-version-card">
          <div class="live-task-version-inner-card">
            <ha-card [innerCard]="true" [background]="'main'">
              <h2 class="h2-v2">{{ 'version' | translate }} {{ liveTaskVersion.version }}</h2>
              <div *ngIf="liveTaskVersion.versionState == 'PUBLISHED'; else notPublishedDiv">
                {{ 'published' | translate }}: {{ liveTaskVersion.createdAt | flDate: 'dd/MM/yyyy' }}
              </div>
            </ha-card>
          </div>
        </div>
      </ha-card>
    </a>
  </div>
</div>


<ng-template #notPublishedDiv>
  <div class="g-warn-text">
    {{'not_published' | translate}}
  </div>
</ng-template>
