<fl-section [isLoading]="isLoading" [object]="value" class="container">

  <ng-container *flSectionBody>

    <mat-tree [dataSource]="dataSource" [treeControl]="value"
              *ngIf="dataSource && value">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                     class="g-text-small tree-node" (click)="toggleProjectSelection(node)"
                     [ngClass]="{'selected' : node.selected}">
        <div class="node-content leaf g-layout-row g-layout-start-center g-layout-gap-05em">
          <div class="circle-color" [style.background-color]="node.project.id | flStringToRgb"></div>

          <div>
            <div>{{node.project.code}}<span class="text-pipe">|</span><span
              class="g-text-light">{{node.project.title}}</span></div>
            <!--            <div class="g-text-light g-text-tiny">{{node.project.title}}</div>-->
          </div>
        </div>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                     class="g-text-small tree-node" matTreeNodeToggle>
        <div class="node-content g-layout-row g-layout-start-center">
          <mat-icon>
            {{value.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

          <div>
            <div>{{node.project.code}}<span class="text-pipe">|</span><span
              class="g-text-light">{{node.project.title}}</span></div>
            <!--            <div class="g-text-light g-text-tiny">{{node.project.title}}</div>-->
          </div>
        </div>
      </mat-tree-node>
    </mat-tree>
  </ng-container>
</fl-section>
