<fl-input-search [selectedItem]="selectedType"
                 (selectedItemChange)="setAndEmitValue($event)"
                 [datasource]="datasource"
                 [placeholder]="placeholder"
                 [required]="required"
                 [disabled]="disabled"
                 [minInputSearchLength]="0"
                 [advancedButton]="advancedButton"
                 (inputBlur)="markAsTouched()">


  <lab-type-inline *flInputSearchOption="let type" [type]="type">
  </lab-type-inline>
</fl-input-search>
