<div class="g-layout-row g-layout-between-center header">
  @if (folder$ | async; as folder) {
    <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
      <ca-hierarchy-object-icon [style]="folder.style"></ca-hierarchy-object-icon>
      <h2>{{ folder.name }}</h2>
    </div>
  }

  <a mat-stroked-button [routerLink]="chatDetailRoute" class="g-button-small" flPortalClose>
    {{ 'open_in_chat' | translate }}
  </a>
</div>

<ca-chat-folder [folderId]="folderId" class="chat"></ca-chat-folder>
