<div class="container">
  <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" [matTreeNodePadding]="node.level" [matTreeNodePaddingIndent]="20">
      <div class="leaf-container node-container" (contextmenu)="openMenu(node, $event)"
           fxLayout="row wrap" fxLayoutAlign="start center">
        <span>{{node.name}}</span>
        <fl-loader *ngIf="node.isLoading" size="small" class="loader"></fl-loader>

        <button *ngIf="!node.isLoading" mat-icon-button class="g-button-icon-tiny action-button"
                (click)="openMenu(node, $event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-tree-node>


    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                   [matTreeNodePadding]="node.level" [matTreeNodePaddingIndent]="20">
      <div matTreeNodeToggle fxLayout="row" fxLayoutAlign="start center">

        <!--      Arrow icon      -->
        <mat-icon>{{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>

        <div class="node-container" (contextmenu)="openMenu(node, $event)"
             fxLayout="row wrap" fxLayoutAlign="start center">
          <span>{{node.name}}</span>

          <fl-loader *ngIf="node.isLoading" size="small" class="loader"></fl-loader>

          <button *ngIf="!node.isLoading" mat-icon-button class="g-button-icon-tiny action-button"
                  (click)="openMenu(node, $event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
