<fl-dialog-header>
  {{ 'coauthors' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <div class="dialog-part">
    {{ 'coauthors' | translate }}:
    @if (coAuthors?.length > 0) {
      @for (coAuthor of coAuthors; track coAuthor) {
        <div class="co-author-div">
          <a [routerLink]="profileRoute + coAuthor.id">
            <fl-user-inline [user]="coAuthor" [portalOnHover]="false"></fl-user-inline>
          </a>
          <button
            mat-icon-button
            [matTooltip]="'remove_coauthor' | translate"
            (click)="openRemoveConfirmDialog(coAuthor)"
            class="warn">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
      }
    } @else {
      <div class="empty-zone-text">{{ 'no-coauthors' | translate }}</div>
    }
  </div>
  <div>
    {{ 'pending_coauthor_invitations' | translate }}:
    @if (coAuthorPendingInvites?.length > 0) {
      @for (pendingInvite of coAuthorPendingInvites; track pendingInvite) {
        <div class="co-author-div">
          @if (pendingInvite.user) {
            <fl-user-inline
              [user]="pendingInvite.user"
              [portalOnHover]="false"
              profilePictureSize="small"></fl-user-inline>
          } @else {
            <p>{{ pendingInvite.email }}</p>
          }
          <button
            mat-icon-button
            [matTooltip]="'cancel_invitation' | translate"
            (click)="deleteCoAuthorInvite(pendingInvite.id)"
            class="warn">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
      }
    } @else {
      <div class="empty-zone-text">{{ 'no_pending_invitation' | translate }}</div>
    }
  </div>

  <div class="add-coauthor-div">
    <h6>{{ 'invite_coauthor' | translate }}</h6>

    <p>{{ inviteText | translate }}</p>

    @if (!isLoading) {
      <mat-form-field class="g-form-input">
        <mat-label>{{ 'user_alias_or_email' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'user_alias_or_email' | translate"
          #input
          [matAutocomplete]="auto"
          [formControl]="inputCtrl"
          tabindex="0" />
      </mat-form-field>
    } @else {
      <div class="g-centered">
        <fl-loader></fl-loader>
      </div>
    }

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event)"
      [autoActiveFirstOption]="true">
      @if (isInputValueEmail && filteredOptions.isEmpty()) {
        <mat-option
          [value]="inputCtrl.value"
          class="g-mat-option-no-wrap"
          [matTooltip]="'invite' | translate: { user: inputCtrl.value }">
          <span>{{ inputCtrl.value }}</span>
        </mat-option>
      }
      @for (item of filteredOptions | flDatasourceConnect | async; track item) {
        @if (!checkIfCoAuthor(item) && item.id !== authorId) {
          <mat-option
            [value]="item.id"
            class="g-mat-option-no-wrap"
            [matTooltip]="'invite' | translate: { user: item.alias }">
            <fl-user-inline
              [profilePictureSize]="'small'"
              [user]="item"
              [portalOnHover]="false"></fl-user-inline>
          </mat-option>
        }
      }
    </mat-autocomplete>
  </div>
</mat-dialog-content>
