<fl-card class="card" matRipple>
  <fl-card-header>
    <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
      <ca-icon-container icon="lab" [backgroundColor]="color"></ca-icon-container>
      <div class="title g-text-dense-height">{{ lab().name }}</div>
    </div>
  </fl-card-header>

  <fl-card-body class="card-body">
    <div class="g-layout-row g-layout-between-center g-layout-gap-05em">
      <div class="status-indicator" [ngClass]="statusIndicatorClass()">
        <div class="status-dot"></div>
        <span class="status-text">{{ statusText() | translate }}</span>
      </div>

      <fl-text-icon
        class="g-text-light g-text-small"
        [matTooltip]="
          (lab().currentStatus.status.name | translate) +
          ' ' +
          ('since_the' | translate) +
          ' ' +
          (lab().currentStatus.createdAt | flDate)
        ">
        <mat-icon class="g-icon-small">access_time</mat-icon>
        {{ lab().currentStatus.createdAt | flDate }}
      </fl-text-icon>
    </div>
    <div class="body-info">
      @if (lab().region) {
        <ca-city [city]="lab().region.city" class="city"></ca-city>
      }
    </div>

    <div class="g-layout-row-wrap g-layout-start-center g-layout-gap-05em action-buttons">
      @if (showButtons()) {
        @if (lab().typeObj.isHttpAccessible) {
          <ca-lab-login-button
            [labId]="lab().id"
            [isRunning]="lab().isRunning()"
            class="lab-login"></ca-lab-login-button>
        }

        <a
          mat-icon-button
          [routerLink]="lab() | caDetailRoute"
          (click)="stopEventPropagation($event)"
          (mousedown)="stopEventPropagation($event)"
          [matTooltip]="'settings' | translate">
          <mat-icon>settings</mat-icon>
        </a>
      }
    </div>
  </fl-card-body>
</fl-card>
