<mat-table mat-table [dataSource]="datasource" flSearchTableSort>

  <!-- EntityType -->
  <ng-container matColumnDef="entityType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span> {{'activity_entity_type' | translate}}/{{'activity_action_type' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>
        <div>{{row.entityType}}</div>
        <div>{{row.actionType}}</div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2" mat-sort-header>
      <span> {{'title' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-column-width-2">
      {{row.title}}
    </mat-cell>
  </ng-container>

  <!-- EntityName -->
  <ng-container matColumnDef="entityName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span> {{'activity_entity_name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.entityName}}
    </mat-cell>
  </ng-container>

  <!-- Creation info -->
  <ng-container matColumnDef="creation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span> {{'activity_user_date' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.user" [date]="row.createdAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: columns;">
  </mat-row>
</mat-table>
