<mat-table mat-table [dataSource]="datasource">
  <!-- Price -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'server_price_detail' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.price }}
    </mat-cell>
  </ng-container>

  <!-- Start date -->
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef>
      {{ 'server_price_start_date' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>{{ row.startDate | flDate }}</div>
    </mat-cell>
  </ng-container>

  <!-- End date -->
  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef>
      {{ 'server_price_end_date' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>{{ row.endDate | flDate }}</div>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      {{ 'last_modification_info' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.lastModifiedBy" [date]="row.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">
      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="deletePrice(row)">
          <mat-icon color="warn">clear</mat-icon>
          <span class="g-warn-text">{{ 'delete_server_price' | translate }}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
