.brick-page-content{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.table-of-contents a {
  font-size: 12px;
}

.table-of-contents a:hover{
  text-decoration: underline;
}

.table-of-contents .small-title {
  margin-left: 10px;
}
