<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">settings</mat-icon>
      <h1>{{ 'admin_configurations' | translate }}</h1>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <div>
      <h2>{{ 'constellab_suite' | translate }}</h2>
      <div>
        <button mat-flat-button type="button" (click)="downloadConstellabSuite()" class="config-button">
          <mat-icon>cloud_download</mat-icon>
          {{ 'download' | translate }}
        </button>

        <fl-input-file-container
          [placeholder]="'upload' | translate"
          icon="cloud_upload"
          class="config-button">
          <input
            flInputFile
            [multiple]="false"
            type="file"
            (fileChange)="uploadConstellabSuite($any($event))"
            accept="application/json" />
        </fl-input-file-container>
      </div>
    </div>

    <div>
      <h2>{{ 'free_lab_config' | translate }}</h2>
      <div>
        <button mat-flat-button type="button" (click)="downloadFreeLabConfig()" class="config-button">
          <mat-icon>cloud_download</mat-icon>
          {{ 'download' | translate }}
        </button>

        <fl-input-file-container
          [placeholder]="'upload' | translate"
          icon="cloud_upload"
          class="config-button">
          <input
            flInputFile
            [multiple]="false"
            type="file"
            (fileChange)="uploadFreeLabConfig($any($event))"
            accept="application/json" />
        </fl-input-file-container>
      </div>
    </div>
  </fl-card-body>
</fl-card>
