<fl-dialog-header>
  {{ 'share' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="group-share-form">
    <!--  Group  -->
    <fl-form-field class="g-form-input">
      <ca-select-group [formControl]="formControl" [required]="true"></ca-select-group>
      @if (formControl.hasError('required')) {
        <mat-error>{{ 'group' | flErrorRequired }}</mat-error>
      }
    </fl-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="group-share-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
