<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="space-form" [formGroup]="formGp">

    <!--  Label  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'name' | translate}}</mat-label>
      <input matInput formControlName="name" required flInputMaxLength="100"
             [placeholder]="'name' | translate">
      <mat-error *ngIf="formGp.get('name').hasError('required')">
        {{'name' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Default storage region  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'space_default_storage_region' | translate}}</mat-label>
      <mat-select formControlName="defaultStorageRegion"
                  [placeholder]="'space_default_storage_region' | translate">
        <ca-select-cloud-provider-region-options mode="s3"></ca-select-cloud-provider-region-options>
      </mat-select>
      <mat-hint>
        {{'space_default_storage_region_help' | translate}}
      </mat-hint>
      <mat-error *ngIf="formGp.get('defaultStorageRegion').hasError('required')">
        {{'space_default_storage_region' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Nb of licences  -->
    <mat-form-field class="g-form-input" *caIsAdmin>
      <mat-label>{{'nb_of_licenses' | translate}}</mat-label>
      <input matInput formControlName="nbLicenses" required type="number"
             [placeholder]="'nb_of_licenses' | translate" min="0">
      <mat-error *ngIf="formGp.get('nbLicenses').hasError('required')">
        {{'nb_of_licenses' | flErrorRequired}}
      </mat-error>
    </mat-form-field>


  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="space-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
