<fl-input-search [selectedItem]="selectedTag"
                 (selectedItemChange)="setAndEmitValue($event)"
                 [datasource]="datasource"
                 [placeholder]="placeholder | flTranslatableText"
                 [required]="required"
                 [disabled]="disabled"
                 [minInputSearchLength]="0">

  <!--  <div class="photo" *flInputSearchPrefix="datasource as credentials">-->
  <!--    <fl-user-profile-picture *ngIf="credentials" [user]="credentials.createdBy"-->
  <!--                             size="small"></fl-user-profile-picture>-->

  <!--  </div>-->

  <div *flInputSearchOption="datasource as tag">
    {{tag}}
  </div>
</fl-input-search>
