<mat-table mat-table [dataSource]="datasource" class="table">

  <!-- Code -->
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'code' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let project">
      <ca-project-icon [project]="project"></ca-project-icon>
      <div class="code">{{project.code}}</div>
    </mat-cell>
  </ng-container>



  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'title' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let project">
      <div>{{project.title}}</div>
    </mat-cell>
  </ng-container>

  <!-- Creation info -->
  <ng-container matColumnDef="creation">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'creation_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let project">
      <fl-user-with-date [user]="project.createdBy" [date]="project.createdAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Leader -->
  <ng-container matColumnDef="leader">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'project_leader' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let project">
      <fl-user-inline [user]="project.leader"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'status' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let project">
      <fl-status-chip [status]="project.currentStatus.status" mode="iconText">
      </fl-status-chip>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-table-icon-button-cell">
      <ca-project-actions-menu [project]="row" (projectUpdated)="onProjectUpdated($event)"
                               (projectDeleted)="onProjectDeleted($event)"
                               (childProjectCreated)="onChildCreated($event)"
                               [stopClickEvent]="true"></ca-project-actions-menu>
    </mat-cell>
  </ng-container>


  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let experiment">
      <div>
        <span>{{experiment[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
           [routerLink]="row | caDetailRoute">
  </mat-row>
</mat-table>
