<div class="g-layout-row g-layout-start-stretch main-container">

  <div class="g-scrollable-element g-layout-col left-section">

    <ca-project-object-breadcrumb class="breadcrumbs"></ca-project-object-breadcrumb>


    <ca-project-detail class="page-content"></ca-project-detail>

    <ng-container *ngIf="showObjects$ | async">
      <ca-reports-list [reports]="reports" class="g-section page-content" [rowSelectable]="true"
                       (reportSelected)="selectReport($event)"></ca-reports-list>

      <ca-experiments-list [experiments]="experiments" class="g-section page-content"
                           [rowSelectable]="true"
                           (experimentSelected)="selectExperiment($event)"></ca-experiments-list>
    </ng-container>

    <ca-project-children class="g-section page-content" *ngIf="showChildren$ | async"></ca-project-children>

    <ca-project-documents-list class="g-section page-content"></ca-project-documents-list>
  </div>

  <div class="right-section">
    <ca-project-detail-right-panel class="right-panel"></ca-project-detail-right-panel>
  </div>

</div>

