<!--   Settings menu   -->
<button mat-icon-button [matMenuTriggerFor]="menu"
        (click)="stopEvent($event)">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item type="button"
          *ngIf="project.canHaveChildren()"
          (click)="openChildCreation()">
    <mat-icon>add</mat-icon>
    <span>{{'new_sub_project' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openStatusHistory()">
    <mat-icon>history</mat-icon>
    <span>{{'status_history' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateStatusDialog()">
    <mat-icon>edit</mat-icon>
    <span>{{'update_status' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateProjectDialog()">
    <mat-icon>edit</mat-icon>
    <span>{{'edit' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateProjectLeaderDialog()">
    <mat-icon>person</mat-icon>
    <span>{{'change_project_leader' | translate}}</span>
  </button>

  <a mat-menu-item [routerLink]="activityRoute">
    <mat-icon>task</mat-icon>
    <span>{{'activities' | translate}}</span>
  </a>

  <a mat-menu-item [routerLink]="detailRoute"
     [queryParams]="{type: 'settings'}">
    <mat-icon>settings</mat-icon>
    <span>{{'project_settings' | translate}}</span>
  </a>

  <button mat-menu-item type="button" (click)="openDeleteProjectDialog()">
    <mat-icon color="warn">delete</mat-icon>
    <span class="g-warn-text">{{'delete_project' | translate}}</span>
  </button>

</mat-menu>
