.div-sidenav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
}

.sidenav {
  padding: 8px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
}

::ng-deep .mat-mdc-form-field-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-mdc-form-field-outline-start {
  border-radius: 10px 0 0 10px !important;
  min-width: 10px !important;
}

::ng-deep .mat-mdc-form-field-outline-end {
  border-radius: 0 10px 10px 0 !important;
}

::ng-deep .mat-tree-node {
  min-height: 0 !important;
}

.input-tech-doc {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

.sidenav-item {
  margin-top: 8px;
  padding: 7px 8px;
  border-radius: 10px;
  background-color: var(--main-background);
  font-weight: 500;
}

.sidenav-item-selected {
  color: var(--primary-contrast-color);
  background: var(--primary-color);
}

.sidenav-item > a {
  height: 100%;
  width: 100%;
}

.sidenav-item-with-icon {
  display: flex;
  justify-content: space-between;
}

.icon-pointer:hover {
  cursor: pointer;
}

.bt {
  margin-bottom: 8px;
  width: 100%;
  border-radius: 10px !important;
  background-color: var(--card-background);
  height: 56px;
  min-height: 56px;
  padding: 8px;
}

@media (max-width: 959px) {
  .sidenav-content {
    z-index: 1;
  }

  .div-sidenav {
    height: 80vh;
    max-height: 80vh;
  }
}

.brick-name-line {
  padding-left: 1em;
}

.drag-drop-bt {
  cursor: grab;
}

.line-icons {
  width: auto;
  font-size: 10px;
  align-items: center;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

.router {
  height: 100%;
}
