<div class="div-sidenav">
  @if (userHasEditRight()) {
    <button mat-stroked-button type="button" class="bt" (click)="onClickMenu($event, true)">
      <mat-icon>add_circle</mat-icon>
      {{ 'create_element' | translate }}
    </button>
  }

  <div class="sidenav g-scrollable-element">
    <mat-form-field class="input-tech-doc g-form-field-compact-height" appearance="outline">
      <mat-label>{{ 'research_doc' | translate }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput [formControl]="searchTechDocControl" autocomplete="off" />
    </mat-form-field>

    <a
      [routerLink]="'.'"
      [relativeTo]="activatedRoute"
      [routerLinkActive]="'active'"
      class="g-text-small tree-node g-layout-row g-layout-start-center tree-node-div"
      [ngClass]="{ 'selected-tree-node': currentCompletePath === '' }">
      {{ 'introduction' | translate }}
    </a>


    <mat-tree
      #tree
      cdkDropList
      [cdkDropListData]="tree"
      (cdkDropListDropped)="drop($event)"
      [dataSource]="dataSource$"
      [childrenAccessor]="dataSource$.childrenAccessor"
      [trackBy]="dataSource$.trackById">

      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        cdkDrag
        [cdkDragDisabled]="!userHasEditRight()"
        [cdkDragData]="node"
        *matTreeNodeDef="let node"
        [isExpanded]="node.object.isExpanded"
        matTreeNodePadding
        [matTreeNodePaddingIndent]="10" class="g-drag-hide-placeholder"
        [ngClass]="{ 'selected-tree-node': isSelected(node) }">
        @if (node.object.children) {
          <div class="g-text-small tree-node g-layout-row g-layout-start-center"
               (click)="node.object.isExpanded ? collapseNode(node) : expandNode(node)">
            <button
              mat-icon-button
              matTreeNodeToggle
              class="g-button-icon-small toggle-parent-button"
              [attr.aria-label]="'Toggle ' + node.object.name"
              type="button">
              <mat-icon>
                {{ tree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
              </mat-icon>
            </button>
            <div class="tree-node-div">
              {{ node.object.name }}

              <div class="line-icons">
                @if (userHasEditRight()) {
                  <mat-icon (click)="onClickMenu($event, true, node.children?.length > 0, node.id)" class="g-icon-small icon-pointer">
                    more_vert
                  </mat-icon>
                  <mat-icon cdkDragHandle class="drag-drop-bt g-icon-small"> drag_handle</mat-icon>
                }
              </div>
            </div>
          </div>
        } @else {
          <a
            [routerLink]="'doc/' + node.object.completePath + '/' + node.id"
            class="g-text-small tree-node a-tree-node g-layout-row g-layout-start-center">
            <div class="tree-node-without-children tree-node-div">
              {{ node.object.name }}
              <div class="line-icons">
                @if (userHasEditRight()) {
                  <mat-icon (click)="onClickMenu($event, false, false, node.id)" class="g-icon-small icon-pointer">
                    more_vert
                  </mat-icon>
                  <mat-icon cdkDragHandle class="drag-drop-bt g-icon-small"> drag_handle</mat-icon>
                }
              </div>
            </div>
          </a>
        }
      </mat-tree-node>
    </mat-tree>

    <mat-tree
      #techTree
      [dataSource]="techDataSource$"
      [childrenAccessor]="techDataSource$.childrenAccessor"
      [trackBy]="techDataSource$.trackById">

      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        [isExpanded]="node.object.isExpanded"
        matTreeNodePadding
        [matTreeNodePaddingIndent]="10" class="g-drag-hide-placeholder"
        [ngClass]="{ 'selected-tree-node': isSelectedTech(node) }">
        @if (node.object.children) {
          <div class="g-text-small tree-node g-layout-row g-layout-start-center"
               (click)="node.object.isExpanded ? collapseNode(node) : expandNode(node)">
            <button
              mat-icon-button
              matTreeNodeToggle
              class="g-button-icon-small toggle-parent-button"
              [attr.aria-label]="'Toggle ' + node.object.name"
              type="button">
              <mat-icon>
                {{ tree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
              </mat-icon>
            </button>
            <div class="tree-node-div">
              {{ node.object.name }}
            </div>
          </div>
        } @else {
          <a
            [routerLink]="'doc/' + node.object.completePath"
            class="g-text-small tree-node g-layout-row g-layout-start-center">
            <div class="tree-node-without-children tree-node-div">
              {{ node.object.name }}
            </div>
          </a>
        }
      </mat-tree-node>
    </mat-tree>

    <!--    @if (technicalDataSource$ | async) {-->
    <!--      <mat-tree [dataSource]="technicalDataSource$ | async" [treeControl]="techTreeControl">-->
    <!--        <mat-tree-node-->
    <!--          *matTreeNodeDef="let node"-->
    <!--          class="sidenav-item small-text"-->
    <!--          [ngClass]="isDocNodeSelected(node) ? 'g-primary-background' : 'sidenav-item-not-selected'"-->
    <!--          [ngStyle]="{ 'margin-left': node.level * 15 + 'px' }">-->
    <!--          @if (node.id != null) {-->
    <!--            <a-->
    <!--              [routerLink]="'doc/' + node.completePath"-->
    <!--              [relativeTo]="activatedRoute"-->
    <!--              [routerLinkActive]="'active'">-->
    <!--              {{ node.name }}-->
    <!--            </a>-->
    <!--          }-->
    <!--        </mat-tree-node>-->

    <!--        <mat-tree-node-->
    <!--          *matTreeNodeDef="let node; when: hasChild"-->
    <!--          class="sidenav-item sidenav-item-with-icon small-text icon-pointer"-->
    <!--          [ngClass]="currentCompletePath?.includes(node.completePath) ? 'g-primary-background' : 'sidenav-item-not-selected'"-->
    <!--          [ngStyle]="{ 'margin-left': node.level * 15 + 'px' }"-->
    <!--          (click)="techExpansionModel.toggle(node)"-->
    <!--          matTreeNodeToggle>-->
    <!--          @if (node.id) {-->
    <!--            <div>-->
    <!--              {{ node.name }}-->
    <!--            </div>-->
    <!--          }-->
    <!--          <div class="line-icons">-->
    <!--            <mat-icon class="g-icon-small icon-pointer">-->
    <!--              {{ techTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}-->
    <!--            </mat-icon>-->
    <!--          </div>-->
    <!--        </mat-tree-node>-->
    <!--      </mat-tree>-->
    <!--    }-->

    <a
      [routerLink]="'version'"
      [relativeTo]="activatedRoute"
      [routerLinkActive]="'active'"
      class="g-text-small tree-node g-layout-row g-layout-start-center tree-node-div"
      [ngClass]="{ 'selected-tree-node': currentCompletePath === '/version' }">
      {{ 'version' | translate }}
    </a>
  </div>
</div>
