.loader{
  margin: auto;
}

.doc-div{
  border-radius: 18px;
  padding: 0 8px 0 8px;
  width: calc(60rem + 16px);
  max-width: calc(100vw - 30px);
  overflow: hidden;
  background-color: var(--main-background);
}

.doc-div-content{
  width: 60rem;
  max-width: calc(100vw - 30px);
  overflow: hidden;
}

.doc-title-div{
  display: flex;
  align-items: center;
}

.doc-title-div > button{
  margin-left: auto;
}

.right-div{
  max-width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--card-background);
  width: 279px;
  height: fit-content;
  max-height: 50vh;
  min-height: 20%;
}

.right-div *{
  display: block;
  max-width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.25em;
}

.right-div p{
  padding-left: 1em;
  margin: 0 !important;
}

.content-editor{
  border: none;
}
