.shine-div{
  display: flex;
  padding: 6px 12px 6px 6px;
  align-items: center;
  gap: 8px;
  border-radius: 96px;
  box-shadow: 0 1px 2px 0 rgba(35, 39, 46, 0.08);
  font-weight: 500;
  line-height: 150%;
  width: fit-content;
  background: white;
}
