:host {
  width: calc(100vw - 2em);
  margin: 0 auto;
  min-height: calc(100vh - (var(--navbar-height) * 2) - 7px);
  align-items: center;
}

iframe {
  border: none;
  min-height: inherit;
  width: 100%;
  height: 100%;
}

@media (max-width: 965px) {
  :host {
    min-height: calc(100vh - var(--small-navbar-height) - (var(--navbar-height) * 2) - 7px);
  }
}
