<fl-portal class="portal">
  <fl-portal-content>
    <div class="current-space g-layout-col g-layout-start-center"
         *ngIf="currentSpace$ | async as currentSpace">
      <a [routerLink]="currentSpaceRoute" class="current-space-photo">
        <ca-space-photo [space]="currentSpace" size="big"></ca-space-photo>
      </a>

      <div class="g-text-big current-space-label g-text-link">
        <a [routerLink]="currentSpaceRoute">{{currentSpace.name}}</a>
      </div>
    </div>


    <mat-divider class="g-full"></mat-divider>
    <a [routerLink]="currentSpaceRoute" class="space">
      <fl-text-icon>
        <mat-icon>settings</mat-icon>
        {{'manage_your_space' | translate}}
      </fl-text-icon>
    </a>


    <mat-divider class="g-full"></mat-divider>
    <!--  Other spaces  -->
    <fl-async-section [object]="otherSpaces" emptyText="">
      <ng-container *flSectionBody="let spaces">
        <div class="switch-to g-text-light">{{'switch_to_space' | translate}}</div>
        <a *ngFor="let space of spaces" [caExternalSpaceLink]="appRoute"
           [caExternalSpaceDomain]="space.domain">
          <ca-space-inline [space]="space" class="space" [showNotif]="true">
          </ca-space-inline>
        </a>
      </ng-container>
    </fl-async-section>

    <mat-divider class="g-full"></mat-divider>
    <div class="space" (click)="openCreateSpaceDialog()">
      <fl-text-icon>
        <mat-icon>add</mat-icon>
        {{'create_space' | translate}}
      </fl-text-icon>
    </div>
  </fl-portal-content>
</fl-portal>
