:host {
  border-radius: 15px;
}

.card {
  width: 100%;
  height: 100%;
  display: block;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.app-name {
  text-align: center;
  word-break: break-word;
  margin: 0;
}
