<mat-table mat-table [dataSource]="datasource">


  <!-- fullname -->
  <ng-container matColumnDef="fullname">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'fullname' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <fl-user-inline [user]="user"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'email' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.email}}
    </mat-cell>
  </ng-container>

  <!-- createdAt -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'created_the' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span>{{user.createdAt | flDate}}</span>
    </mat-cell>
  </ng-container>

  <!-- category -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'user_category' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span>{{user.category | translate}}</span>
    </mat-cell>
  </ng-container>

  <!-- Phone -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'phone_number' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span>{{user.phone}}</span>
    </mat-cell>
  </ng-container>

  <!-- Last login success -->
  <ng-container matColumnDef="lastLogin">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'last_login' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <fl-from-now *ngIf="user.lastLoginSuccess" [date]="user.lastLoginSuccess"></fl-from-now>
      <fl-text-ok-nok *ngIf="user.statusMailNotValidated()" [value]="false"
                      [nokText]="'mail_not_validated' | translate"></fl-text-ok-nok>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="adminActions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="row | caDetailRoute">
          <mat-icon>visibility</mat-icon>
          <span>{{'detail' | translate}}</span>
        </a>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <!-- Custom action where template is defined by parent -->
  <ng-container matColumnDef="customTemplate">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngTemplateOutlet="templateRef; context: getUserViewContext(user)"></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

