<mat-table mat-table [dataSource]="datasource">


  <!-- fullname -->
  <ng-container matColumnDef="fullname">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'fullname' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <fl-user-inline [user]="user"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- Contact -->
  <ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'contact' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div>
        <div class="g-text-small email">{{ user.email }}</div>
        <div class="g-text-small g-text-light">{{ user.phone }}</div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- createdAt -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'created_the' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span>{{ user.createdAt | flDate }}</span>
    </mat-cell>
  </ng-container>

  <!-- category -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'user_category' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div>
        <div class="g-text-tiny email">{{ user.category | translate }}</div>
        <div class="g-text-small g-text-light">{{ ('license_' + user.license) | translate }}</div>
      </div>
    </mat-cell>
  </ng-container>


  <!-- Last login success -->
  <ng-container matColumnDef="lastLogin">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'last_login' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      @if (user.lastLoginSuccess) {
        <fl-from-now [date]="user.lastLoginSuccess"></fl-from-now>
      }

      @if (user.statusMailNotValidated()) {
        <fl-text-ok-nok [value]="false"
                        [nokText]="'mail_not_validated' | translate"></fl-text-ok-nok>
      }

      @if (isLocked(user)) {
        <mat-icon [matTooltip]="'user_locked' | translate" class="g-icon-small lock">lock</mat-icon>
      }
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="adminActions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="row | caDetailRoute">
          <mat-icon>visibility</mat-icon>
          <span>{{ 'detail' | translate }}</span>
        </a>

        <button mat-menu-item type="button" (click)="updateLicense(row)">
          <mat-icon>business</mat-icon>
          <span>{{ 'update_license' | translate }}</span>
        </button>

        @if (row.statusMailNotValidated()) {
          <button mat-menu-item type="button" (click)="resendActivationMail(row)">
            <mat-icon>mail</mat-icon>
            <span>{{ 'activation_mail_resent' | translate }}</span>
          </button>
        }

        @if (isLocked(row)) {
          <button mat-menu-item type="button" (click)="unlockUser(row)">
            <mat-icon>lock_open</mat-icon>
            <span>{{ 'unlock_user' | translate }}</span>
          </button>
        } @else {
          <button mat-menu-item type="button" (click)="lockUser(row)">
            <mat-icon color="warn">lock</mat-icon>
            <span class="g-warn-text">{{ 'lock_user' | translate }}</span>
          </button>
        }

      </mat-menu>
    </mat-cell>
  </ng-container>

  <!-- Custom action where template is defined by parent -->
  <ng-container matColumnDef="customTemplate">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngTemplateOutlet="templateRef; context: getUserViewContext(user)"></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

