.page {
  padding-bottom: 1em;
  min-height: 100vh;
}

.card {
  flex: 1;
}

.step-section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.button {
  margin-bottom: 5px;
}

.next-button {
  margin-right: 1em;
}

.input {
  width: 30em;
  min-width: 15em;
  max-width: 100%;
}

.help-section {
  background-color: var(--hover-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.storage-amount-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.storage-amount {
  width: 6em;
  text-align: center;
  //margin-left: 1em;
  //margin-right: 1em;
}

//.storage-amount input::-webkit-outer-spin-button,
//.storage-amount input::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
//
///* Firefox */
//.storage-amount input[type=number] {
//  -moz-appearance: textfield;
//}

.storage-price {
  margin-left: 1em;
}

.summary-section {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
