.page {
  padding-bottom: 1em;
  min-height: 100vh;
}

.card {
  flex: 1;
}

.step-section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.button {
  margin-bottom: 5px;
}

.next-button {
  margin-right: 1em;
}

.input {
  width: 30em;
  min-width: 15em;
  max-width: 100%;
}

.help-section {
  background-color: var(--hover-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
