<div class="home">
  <div class="bg-first-section-div">
    <div class="g-dashboard-background background"></div>
    <div class="main-panel home-section first-section">
      <h1>{{ 'home_title' | translate }}</h1>
      <h2 class="home-subtitle">{{ 'home_subtitle' | translate }}</h2>

      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/KvfWV6K_fmc" title="Welcome to Constellab !" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <a mat-stroked-button class="getting-started-button" [routerLink]="productDocRoute">
        {{ 'getting_started' | translate }}
        <mat-icon class="bt-icon">chevron_right</mat-icon>
      </a>
    </div>
  </div>

  <div class="main-panel">
    <div class="home-section">
      <span class="home-section-title">{{ 'the_fair_open_access_community' | translate }}</span>
      <div class="other-links-div community-other-links">
        <div class="users-count-div">
          <img alt="" src="assets/fl-logo/community_logo.svg"/>
          <span>
            {{usersCount}} {{('members' | translate).toUpperCase()}}
          </span>
        </div>
        <ha-github-star-button [repo]="gwsCoreRepoLink" [icon]="'octicon-mark-github'"></ha-github-star-button>
        <a target="_blank" [href]="gLabLink" class="docker-pull-link">
          <img src="https://img.shields.io/docker/pulls/constellab/glab" class="docker-pull-image"/>
        </a>
        <a mat-flat-button class="discord-button" target="_blank" [href]="discordLink">
          <mat-icon svgIcon="discord" class="icon-discord"></mat-icon> {{'join_our_discord' | translate}}
        </a>
      </div>
      <p class="community-section-p">
        {{ 'the_fair_open_access_community_description' | translate }}
      </p>
      <a mat-stroked-button [href]="signupLink" [target]="'_blank'" class="go-to-button">
        {{ 'join_constellab' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </a>
      <div class="fair-open-access-div">
        <img [src]="'assets/images/FOA-' + (isDarkTheme() ? 'black' : 'white') + '-bg.png'"/>
        <p>{{ 'fair_open_access_description' | translate }}</p>
        <a [href]="'https://constellab.io/fair-open-access'" [target]="'_blank'" mat-stroked-button  class="go-to-button">
          {{ 'learn_more' | translate }}
          <mat-icon>chevron_right</mat-icon>
        </a>
      </div>
    </div>
    <div class="home-section">
      <a [routerLink]="storyListRoute" class="home-section-title">
        {{ 'stories' | translate }}
      </a>
      <p class="home-section-description">
        {{ 'stories_description' | translate}}
      </p>
      <div class="home-list-div">
        <a *ngFor="let story of stories$ | flDatasourceConnect | async" [routerLink]="(story | haDetailRoute)">
          <co-story-list-item class="home-card" [story]="story"
                              [imageLink]="getStoryImageLink(story.id, story?.mainPicture)"></co-story-list-item>
        </a>
      </div>
      <a mat-stroked-button [routerLink]="storyListRoute" class="go-to-button">
        {{ 'go_to_stories' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>

    <div class="home-section ">
      <a [routerLink]="liveTaskListRoute" class="home-section-title">
        {{ 'live_tasks' | translate }}
      </a>
      <p class="home-section-description">
        {{'live_tasks_description' | translate}}
      </p>
      <div class="home-list-div">
        <a *ngFor="let liveTask of liveTasks$ | flDatasourceConnect | async" [routerLink]="(liveTask | haDetailRoute)">
          <co-live-task-list-item class="home-card" [liveTask]="liveTask"></co-live-task-list-item>
        </a>
      </div>
      <a mat-stroked-button [routerLink]="liveTaskListRoute" class="go-to-button">
        {{ 'go_to_live_tasks' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>

    <div class="home-section">
      <a [routerLink]="brickListRoute" class="home-section-title">
        {{ 'bricks' | translate }}
      </a>
      <p class="home-section-description">
        {{'bricks_description' | translate}}
      </p>
      <div class="home-list-div">
        <a *ngFor="let brick of bricks$ | flDatasourceConnect | async" [routerLink]="(brick | haDetailRoute)">
          <co-brick-list-item class="home-card" [brick]="brick" [brickImage]="brick.imageLink | haBrickImage"></co-brick-list-item>
        </a>
      </div>
      <a mat-stroked-button [routerLink]="brickListRoute" class="go-to-button">

        {{ 'go_to_bricks' | translate }}
        <mat-icon>chevron_right</mat-icon>

      </a>
    </div>

    <div class="home-section">
      <span class="home-section-title">{{ 'documentation' | translate }}</span>

      <div class="section-div">
        <a class="home-card-div" [routerLink]="productDocRoute">
          <h5>{{ 'product_doc' | translate }}</h5>
          <p>
            {{ 'product_doc_description' | translate}}
          </p>
        </a>
        <a class="home-card-div" [routerLink]="techDocRoute">
          <h5>{{ 'tech_doc' | translate }}</h5>
          <p>
            {{ 'tech_doc_description' | translate}}
          </p>
        </a>
        <a class="home-card-div" [routerLink]="iconsRoute">
          <h5>{{ 'icons' | translate }}</h5>
          <p>
            {{ 'icons_description' | translate}}
          </p>
        </a>
      </div>

      <a class="space-card" [href]="constellabUrl" target="_blank">
        <img src="assets/fl-logo/constellab-logo.svg"/>
        <div class="space-card-content">
          <h5>
            Constellab
            <mat-icon>arrow_outward</mat-icon>
          </h5>
          <p>{{ 'constellab_description' | translate }}</p>
        </div>
      </a>
    </div>
  </div>

  <footer class="footer small-text">
    <div class="footer-links">
      <div class="footer-text">Cookies</div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/">Gencovery</a>
      </div>
      <div class="footer-text">
        <a [href]="constellabUrl">Constellab</a>
      </div>
    </div>
    <div class="copyright-div">{{'copyright' | translate}}</div>
  </footer>
</div>



