<div class="home">
  <div class="home-main-div">
    <div class="titles-div">
      <h1>{{'home_title' | translate}}</h1>
      <h4>{{'home_subtitle' | translate}}</h4>
    </div>

    <div class="section-div">
      <a class="portal-div" [routerLink]="'/stories'">
        <div class="portal-div-image">
          <img src="assets/fl-logo/stories-logo.svg"/>
        </div>
        <div class="portal-div-content">
          <h4>{{'stories' | translate}}</h4>
          <h5>{{'stories_description' | translate}}</h5>
        </div>
      </a>

      <div class="portal-div">
        <div class="portal-div-image">
          <img src="assets/fl-logo/doc_logo.svg"/>
        </div>
        <div class="portal-div-content">
          <h4>{{'documentation' | translate}}</h4>
          <div class="different-doc-links">
            <a class="g-text-link" [routerLink]="getProductDocRoute()">
              {{'product_doc' | translate}}
            </a>
            <a class="g-text-link" [routerLink]="getTechDocRoute()">
              {{'tech_doc' | translate}}
            </a>
          </div>
        </div>
      </div>

      <a class="portal-div" [routerLink]="'/bricks'">
        <div class="portal-div-image">
          <img src="assets/fl-logo/bricks_logo.svg"/>
        </div>
        <div class="portal-div-content">
          <h4>{{'bricks' | translate}}</h4>
          <h5>{{'bricks_description' | translate}}</h5>
        </div>
      </a>

      <a class="portal-div" [href]="constellabUrl" target="_blank">
        <div class="portal-div-image">
          <img src="assets/fl-logo/constellab-logo.svg"/>
        </div>
        <div class="portal-div-content">
          <h4>Constellab
            <mat-icon>arrow_outward</mat-icon>
          </h4>
          <h5>{{'constellab_description' | translate}}</h5>
        </div>
      </a>
    </div>
  </div>

  <footer class="footer small-text">
    <div class="footer-links">
      <div class="footer-text">Cookies</div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/">Gencovery</a>
      </div>
      <div class="footer-text">
        <a [href]="constellabUrl">Constellab</a>
      </div>
    </div>
    <div class="copyright-div">{{'copyright' | translate}}</div>
  </footer>
</div>



