<div class="home">
  <div class="bg-first-section-div">
    <div class="g-dashboard-background background">
    </div>
    <div class="main-panel home-section first-section">
      <h1>{{ 'home_title' | translate }}</h1>
      <h4>{{ 'home_subtitle' | translate }}</h4>

      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/KvfWV6K_fmc" title="Welcome to Constellab !" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <a mat-stroked-button class="getting-started-button" [routerLink]="productDocRoute">
        <fl-text-icon iconPosition="end">
          {{ 'getting_started' | translate }}
          <mat-icon>chevron_right</mat-icon>
        </fl-text-icon>
      </a>
    </div>
  </div>

  <div class="home-section main-panel">
    <a [routerLink]="storyListRoute">
      <h2>{{ 'stories' | translate }}</h2>
    </a>
    {{ 'stories_description' | translate}}
    <div class="home-list-div">
      <a *ngFor="let story of stories$ | flDatasourceConnect | async" [routerLink]="(story | haDetailRoute)">
        <co-story-list-item class="home-card" [story]="story"
                            [imageLink]="getStoryImageLink(story?.mainPicture)"></co-story-list-item>
      </a>
    </div>
    <a mat-stroked-button [routerLink]="storyListRoute" class="go-to-button">
      <fl-text-icon iconPosition="end">
        {{ 'go_to_stories' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </fl-text-icon>
    </a>
  </div>

  <div class="home-section  main-panel">
    <a [routerLink]="liveTaskListRoute">
      <h2>{{ 'live_tasks' | translate }}</h2>
    </a>
    {{'live_tasks_description' | translate}}
    <div class="home-list-div">
      <a *ngFor="let liveTask of liveTasks$ | flDatasourceConnect | async" [routerLink]="(liveTask | haDetailRoute)">
        <co-live-task-list-item class="home-card" [liveTask]="liveTask"></co-live-task-list-item>
      </a>
    </div>
    <a mat-stroked-button [routerLink]="liveTaskListRoute" class="go-to-button">
      <fl-text-icon iconPosition="end">
        {{ 'go_to_live_tasks' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </fl-text-icon>
    </a>
  </div>

  <div class="home-section main-panel">
    <a [routerLink]="brickListRoute">
      <h2>{{ 'bricks' | translate }}</h2>
    </a>
    {{'bricks_description' | translate}}
    <div class="home-list-div">
      <a *ngFor="let brick of bricks$ | flDatasourceConnect | async" [routerLink]="(brick | haDetailRoute)">
        <co-brick-list-item class="home-card" [brick]="brick" [brickImage]="brick.imageLink | haBrickImage"></co-brick-list-item>
      </a>
    </div>
    <a mat-stroked-button [routerLink]="brickListRoute" class="go-to-button">
      <fl-text-icon iconPosition="end">
        {{ 'go_to_bricks' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </fl-text-icon>
    </a>
  </div>

  <div class="home-section main-panel">
    <h2>{{ 'documentation' | translate }}</h2>

    <div class="section-div">
      <a class="home-card-div" [routerLink]="productDocRoute">
        <h4>{{ 'product_doc' | translate }}</h4>
        <p>
          {{ 'product_doc_description' | translate}}
        </p>
      </a>
      <a class="home-card-div" [routerLink]="techDocRoute">
        <h4>{{ 'tech_doc' | translate }}</h4>
        <p>
          {{ 'tech_doc_description' | translate}}
        </p>
      </a>
      <a class="home-card-div" [routerLink]="iconsRoute">
        <h4>{{ 'icons' | translate }}</h4>
        <p>
          {{ 'icons_description' | translate}}
        </p>
      </a>
    </div>

    <a class="space-card" [href]="constellabUrl" target="_blank">
      <img src="assets/fl-logo/constellab-logo.svg"/>
      <div class="space-card-content">
        <h4>
          Constellab
          <mat-icon>arrow_outward</mat-icon>
        </h4>
        {{ 'constellab_description' | translate }}
      </div>
    </a>
  </div>




  <footer class="footer small-text">
    <div class="footer-links">
      <div class="footer-text">Cookies</div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/terms-of-use/">Terms of use</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/legal/privacy-policy/">Private Policy</a>
      </div>
      <div class="footer-text">
        <a href="https://gencovery.com/">Gencovery</a>
      </div>
      <div class="footer-text">
        <a [href]="constellabUrl">Constellab</a>
      </div>
    </div>
    <div class="copyright-div">{{'copyright' | translate}}</div>
  </footer>
</div>



