<ha-page
  [pageTitle]="communityApp()?.title ?? tempTitle"
  [showPageDescription]="false"
  [isLoading]="isLoading()"
  [notFound]="notFound()">
  @if (communityApp(); as communityAppValue) {
    <div class="entity-page-section">
      <div class="entity-page-infos">
        <ha-entity-page-info
          [imageUrl]="communityAppValue.picture | haAppPicture"
          [entityId]="communityAppValue.id"
          [entityType]="entityType"
          [contributors]="contributors()"
          [date]="communityAppValue.createdAt"
          [space]="communityAppValue.space"
          [executions]="communityAppValue.executions"
          [isAuthor]="isAuthor()">
          @if (canEdit()) {
            <div class="entity-page-info-div">
              <div class="g-layout-row g-gap-05em">
                <button type="button" mat-flat-button (click)="openEditCommunityAppDialog()" class="g-full">
                  <mat-icon>edit</mat-icon>
                  {{ 'edit_app' | translate }}
                </button>

                @if (communityAppValue.createdBy.id === currentUser?.id) {
                  <button
                    mat-icon-button
                    (click)="deleteCommunityApp()"
                    class="warn"
                    [matTooltip]="'delete' | translate">
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
            </div>
          }
        </ha-entity-page-info>
      </div>
      <div class="entity-page-content">
        <div class="app-page-content">
          <div>
            <div class="app-page-title-div app-page-launch-div">
              <h2>{{ 'the_app' | translate }}</h2>
              <div class="g-layout-row g-gap-05em">
                @if (communityAppValue.contactMail) {
                  <a type="button" mat-flat-button [href]="'mailto:' + communityAppValue.contactMail">{{
                    'contact_creator' | translate
                  }}</a>
                }

                @if (communityAppValue.appUrl) {
                  <a
                    type="button"
                    mat-flat-button
                    [href]="communityAppValue.appUrl"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{ 'open_app' | translate }}</a
                  >
                }
              </div>
            </div>
            <div class="entity-page-separator"></div>
          </div>

          @if (canEdit() || (communityAppValue.figures?.length ?? 0) > 0 || communityAppValue.video) {
            <div>
              @if (canEdit()) {
                <div class="app-page-title-div edit-figures-div g-layout-row-reverse">
                  <button mat-flat-button (click)="openEditAppCarouselDialog()">
                    {{ 'edit_app_media' | translate }}
                  </button>
                </div>
              }

              <div class="carousel">
                @if ((communityAppValue.figures?.length ?? 0) > 0 || communityAppValue.video) {
                  <ha-community-app-carousel></ha-community-app-carousel>
                } @else {
                  <p>{{ 'app_no_media_yet' | translate }}</p>
                }
              </div>

              <div class="entity-page-separator"></div>
            </div>
          }

          <div class="app-page-about-div">
            <div class="app-page-title-div g-layout-row g-layout-between-center">
              <h2>{{ 'about' | translate }}</h2>
              @if (canEdit()) {
                @if (!appDescriptionFormControl.disabled) {
                  <button mat-flat-button (click)="saveAbout()">
                    @if (onAboutEditionLoading) {
                      <fl-loader></fl-loader>
                    } @else {
                      {{ 'save' | translate }}
                    }
                  </button>
                } @else {
                  <button mat-flat-button (click)="editAbout()">{{ 'edit_about' | translate }}</button>
                }
              }
            </div>
            <article>
              <te-text-editor
                class="community-text-editor"
                [config]="textEditorConfig"
                [formControl]="appDescriptionFormControl"></te-text-editor>
            </article>
          </div>
        </div>
      </div>
      <div class="entity-page-comment" id="comments">
        <div class="entity-page-separator"></div>
        <ha-comments-section [user]="currentUser"></ha-comments-section>
      </div>
    </div>
  }
</ha-page>
