.app-page-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.app-page-title-div {
  padding: 24px 0;
}

.app-page-launch-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.carousel {
  margin-bottom: 24px;
}
