@use '@angular/material' as mat;

.nav-bar {
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  width: auto;
  height: var(--navbar-height);
  display: flex;
  margin: auto;
}

.gencovery-logo {
  width: 140px;
  min-width: 140px;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.search-bar {
  margin: auto 3em auto 0;
}

.search-bar-result {
  min-width: 400px;
}

.utilities {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap: 2em;
}

.option {
  font-weight: normal;
  width: auto; //9rem;
  margin: auto 3rem;
  text-align: center;
}

.option-icon {
  width: 30px;
  margin-top: 7.5px;
}

.brick-icon {
  margin-top: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--navbar-height));
  overflow-x: hidden;
}

.router {
  flex: 1 0 auto;
}

.doc-menu-bt {
  cursor: pointer;
}

.doc-menu-item {
  width: calc(240px - 32px);
  text-align: center;
}

.doc-nav-div {
  display: flex;
  height: 100%;
  padding-bottom: 8px;
  width: 240px;
  align-items: center;
  justify-content: center;
}

.doc-nav-div h5 {
  margin: auto;
}

.nav-user {
  border-left: 1px solid var(--hover-color);
  padding-left: 1em;

  * {
    cursor: pointer;
  }
}

.user-profile {
  border-radius: 50%;
  border: 1px solid var(--main-background);
}

.nav-section-bt {
  cursor: pointer;
  transition: 0.1s;
}

.nav-section-bt:hover {
  color: var(--primary-color);
}

@media (min-width: 965px) {
  .nav-bar {
    max-width: 965px;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .nav-bar {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .nav-bar {
    max-width: 1536px;
  }
}

@media (max-width: 1160px) {

  .option {
    margin: auto 1.5rem;
  }
}

@media (max-width: 965px) {
  .nav-bar-links {
    display: none;
  }

  .nav-bar-links {
    padding: 0;
  }

  .option {
    margin: auto 1rem;
  }
}

@media (max-width: 590px) {
  .doc-nav-div {
    width: fit-content;
  }

  .option {
    margin: auto 0.5em;
  }
}
