<mat-toolbar class="nav-bar">
  <a routerLink="/" class="gencovery-hub-logo gencovery-logo" flHide.lt-lg>
    <img alt="" [src]="communityLogo"/>
  </a>
  <a routerLink="/" class="gencovery-hub-logo gencovery-logo-small" flHide.gt-md>
    <img alt="" src="assets/fl-logo/community_logo.svg"/>
  </a>

  <div class="nav-bar-links">
    <h5 class="option"><a [routerLink]="storyListRoute">{{ 'stories' | translate }}</a></h5>

    <h5 class="option"><a [routerLink]="liveTaskRoute">{{ 'live_tasks' | translate }}</a></h5>

    <h5 class="option"><a [routerLink]="brickListRoute">{{ 'bricks' | translate }}</a></h5>

    <div [matMenuTriggerFor]="docMenu" class="doc-nav-div">
      <h5 class="option doc-menu-bt">{{ 'documentation' | translate }}</h5>
    </div>

    <mat-menu #docMenu="matMenu" xPosition="before">
      <a mat-menu-item [routerLink]="productDocRoute" class="doc-menu-item">{{ 'product_doc'| translate }}</a>
      <a mat-menu-item [routerLink]="techDocRoute" class="doc-menu-item">{{ 'tech_doc'| translate }}</a>
      <a mat-menu-item [routerLink]="'/icons'" class="doc-menu-item">{{ 'icons'| translate }}</a>
    </mat-menu>
  </div>

  <span class="span-initials">
      <button mat-icon-button [matMenuTriggerFor]="langMenu"
              class="g-text-light">
        <mat-icon>language</mat-icon>
      </button>
      <button mat-icon-button
              (click)="selectTheme(theme.LIGHT_THEME)" *ngIf="isDarkTheme()" class="g-text-light">
        <mat-icon>light_mode</mat-icon>
      </button>
      <button mat-icon-button
              (click)="selectTheme(theme.DARK_THEME)" *ngIf="!isDarkTheme()" class="g-text-light">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <ng-container *ngIf="(userConnected$ | async) == null">
      <a [routerLink]="loginRoute" mat-flat-button flHide.lt-md>
        {{ 'login' | translate }}
      </a>
      </ng-container>
      <fl-user-profile-picture *ngIf="userConnected$ | async as user" [user]="user"
                               [matMenuTriggerFor]="userMenu"></fl-user-profile-picture>

  </span>
  <mat-menu #langMenu='matMenu'>
    <button mat-menu-item (click)="changeLanguage()">
      @if(currentLanguage === 'fr'){
        {{ 'english' | translate }}
      } @else {
        {{ 'french' | translate }}
      }
    </button>
  </mat-menu>
  <mat-menu #userMenu="matMenu">
    @if(userConnected$ | async; as user){
      <button mat-menu-item [routerLink]="profileRoute + user.id">
        <mat-icon>person</mat-icon>
        {{ 'profile' | translate }}
      </button>
      <button mat-menu-item [routerLink]="adminRoute" *haIsAdmin>
        <mat-icon>admin_panel_settings</mat-icon>
        {{ 'admin_dashboard' | translate }}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        {{ 'logout' |translate }}
      </button>
    }
  </mat-menu>
</mat-toolbar>

<div class="body g-scrollable-element" flAutoScrollToAnchor cdkScrollable>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
