<ha-page [showHeaderCreateButton]="true">
  <fl-infinite-scroll [datasource]="agentsPaginated" infiniteMode="auto" class="section">
    <co-list-filters
      [user]="user"
      [listEntityType]="listEntityType"
      (sortsCriteriaChanged)="onSortsCriteriaChanged($event)"
      (titleFilterChanged)="onTitleFilterChanged($event)"
      (spacesFilterChanged)="onSpacesFilterChanged($event)"
      (myEntitiesChanged)="onMyEntitiesChanged($event)"></co-list-filters>
    <ha-list-of-items>
      @for (agent of agentsPaginated | flDatasourceConnect | async; track agent.id) {
        <a class="agent-result-card-div" [routerLink]="agent | haDetailRoute">
          <co-agent-list-item [agent]="agent"></co-agent-list-item>
        </a>
      }
    </ha-list-of-items>
  </fl-infinite-scroll>
</ha-page>
