<ha-page>
  <fl-infinite-scroll [datasource]="stories" infiniteMode="auto" class="section">
    <co-list-filters
      [user]="user()"
      [hideSpaceFilter]="true"
      (myEntitiesChanged)="onMyEntitiesChanged($event)"
      (titleFilterChanged)="onTitleFilterChanged($event)"
      (sortsCriteriaChanged)="onSortsCriteriaChanged($event)" />
    <ha-list-of-items>
      @for (story of stories | flDatasourceConnect | async; track story.id) {
        <a [routerLink]="story | haDetailRoute">
          <co-story-list-item
            [story]="story"
            [imageLink]="getStoryImageLink(story.id, story?.mainPicture)"></co-story-list-item>
        </a>
      }
    </ha-list-of-items>
  </fl-infinite-scroll>
</ha-page>
