.name {
  margin-top: 1em;
}

.radio-button{
  width: 49%;
  box-sizing: border-box;
}

.radio-description {
  margin-top: 0.5em;
}

.desktop-platform {
  margin-bottom: 1em;

  mat-radio-button{
    margin-right: 1em;
    margin-left: 1em;
  }
}
