@if (scenario$ | async; as scenario) {
  <div class="g-layout-row g-layout-start-center">
    <div class="g-flex-auto g-layout-row g-layout-start-center">
      <lab-scenario-icons [scenario]="scenario" size="big"></lab-scenario-icons>

      <h1
        flElementEditable
        (flElementValueChange)="updateTitle($event)"
        [flElementDisabled]="!scenario.isInfoEditable()"
        class="title">
        {{ scenario.title }}
      </h1>
    </div>

    <lab-sync-object-button
      [object]="scenario"
      [syncObjectFunc]="syncObjectFunc"
      (objectUpdate)="onScenarioUpdate($event)">
    </lab-sync-object-button>

    <fl-status-chip
      [status]="scenario.status"
      mode="iconText"
      (click)="openProgressInformation(scenario)"
      class="buttons"
      [ngClass]="{ 'not-draft-status': !scenario.isDraft() }"></fl-status-chip>

    <button mat-icon-button type="button" (click)="openActionMenu(scenario, $event)" class="buttons">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
}
