@if (scenario$ | async; as scenario) {
  <div class="g-layout-row g-layout-start-center">
    <div class="g-flex-auto g-layout-row g-layout-start-center">
      <lab-scenario-icons [scenario]="scenario" size="big"></lab-scenario-icons>

      <h1
        flElementEditable
        (flElementValueChange)="updateTitle($event)"
        [flElementDisabled]="!scenario.isInfoEditable()"
        class="title">
        {{ scenario.title }}
      </h1>
    </div>

    <lab-sync-object-button
      [object]="scenario"
      [syncObjectFunc]="syncObjectFunc"
      (objectUpdate)="onScenarioUpdate($event)">
    </lab-sync-object-button>

    <fl-status-chip
      [status]="scenario.status"
      mode="iconText"
      (click)="openProgressInformation(scenario)"
      class="buttons"
      [ngClass]="{ 'not-draft-status': !scenario.isDraft() }"></fl-status-chip>

    <button mat-icon-button type="button" [matMenuTriggerFor]="menu" class="buttons">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Menu -->
    <mat-menu #menu>
      <button mat-menu-item type="button" (click)="openCreateNote()">
        <mat-icon>post_add</mat-icon>
        {{ 'biox.create_note' | translate }}
      </button>

      <button mat-menu-item [matMenuTriggerFor]="protocol">
        <mat-icon flIcon="scenario_template"></mat-icon>
        {{ 'biox.template' | translate }}
      </button>

      @if (scenario.isInfoEditable() && !scenario.isRunningOrWaiting()) {
        <button mat-menu-item type="button" (click)="openValidationDialog()">
          <mat-icon flIcon="validated"></mat-icon>
          {{ 'biox.validate_scenario' | translate }}
        </button>
      }

      @if (scenario.protocolIsEditable()) {
        <button mat-menu-item type="button" (click)="resetScenario()">
          <mat-icon>restart_alt</mat-icon>
          {{ 'biox.reset_scenario' | translate }}
        </button>
      }

      <button mat-menu-item type="button" (click)="openTagsFormDialog()">
        <mat-icon>local_offer</mat-icon>
        {{ 'update_tags' | translate }}
      </button>

      <button mat-menu-item type="button" (click)="openDuplicateConfirmation()">
        <mat-icon>content_copy</mat-icon>
        {{ 'biox.clone_scenario' | translate }}
      </button>

      <button mat-menu-item [matMenuTriggerFor]="monitoring">
        <mat-icon>troubleshoot</mat-icon>
        {{ 'biox.scenario_monitoring' | translate }}
      </button>

      @if (scenario.status.value === 'IN_QUEUE') {
        <button mat-menu-item type="button" (click)="removeScenarioFromQueue()" class="warn">
          <mat-icon>stop</mat-icon>
          {{ 'biox.remove_scenario_from_queue' | translate }}
        </button>
      }

      @if (!scenario.isRunning()) {
        <button mat-menu-item type="button" (click)="openShareDialog(scenario)" class="g-button-small button">
          <mat-icon>share</mat-icon>
          {{ 'biox.share' | translate }}
        </button>

        <button mat-menu-item type="button" (click)="archiveScenario()" class="warn">
          <mat-icon [flIcon]="scenario.isArchived ? 'unarchive' : 'archive'"></mat-icon>
          <span>
            {{ (scenario.isArchived ? 'biox.unarchive_scenario' : 'biox.archive_scenario') | translate }}
          </span>
        </button>
      }

      @if (scenario.protocolIsEditable()) {
        <!--        <button mat-menu-item type="button" (click)="deleteIntermediateResources()">-->
        <!--          <mat-icon class="warn" flIcon="resource"></mat-icon>-->
        <!--          <span>{{ 'biox.delete_scenario_intermediate_resources' | translate }}</span>-->
        <!--        </button>-->

        <button mat-menu-item type="button" (click)="deleteScenario()" class="warn">
          <mat-icon>delete</mat-icon>
          <span>{{ 'biox.delete_scenario' | translate }}</span>
        </button>
      }
    </mat-menu>

    <!-- Protocol menu -->
    <mat-menu #protocol>
      <button mat-menu-item type="button" (click)="openCreateScenarioTemplate()">
        <mat-icon flIcon="scenario_template"></mat-icon>
        {{ 'biox.create_scenario_template' | translate }}
      </button>

      <button mat-menu-item type="button" (click)="downloadScenarioTemplate(scenario)">
        <mat-icon>cloud_download</mat-icon>
        {{ 'biox.download_scenario_template' | translate }}
      </button>
    </mat-menu>

    <!-- Monitoring menu -->
    <mat-menu #monitoring>
      <button mat-menu-item type="button" (click)="openProgressInformation(scenario)">
        <mat-icon>description</mat-icon>
        {{ 'biox.node_progress_detail' | translate }}
      </button>

      <button mat-menu-item type="button" (click)="openProcessLogs(scenario)">
        <mat-icon>description</mat-icon>
        {{ 'biox.view_process_logs' | translate }}
      </button>

      <button mat-menu-item type="button" (click)="openProcessMonitor(scenario)">
        <mat-icon>troubleshoot</mat-icon>
        {{ 'biox.view_process_monitoring' | translate }}
      </button>
    </mat-menu>
  </div>
}
