<div fxLayout="column" class="form" [formGroup]="formGp">

  <div fxLayout="row wrap" fxLayoutAlign="space-between center"
       class="g-full g-form-field-compact">

    <!--  Code  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'code' | translate }}</mat-label>
      <input matInput formControlName="code" [placeholder]="'code' | translate" autocomplete="off">
    </mat-form-field>

    <!--  Title  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'title' | translate }}</mat-label>
      <input matInput formControlName="title" [placeholder]="'title' | translate" autocomplete="off">
    </mat-form-field>

    <!--Leader-->
    <fl-form-field class="g-search-field">
      <fl-select-user formControlName="leader" [placeholder]="'project_leader' | translate"
                      mode="space">
      </fl-select-user>
    </fl-form-field>

    <!--  CurrentStatus  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'status' | translate }}</mat-label>
      <mat-select formControlName="currentStatus" [placeholder]="'status' | translate">
        <mat-option *ngFor="let key of status | flObjectKeys" [value]="status[key].value">
          {{status[key].name | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--  Id -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'id' | translate }}</mat-label>
      <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off">
    </mat-form-field>

    <!--  Starting date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small">{{'starting_date' | translate}}</p>
      <fl-search-date-interval formGroupName="startingDate">
      </fl-search-date-interval>
    </div>

    <!--  Ending date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small">{{'ending_date' | translate}}</p>
      <fl-search-date-interval formGroupName="endingDate">
      </fl-search-date-interval>
    </div>


    <!--  Creation date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small">{{'creation_date' | translate}}</p>
      <fl-search-date-interval formGroupName="createdAt">
      </fl-search-date-interval>
    </div>

    <!--  Include sub project  -->
    <mat-checkbox formControlName="includeSubProjects"
                  class="checkbox">{{'include_sub_projects' | translate }}</mat-checkbox>


  </div>

</div>


