<fl-dialog-header>
  {{'update_lab_instance' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="lab-name-form" [formGroup]="formGp">

    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'name' | translate}}</mat-label>
      <input matInput formControlName="name" required [flInputMaxLength]="maxNameLength"
             [placeholder]="'name' | translate">
      <mat-error *ngIf="formGp.get('name').hasError('required')">
        {{'name' | flErrorRequired}}
      </mat-error>
      <mat-error *ngIf="formGp.get('name').hasError('pattern')">
        {{'lab_name_invalid' | translate}}
      </mat-error>
    </mat-form-field>

    <!--  Desktop Platform  -->
    <div *ngIf="isDesktop()" class="desktop-platform">
      {{'lab_desktop_platform' | translate}}
      <mat-radio-group formControlName="desktopPlatform" required>
        <mat-radio-button value="WINDOWS" color="primary">Windows</mat-radio-button>
        <mat-radio-button value="MAC" color="primary">Mac OS</mat-radio-button>
        <mat-radio-button value="LINUX" color="primary">Linux</mat-radio-button>
      </mat-radio-group>
    </div>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="lab-name-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
