<ca-dashboard-list-layout
  [datasource]="labsDatasource"
  sectionTitle="my_labs"
  titleIcon="lab"
  emptyText="no_lab"
  [completeListRoute]="myLabsRoute"
  completeListText="all_labs"
  addText="add_new_lab"
  [showAddButton]="isSpaceUser"
  (addClick)="openCreateLabDialog()"
  addButtonColor="primary">
  <ng-template let-item>
    <ca-lab-card [lab]="item"></ca-lab-card>
  </ng-template>

  <ca-dashboard-empty-list
    emoji="💻"
    [emojiBackgroundColor]="color"
    [emptyTitle]="'labs_empty_title' | translate"
    [emptyDescription]="'labs_empty_description' | translate"
    class="empty-list">
    <button *caIsSpaceUser action mat-stroked-button class="primary" (click)="openCreateLabDialog()">
      <mat-icon>add</mat-icon>
      {{ 'add_new_lab' | translate }}
    </button>
  </ca-dashboard-empty-list>
</ca-dashboard-list-layout>
