<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>info</mat-icon>
      {{ 'lms.global_info' | translate }}
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" (click)="configureLabManager()" class="g-button-small">
        {{ 'lms.configure_lab_manager' | translate }}
      </button>

      <button mat-stroked-button type="button" (click)="refresh()" class="g-button-small refresh">
        <mat-icon>refresh</mat-icon>
        {{ 'lms.refresh_status' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-text-ok-nok
      [value]="labManagerIsRunning()"
      [okText]="'lms.lab_manager_running' | translate"
      [nokText]="'lms.lab_manager_not_running' | translate">
    </fl-text-ok-nok>

    <fl-text-ok-nok
      [value]="labStatus().labManagerIsConfigured"
      [okText]="'lms.lab_manager_initialized' | translate"
      [nokText]="'lms.lab_manager_not_initialized' | translate">
    </fl-text-ok-nok>

    <fl-text-ok-nok
      [value]="labStatus().brickAreConfigured"
      [okText]="'lms.lab_manager_bricks_configured' | translate"
      [nokText]="'lms.lab_manager_bricks_not_configured' | translate">
    </fl-text-ok-nok>

    <fl-text-ok-nok
      [value]="labIsRunning()"
      [okText]="'lms.lab_is_running' | translate"
      [nokText]="'lms.lab_is_not_running' | translate">
    </fl-text-ok-nok>

    @if (labIsStarting()) {
      <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
        <fl-loader size="small"></fl-loader>
        <div>
          <div>{{ 'lms.lab_is_starting' | translate }}</div>
          @if (labStatus().labManagerStatus?.glabStatus?.startProgress; as progress) {
            <div class="g-text-light g-text-small">{{ progress.percent }}% {{ progress.message }}</div>
          }
        </div>
      </div>
    }

    <div class="g-layout-row g-layout-start-center g-layout-gap-1em buttons">
      <a
        mat-stroked-button
        class="primary"
        target="_blank"
        rel="noopener noreferrer"
        [href]="labStatus().labManagerStatus?.labFrontUrl"
        [disabled]="!labIsRunning() || !labStatus().labManagerStatus">
        <mat-icon>arrow_forward_ios</mat-icon>
        {{ 'lms.go_to_lab' | translate }}
      </a>

      @if (labStatus().labManagerStatus?.codelabFullUrl) {
        <a
          target="_blank"
          rel="noopener noreferrer"
          mat-stroked-button
          type="button"
          [href]="labStatus().labManagerStatus.codelabFullUrl"
          class="primary"
          [disabled]="!labIsRunning() || !labStatus().labManagerStatus">
          <mat-icon>computer</mat-icon>
          {{ 'lms.open_codelab' | translate }}
        </a>
      }
      @if (labIsRunning()) {
        <button mat-stroked-button type="button" (click)="stopLab()" class="warn">
          <mat-icon>stop</mat-icon>
          {{ 'lms.stop_lab' | translate }}
        </button>
      } @else {
        <button
          mat-stroked-button
          type="button"
          (click)="startLab()"
          class="primary"
          [disabled]="
            !labStatus().labManagerIsConfigured ||
            !labStatus().brickAreConfigured ||
            labStatus().labManagerStatus?.actionInProgress ||
            labIsRunning()
          ">
          <mat-icon>play_arrow</mat-icon>
          {{ 'lms.start_lab' | translate }}
        </button>
      }
    </div>
    <!--  Start stop button  -->
  </fl-card-body>
</fl-card>
