.experiment-div{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
}

.icon{
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.experiment-title-folder{
  width: 60%;
  font-weight: bold;
}

.experiment-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.experiment-date{
  padding-left: 1em;
  width: 25%;
}

.experiment{
  background-color: var(--main-background);
  border-radius: var(--card-radius);
  overflow: hidden;
  margin-top: 0.5em;
}
