<!--   Settings menu   -->
<button mat-icon-button [matMenuTriggerFor]="menu"
        (click)="stopEvent($event)">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item type="button"
          (click)="openChildCreation()">
    <mat-icon>add</mat-icon>
    <span>{{ 'new_sub_folder' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateFolderDialog()">
    <mat-icon>edit</mat-icon>
    <span>{{ 'edit' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateFolderLeaderDialog()">
    <mat-icon>person</mat-icon>
    <span>{{ 'change_folder_leader' | translate }}</span>
  </button>

  <a mat-menu-item [routerLink]="activityRoute">
    <mat-icon>task</mat-icon>
    <span>{{ 'activities' | translate }}</span>
  </a>

  <button mat-menu-item type="button" (click)="openDeleteFolderDialog()">
    <mat-icon color="warn">delete</mat-icon>
    <span class="g-warn-text">{{ 'delete_folder' | translate }}</span>
  </button>

</mat-menu>
