<mat-table mat-table [dataSource]="datasource">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'name' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let template">
      <!--    Invisible link  -->
      @if(!rowSelectable) {
        <a [routerLink]="template | labDetailRoute"
           [target]="rowLinkTarget" class="g-row-link"></a>
      }
      <div class="text g-text-dense-height">{{ template.name }}</div>
    </mat-cell>
  </ng-container>

  <!-- Creation -->
  <ng-container matColumnDef="creation">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'creation_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let template">
      <fl-user-with-date [user]="template.createdBy" [date]="template.createdAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Last modification -->
  <ng-container matColumnDef="lastModification">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'last_modification_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let template">
      <fl-user-with-date [user]="template.lastModifiedBy" [date]="template.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>


  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'tags' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let template">
      @defer (on viewport) {
        <lab-tag-list [tags]="template | labGetEntityTags"></lab-tag-list>
      } @placeholder {
        <div></div>
      }
    </mat-cell>
  </ng-container>

  <!-- Open in new tab -->
  <ng-container matColumnDef="openInNewTab">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let template">
      <a mat-stroked-button [routerLink]="template | labDetailRoute"
         target="_blank" class="g-button-small" (click)="openInNewTab($event)">
        {{ 'biox.open_in_new_tab' | translate }}
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <mat-row *matRowDef="let row; columns: columns;" class="g-table-row-selectable g-row-link-container"
           (click)="rowClicked(row)"></mat-row>


</mat-table>

