:host{
  display: flex;
  flex-direction: column;
}

.icons-list-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  gap: 1em;
  justify-content: center;
  height: fit-content;
  overflow-y: auto;
}

.icons-search-bar-div{
  width: 100%;
  margin-top: 30px;
}

.icons-search-bar{
  width: 100%;
}

.icon-div{
  width: 8em;
  height: 8em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
}

.icon-file-div{
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-div:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

.icon-name-div{
  text-align: center;
  min-height: 3em;
}

.icon-name{
  font-size: small;
}

.load-more-icons-button{
  margin: 0 auto;
}
