<fl-key-value>
  <fl-key>{{ 'monitoring.version' | translate }}</fl-key>
  {{ brick.version }}
</fl-key-value>

<fl-key-value>
  <fl-key>{{ 'monitoring.repo_type' | translate }}</fl-key>
  {{ brick.repoType }}
</fl-key-value>

@if (brick.repoCommit) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.repo_commit' | translate }}</fl-key>
    {{ brick.repoCommit }}
  </fl-key-value>
}

@if (brick.brickPath) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.brick_path' | translate }}</fl-key>
    {{ brick.brickPath }}
  </fl-key-value>
}

@if (brick.parentName) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.parent_brick' | translate }}</fl-key>
    {{ brick.parentName }}
  </fl-key-value>
}

<div class="action-buttons">
  <button mat-stroked-button type="button" (click)="generateTechnicalDoc()" class="g-button-small primary">
    {{ 'monitoring.generate_technical_doc' | translate }}
    @if (generateDocIsLoading) {
      <fl-button-loader size="small"></fl-button-loader>
    }
  </button>

  <button mat-stroked-button type="button" (click)="openCallMigrationDialog()" class="g-button-small primary">
    {{ 'monitoring.call_migration_title' | translate }}
  </button>

  <button
    mat-stroked-button
    type="button"
    (click)="deleteUnavailableTypings()"
    class="g-button-small primary">
    {{ 'monitoring.delete_unavailable_typings' | translate }}
  </button>
</div>

<lab-brick-message-list [messages]="brick.messages"></lab-brick-message-list>
