<fl-key-value>
  <fl-key>{{ 'monitoring.version' | translate }}</fl-key>
  {{ brick.version }}
</fl-key-value>

<fl-key-value>
  <fl-key>{{ 'monitoring.repo_type' | translate }}</fl-key>
  {{ brick.repoType }}
</fl-key-value>

<fl-key-value *ngIf="brick.repoCommit">
  <fl-key>{{ 'monitoring.repo_commit' | translate }}</fl-key>
  {{ brick.repoCommit }}
</fl-key-value>

<fl-key-value *ngIf="brick.brickPath">
  <fl-key>{{ 'monitoring.brick_path' | translate }}</fl-key>
  {{ brick.brickPath }}
</fl-key-value>

<fl-key-value *ngIf="brick.parentName">
  <fl-key>{{ 'monitoring.parent_brick' | translate }}</fl-key>
  {{ brick.parentName }}
</fl-key-value>

<div class="action-buttons">

  <button mat-stroked-button color="primary" type="button" (click)="generateTechnicalDoc()"
          class="g-button-small">
    {{ 'monitoring.generate_technical_doc' | translate }}
    <fl-button-loader *ngIf="generateDocIsLoading" size="small"></fl-button-loader>
  </button>


  <button mat-stroked-button color="primary" type="button" (click)="openCallMigrationDialog()"
          class="g-button-small">
    {{ 'monitoring.call_migration_title' | translate }}
  </button>

  <button mat-stroked-button color="primary" type="button" (click)="deleteUnavailableTypings()"
          class="g-button-small">
    {{ 'monitoring.delete_unavailable_typings' | translate }}
  </button>
</div>

<lab-brick-message-list [messages]="brick.messages"></lab-brick-message-list>

