@if (scenario$ | async; as scenario) {
  <fl-sidebar-layout [hideOnPrint]="true">
    <div class="main-content g-max-article-width">
      <!--    Save status        -->
      <te-text-editor-save
        [textEditor]="textEditor"
        [saveFunc]="saveDescriptionFunc"
        [debounceTime]="1000"
        class="save-status g-print-hide"></te-text-editor-save>

      <!--   Description editor     -->
      <te-text-editor
        #textEditor
        [config]="textEditorConfig"
        [formControl]="descriptionFormControl"
        class="text-editor g-print-section"
        [placeholder]="'biox.scenario_description_placeholder' | translate"></te-text-editor>
    </div>

    <div sidebar>
      <!--  Tags  -->
      <div class="sidebar-group">
        <h4 class="g-sidebar-group-title g-text-small">{{ 'li.tags' | translate }}</h4>
        <li-tag-list
          [tags]="tags$"
          [showNoTagMessage]="true"
          entityType="SCENARIO"
          [enableDetails]="true"
          [entityId]="scenario.id"></li-tag-list>
      </div>

      <!--  Folder  -->
      <div class="sidebar-group">
        <h4 class="g-sidebar-group-title g-text-small">{{ 'li.folder' | translate }}</h4>
        <li-folder-inline-select
          [(ngModel)]="scenario.folder"
          (selectionChange)="updateFolder($event)"
          [disabled]="!scenario.isInfoEditable()"></li-folder-inline-select>
      </div>

      <!--  Information  -->
      <div class="sidebar-group">
        <h4 class="g-sidebar-group-title g-text-small">{{ 'li.information' | translate }}</h4>

        <!--  Type  -->
        <div
          class="info-row"
          (click)="openShareOrigin(scenario)"
          (keydown.enter)="openShareOrigin(scenario)"
          tabindex="0"
          role="button"
          [matTooltip]="'biox.scenario_creation_type_help_' + scenario.creationType | translate">
          <span class="g-text-light">{{ 'biox.scenario_creation_type' | translate }}</span>
          <span [class.g-text-link]="scenario.creationType === 'IMPORTED'">
            {{ 'biox.scenario_creation_type_' + scenario.creationType | translate }}
          </span>
        </div>

        @if (scenario.isValidated) {
          <li-object-validation-info class="separator" [object]="scenario"></li-object-validation-info>
        }

        @if (scenario.isSynced) {
          <li-object-sync-info class="separator" [object]="scenario"></li-object-sync-info>
        }

        <li-object-creation-info class="separator" [object]="scenario"></li-object-creation-info>
      </div>

      <!--  Linked notes  -->
      <lab-scenario-linked-notes class="sidebar-group" [scenarioId]="scenario.id"></lab-scenario-linked-notes>
    </div>
  </fl-sidebar-layout>
}
