<fl-card class="card">
  <fl-card-header>
    <fl-search-header>
      <fl-text-icon>
        <mat-icon>description</mat-icon>
        <h2 class="g-admin-panel-section-title">{{ 'stories' | translate }}</h2>
      </fl-text-icon>

      <fl-search-header-actions class="g-layout-row g-layout-start-center">
        <a mat-stroked-button type="button" class="g-button-small" [href]="urlDownloadStoriesZip" download>
          {{ 'download_stories_zip_file' | translate }}
        </a>
        <button mat-stroked-button type="button" class="g-button-small" (click)="sendStoriesToDify()">
          {{ 'send_stories_to_dify' | translate }}
        </button>
      </fl-search-header-actions>
    </fl-search-header>
  </fl-card-header>
  <fl-card-body class="g-full-height"> </fl-card-body>
</fl-card>
