<fl-card id="lab-manager">

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>eco</mat-icon>
      <h2>{{'lab_green_options' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>

      <button mat-icon-button type="button" class="g-button-small"
              [matTooltip]="'lab_create_green_option' | translate"
              (click)="openCreateGreenOptionDialog()">
        <mat-icon>add</mat-icon>
      </button>

    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <!--  Global status  -->
    <fl-async-section [arrayObs]="labGreenOptions$" emptyText="no_lab_green_option">
      <ng-container *flSectionBodyDatasource>
        <ca-lab-green-option-table [datasource]="labGreenOptions$" [columns]="columns">
        </ca-lab-green-option-table>
      </ng-container>
    </fl-async-section>

  </fl-card-body>

</fl-card>
