<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="server-info-form" [formGroup]="formGp">
    <!--  Cloud provider  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'cloud_provider' | translate }}</mat-label>
      <mat-select formControlName="cloudProvider">
        <ca-select-cloud-provider-options></ca-select-cloud-provider-options>
      </mat-select>
      @if (formGp.get('cloudProvider')?.hasError('required')) {
        <mat-error>{{ 'cloud_provider' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  Technical name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'technical_name' | translate }}</mat-label>
      <input
        matInput
        formControlName="technicalName"
        required
        flInputMaxLength="50"
        [placeholder]="'technical_name' | translate" />
      @if (formGp.get('technicalName')?.hasError('required')) {
        <mat-error>{{ 'technical_name' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  Server info  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'server_standard' | translate }}</mat-label>
      <mat-select [placeholder]="'server_standard' | translate" formControlName="serverStandard">
        <ca-select-server-standard-options></ca-select-server-standard-options>
      </mat-select>
      @if (formGp.get('serverStandard')?.hasError('required')) {
        <mat-error>{{ 'server_standard' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  Ram  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'ram' | translate }} ({{ 'flCoreComponent.giga_byte_symbole' | translate }})</mat-label>
      <input matInput formControlName="ram" required [placeholder]="'ram' | translate" type="number" />
      @if (formGp.get('ram')?.hasError('required')) {
        <mat-error>{{ 'ram' | flErrorRequired }}</mat-error>
      }
      @if (formGp.get('ram')?.hasError('min')) {
        <mat-error>{{ 'input_number_must_be_positive' | translate }}</mat-error>
      }
    </mat-form-field>

    <div class="g-layout-row-wrap g-layout-evenly">
      <!--  Disk space  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'diskSpace' | translate }}</mat-label>
        <input
          matInput
          formControlName="diskSpace"
          required
          [placeholder]="'diskSpace' | translate"
          type="number" />
        @if (formGp.get('diskSpace')?.hasError('required')) {
          <mat-error>{{ 'diskSpace' | flErrorRequired }}</mat-error>
        }
        @if (formGp.get('diskSpace')?.hasError('min')) {
          <mat-error>{{ 'input_number_must_be_positive' | translate }}</mat-error>
        }
      </mat-form-field>

      <!--  Disk type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'diskType' | translate }}</mat-label>
        <mat-select formControlName="diskType">
          <ca-select-disk-type-options></ca-select-disk-type-options>
        </mat-select>
        @if (formGp.get('diskType')?.hasError('required')) {
          <mat-error>{{ 'diskType' | flErrorRequired }}</mat-error>
        }
      </mat-form-field>

      <!--  Cpu count  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'cpuCount' | translate }}</mat-label>
        <input
          matInput
          formControlName="cpuCount"
          required
          [placeholder]="'cpuCount' | translate"
          type="number" />
        @if (formGp.get('cpuCount')?.hasError('required')) {
          <mat-error>{{ 'cpuCount' | flErrorRequired }}</mat-error>
        }
        @if (formGp.get('cpuCount')?.hasError('min')) {
          <mat-error>{{ 'input_number_must_be_positive' | translate }}</mat-error>
        }
      </mat-form-field>

      <!--  Cpu type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'cpuType' | translate }}</mat-label>
        <input
          matInput
          formControlName="cpuType"
          required
          [placeholder]="'cpuType' | translate"
          flInputMaxLength="30" />
        @if (formGp.get('cpuType')?.hasError('required')) {
          <mat-error>{{ 'cpuType' | flErrorRequired }}</mat-error>
        }
      </mat-form-field>

      <!--  Gpu count  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'gpuCount' | translate }}</mat-label>
        <input matInput formControlName="gpuCount" [placeholder]="'gpuCount' | translate" type="number" />
        @if (formGp.get('gpuCount')?.hasError('min')) {
          <mat-error>{{ 'input_number_must_be_positive' | translate }}</mat-error>
        }
      </mat-form-field>

      <!--  Gpu type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{ 'gpuType' | translate }}</mat-label>
        <input
          matInput
          formControlName="gpuType"
          [placeholder]="'gpuType' | translate"
          flInputMaxLength="30" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="server-info-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
