.brick-form {
  margin-left: 25vw;
  margin-top: 2em;
  width: 50vw;
  background-color: var(--card-background);
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 2em;
}

.bt-back-to-list {
  margin-bottom: 2em;
}
