<fl-tag-list class="g-text-small" [tags]="tags" [showNoTagMessage]="false"></fl-tag-list>
<!--  Validated info  -->
@if (scenario.isValidated) {
  <ca-validated-object-info class="g-text-small" [object]="scenario"></ca-validated-object-info>
}

<!-- Sync ino -->
<ca-sync-object-info class="g-text-small" [object]="scenario"></ca-sync-object-info>

<div>
  <!-- Description-->
  @if (!(scenario.description | teRichTextIsEmpty)) {
    <te-text-editor
      [ngModel]="scenario.description"
      [disabled]="true"
      [config]="textEditorConfig"
      class="g-scrollable-element text-editor"></te-text-editor>
  }
</div>
