:host {
  flex: 1;
  display: flex;
}

.container {
  flex: 1;
  min-height: 0;
}

.menu {
  flex-shrink: 0;
  margin-right: 0.5em;
}

.expiration-date {
  margin-left: 1em;
}

.iframe {
  flex: 1;
  min-height: 0;
  width: 100%;
  border: none;
}
