<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">email</mat-icon>
      <h2>{{ 'space_invitation_list' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-icon-button type="button" (click)="openInvitationDialog()"
              [matTooltip]="'send_invitation' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-infinite-scroll [datasource]="invitations" class="g-infinite-table">
      <ca-space-invit-table [datasource]="invitations" [columns]="columns"></ca-space-invit-table>
    </fl-infinite-scroll>
  </fl-card-body>
</fl-card>
