<mat-tab-group class="g-full-height g-mat-tab-full-height" [animationDuration]="'0'"
               [(selectedIndex)]="selectedTabIndex" [mat-stretch-tabs]="false">
  <mat-tab *ngFor="let tab of tabs; let first = first; trackBy: trackByViewSymbol">

    <ng-template mat-tab-label>
      <lab-resource-detail-tab-header [tab]="tab" [showCloseButton]="!first"></lab-resource-detail-tab-header>
    </ng-template>

    <fl-async-section [object]="$any(tab.obs)" class="g-layout-col"
                      [ngClass]="{'fixed-height': tab.type === 'view', 'min-height': tab.type === 'resource'}">

      <ng-container *flSectionBody="let result">
        <lab-resource-detail *ngIf="tab.type === 'resource'; else view"
                             [resource]="result" [readOnly]="readOnly" class="content resource"></lab-resource-detail>

        <ng-template #view>
          <lab-resource-view-detail [labView]="result" class="content view"></lab-resource-view-detail>
        </ng-template>
      </ng-container>
    </fl-async-section>

  </mat-tab>

</mat-tab-group>
