<ha-page>
  <fl-infinite-scroll [datasource]="tagsPaginated" infiniteMode="auto" class="section">
    <co-list-filters
      [user]="user() ?? null"
      [listEntityType]="listEntityType"
      (sortsCriteriaChanged)="onSortsCriteriaChanged($event)"
      (titleFilterChanged)="onTitleFilterChanged($event)"
      (spacesFilterChanged)="onSpacesFilterChanged($event)"
      (myEntitiesChanged)="onMyEntitiesChanged($event)"></co-list-filters>
    <ha-list-of-items>
      @for (tag of tagsPaginated | flDatasourceConnect | async; track tag.id) {
        <a [routerLink]="tag | haDetailRoute">
          <co-community-tag-list-item [tagKey]="tag"></co-community-tag-list-item>
        </a>
      }
    </ha-list-of-items>
  </fl-infinite-scroll>
</ha-page>
