.my-tags-bt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag-result-card-div {
  width: auto;
  margin-bottom: 32px;
}

.bt {
  width: 100%;
  border-radius: 18px !important;
  height: 56px;
  padding: 8px;
}

.bt-primary {
  background-color: var(--primary-color);
  color: var(--color-text-primary);
}
