.cookie-consent-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookie-consent-bt-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 500px){
  .cookie-consent-bt-div{
    flex-direction: column;
  }
}

@media (max-width: 359px) {
  .cookie-consent-bt-div button{
    font-size: 0.6em;
  }
}

@media (max-width: 279px) {
  .cookie-consent-bt-div button{
    font-size: 0.5em;
  }
}
