.content{
  max-width: 50%;
}

.bt-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 960px) {
  .content {
    max-width: 100%;
  }

  .bt-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 359px) {
  button{
    font-size: 0.6em;
  }
}

@media (max-width: 279px) {
  button{
    font-size: 0.5em;
  }
}
