<fl-portal class="portal">
  <fl-portal-content>
    @if (currentSpace$ | async; as currentSpace) {
      <div class="current-space g-layout-col g-layout-start-center">
        <a [routerLink]="currentSpaceRoute" class="current-space-photo">
          <ca-space-photo [space]="currentSpace" size="big"></ca-space-photo>
        </a>

        <div class="g-text-big current-space-label g-text-link">
          <a [routerLink]="currentSpaceRoute">{{ currentSpace.name }}</a>
        </div>
      </div>
    }

    <mat-divider class="g-full"></mat-divider>
    <a [routerLink]="currentSpaceRoute" class="space">
      <fl-text-icon>
        <mat-icon>settings</mat-icon>
        {{ 'manage_your_space' | translate }}
      </fl-text-icon>
    </a>

    <mat-divider class="g-full"></mat-divider>
    <!--  Other spaces  -->
    <fl-async-section [object]="otherSpaces" emptyText="">
      <ng-container *flSectionBody="otherSpaces as spaces">
        <div class="switch-to g-text-light">{{ 'switch_to_space' | translate }}</div>
        @for (space of spaces; track space.id) {
          <a [caExternalSpaceLink]="appRoute" [caExternalSpaceDomain]="space.domain">
            <ca-space-inline [space]="space" [showNotif]="true" class="space"> </ca-space-inline>
          </a>
        }
      </ng-container>
    </fl-async-section>

    @if (showCreateSpaceButton) {
      <mat-divider class="g-full"></mat-divider>
      <div class="space" (click)="openCreateSpaceDialog()">
        <fl-text-icon>
          <mat-icon>add</mat-icon>
          {{ 'create_space' | translate }}
        </fl-text-icon>
      </div>
    }
  </fl-portal-content>
</fl-portal>
