
.advanced-config{
  margin-top: 1em;
  background-color: var(--main-background);
}

.help-text{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button{
  color: var(--color-foreground);
}

.glab-override{
  margin-top: 1em;
}

.save-button{
  margin-top: 1em;
}
