.container {
  padding-top: 1em;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
}

.header {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.title {
  word-break: break-word;
}

.note-content {
  min-height: 0;
  min-width: 0; // limit width to parent width
  padding: 0 1em 1em 1em;
  box-sizing: border-box;
}
