<a *ngIf="group.type === 'TEAM' && !disableLink; else noLink" [routerLink]="group | caDetailRoute"
   class="text-link">
  <fl-text-icon>
    <mat-icon flIcon="group"></mat-icon>
    <span>{{group.label}}</span>
  </fl-text-icon>
</a>

<!-- No link for single user group -->
<ng-template #noLink>
  <fl-text-icon *ngIf="group.type === 'TEAM'; else singleUser">
    <mat-icon flIcon="group"></mat-icon>
    <span>{{group.label}}</span>
  </fl-text-icon>

  <ng-template #singleUser>
    <fl-user-inline [user]="group.user"></fl-user-inline>
  </ng-template>
</ng-template>
