<div class="main-container">
  <div class="left-panel">
    <a routerLink="edit" *haIsAuthenticated>
      <button mat-flat-button type="button" class="bt first-bt">
        <mat-icon >add_circle</mat-icon>
        {{'create_brick' | translate}}
      </button>
    </a>
  </div>
  <div class="main-panel">
    <h1 class="title">{{'bricks' | translate}}</h1>
    <div class="bricks-list">
      <a class="brick" *ngFor="let b of bricks; let i" [routerLink]="getBrickRoute(b)">
        <div class="brick-logo" [style.background-image]="
              b.imageLink ? 'url(\''+ b.imageLink +'\')' :
              'url(\'assets/fl-logo/logo.png\')'"
             [style.background-size]="b.imageLink ? '70%' : '100%'"></div>
        <div class="brick-info">
          <div class="brick-name-line">
            <span>{{b.name}} <mat-icon *ngIf="b.visibility === 'private'" class="g-icon-small">lock</mat-icon></span>

          </div>
          <div class="brick-description small-text" flHide.lt-sm>
            {{b.description.substring(0, 100) + (b.description.length > 100 ? '...' : '')}}
          </div>
          <div class="brick-version small-text">
            {{b.lastVersion.toString()}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
