.first-bt{
  margin-top: 49px;
}

.title{
  margin-top: 16px;
}

.bricks-list {
  background-color: var(--card-background);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  border-radius: 18px;
}

.brick {
  width: calc(50% - 20px);
  padding: 8px;
  background-color: var(--main-background);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 450px) {
  .bricks-list{
    flex-direction: column;
  }

  .brick{
    width: calc(100% - 20px);
  }
}

.brick-logo{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.brick-info{
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  width: calc(100% - 66px);
}

.bt{
  width: 100%;
  border-radius: 18px !important;
  background-color: var(--card-background);
  height: 56px;
  padding: 8px;
}

h1{
  font-size: 67.3px;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  text-align: left;
  height: 80px;
}

h5 {
  line-height: 32px;
  margin: 0;
}

.brick-name-line span{
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}

.brick-version{
  margin-top: auto;
}
