<div class="left-panel" *haIsAuthenticated>
  <mat-icon class="button-close-left-panel" haSidenavButton></mat-icon>

  <a mat-flat-button routerLink="edit" class="bt first-bt">
    <mat-icon>add_circle</mat-icon>
    {{ 'create_brick' | translate }}
  </a>
  <button
    mat-flat-button
    type="button"
    class="bt my-bricks-bt"
    (click)="selectSpace('my-bricks')"
    [class]="isSelected('my-bricks') ? 'bt-primary' : ''">
    {{ 'my_bricks' | translate }}
  </button>

  <p class="left-side-div-title">{{ 'visibility' | translate }} :</p>

  <div class="left-panel-buttons-div">
    <mat-chip-option
      [value]="isSelected('public')"
      (click)="selectSpace('public')"
      class="space-list-option accent">
      <fl-text-icon [iconPosition]="'start'">
        {{ 'public' | translate }}
        <mat-icon>public</mat-icon>
      </fl-text-icon>
    </mat-chip-option>
    <ha-selectable-space-list *ngIf="user" [user]="user" (spaceSelectedEvent)="onSpace($event)">
    </ha-selectable-space-list>
  </div>
</div>

<div class="main-container">
  <div class="main-panel">
    <fl-infinite-scroll *ngIf="bricks" [datasource]="bricks" infiniteMode="auto" class="list-section">
      <div class="section-title">
        <h1 class="title">{{ 'bricks' | translate }}</h1>
      </div>
      <div class="search-bar-title">
        <form type="submit" (ngSubmit)="search($event)">
          <mat-form-field class="section-search-bar">
            <input
              matInput
              [formControl]="titleFormControl"
              placeholder="{{ 'search_by_title' | translate }}" />
            <button mat-icon-button matSuffix (click)="search($event)" [matTooltip]="'search' | translate">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div class="bricks-list">
        <a *ngFor="let b of bricks | flDatasourceConnect | async" [routerLink]="getBrickRoute(b)">
          <co-brick-list-item [brick]="b" [brickImage]="b.imageLink | haBrickImage"></co-brick-list-item>
        </a>
      </div>
    </fl-infinite-scroll>
  </div>
</div>
