<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>info</mat-icon>
      <h2>{{ 'lab_global_info' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" (click)="forceStatusRefresh()" class="g-button-small">
        <mat-icon>refresh</mat-icon>
        {{ 'refresh_status' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    @if (status$ | async; as status) {
      @if (isCloud$ | async) {
        <fl-text-ok-nok
          [value]="status.hasServerInstanceId"
          [okText]="'lab_server_instance_configured' | translate"
          [nokText]="'lab_server_instance_not_configured' | translate">
        </fl-text-ok-nok>

        <fl-text-ok-nok
          [value]="status.hasServerVolumeId"
          [okText]="'lab_server_volume_configured' | translate"
          [nokText]="'lab_server_volume_not_configured' | translate">
        </fl-text-ok-nok>

        <fl-text-ok-nok
          [value]="status.dnsConfigured"
          [okText]="'lab_dsn_configured' | translate"
          [nokText]="'lab_dsn_not_configured' | translate">
        </fl-text-ok-nok>
      }

      <fl-text-ok-nok
        [value]="status.labManagerIsRunning"
        [okText]="'lab_manager_running' | translate"
        [nokText]="'lab_manager_not_running' | translate">
      </fl-text-ok-nok>

      <fl-text-ok-nok
        [value]="status.labIsRunning"
        [okText]="'lab_is_running' | translate"
        [nokText]="'lab_is_not_running' | translate">
      </fl-text-ok-nok>

      <ca-lab-current-task></ca-lab-current-task>

      <!--    list of errors    -->
      @if (errors$ | async; as errors) {
        <div class="info-section">
          @for (error of errors; track error) {
            <fl-text-icon>
              <mat-icon class="warn">warnings</mat-icon>

              <div class="g-text-small">{{ error }}</div>
            </fl-text-icon>
          }
        </div>
      }

      <!--    Global action to do with server    -->
      @if (status.serverTaskStatus.value !== 'RUNNING') {
        <ca-lab-server-status></ca-lab-server-status>
      }

      <div class="g-layout-row g-layout-start-center action-buttons">
        <ca-lab-login-button [labId]="labId" [isRunning]="status.labIsRunning"></ca-lab-login-button>

        <ca-lab-start-stop class="start-button"></ca-lab-start-stop>
      </div>
    }
  </fl-card-body>
</fl-card>
