<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon flIcon="report"></mat-icon>
      <h2>{{'reports' | translate}}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [arrayObs]="reports" emptyText="no_report">
      <ng-container *flSectionBodyDatasource>
        <ca-report-table [datasource]="reports" [columns]="columns"
                         [rowSelectable]="rowSelectable"
                         (reportSelected)="selectReport($event)"></ca-report-table>
      </ng-container>
    </fl-async-section>

  </fl-card-body>

</fl-card>
