.page {
  padding-bottom: 1em;
}

.separator {
  margin-top: 1em;
  display: block;
}

.action-buttons {
  margin-left: 5px;
}

.container {
  margin-top: 1em;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.left-section {
  flex: 1 20 30em;
  max-width: 30em;
  padding-bottom: 1em;
}

.right-section {
  flex: 1 1 var(--article-width);
  margin-left: 2em;
  z-index: 999;
}

@media (max-width: 1280px) {
  .left-section {
    flex: 1;
    max-width: var(--article-width);
    width: 100%;
  }

  .right-section {
    margin-left: 0;
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}
