// override default page padding
.page {
  padding: var(--main-menu-margin) 1em 0 1em;
}

.scenario {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 1em;
  box-sizing: border-box;
}
