<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>description</mat-icon>
      <h2>{{'project_documents' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>

      <button mat-icon-button type="button" (click)="createConstellabDocument()"
              [matTooltip]="'create_constellab_document' | translate">
        <mat-icon>add</mat-icon>
      </button>

      <!--   Upload files     -->
      <fl-input-file-icon-container [matTooltip]="'upload_document' | translate" icon="cloud_upload">
        <input flInputFile [multiple]="true" type="file" (fileChange)="uploadDocument($event)"
               [autoClearHtmlInput]="true">
      </fl-input-file-icon-container>

      <button mat-icon-button type="button" (click)="openDocumentInTrash()"
              [matTooltip]="'documents_in_trash' | translate">
        <mat-icon>delete</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-infinite-scroll [datasource]="documentDatasource" class="g-infinite-table">
      <ca-document-table [datasource]="documentDatasource"></ca-document-table>
    </fl-infinite-scroll>
  </fl-card-body>

</fl-card>
