<mat-table mat-table [dataSource]="datasource">
  <!-- FsNodeName -->
  <ng-container matColumnDef="fsNodeName">
    <mat-header-cell *matHeaderCellDef>
      {{ 'name' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.fsNodeName }}
    </mat-cell>
  </ng-container>

  <!-- FsNodeSize-->
  <ng-container matColumnDef="fsNodeSize">
    <mat-header-cell *matHeaderCellDef>
      {{ 'monitoring.brick_data_size' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.fsNodeSize | flByteText }}
    </mat-cell>
  </ng-container>

  <!-- FsNodeType-->
  <ng-container matColumnDef="fsNodeType">
    <mat-header-cell *matHeaderCellDef>
      {{ 'monitoring.brick_data_type' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ 'monitoring.brick_data_' + row.fsNodeType | translate }}
    </mat-cell>
  </ng-container>

  <!-- BrickName-->
  <ng-container matColumnDef="brickName">
    <mat-header-cell *matHeaderCellDef>
      {{ 'monitoring.brick_data_brick_name' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.brickName }}
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">
      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" class="g-warn-text" (click)="openDeleteBrickData(row)">
          <mat-icon color="warn">clear</mat-icon>
          <span>{{ 'monitoring.delete_brick_data' | translate }}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
