@if (selectedVideo(); as video) {
  <fl-card>
    <fl-card-header>
      <fl-text-icon>
        <mat-icon>play_circle</mat-icon>
        <h2>{{ 'tutorials' | translate }}</h2>
      </fl-text-icon>
    </fl-card-header>

    <fl-card-body>
      <div class="g-layout-row g-layout-center-center">
        <!--   Show youtube iframe     -->
        <button mat-icon-button type="button" (click)="previousVideoManually()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <!--    Initial image size : 320 - 180 , here we apply a 3/5 ratio     -->
        <a [href]="video.youtubeLink" target="_blank" rel="noopener noreferrer" class="thumbnail-container">
          <img [ngSrc]="video.thumbnailUrl" [width]="192" [height]="108" alt="thumbnail" />
        </a>

        <button mat-icon-button type="button" (click)="nextVideoManually()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

      <a
        [href]="video.youtubeLink"
        target="_blank"
        rel="noopener noreferrer"
        class="title g-text-small g-text-link">
        {{ video.title }}
      </a>

      <div class="g-layout-row g-layout-center-center circles">
        @for (youtubeVideo of youtubeVideos(); track youtubeVideo.videoId) {
          <div
            class="circle"
            role="button"
            tabindex="0"
            [attr.aria-label]="youtubeVideo.title"
            [ngClass]="{ 'selected-circle': video === youtubeVideo }"
            (click)="selectVideo(youtubeVideo)"
            (keydown.enter)="selectVideo(youtubeVideo)"
            (keydown.space)="selectVideo(youtubeVideo)"></div>
        }
      </div>
    </fl-card-body>
  </fl-card>
}
