@if (textEditorConfig()) {
  <div class="g-layout-row g-layout-start-center g-layout-gap-05em header">
    <div class="g-flex-auto">
      {{ placeholder() }}
    </div>

    <te-text-editor-save
      class="save-button"
      [textEditor]="textEditor"
      [saveFunc]="saveFunc"
      [debounceTime]="changeEventDebounceTime()"></te-text-editor-save>
  </div>

  <te-text-editor
    #textEditor
    [config]="textEditorConfig()"
    [formControl]="formCtrl()"
    class="text-editor"></te-text-editor>
}
