<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="biox-form" [formGroup]="formGp">
    <!--  name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        required
        flInputMaxLength="50"
        [placeholder]="'name' | translate"
        (change)="onNameChange()" />
      @if (formGp.get('name').hasError('required')) {
        <mat-error>
          {{ 'name' | flErrorRequired }}
        </mat-error>
      }
      @if (sameNameExist$ | async) {
        <mat-hint class="g-warn-text">
          {{ 'biox.credentials_with_same_name_exist' | translate }}
        </mat-hint>
      }
    </mat-form-field>

    <!--  Type  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'biox.credentials_type' | translate }}</mat-label>
      <mat-select formControlName="type" required (selectionChange)="onTypeChange($event)">
        @for (key of credentialsTypes | flObjectKeys; track key) {
          <mat-option [value]="key">
            {{ 'biox.credentials_type_' + credentialsTypes[key] | translate }}
          </mat-option>
        }
      </mat-select>
      @if (formGp.get('type').hasError('required')) {
        <mat-error>
          {{ 'biox.credentials_type' | flErrorRequired }}
        </mat-error>
      }
    </mat-form-field>

    <!--  Description  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="description"
        rows="4"
        [placeholder]="'description' | translate"></textarea>
    </mat-form-field>

    <!--  Dynamic sub form  -->
    @if (formGp.get('type').value) {
      <p class="subtitle">
        <strong>{{ 'biox.credentials_data' | translate }}</strong>
      </p>
    }

    @if (dataConfig) {
      <fl-dynamic-abstract-form
        [control]="formGp.get('data')"
        [config]="dataConfig"></fl-dynamic-abstract-form>
    }
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="biox-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
