@if (notFound()) {
  <div class="main-panel">
    <ha-ha404></ha-ha404>
  </div>
} @else if (isLoading()) {
  <div class="main-panel">
    <div class="g-text-centered">
      <fl-loader></fl-loader>
    </div>
  </div>
} @else if (communityApp()) {
  <div class="app-header">
    <div class="nav-bar">
      <div class="app-header-left app-header-div">
        <h2>{{ communityApp().title }}</h2>
        <fl-text-icon iconPosition="start" [gap]="'8px'" [matTooltip]="'app_execution_count' | translate"
                      class="execution-count">
          <mat-icon>play_circle</mat-icon>
          <span>{{ communityApp().executions }}</span>
        </fl-text-icon>
        <ha-like-button
          [isLiked]="isLiked()"
          [likesCount]="communityApp().likes"
          (clicked)="toggleLikeAppButton()"></ha-like-button>

        <a [routerLink]="'detail'" [fragment]="'comments'">
          <ha-comment-button [commentsCount]="communityApp().comments"></ha-comment-button>
        </a>
        @if (currentUser && communityApp().createdBy.id === currentUser.id) {
          <button mat-flat-button (click)="openEditAppDialog()" class="edit-button primary g-button-small">
            <mat-icon class="g-icon-small">edit</mat-icon>
            {{ 'edit' | translate }}
          </button>
        }
      </div>

      <div class="app-header-right app-header-div">
        <a [routerLink]="'.'" [ngClass]="currentChildrenPath === '' ? 'activated-a' : ''">{{
            'application' | translate
          }}</a>
        <a [routerLink]="'detail'" [ngClass]="currentChildrenPath === 'detail' ? 'activated-a' : ''">{{
            'detail' | translate
          }}</a>
      </div>
    </div>
  </div>
  <div class="app-page-content g-scrollable-element">
    <router-outlet></router-outlet>
  </div>

}
