.app-header {
  background: var(--card-background);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100vw;
  z-index: 20;

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}

.app-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header-left {
  gap: 0.25rem;

  h2 {
    font-weight: bold;
    margin-right: 0.25rem;
  }

  .execution-count {
    margin-right: 0.25rem;
  }
}

.app-header-right {
  height: 100%;

  a {
    width: 7rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100% - 3px);
    flex: 1;
    padding-bottom: 3px;
    font-size: 0.85em;
  }

  .activated-a {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 0;
  }
}

.app-page-content {
  margin-top: var(--navbar-height);
  max-height: calc(100vh - (2 * var(--navbar-height)));
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .app-header-left h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 965px) {
  .app-page-content {
    max-height: calc(100vh - (2 * var(--navbar-height)) - var(--small-navbar-height));
  }
}

@media (max-width: 896px) {
  .app-header-left h2 {
    font-size: 1.25em;
  }

  .hide-small-screen {
    display: none;
  }
}
