<div class="g-page page">
  <fl-async-section class="g-flex-auto" [object]="note$">
    <ng-container *flSectionBody="note$ as note">
      <div class="g-layout-row g-layout-start-center">
        @if (note.isValidated) {
          <mat-icon
            [matTooltip]="'biox.note_validated' | translate"
            class="g-icon-big status-icon"
            flIcon="validated">
          </mat-icon>
        }

        @if (note.isArchived) {
          <mat-icon
            [matTooltip]="'biox.note_archived' | translate"
            class="g-icon-big status-icon"
            flIcon="archive">
          </mat-icon>
        }

        <div class="g-flex-auto g-flex">
          <fl-text-icon>
            <mat-icon flIcon="note" class="g-icon-big"></mat-icon>
            <h1
              flElementEditable
              (flElementValueChange)="updateTitle($event)"
              class="title"
              [flElementDisabled]="!note.isEditable()">
              {{ note.title }}
            </h1>
          </fl-text-icon>
        </div>

        <li-sync-object-button
          [object]="note"
          [syncObjectFunc]="syncObjectFunc"
          additionalConfirmText="biox.sync_note_confirmation"
          (objectUpdate)="onNoteUpdate($event)"
          class="g-print-hide">
        </li-sync-object-button>

        <div class="g-print-hide action-buttons">
          <button mat-icon-button type="button" (click)="openActionMenu(note, $event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>

      <!--   Content   -->
      <div class="container">
        <div class="left-section g-print-hide">
          <!--    Save status        -->
          <te-text-editor-save
            [formCtrl]="formControl"
            [saveFunc]="saveContentFunc"
            [debounceTime]="2500"></te-text-editor-save>

          <!-- Tags -->
          <li-tag-list
            [tags]="tags"
            entityType="NOTE"
            [entityId]="note.id"
            [showNoTagMessage]="true"
            [enableDetails]="true"
            class="separator"></li-tag-list>

          <!--  Folder  -->
          <li-folder-inline-select
            [(ngModel)]="note.folder"
            (selectionChange)="updateFolder($event)"
            [disabled]="!note.isEditable()"
            class="separator"
            updateFolderHelpText="biox.update_note_folder_help"></li-folder-inline-select>

          <!--  Validated info  -->
          @if (note.isValidated) {
            <li-object-validation-info class="separator" [object]="note"></li-object-validation-info>
          }

          <!--  Sync info  -->
          @if (note.isSynced) {
            <li-object-sync-info class="separator" [object]="note"></li-object-sync-info>
          }

          <!--  Created by & Last modified bt  -->
          <p class="g-text-small g-text-light separator">
            <fl-creation-info [user]="note.createdBy" [date]="note.createdAt"></fl-creation-info>
          </p>
          <p class="g-text-small g-text-light">
            <fl-last-modification-info
              [user]="note.lastModifiedBy"
              [date]="note.lastModifiedAt"></fl-last-modification-info>
          </p>

          <lab-note-linked-scenarios class="scenarios"></lab-note-linked-scenarios>
        </div>

        <!--   Note content     -->
        <div class="right-section g-max-article-width">
          <te-text-editor
            class="g-full-height g-print-section"
            [config]="textEditorConfig"
            [formControl]="formControl"></te-text-editor>
        </div>
      </div>
    </ng-container>
  </fl-async-section>
</div>
