<div class="g-page page">
  <fl-async-section class="g-flex-auto" [object]="note$">
    <ng-container *flSectionBody="note$ as note">
      <div class="g-layout-row g-layout-start-center">
        @if (note.isValidated) {
          <mat-icon
            [matTooltip]="'biox.note_validated' | translate"
            class="g-icon-big status-icon"
            flIcon="validated">
          </mat-icon>
        }

        @if (note.isArchived) {
          <mat-icon
            [matTooltip]="'biox.note_archived' | translate"
            class="g-icon-big status-icon"
            flIcon="archive">
          </mat-icon>
        }

        <div class="g-flex-auto g-flex">
          <fl-text-icon>
            <mat-icon flIcon="note" class="g-icon-big"></mat-icon>
            <h1
              flElementEditable
              (flElementValueChange)="updateTitle($event)"
              class="title"
              [flElementDisabled]="!note.isEditable()">
              {{ note.title }}
            </h1>
          </fl-text-icon>
        </div>

        <lab-sync-object-button
          [object]="note"
          [syncObjectFunc]="syncObjectFunc"
          additionalConfirmText="biox.sync_note_confirmation"
          (objectUpdate)="onNoteUpdate($event)"
          class="g-print-hide">
        </lab-sync-object-button>

        <div class="g-print-hide action-buttons">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before" class="g-print-hide">
            @if (note.isEditable()) {
              <button mat-menu-item type="button" (click)="updateNote()">
                <mat-icon>edit</mat-icon>
                <span>{{ 'biox.update_note' | translate }}</span>
              </button>
              <button
                mat-menu-item
                type="button"
                [matTooltip]="'biox.validate_note' | translate"
                (click)="validate()">
                <mat-icon flIcon="validated"></mat-icon>
                <span>{{ 'biox.validate_note' | translate }}</span>
              </button>
            }

            <button mat-menu-item type="button" (click)="openHistoryPanel(note.id)">
              <mat-icon>history</mat-icon>
              <span>{{ 'biox.history' | translate }}</span>
            </button>

            <button mat-menu-item type="button" (click)="printNote()">
              <mat-icon>print</mat-icon>
              <span>{{ 'biox.print_note' | translate }}</span>
            </button>

            <button mat-menu-item type="button" (click)="createNoteTemplate()">
              <mat-icon flIcon="note"></mat-icon>
              <span>{{ 'biox.create_note_template' | translate }}</span>
              @if (createTemplateLoading) {
                <fl-button-loader></fl-button-loader>
              }
            </button>

            <button mat-menu-item type="button" (click)="archiveNote()">
              <mat-icon [flIcon]="note.isArchived ? 'unarchive' : 'archive'"></mat-icon>
              <span>
                {{ note.isArchived ? 'biox.unarchive_note' : ('biox.archive_note' | translate) }}
              </span>
            </button>

            @if (note.isEditable()) {
              <button mat-menu-item type="button" (click)="delete()" class="warn">
                <mat-icon>delete</mat-icon>
                <span>{{ 'biox.delete_note' | translate }}</span>
              </button>
            }
          </mat-menu>
        </div>
      </div>

      <!--   Content   -->
      <div class="container">
        <div class="left-section g-print-hide">
          <!--    Save status        -->
          <te-text-editor-save
            [formCtrl]="formControl"
            [saveFunc]="saveContentFunc"
            [debounceTime]="2500"></te-text-editor-save>

          <!-- Tags -->
          <lab-tag-list
            [tags]="tags"
            entityType="NOTE"
            [entityId]="note.id"
            [showNoTagMessage]="true"
            class="separator"></lab-tag-list>

          <!--  Folder  -->
          <lab-folder-inline-select
            [(ngModel)]="note.folder"
            (selectionChange)="updateFolder($event)"
            [disabled]="!note.isEditable()"
            class="separator"
            [updateFolderHelpText]="'biox.update_note_folder_help' | translate"></lab-folder-inline-select>

          <!--  Validated info  -->
          @if (note.isValidated) {
            <lab-object-validation-info class="separator" [object]="note"></lab-object-validation-info>
          }

          <!--  Sync info  -->
          @if (note.isSynced) {
            <lab-object-sync-info class="separator" [object]="note"></lab-object-sync-info>
          }

          <!--  Created by & Last modified bt  -->
          <p class="g-text-small g-text-light separator">
            <fl-creation-info [user]="note.createdBy" [date]="note.createdAt"></fl-creation-info>
          </p>
          <p class="g-text-small g-text-light">
            <fl-last-modification-info
              [user]="note.lastModifiedBy"
              [date]="note.lastModifiedAt"></fl-last-modification-info>
          </p>

          <lab-note-linked-scenarios class="scenarios"></lab-note-linked-scenarios>
        </div>

        <!--   Note content     -->
        <div class="right-section g-max-article-width">
          <te-text-editor
            class="g-full-height g-print-section"
            [config]="textEditorConfig"
            [formControl]="formControl"></te-text-editor>
        </div>
      </div>
    </ng-container>
  </fl-async-section>
</div>
