<div *ngIf="labInstance$ | async as labInstance"
     class="nav-bar g-layout-row g-layout-between-center">

  <div class="g-layout-row g-layout-start-center">

    <fl-text-icon>
      <mat-icon class="g-icon-big" flIcon="lab"></mat-icon>
      <h1>{{labInstance.name}}</h1>
    </fl-text-icon>

    <a mat-button [routerLink]="getDetailRoute(labInstance)" routerLinkActive="menu-active"
       [routerLinkActiveOptions]="{exact: true}" class="nav-button">
      <mat-icon>dashboard</mat-icon>
      {{'dashboard' | translate}}
    </a>

    <a mat-button [routerLink]="getConfigRoute(labInstance)" routerLinkActive="menu-active"
       class="nav-button" *ngIf="isOwner$ | async">
      <mat-icon>settings</mat-icon>
      {{'lab_configuration' | translate}}
    </a>

    <a mat-button [routerLink]="getUsageRoute(labInstance)" routerLinkActive="menu-active"
       class="nav-button">
      <mat-icon>data_usage</mat-icon>
      {{'lab_usage' | translate}}
    </a>

    <a mat-button [routerLink]="getBackupRoute(labInstance)" routerLinkActive="menu-active"
       class="nav-button" *ngIf="isCloud$ | async">
      <mat-icon>cloud_done</mat-icon>
      {{'lab_backup' | translate}}
    </a>
  </div>

  <div class="g-layout-row g-layout-start-center">
    <button mat-icon-button type="button" (click)="openLabUpdate(labInstance)"
            [matTooltip]="'update_lab_instance' | translate" class="g-button-action g-button-shadow">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button type="button" (click)="openStatusHistoryDialog(labInstance)"
            [matTooltip]="'status_history' | translate" class="g-button-action g-button-shadow">
      <mat-icon>history</mat-icon>
    </button>

    <fl-status-chip [status]="labStatus$"
                    class="g-text-big g-button-action">
    </fl-status-chip>
  </div>
</div>
