.nav-bar {
  background-color: var(--card-background);
  border-radius: var(--card-radius);
  padding: 1em;
}

.nav-button {
  margin-left: 1em;
}

.menu-active {
  --mdc-text-button-label-text-color: var(--primary-color);
}

mat-icon {
  flex-shrink: 0;
}
