@if (dataSource() && treeControl) {
  <mat-tree [dataSource]="dataSource()" [treeControl]="treeControl" class="tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodePadding [matTreeNodePaddingIndent]="10">
      <div class="g-text-small tree-node g-layout-row g-layout-start-center"
           [ngClass]="{'selected-tree-node': node.isSelected}">
        <ca-folder-icon class="node-icon" [objectType]="node.objectType" [folderName]="node.name"
                        size="small"></ca-folder-icon>
        <a [routerLink]="node.route" class="object-name g-text-link">
          <div [caNotificationMark]="node.id" caNotificationObjectType="PROJECT_COMMENT"
               [caNotificationAssociatedObjectIds]="1">{{ node.name }}
          </div>
        </a>
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="10">
      <div class="g-text-small tree-node g-layout-row g-layout-start-center"
           [ngClass]="{'selected-tree-node': node.isSelected}">
        <ca-folder-icon class="node-icon" [objectType]="node.objectType" [folderName]="node.name"
                        size="small"></ca-folder-icon>

        <a [routerLink]="node.route" class="object-name g-text-link">
          <div [caNotificationMark]="node.id" caNotificationObjectType="PROJECT_COMMENT"
               [caNotificationAssociatedObjectIds]="1">{{ node.name }}
          </div>
        </a>
        <button mat-icon-button matTreeNodeToggle class="g-button-icon-small toggle-parent-button"
                [attr.aria-label]="'Toggle ' + node.name" type="button">
          <mat-icon>
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
          </mat-icon>
        </button>
      </div>
    </mat-tree-node>
  </mat-tree>
}
