
.help-text{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.radio-button{
  width: 49%;
  box-sizing: border-box;
}

.radio-description{
  margin-top: 0.5em;
}

.code {
  margin-top: 2em;
}

.centered {
  margin: auto;
}

.half-input{
  width: 49%;
}

.storage{
  margin-bottom: 1em;
}
