<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="project-form" [formGroup]="formGp">

    <p class="g-text-small g-text-light help-text" *ngIf="parentIsWorkPackage && isCreateMode()">
      {{ 'modern_project_forced' | translate }}
    </p>

    <!--  Level status  -->
    <mat-radio-group aria-label="Select an option" formControlName="levelStatus"
                     fxLayout="row" fxLayoutAlign="space-between stretch">
      <mat-radio-button [value]="levelStatus.LEAF" fxFlex="49%" flRadioButtonBig>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
          <ca-project-icon [type]="levelStatus.LEAF"></ca-project-icon>
          <div>{{'modern_project' | translate}}</div>
        </div>

        <div class="g-text-small radio-description">
          {{'modern_project_description' | translate}}
        </div>
      </mat-radio-button>

      <mat-radio-button [value]="levelStatus.PARENT" fxFlex="49%" flRadioButtonBig>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
          <ca-project-icon [type]="levelStatus.PARENT"></ca-project-icon>
          <div>{{'classic_project' | translate}}</div>
        </div>

        <div class="g-text-small radio-description">
          {{'classic_project_description' | translate}}
        </div>
      </mat-radio-button>
    </mat-radio-group>

    <!--  Code  -->
    <mat-form-field class="g-form-input code" appearance="outline">
      <mat-label>{{'code' | translate}}</mat-label>
      <input matInput formControlName="code" required flInputMaxLength="20"
             placeholder="{{'code' | translate}}">
      <mat-error *ngIf="formGp.get('code').hasError('required')">
        {{'code' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Title  -->
    <mat-form-field class="g-form-input" appearance="outline">
      <mat-label>{{'title' | translate}}</mat-label>
      <input matInput formControlName="title" required flInputMaxLength="50"
             placeholder="{{'title' | translate}}">
      <mat-error *ngIf="formGp.get('title').hasError('required')">
        {{'title' | flErrorRequired}}
      </mat-error>
    </mat-form-field>


    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <!--    Start Date      -->
      <mat-form-field fxFlex="49" class="g-form-input" appearance="outline">
        <mat-label>{{'starting_date' | translate}}</mat-label>
        <input matInput formControlName="startingDate" required
               [matDatepicker]="startingPicker" placeholder="{{'starting_date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="startingPicker"></mat-datepicker-toggle>
        <mat-datepicker #startingPicker startView="month"></mat-datepicker>
        <mat-error *ngIf="formGp.get('startingDate').hasError('required')">
          {{'starting_date' | flErrorRequired }}
        </mat-error>
      </mat-form-field>

      <!--    End Date      -->
      <mat-form-field fxFlex="49" class="g-form-input" appearance="outline">
        <mat-label>{{'ending_date' | translate}}</mat-label>
        <input matInput formControlName="endingDate" [min]="formGp.get('startingDate').value"
               [matDatepicker]="endingPicker" placeholder="{{'ending_date' | translate}}">
        <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
        <mat-datepicker #endingPicker startView="month"></mat-datepicker>
        <!--        <mat-error *ngIf="formGp.get('endingDate').hasError('required')">-->
        <!--          {{'ending_date' | flErrorRequired }}-->
        <!--        </mat-error>-->
        <mat-error *ngIf="formGp.get('endingDate').hasError('matDatepickerMin')">
          {{'error_end_date_before_start' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="project-form"
          class="centered">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
