<!--  Start and stop button  -->
@if (serverIsRunning$ | async) {
  <button mat-stroked-button type="button" (click)="stopLab()" class="g-button-small warn">
    <mat-icon>stop</mat-icon>
    <span>{{ 'stop_lab' | translate }}</span>
  </button>
} @else {
  <span
    [matTooltip]="'start_lab_disabled' | translate"
    [matTooltipDisabled]="disabledStart$ | async"
    class="container">
    <button
      mat-stroked-button
      type="button"
      (click)="startLab()"
      class="g-button-small primary"
      [disabled]="disabledStart$ | async">
      <mat-icon>play_arrow</mat-icon>
      <span>{{ 'start_lab' | translate }}</span>
    </button>
  </span>
}
