<!--  Start and stop button  -->
@if (serverIsRunning$ | async) {
  <button
    mat-stroked-button
    type="button"
    (click)="stopLab()"
    class="warn"
    [class.g-button-small]="size() === 'small'">
    <mat-icon>stop</mat-icon>
    <span>{{ 'stop_lab' | translate }}</span>
  </button>
} @else {
  <span
    [matTooltip]="'start_lab_disabled' | translate"
    [matTooltipDisabled]="disabledStart$ | async"
    class="container">
    <button
      mat-stroked-button
      type="button"
      (click)="startLab()"
      class="primary"
      [class.g-button-small]="size() === 'small'"
      [disabled]="disabledStart$ | async">
      <mat-icon>play_arrow</mat-icon>
      <span>{{ 'start_lab' | translate }}</span>
    </button>
  </span>
}
