.gencovery-logo{
  height: 100%;
  margin: 0;
}

.gencovery-logo-small{
  height: 80%;
  margin: 0;
}

.main{
  min-height: 100%;
}

.gencovery-hub-logo img{
  height: 100%;
}

.nav-bar-links{
  background-color: var(--card-background);
  margin: 0 auto;
  padding: 0 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.bt-register{
  margin-right: 0.5em !important;
}

.nav-bar{
  display: flex;
  height: 56px;
  padding: 16px 100px 0 100px;
  background-color: transparent;
  margin-bottom: 8px;
  justify-content: space-between;
}

.option{
  font-weight: normal;
  width: auto; //9rem;
  margin: auto 3rem;
  text-align: center;
}

.option-icon{
  width: 30px;
  margin-top: 7.5px;
}

.brick-icon{
  margin-top: 5px;
}

.body{
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--navbar-height));
}

.router{
  flex: 1 0 auto;
}

.doc-menu-bt{
  cursor: pointer;
}

.span-initials{
  min-width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.doc-menu-item{
  width: calc(240px - 32px);
  text-align: center;
}

.doc-nav-div{
  display: flex;
  height: 100%;
  padding-bottom: 8px;
  width: 240px;
  align-items: center;
  justify-content: center;
}

.doc-nav-div h5{
  margin: auto;
}

.round{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid grey;
  margin-right: 1em;
  display: inline-block;
}

.round-light{
  background-color: white;
}

.round-dark{
  background-color: #424242;
}

@media (max-width: 1160px) {
  .nav-bar{
    padding: 16px 50px 0 50px;
  }

  .span-initials{
    min-width: 0;
    margin-right: 15px;
  }

  .option{
    margin: auto 1.5rem;
  }
}

@media (max-width: 900px) {
  .nav-bar{
    padding: 16px 8px 0 8px;
  }

  .nav-bar-links{
    padding: 0;
  }

  .option{
    margin: auto 1rem;
  }

  .span-initials{
    margin-right: 0;
  }
}


@media (max-width: 590px) {
  .doc-nav-div{
    width: fit-content;
  }

  .option{
    margin: auto 0.5em;
  }
}
