<div class="main" [ngClass]="isHome() ? 'g-dashboard-background' : ''">
  <mat-toolbar class="nav-bar">
    <a routerLink="/" class="gencovery-hub-logo gencovery-logo" fxHide.lt-lg>
      <img alt="" [src]="getCommunityLogo()"/>
    </a>
    <a routerLink="/" class="gencovery-hub-logo gencovery-logo-small" fxHide.gt-md>
      <img alt="" src="assets/fl-logo/community_logo.svg"/>
    </a>

    <div class="nav-bar-links" *ngIf="currentUrlSegment.length > 0">
      <h5 class="option" fxHide.lt-sm><a [routerLink]="getStoryListRoute()" >{{'stories' | translate}}</a></h5>
      <a class="option" [routerLink]="getStoryListRoute()" fxHide.gt-xs>
        <img class="option-icon" src="assets/fl-logo/stories-logo.svg"/>
      </a>
      <div [matMenuTriggerFor]="docMenu" class="doc-nav-div">
        <img class="option doc-menu-bt option-icon" src="assets/fl-logo/doc_logo.svg"  fxHide.gt-xs/>
        <h5 class="option doc-menu-bt" fxHide.lt-sm>{{'documentation' | translate}}</h5>
      </div>
      <h5 class="option" fxHide.lt-sm><a [routerLink]="getBrickListRoute()">{{'bricks' | translate}}</a></h5>
      <a class="option"  fxHide.gt-xs [routerLink]="getBrickListRoute()">
        <img class="option-icon brick-icon" src="assets/fl-logo/bricks_logo.svg"/>
      </a>

      <mat-menu #docMenu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="getProductDocRoute()" class="doc-menu-item">{{'product_doc'| translate}}</a>
        <a mat-menu-item [routerLink]="getTechDocRoute()" class="doc-menu-item">{{'tech_doc'| translate}}</a>
      </mat-menu>
    </div>

    <div class="spacer" *ngIf="currentUrlSegment.length === 0">

    </div>


    <span class="span-initials">
      <button mat-icon-button [style.color]="'white'"
              (click)="selectTheme(theme.LIGHT_THEME)" *ngIf="isDarkTheme" class="theme-button">
        <mat-icon>light_mode</mat-icon>
      </button>
      <button mat-icon-button [style.color]="'black'"
              (click)="selectTheme(theme.DARK_THEME)" *ngIf="!isDarkTheme" class="theme-button">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <ng-container *ngIf="(userConnected$ | async) == null">
      <a [routerLink]="loginRoute" mat-flat-button fxHide.lt-md>
        {{'login' | translate}}
      </a>
      <a [routerLink]="loginRoute" mat-icon-button fxHide.gt-sm>
        <mat-icon>
          login
        </mat-icon>
      </a>
      </ng-container>
      <fl-user-profile-picture [user]="user" [matMenuTriggerFor]="userMenu" *ngIf="userConnected$ | async as user"
                               [border]="true">
      </fl-user-profile-picture>
    </span>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/admin'" *haIsAdmin>{{'admin_dashboard' | translate}}</button>
<!--      <button mat-menu-item (click)="selectLanguage(currentLanguage === lang.en ? lang.fr : lang.en)">-->
<!--        {{ currentLanguage === lang.en ? ('switch_fr' | translate) : ('switch_en' | translate)}}-->
<!--      </button>-->
      <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
    </mat-menu>
  </mat-toolbar>

  <div class="body g-scrollable-element" cdkScrollable>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

