<div class="main g-dashboard-background">
  <mat-toolbar class="nav-bar">
    <a routerLink="/" class="gencovery-hub-logo gencovery-logo" fxHide.lt-lg>
      <img alt="" src="assets/fl-logo/community-logo-text-white.svg"/>
    </a>

    <div class="nav-bar-links" *ngIf="currentUrlSegment.length > 0">
      <h5 class="option"><a [routerLink]="getStoryListRoute()">{{'stories' | translate}}</a></h5>
      <div [matMenuTriggerFor]="docMenu" class="doc-nav-div">
        <h5 class="option doc-menu-bt">{{'documentation' | translate}}</h5>
      </div>
      <h5 class="option"><a [routerLink]="getBrickListRoute()">{{'bricks' | translate}}</a></h5>

      <mat-menu #docMenu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="getProductDocRoute()" class="doc-menu-item">{{'product_doc'| translate}}</a>
        <a mat-menu-item [routerLink]="getTechDocRoute()" class="doc-menu-item">{{'tech_doc'| translate}}</a>
      </mat-menu>
    </div>

    <div class="spacer" *ngIf="currentUrlSegment.length === 0">

    </div>


    <span class="span-initials">
      <ng-container *ngIf="(userConnected$ | async) == null">
      <a [routerLink]="loginRoute" mat-flat-button
         class="g-centered-forced">
        {{'login' | translate}}
      </a>
      </ng-container>
      <fl-user-profile-picture [user]="user" [matMenuTriggerFor]="userMenu" *ngIf="userConnected$ | async as user"
                               [border]="true">
      </fl-user-profile-picture>
    </span>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/admin'">{{'admin_dashboard' | translate}}</button>
      <button mat-menu-item (click)="logout()">{{'logout' |translate}}</button>
    </mat-menu>
  </mat-toolbar>

  <div class="body g-scrollable-element" cdkScrollable>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

