<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-report-search-form></lab-report-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header>


    <fl-text-icon>
      <mat-icon flIcon="report"></mat-icon>
      <h2>{{ 'biox.reports' | translate }}</h2>
    </fl-text-icon>


    <fl-search-header-actions class="g-layout-row g-layout-start-center">
      <button mat-icon-button type="button" color="accent"
              [matTooltip]="'biox.create_report' | translate" matTooltipPosition="before"
              (click)="openCreateReportFormDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-stroked-button type="button" class="g-button-small report-template"
              (click)="openDocumentTemplatesSearch()">
        {{ 'biox.document_templates' | translate }}
      </button>
    </fl-search-header-actions>
  </fl-search-header>


  <fl-search-result>
    <lab-report-table [datasource]="datasource"
                      [rowSelectable]="reportSelectable" (reportSelected)="selectReport($event)"></lab-report-table>
  </fl-search-result>

</fl-search>
