<div class="live-task-page-div">

  @if(!isLoading() && !notFound() && liveTask()){
    <div class="left-panel">
      <mat-icon class="button-close-left-panel" haSidenavButton></mat-icon>
      <a [routerLink]="liveTaskListRoute" class="back-link">
        <fl-text-icon [iconPosition]="'start'">
          <mat-icon>arrow_back</mat-icon>
          {{'back_to_live_tasks_list' | translate}}
        </fl-text-icon>
      </a>
      <ha-live-task-versions-panel></ha-live-task-versions-panel>
    </div>
  }


  <div class="main-panel main-lt-panel">
    @if (liveTask() && !isLoading() && !notFound()) {
      <router-outlet></router-outlet>
    } @else if (notFound() && !isLoading()) {
      <ha-ha404></ha-ha404>
    } @else {
      <div class="g-flex">
        <fl-loader></fl-loader>
      </div>
    }
  </div>


  <div class="right-panel" *ngIf="liveTask() && !isLoading() && !notFound()">
    <div class="lt-user-div">
      <h5 class="lt-user-title">
        <span>{{ 'authors' | translate }}</span>
        @if (isAuthor()) {
          <button mat-icon-button (click)="openLtCoAuthorsDialog()" [matTooltip]="'open_coauthor_panel' | translate">
            <mat-icon>group_add</mat-icon>
          </button>
        }
      </h5>
      @if(liveTask() && liveTask().createdBy){
        <div class="lt-user-line">
          <a [routerLink]="profileRoute + liveTask().createdBy.id">
            <fl-user-inline [user]="liveTask().createdBy" [portalOnHover]="false"></fl-user-inline>
          </a>
          <mat-icon>workspace_premium</mat-icon>
        </div>
      }
      @for (ltCoAuthor of ltCoAuthors(); track ltCoAuthor.id) {
        <div class="lt-user-line">
          <a [routerLink]="profileRoute + ltCoAuthor.id">
            <fl-user-inline [user]="ltCoAuthor" [portalOnHover]="false"></fl-user-inline>
          </a>
        </div>
      }
    </div>
  </div>
</div>
