.back-link{
  display: block;
  width: fit-content;
  margin-bottom: 1.5em;
}

.live-task-page-div{
  margin-top: 19px;
}

.lt-user-div {
  .lt-user-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .lt-user-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    gap: 0.25em;
  }
}
