@if (user$ | async; as user) {
  <div class="profile">
    <div class="profile-left-side-div">
      <div class="head-infos">
        <div class="base-infos">
          <div class="profile-pic">
            <fl-user-profile-picture [user]="user" [size]="12"></fl-user-profile-picture>
          </div>
          <h1 class="alias">{{ user.alias }}</h1>
          <p>#{{ user.userCode }}</p>
          @if (isCurrentUser$ | async) {
            <button mat-stroked-button (click)="openEditProfileDialog(user)">
              {{ 'edit_profile' | translate }}
            </button>
          }
        </div>
        <div class="links-div">
          @if (user.xLink) {
            <ha-profile-attached-link [linkType]="'x'" [attachedLink]="user.xLink"></ha-profile-attached-link>
          }
          @if (user.linkedinLink) {
            <ha-profile-attached-link
              [linkType]="'linkedin'"
              [attachedLink]="user.linkedinLink"></ha-profile-attached-link>
          }
          @if (user.githubLink) {
            <ha-profile-attached-link
              [linkType]="'github'"
              [attachedLink]="user.githubLink"></ha-profile-attached-link>
          }
        </div>
      </div>

      <div class="other-infos">
        <article>
          <p>{{ 'interests' | translate }} :</p>
          <p class="small-text">
            {{ user.interests ?? ('no_interests_yet' | translate) }}
          </p>
        </article>

        @if (isCurrentUser$ | async) {
          <div>
            <fl-key-value class="wallet-key-val">
              <fl-key>{{ 'wallet' | translate }}</fl-key>
              <fl-text-icon iconPosition="end" gap="0.2em">
                0.00
                <mat-icon class="g-icon-small">euro_symbol</mat-icon>
              </fl-text-icon>
            </fl-key-value>
            <div class="g-text-small">
              {{ 'learn_more_about' | translate }}
              <a [href]="foaLink" target="_blank" rel="noopener noreferrer" class="foa-a">{{
                  'foa' | translate
              }}</a>
            </div>
          </div>
        }

        @if (commonSpace$ | async; as commonSpace) {
          @if (commonSpace.length > 0) {
            <div>
              <p>{{ 'common_spaces' | translate }} :</p>
              @for (space of commonSpace; track space.id) {
                <div class="common-space-div">
                  <co-visibility-badge [space]="space"></co-visibility-badge>
                </div>
              }
            </div>
          }
        }

        @if (userRunStatAggregate$ | async; as userRunStatAggregate) {
          <div>
            <p>{{ 'stats' | translate }} :</p>
            <ha-run-stat-aggregate-panel
              [runStatAggregate]="userRunStatAggregate"
              [showElapseTime]="false"
              justifyContent="start"></ha-run-stat-aggregate-panel>
          </div>
        }
      </div>
    </div>
    <div class="profile-right-side-div">
      <mat-tab-group animationDuration="0">
        @if (stories$ && stories$.page) {
          <mat-tab>
            <ng-template matTabLabel>
              <mat-icon>description</mat-icon>
              {{ 'stories' | translate }} - <span>{{ stories$.page.totalElements }}</span>
            </ng-template>
            <fl-infinite-scroll
              [datasource]="stories$"
              infiniteMode="auto"
              class="list g-scrollable-element"
              cdkScrollable
              [textNoMoreResult]="''"
              [textNoResult]="'no_story_yet' | translate">
              @for (story of stories$ | flDatasourceConnect | async; track story) {
                <a class="list-element" [routerLink]="story | haDetailRoute">
                  <co-story-list-item
                    [story]="story"
                    [imageLink]="getStoryImageLink(story.id, story?.mainPicture)"></co-story-list-item>
                </a>
              }
            </fl-infinite-scroll>
          </mat-tab>
          @if (agents$ && agents$.page) {
            <mat-tab>
              <ng-template matTabLabel>
                <mat-icon svgIcon="agent" class="svg-icon"></mat-icon>
                {{ 'agents' | translate }} - <span>{{ agents$.page.totalElements }}</span>
              </ng-template>
              <fl-infinite-scroll
                [datasource]="agents$"
                infiniteMode="auto"
                class="list g-scrollable-element"
                cdkScrollable
                [textNoMoreResult]="''"
                [textNoResult]="'no_agent_yet' | translate">
                @for (agent of agents$ | flDatasourceConnect | async; track agent) {
                  <a class="list-element" [routerLink]="agent | haDetailRoute">
                    <co-agent-list-item [agent]="agent"></co-agent-list-item>
                  </a>
                }
              </fl-infinite-scroll>
            </mat-tab>
          }
          @if (bricks$ && bricks$.page) {
            <mat-tab>
              <ng-template matTabLabel>
                <mat-icon svgIcon="brick" class="svg-icon"></mat-icon>
                {{ 'bricks' | translate }} - <span>{{ bricks$.page.totalElements }}</span>
              </ng-template>
              <fl-infinite-scroll
                [datasource]="bricks$"
                infiniteMode="auto"
                class="list g-scrollable-element"
                cdkScrollable
                [textNoMoreResult]="''"
                [textNoResult]="'no_brick_yet' | translate">
                @for (brick of bricks$ | flDatasourceConnect | async; track brick) {
                  <a class="list-element" [routerLink]="brick | haDetailRoute">
                    <co-brick-list-item
                      [brick]="brick"
                      [brickImage]="brick.imageLink | haBrickImage"></co-brick-list-item>
                  </a>
                }
              </fl-infinite-scroll>
            </mat-tab>
          }
        }
      </mat-tab-group>
    </div>
  </div>
}
