<div class="g-layout-row-wrap g-layout-start-center g-text-light">

  <!-- Button to toggle project tree  -->
  <button mat-icon-button type="button" *ngIf="showTreeButton$ | async; else noButton"
          (click)="toggleTree()" class="toggle-button">
    <mat-icon>account_tree</mat-icon>
  </button>

  <ng-template #noButton>
    <div class="fake-button-height"></div>
  </ng-template>

  <ng-container *ngFor="let link of links$ | async; let last = last">
    <a [routerLink]="link.url"
       [queryParams]="{} | caProjectObjectQueryParams | async"
       class="g-text-link text">
      {{link.title}}
    </a>

    <span class="separator" *ngIf="!last">></span>
  </ng-container>
</div>

