<div class="stats-div" [style.justify-content]="justifyContent()">
  <div class="stat g-text-small" [matTooltip]="executionCountTooltip() | translate">
    <fl-text-icon gap="5px">
      <mat-icon class="g-icon-small">play_circle</mat-icon>
      {{ runStatAggregate().executionCount }} {{ 'times' | translate }}
    </fl-text-icon>
  </div>

  <div class="stat g-text-small" [matTooltip]="successRateTooltip() | translate">
    <fl-text-icon gap="5px">
      <mat-icon class="g-icon-small">task_alt</mat-icon>
      {{ successRate() | number: '1.0-2' }} %
    </fl-text-icon>
  </div>

  @if (showElapseTime()) {
    <div class="stat g-text-small" [matTooltip]="averageElapseTimeTooltip() | translate">
      <fl-text-icon gap="5px">
        <mat-icon class="g-icon-small">timer</mat-icon>
        {{ runStatAggregate().averageElapseTime | flDuration }}
      </fl-text-icon>
    </div>
  }
</div>
