<fl-dialog-header>
  {{ 'lab_update_lab_manager' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="update-lab-manager">
    <div class="help-text">
      <fl-key-value>
        <fl-key>{{ 'lab_manager_version' | translate }}</fl-key>
        {{ input.labManagerCurrentVersion }}
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{ 'lab_manager_recommended_version' | translate }}</fl-key>
        {{ input.labManagerRecommendedVersion }}
      </fl-key-value>
    </div>

    <!--  Lab manager version  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'lab_manager_version' | translate }}</mat-label>
      <input matInput [formControl]="formCtrl" required [placeholder]="'lab_manager_version' | translate" />
      @if (formCtrl.hasError('required')) {
        <mat-error>
          {{ 'lab_manager_version' | flErrorRequired }}
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="update-lab-manager" class="g-centered-forced primary">
    {{ 'save' | translate }}
  </button>
</div>
