<!--<div class="g-page-fixed page" fxLayout="column">-->
<!--  <fl-async-section fxFlex [object]="resource$" class="section">-->

<!--    <fl-section-header>-->
<!--      <div class="page-padding" fxLayout="row" fxLayoutAlign="start center">-->
<!--        <h2 class="header-title" [matTooltip]="title">-->
<!--          {{title}}-->
<!--        </h2>-->
<!--        <button mat-stroked-button type="button"-->
<!--                (click)="openViewSpecs()" #viewSpecButton  class="button">-->
<!--          {{'biox.view_specs' | translate}}-->
<!--        </button>-->

<!--        <button mat-stroked-button type="button"-->
<!--                (click)="openTagFormDialog()" class="button">-->
<!--          {{'tags' | translate}}-->
<!--        </button>-->
<!--      </div>-->
<!--    </fl-section-header>-->


<!--    <ng-container *flSectionBody="let resource">-->

<!--      &lt;!&ndash;  Header    &ndash;&gt;-->
<!--      <div class="page-padding body">-->
<!--        <gen-biox-resource-view *ngIf="fullScreenView" [view]="fullScreenView" [fullscreen]="true"></gen-biox-resource-view>-->
<!--        <div *ngIf="showLoader" class="g-text-centered">-->
<!--          <fl-loader size="medium"></fl-loader>-->
<!--        </div>-->
<!--        <fl-error-text *ngIf="errorText" [errorMessage]="errorText"></fl-error-text>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--  </fl-async-section>-->

<!--</div>-->


<gen-flow-test class="test"></gen-flow-test>
