@if (agent()) {
  <div class="agent-page-content">
    <div>
      <div class="agent-page-title g-layout-row g-layout-between-center">
        <h2>{{ 'description_of_the_agent' | translate }}</h2>
        @if (canEdit() && agentDescriptionFormControl()) {
          @if (agentDescriptionFormControl().disabled) {
            <button mat-flat-button (click)="editDescription()">{{ 'edit_description' | translate }}</button>
          } @else {
            <button mat-flat-button (click)="saveDescription()">
              @if (onAgentDescriptionLoading) {
                <fl-loader></fl-loader>
              } @else {
                {{ 'save' | translate }}
              }
            </button>
          }
        }
      </div>
      <article>
        <te-text-editor
          class="community-text-editor"
          [config]="textEditorConfig()"
          [formControl]="agentDescriptionFormControl()"></te-text-editor>
      </article>
    </div>

    <div class="entity-page-separator"></div>
    @if (agent().latestPublishVersion) {
      <ha-agent-version-detail [isOverview]="true"></ha-agent-version-detail>
    } @else {
      <p class="not-published-message">{{ 'no_agent_version_published_yet' | translate }}</p>
    }
  </div>
} @else {
  <div class="g-layout-row g-layout-center-center">
    <fl-loader></fl-loader>
  </div>
}
