<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>people</mat-icon>
      <h2>{{'lab_users' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions *ngIf="isOwner$ | async">
      <button mat-icon-button type="button" (click)="openAddUserDialog()"
              [matTooltip]="'lab_user_create' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [arrayObs]="datasource">

      <ng-container *flSectionBody>
        <ca-lab-instance-users-table [datasource]="datasource" [columns]="columns$ | async"
                                     [labInstanceId]="labInstanceId">
        </ca-lab-instance-users-table>
      </ng-container>

    </fl-async-section>
  </fl-card-body>
</fl-card>
