<div class="view-spec g-layout-row g-layout-start-center" matRipple>

  <div class="view-image-container">
    <rv-view-type-image [viewType]="viewType" size="2em" class="view-image" [viewTypesInfos]="labConstResourceViewTypeInfos"></rv-view-type-image>
  </div>

  <div>
    <div>{{name}}</div>
    <p *ngIf="shortDescription" class="text g-text-tiny g-text-light">{{shortDescription}}</p>
    <fl-user-with-date [user]="user" [date]="creationDate" *ngIf="user && creationDate"></fl-user-with-date>
  </div>
</div>
