.view-spec {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: var(--card-radius);
  background-color: var(--main-background);
  height: 100%;
}

.view-image-container {
  margin-left: 0.5em;
  margin-right: 1em;
}

.view-image{
  display: flex;
}

.text {
  min-height: 2em;
  margin-top: 3px;
}
