<fl-dialog-header>
  {{'configure_project_storage' | translate}}
</fl-dialog-header>

<mat-dialog-content>

  <p class="help-text">
    {{'configure_project_storage_help' | translate}}
  </p>
  <form (ngSubmit)="submit()" id="cloud-provider-form" [formGroup]="formGp">


    <!--  main storage  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'project_main_storage_location' | translate}}</mat-label>
      <mat-select formControlName="mainStorage" required [placeholder]="'project_main_storage_location' | translate">
        <ca-bucket-location-select-options></ca-bucket-location-select-options>
      </mat-select>
      <mat-error *ngIf="formGp.get('mainStorage').hasError('required')">
        {{'project_main_storage_location' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  backup storage  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'project_backup_storage_location' | translate}}</mat-label>
      <mat-select formControlName="backupStorage" [placeholder]="'project_backup_storage_location' | translate">
        <ca-bucket-location-select-options></ca-bucket-location-select-options>
      </mat-select>
      <mat-error *ngIf="formGp.get('backupStorage').hasError('required')">
        {{'project_backup_storage_location' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="formGp.hasError('sameBackupStorage')">
      {{'project_storage_location_same_error' | translate}}
    </mat-error>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="cloud-provider-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
