<header
  class="header"
  [ngClass]="[isHomePage() ? 'main-header' : '', fullHeight() ? 'header-full-height' : '']">
  <nav class="nav-bar">
    <a class="nav-bar-icon-div" [routerLink]="homeRoute" [attr.aria-label]="'go_to_homepage' | translate">
      <img
        ngSrc="assets/images/community_logo_with_text.webp"
        fill
        class="logo-with-text"
        alt="Constellab Community logo" />
      <img ngSrc="assets/fl-logo/community_logo.svg" fill class="logo" alt="Constellab Community logo" />
    </a>

    <div
      class="search-div"
      (click)="openInstantSearchDialog()"
      [matTooltip]="'header_search_tooltip' | translate"
      [attr.aria-label]="'open_search' | translate"
      role="button"
      tabindex="0">
      {{ 'search' | translate }}
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <div class="nav-bar-links-div">
      <a [routerLink]="storyListRoute" [attr.aria-label]="'go_to_stories' | translate">{{
        'stories' | translate
      }}</a>
      <a [routerLink]="appsListRoute" [attr.aria-label]="'go_to_apps' | translate">{{
        'apps' | translate
      }}</a>
      <a [routerLink]="agentListRoute" [attr.aria-label]="'go_to_agents' | translate">{{
        'agents' | translate
      }}</a>
      <a [routerLink]="brickListRoute" [attr.aria-label]="'go_to_bricks' | translate">{{
        'bricks' | translate
      }}</a>
      <a [routerLink]="partnerListRoute" [attr.aria-label]="'go_to_partners' | translate">{{
        'partners' | translate
      }}</a>
      <a
        [href]="constellabRoute"
        target="_blank"
        rel="noopener noreferrer"
        [attr.aria-label]="'go_to_constellab_external' | translate"
        >Space</a
      >
      <span
        [matMenuTriggerFor]="documentationMenu"
        [matTooltip]="'open_menu' | translate"
        [attr.aria-label]="'open_menu' | translate"
        role="button"
        tabindex="0"
        ><mat-icon>menu</mat-icon></span
      >
    </div>

    <div class="nav-bar-action-div">
      <div class="nav-bar-login-signup-div">
        @if (currentUser()) {
          <button
            mat-raised-button
            class="logged-in-user-button g-button-shadow-border"
            [matMenuTriggerFor]="loggedInMenu"
            [attr.aria-label]="'open_user_menu' | translate">
            <div class="logged-in-user-button-content g-weight-600">
              <fl-user-profile-picture [user]="currentUser()" [size]="2.125"></fl-user-profile-picture>
              {{ currentUser()?.alias }}
            </div>
          </button>
        } @else {
          <a
            [routerLink]="loginRoute"
            mat-button
            class="g-button-shadow-border"
            [attr.aria-label]="'go_to_login' | translate">
            {{ 'login' | translate }}
          </a>

          <a mat-flat-button [href]="signupUrl" [attr.aria-label]="'go_to_signup' | translate">
            {{ 'sign_up' | translate }}
          </a>
        }
      </div>

      <div class="menu-button">
        <button
          type="button"
          mat-raised-button
          [matMenuTriggerFor]="smallScreenMenu"
          [attr.aria-label]="'open_mobile_menu' | translate">
          Menu
        </button>
      </div>
    </div>
  </nav>
  <div class="header-content-div">
    <ng-content></ng-content>
  </div>
</header>

<mat-menu #documentationMenu="matMenu">
  <a mat-menu-item [routerLink]="productDocRoute" [attr.aria-label]="'go_to_product_doc' | translate">
    <mat-icon>menu_book</mat-icon>
    <span>{{ 'product_doc' | translate }}</span>
  </a>
  <a mat-menu-item [routerLink]="techDocRoute" [attr.aria-label]="'go_to_tech_doc' | translate">
    <mat-icon>integration_instructions</mat-icon>
    <span>{{ 'tech_doc' | translate }}</span>
  </a>
  <a mat-menu-item [routerLink]="iconsPageRoute" [attr.aria-label]="'go_to_icons_page' | translate">
    <mat-icon>face</mat-icon>
    <span>{{ 'icons' | translate }}</span>
  </a>
  <a mat-menu-item [routerLink]="tagsListRoute" [attr.aria-label]="'go_to_tags_list' | translate">
    <mat-icon flIcon="tag"></mat-icon>
    <span>{{ 'tags' | translate }}</span>
  </a>
  <button
    mat-menu-item
    [matMenuTriggerFor]="languageMenu"
    class="doc-menu-language-button"
    [attr.aria-label]="'change_language' | translate">
    <mat-icon>language</mat-icon>
    {{ currentLanguage() === 'en' ? 'EN' : 'FR' }}
  </button>
</mat-menu>

<mat-menu #loggedInMenu>
  @if (currentUser(); as user) {
    <a
      mat-menu-item
      [routerLink]="profileRoute + '/' + user.id"
      [attr.aria-label]="'go_to_profile' | translate">
      <mat-icon>person</mat-icon>
      {{ 'profile' | translate }}
    </a>
  }
  <a
    mat-menu-item
    [routerLink]="adminRoute"
    *haIsAdmin
    [attr.aria-label]="'go_to_admin_dashboard' | translate">
    <mat-icon>admin_panel_settings</mat-icon>
    {{ 'admin_dashboard' | translate }}
  </a>
  <a mat-menu-item [routerLink]="aiIntegrationRoute" [attr.aria-label]="'go_to_ai_integration' | translate">
    <mat-icon>smart_toy</mat-icon>
    {{ 'ai_integration.menu' | translate }}
  </a>
  <button mat-menu-item (click)="logout()" [attr.aria-label]="'logout_action' | translate">
    <mat-icon>logout</mat-icon>
    {{ 'logout' | translate }}
  </button>
</mat-menu>

<mat-menu #smallScreenMenu>
  <button mat-menu-item (click)="openInstantSearchDialog()" [attr.aria-label]="'open_search' | translate">
    <mat-icon class="search-icon">search</mat-icon>
    {{ 'search' | translate }}
  </button>
  <mat-divider></mat-divider>
  <a mat-menu-item [routerLink]="storyListRoute" [attr.aria-label]="'go_to_stories' | translate">{{
    'stories' | translate
  }}</a>
  <a mat-menu-item [routerLink]="appsListRoute" [attr.aria-label]="'go_to_apps' | translate">{{
    'apps' | translate
  }}</a>
  <a mat-menu-item [routerLink]="agentListRoute" [attr.aria-label]="'go_to_agents' | translate">{{
    'agents' | translate
  }}</a>
  <a mat-menu-item [routerLink]="brickListRoute" [attr.aria-label]="'go_to_bricks' | translate">{{
    'bricks' | translate
  }}</a>
  <a mat-menu-item [routerLink]="partnerListRoute" [attr.aria-label]="'go_to_partners' | translate">{{
    'partners' | translate
  }}</a>
  <span
    mat-menu-item
    [matMenuTriggerFor]="documentationMenu"
    [attr.aria-label]="'open_documentation_menu' | translate"
    >{{ 'documentation' | translate }}</span
  >
  <a
    mat-menu-item
    [href]="constellabRoute"
    target="_blank"
    rel="noopener noreferrer"
    [attr.aria-label]="'go_to_constellab_external' | translate"
    >Space</a
  >
  <mat-divider></mat-divider>
  @if (currentUser(); as user) {
    <a
      mat-menu-item
      [routerLink]="profileRoute + '/' + user.id"
      [attr.aria-label]="'go_to_profile' | translate">
      {{ 'profile' | translate }}
    </a>
    <a
      mat-menu-item
      [routerLink]="adminRoute"
      *haIsAdmin
      [attr.aria-label]="'go_to_admin_dashboard' | translate">
      {{ 'admin_dashboard' | translate }}
    </a>
    <a mat-menu-item [routerLink]="aiIntegrationRoute" [attr.aria-label]="'go_to_ai_integration' | translate">
      {{ 'ai_integration.menu' | translate }}
    </a>
  } @else {
    <a mat-menu-item [routerLink]="loginRoute" [attr.aria-label]="'go_to_login' | translate">
      {{ 'login' | translate }}
    </a>
    <a mat-menu-item [href]="signupUrl" [attr.aria-label]="'go_to_signup' | translate">
      {{ 'sign_up' | translate }}
    </a>
  }
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu" [attr.aria-label]="'change_language' | translate">
    {{ 'language' | translate }}
  </button>
  @if (currentUser()) {
    <button mat-menu-item (click)="logout()" [attr.aria-label]="'logout_action' | translate">
      {{ 'logout' | translate }}
    </button>
  }
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button
    mat-menu-item
    (click)="setLanguage(ClSupportedLanguage.en)"
    [attr.aria-label]="'switch_to_english' | translate">
    {{ 'english' | translate }}
  </button>
  <button
    mat-menu-item
    (click)="setLanguage(ClSupportedLanguage.fr)"
    [attr.aria-label]="'switch_to_french' | translate">
    {{ 'french' | translate }}
  </button>
</mat-menu>
