<div class="g-layout-row g-layout-center-center g-layout-gap-1em"
     contenteditable="false">

  <!-- Fake button to center the formula -->
  <div *ngIf="(disabled$ | async) === false" class="fake-button"></div>

  <ng-template #viewContainer></ng-template>

  <div>
    <button *ngIf="(disabled$ | async) === false" mat-icon-button type="button"
            class="g-button-icon-small" (click)="updateFormula()"
            [matTooltip]="'edit_formula' | translate">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div class="g-text-centered" contenteditable="false">
  <ca-text-editor-title-caption [(title)]="formulaTitle" [(caption)]="caption"
                                [editable]="(disabled$ | async) === false"></ca-text-editor-title-caption>
</div>
