@use '@angular/material' as mat;

@use './ha-base-theme.scss' as base;

@include base.define_theme();

html {
  --card-background: #fafafa;

  --border-color: rgba(7, 37, 39, 0.04);

  --box-shadow-color: rgba(7, 37, 39, 0.3);

  --content-max-width: 1200px;

  --basic-footer-height: 124px;

  @include mat.theme-overrides(
    (
      surface: #ffffff,
      outline: rgba(79, 103, 105, 0.15),
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: transparent,
      container-elevation-shadow: none,
      header-hover-state-layer-color: none,
      header-collapsed-state-height: 72px,
      header-expanded-state-height: 72px,
    )
  );

  @include mat.button-overrides(
    (
      filled-hover-state-layer-opacity: 0,
      outlined-hover-state-layer-opacity: 0,
      protected-hover-container-elevation-shadow: none,
      protected-hover-state-layer-opacity: 0,
      tonal-hover-state-layer-opacity: 0,
    )
  );

  .mat-mdc-unelevated-button {
    background:
      linear-gradient(180deg, rgba(3, 16, 17, 0) 0%, rgba(3, 16, 17, 0.14) 100%),
      linear-gradient(0deg, #105156 0%, #105156 100%) !important;

    &::before {
      background-color: var(--color-foreground) !important;
    }

    &:hover {
      box-shadow: 0 6.379px 9.568px 0 rgba(0, 0, 0, 0.3) inset !important;
    }

    &:hover::before {
      background: linear-gradient(180deg, transparent 0%, #0f4e52 100%) !important;
    }
  }

  .mat-mdc-raised-button {
    background: linear-gradient(180deg, rgba(3, 16, 17, 0) 0%, rgba(3, 16, 17, 0.08) 100%), #fff !important;
    box-shadow: none !important;
    color: var(--color-foreground) !important;

    &::before {
      background-color: white !important;
    }

    &:hover {
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.08) inset !important;
    }

    &:hover::before {
      background: linear-gradient(180deg, transparent 0%, #fff 100%) !important;
    }
  }

  .mat-mdc-button,
  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-outlined-button {
    padding: 6px 20px 8px 20px !important;
    gap: 6.869px !important;
    border-radius: 8586px !important;
    text-transform: none !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 20.608px !important;
    letter-spacing: -0.28px !important;
    position: relative !important;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 0;
      bottom: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 8586px;
      transition: 0.2s;
    }

    .mdc-button__label {
      position: relative;
      z-index: 1;
    }
  }

  .mat-mdc-button-disabled {
    color: grey !important;
  }

  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.28px;

  .g-big-title {
    font-size: 64px;
    letter-spacing: -3.2px;
  }

  h1 {
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -2.7px;

    @media only screen and (max-width: 992px) {
      font-size: 38px !important;
      letter-spacing: -1.9px !important;
    }
  }

  .g-medium-title {
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -2.4px;
  }

  h2 {
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -1.9px;

    @media only screen and (max-width: 992px) {
      font-size: 32px !important;
      letter-spacing: -1.6px !important;
      line-height: 110% !important;
    }
  }

  h3 {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1.6px;
  }

  .g-small-title {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  p {
    color: var(--light-color);
  }

  .g-weight-600 {
    font-weight: 600;
  }

  .g-large-text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.36px;

    @media only screen and (max-width: 992px) {
      font-size: 16px !important;
      letter-spacing: -0.32px !important;
    }
  }

  .g-text-medium {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.32px;
  }

  .g-text-regular {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.28px;
  }

  .g-text-small {
    font-size: 12px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.36px;
  }
}
