@use 'sass:map';
@use '@angular/material' as mat;

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
      $palette,
      (
        error: (
          0: #6A003C,
          5: #790F4B,
          10: #881D5A,
          15: #972C68,
          20: #A63B77,
          30: #C35895,
          40: #E176B2,
          50: #FF93D0,
          60: #FFA9D9,
          70: #FFBEE3,
          80: #FFD4EC,
          85: #FFDFF1,
          90: #FFE9F6,
          95: #FFF4FA,
          100: #FFF,
        ),
      )
  );
}

$primary-palette: _patch-error-palette(
    (
      0: #000000,
      5: #041210,
      10: #07241F,
      15: #0B362F,
      20: #0E483E,
      30: #166C5E,
      40: #1D907D,
      50: #25B49C,
      60: #50C3B0,
      70: #7CD2C4,
      80: #A7E1D7,
      85: #BDE9E1,
      90: #D3F0EB,
      95: #E9F8F5,
      100: #FFFFFF,
      secondary: (
        0: #000000,
        5: #041210,
        10: #07241F,
        15: #0B362F,
        20: #0E483E,
        30: #166C5E,
        40: #1D907D,
        50: #24B49C,
        60: #50C3B0,
        70: #7CD2C4,
        80: #A7E1D7,
        85: #BDE9E1,
        90: #D3F0EB,
        95: #E9F8F5,
        100: #FFFFFF,
      ),
      neutral: (
        0: #000000,
        10: #021f21,
        20: #193537,
        25: #244042,
        30: #304b4d,
        35: #3c5759,
        40: #486365,
        50: #607c7e,
        60: #799698,
        70: #93b1b3,
        80: #aeccce,
        90: #cae8ea,
        95: #d8f6f9,
        98: #e8feff,
        99: #f3feff,
        100: #ffffff,
        4: #001112,
        6: #001718,
        12: #052426,
        17: #122e30,
        22: #1d393b,
        24: #223e40,
        87: #c2e0e2,
        92: #d0eef0,
        94: #d5f4f6,
        96: #dbf9fb,
      ),
      neutral-variant: (
        0: #000000,
        10: #021f21,
        20: #193537,
        25: #244042,
        30: #304b4d,
        35: #3c5759,
        40: #486365,
        50: #607c7e,
        60: #799698,
        70: #93b1b3,
        80: #aeccce,
        90: #cae8ea,
        95: #d8f6f9,
        98: #e8feff,
        99: #f3feff,
        100: #ffffff,
      ),
    )
);

$accent-palette: _patch-error-palette(
    (
      0: #291A67,
      5: #392A75,
      10: #483A82,
      15: #584A90,
      20: #675A9D,
      30: #877BB8,
      40: #A69BD3,
      50: #C5BBEE,
      60: #D1C9F1,
      70: #DCD6F5,
      80: #E8E4F8,
      85: #EEEBFA,
      90: #F3F1FC,
      95: #F9F8FD,
      100: #FFF,
      secondary: (
        0: #291A67,
        5: #392A75,
        10: #483A82,
        15: #584A90,
        20: #675A9D,
        30: #877BB8,
        40: #A69BD3,
        50: #C5BBEE,
        60: #D1C9F1,
        70: #DCD6F5,
        80: #E8E4F8,
        85: #EEEBFA,
        90: #F3F1FC,
        95: #F9F8FD,
        100: #FFF,
      )
    )
);

$warn_palette: _patch-error-palette(
    (
      0: #6A003C,
      5: #790F4B,
      10: #881D5A,
      15: #972C68,
      20: #A63B77,
      30: #C35895,
      40: #E176B2,
      50: #FF93D0,
      60: #FFA9D9,
      70: #FFBEE3,
      80: #FFD4EC,
      85: #FFDFF1,
      90: #FFE9F6,
      95: #FFF4FA,
      100: #FFF,
      secondary: (
        0: #6A003C,
        5: #790F4B,
        10: #881D5A,
        15: #972C68,
        20: #A63B77,
        30: #C35895,
        40: #E176B2,
        50: #FF93D0,
        60: #FFA9D9,
        70: #FFBEE3,
        80: #FFD4EC,
        85: #FFDFF1,
        90: #FFE9F6,
        95: #FFF4FA,
        100: #FFF,
      )
    )
);


