<mat-table mat-table [dataSource]="datasource" class="table g-table-base-width-2" flSearchTableSort>
  <!-- Title -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="g-column-width-4">
      <span> {{ 'name' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject" class="g-column-width-4">
      <!--    Invisible link  -->
      @if (!rowSelectable) {
        <a [routerLink]="hierarchyObject | caDetailRoute" class="g-row-link"></a>
      }

      <ca-hierarchy-object-inline [hierarchyObject]="hierarchyObject"></ca-hierarchy-object-inline>

      @if (showTrashIcon && hierarchyObject.isInTrash()) {
        <mat-icon
          class="status-icon g-row-button"
          [matTooltip]="'object_is_in_trash' | translate"
          flIcon="delete"></mat-icon>
      }
    </mat-cell>
  </ng-container>

  <!-- Creation info -->
  <ng-container matColumnDef="lastModifiedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span> {{ 'date' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject">
      <fl-from-now [date]="hierarchyObject.lastModifiedAt"></fl-from-now>
    </mat-cell>
  </ng-container>

  <!-- Leader -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span> {{ 'user' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject">
      <fl-user-inline [user]="hierarchyObject.user"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- Status icons -->
  <ng-container matColumnDef="statusIcons">
    <mat-header-cell *matHeaderCellDef class="g-column-width-1"></mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject" class="g-layout-row g-layout-end-center g-column-width-1">
      @if (hierarchyObject.isValidated) {
        <mat-icon
          class="status-icon g-row-button"
          [matTooltip]="'object_validated' | translate"
          flIcon="validated"></mat-icon>
      }

      @if (hierarchyObject.documentSize) {
        {{ hierarchyObject.documentSize | flByteText }}
      }

      @if (hierarchyObject.chatEnabled) {
        <button
          mat-icon-button
          type="button"
          (click)="openChat(hierarchyObject, $event)"
          [matTooltip]="'show_folder_chat' | translate"
          [caNotificationMark]="hierarchyObject.id"
          caNotificationObjectType="MESSAGE"
          [caNotificationAssociatedObjectIds]="1">
          <mat-icon>comment</mat-icon>
        </button>
      }

      @if (hierarchyObject.hasDescription) {
        <button
          mat-icon-button
          type="button"
          (click)="openDescription(hierarchyObject, $event)"
          [matTooltip]="'show_folder_description' | translate">
          <mat-icon>article</mat-icon>
        </button>
      }
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'tags' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject">
      <fl-tag-list
        class="g-text-tiny"
        [tags]="hierarchyObject.lastTags"
        [showNoTagMessage]="false"></fl-tag-list>
    </mat-cell>
  </ng-container>

  <!-- Parent -->
  <ng-container matColumnDef="parent">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'folder_location' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let hierarchyObject">
      @if (hierarchyObject.parent) {
        <ca-hierarchy-object-inline
          [hierarchyObject]="hierarchyObject.parent"
          [caHierarchyObjectAncestorPortal]="hierarchyObject.parent.id"
          [flMouseEnterDelay]="500"></ca-hierarchy-object-inline>
      }
    </mat-cell>
  </ng-container>

  <!-- Custom action where template is defined by parent -->
  <ng-container matColumnDef="customAction">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"></mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-table-icon-button-cell">
      <ng-container *ngTemplateOutlet="templateRef; context: getViewContent(row)"></ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: columns"
    class="g-table-row-selectable g-row-link-container"
    (flClick)="onClick(row, $event)"
    (flDoubleClick)="onDblClick(row, $event)"
    (contextmenu)="rightClick(row, $event)"
    (mouseup)="mouseUp(row, $event)"
    [ngClass]="{ 'selected-row': row.id === selectedObject?.id }">
  </mat-row>
</mat-table>
