<div class="header">
  <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
    <div class="g-layout-row g-layout-start-end">
      @if (currentSpace$ | async; as currentSpace) {
        <h1>{{ 'welcome_message' | translate: { name: currentSpace.name } }}</h1>
      }
    </div>
    <div class="g-flex-auto">
      <ca-user-list-inline
        *caIsSpaceUser
        [userDatasource]="spaceUsers"
        [disabled]="true"></ca-user-list-inline>
    </div>

    <div class="header-right g-full g-layout-row g-layout-start-center g-layout-gap-1em">
      <a class="link-button" href="mailto:{{ supportMail }}" matRipple>
        <fl-text-icon class="support">
          <mat-icon>help</mat-icon>
          <div>{{ 'support' | translate }}</div>
        </fl-text-icon>
      </a>

      <a
        [href]="communityLink"
        target="_blank"
        class="link-button g-layout-row g-layout-start-center"
        matRipple>
        <img src="assets/fl-logo/community_logo.svg" alt="Community logo" class="community-logo" />
        <span class="community-text">Community</span>
      </a>
    </div>
  </div>
</div>

<div flClass.gt-md="g-layout-row" flClass.lt-lg="g-layout-col" class="container">
  <div class="dashboard-left">
    <div class="main-section">
      <!-- My folder list -->
      <div class="section">
        <ca-dashboard-folders></ca-dashboard-folders>
      </div>

      <!-- apps -->
      <div class="section">
        <ca-dashboard-apps></ca-dashboard-apps>
      </div>

      <!-- labs -->
      <div class="section">
        <ca-dashboard-labs></ca-dashboard-labs>
      </div>

      <!-- My Teams -->
      <div class="section">
        <ca-dashboard-teams></ca-dashboard-teams>
      </div>
    </div>
  </div>

  <div class="dashboard-right">
    <div class="main-right">
      <!-- Constellab Suite  -->
      <div>
        <fl-card>
          <fl-card-header>
            <fl-text-icon class="suite-header">
              <mat-icon class="g-icon-sparkles">auto_awesome</mat-icon>
              <h2>{{ 'constellab_suite' | translate }}</h2>
            </fl-text-icon>
          </fl-card-header>
          <fl-card-body>
            <ca-dashboard-constellab-suite></ca-dashboard-constellab-suite>
          </fl-card-body>
        </fl-card>
      </div>

      <div class="r-section">
        <ca-dashboard-videos></ca-dashboard-videos>
      </div>
    </div>
  </div>
</div>
