:host {
  width: 100%;
}

.card {
  padding: 8px;
  border-radius: 16px;
  width: auto;
  height: fit-content;
}

.inner-card {
  padding: 8px;
  border-radius: 8px;
  width: auto;
  height: fit-content;
}

.card-border {
  border: 2px solid var(--card-background);
}
