<fl-dialog-header>
  {{'add_live_task' | translate}}
</fl-dialog-header>

<co-live-task-create-dialog-form [formGp]="formGp" [spaces$]="spaces$" (submitEvent)="onSubmitEvent($event)">
  <div>
    <div class="spacing-4-v2">{{'live_task_version_file' | translate}}</div>
    <fl-input-file-container color="primary" [placeholder]="'import_live_task_version_file' | translate">
      <input flInputFile type="file" [strictMode]="true" [autoClearHtmlInput]="true" accept="application/json" (fileChange)="onFileSelected($any($event))">
    </fl-input-file-container>
  </div>
</co-live-task-create-dialog-form>

