<div class="g-full">
  <button mat-stroked-button type="button" (click)="selectTransformer()" class="g-button-small add-button">
    <mat-icon>add</mat-icon>
    {{ 'biox.add_transformer' | translate }}
  </button>

  <div class="right-section">
    <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)" class="g-drag-anim-order">
      <ng-container *ngFor="let transformer of selectedTransformers; let index = index; let last = last">
        <mat-expansion-panel
          hideToggle
          cdkDrag
          [expanded]="true"
          class="transform-panel g-drag-hide-placeholder"
          [formGroup]="getFormGroup(index)">
          <mat-expansion-panel-header>
            <!--    Force text color to override disable color    -->
            <div class="g-full g-text-normal-color g-layout-row g-layout-start-center">
              <div class="transform-name g-flex-auto">{{ transformer.transformer.name }}</div>

              <div class="g-text-light" *ngIf="!transformer.hasConfig">
                {{ 'biox.transformer_no_config' | translate }}
              </div>

              <lab-type-show-detail-button [typingName]="transformer.transformer.typingName">
              </lab-type-show-detail-button>

              <button
                mat-icon-button
                type="button"
                class="g-button-icon-small drag-indicator"
                cdkDragHandle
                [matTooltip]="'biox.reorder_transformers' | translate">
                <mat-icon>drag_handle</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                (click)="removeTransformer(index, $event)"
                class="g-button-icon-small">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>

          <lab-configure-specs-form
            *ngIf="transformer.hasConfig; else noConfig"
            [configData]="transformer.configData"
            formGroupName="config"></lab-configure-specs-form>

          <ng-template #noConfig>
            <fl-error-text [errorMessage]="'biox.transformer_no_config' | translate"></fl-error-text>
          </ng-template>
        </mat-expansion-panel>

        <mat-icon class="g-centered-forced" *ngIf="!last">arrow_drop_down</mat-icon>
      </ng-container>
    </mat-accordion>

    <div class="g-text-centered" *ngIf="loadingProcessType">
      <fl-loader size="small"></fl-loader>
    </div>
  </div>
</div>
