<div class="g-full">
  <button mat-stroked-button type="button" (click)="selectTransformer()" class="g-button-small add-button">
    <mat-icon>add</mat-icon>
    {{ 'biox.add_transformer' | translate }}
  </button>

  <div class="right-section">
    <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)" class="g-drag-anim-order">
      @for (transformer of selectedTransformers; track transformer; let index = $index; let last = $last) {
        <mat-expansion-panel
          hideToggle
          cdkDrag
          [expanded]="true"
          class="transform-panel g-drag-hide-placeholder"
          [formGroup]="getFormGroup(index)">
          <mat-expansion-panel-header>
            <!--    Force text color to override disable color    -->
            <div class="g-full g-text-normal-color g-layout-row g-layout-start-center">
              <div class="transform-name g-flex-auto">{{ transformer.transformer.name }}</div>
              @if (!transformer.hasConfig) {
                <div class="g-text-light">
                  {{ 'biox.transformer_no_config' | translate }}
                </div>
              }
              <lab-type-show-detail-button [typingName]="transformer.transformer.typingName">
              </lab-type-show-detail-button>
              <button
                mat-icon-button
                type="button"
                class="g-button-icon-small drag-indicator"
                cdkDragHandle
                [matTooltip]="'biox.reorder_transformers' | translate">
                <mat-icon>drag_handle</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                (click)="removeTransformer(index, $event)"
                class="g-button-icon-small">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          @if (transformer.hasConfig) {
            <lab-configure-specs-form
              [formGp]="getConfigFormGroup(index)"
              [configData]="transformer.configData"
              formGroupName="config"></lab-configure-specs-form>
          } @else {
            <fl-error-text [errorMessage]="'biox.transformer_no_config' | translate"></fl-error-text>
          }
        </mat-expansion-panel>
        @if (!last) {
          <mat-icon class="g-centered-forced">arrow_drop_down</mat-icon>
        }
      }
    </mat-accordion>

    @if (loadingProcessType) {
      <div class="g-text-centered">
        <fl-loader size="small"></fl-loader>
      </div>
    }
  </div>
</div>
