<div fxLayout="column" class="form" [formGroup]="formGp">

  <!--  Main search fields    -->
  <div class="g-full main-fields">
    <!--  Title and description  -->
    <mat-form-field class="g-full">
      <mat-label>{{'name' | translate }}</mat-label>
      <input matInput formControlName="name" [placeholder]="'name' | translate"
             autocomplete="off">
    </mat-form-field>
  </div>

  <!--   Tags    -->
  <lab-tag-dashboard formControlName="tags" (selectionChange)="callSearch()"></lab-tag-dashboard>


  <!--   Advanced search    -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'advanced_search' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center"
         class="g-full g-form-field-compact">

      <!--  Id -->
      <mat-form-field class="g-search-field">
        <mat-label>{{'id' | translate }}</mat-label>
        <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off">
      </mat-form-field>

      <!--  Created by  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{'created_by' | translate }}</mat-label>
        <mat-select formControlName="createdBy" [placeholder]="'created_by' | translate" [multiple]="true">
          <lab-user-select-options></lab-user-select-options>
        </mat-select>
      </mat-form-field>

      <!--  Creation date  -->
      <div class="g-form-field-no-hint g-full">
        <p class="g-text-small subtitle">{{'creation_date' | translate}}</p>
        <fl-search-date-interval formGroupName="createdAt">
        </fl-search-date-interval>
      </div>

      <!-- Last modification date  -->
      <div class="g-form-field-no-hint g-full">
        <p class="g-text-small subtitle">{{'last_modified_date' | translate}}</p>
        <fl-search-date-interval formGroupName="lastModifiedAt">
        </fl-search-date-interval>
      </div>
    </div>
  </mat-expansion-panel>


</div>


