<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">space_dashboard</mat-icon>
      <h2>{{ 'monitoring.streamlit_app' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" (click)="stopApp()"
              class="g-button-small">
        {{ 'monitoring.streamlit_stop_app' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [object]="status$ | async">

      <ng-container *flSectionBody="status$ as status">

        <fl-key-value>
          <fl-key>{{ 'monitoring.streamlit_status' | translate }}</fl-key>
          {{ ('monitoring.streamlit_status_' + status.status) | translate }}
        </fl-key-value>

        <fl-key-value>
          <fl-key>{{ 'monitoring.streamlit_nb_of_connection' | translate }}</fl-key>
          {{ status.nbOfConnections }}
        </fl-key-value>

        <!--   List of the apps     -->
        <p class="g-text-big">{{ 'monitoring.streamlit_running_apps' | translate }}</p>


        <mat-accordion *ngIf="status.runningApps.length > 0 else noApps">
          <mat-expansion-panel *ngFor="let runningApp of status.runningApps; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'monitoring.streamlit_app' | translate }} {{ i + 1 }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <fl-key-value>
              <fl-key>{{ 'monitoring.streamlit_app_url' | translate }}</fl-key>
              <a [href]="runningApp.url" target="_blank" class="g-text-link">{{ runningApp.url }}</a>
            </fl-key-value>

            <fl-key-value>
              <fl-key>{{ 'monitoring.streamlit_app_code_path' | translate }}</fl-key>
              {{ runningApp.streamlitAppCodePath }}
            </fl-key-value>

            <fl-key-value>
              <fl-key>{{ 'monitoring.streamlit_app_source_paths' | translate }}</fl-key>
              {{ runningApp.sourcePaths | json }}
            </fl-key-value>

            <a mat-stroked-button [routerLink]="runningApp.resourceId | labDetailRoute:'RESOURCE'"
               class="g-button-small">
              {{ 'monitoring.streamlit_view_resource' | translate }}
            </a>
          </mat-expansion-panel>
        </mat-accordion>

        <ng-template #noApps>
          <fl-error-text [errorMessage]="'monitoring.streamlit_no_running_app' | translate"
          ></fl-error-text>
        </ng-template>

      </ng-container>

    </fl-async-section>
  </fl-card-body>
</fl-card>
