<fl-dialog-header>
  <fl-text-icon>
    <mat-icon flIcon="note_template" class="g-icon-big"></mat-icon>
    {{ 'biox.note_insert_note_template' | translate }}
  </fl-text-icon>
</fl-dialog-header>

<mat-dialog-content>
  <p class="help-text">
    {{ 'biox.note_insert_note_template_help' | translate }}
  </p>
  <form (ngSubmit)="submit()" id="insert-doc-template-form">
    <fl-form-field>
      <lab-select-note-template
        [formControl]="formControl"
        [placeholder]="'biox.select_note_template' | translate"
        [required]="true"></lab-select-note-template>
      <mat-error class="g-warn-text g-text-small" *ngIf="formControl.hasError('required')">
        {{ 'biox.select_note_template' | flErrorRequired }}
      </mat-error>
    </fl-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button
    mat-flat-button
    type="submit"
    form="insert-doc-template-form"
    class="g-centered-forced primary">
    {{ 'save' | translate }}
  </button>
</div>
