<div class="comment-zone" *ngIf="comments">
  <fl-infinite-scroll [datasource]="comments" class="comment-div" [reverseMode]="true" [textNoResult]="'no_comments'" [textNoMoreResult]="''">
    <div class="comments-container g-layout-col-reverse">
      <div *ngFor="let comment of comments?.connect() | async" class="comment
      {{comment.createdBy.id === currentUserId ? 'our-comment' : 'other-comment'}}">
        <ca-comment-div [comment]="comment" (eventOnMessage$)="eventOnMessage($event, comment)"></ca-comment-div>
      </div>
    </div>
  </fl-infinite-scroll>
  <div class="write-comment-div">
    <fl-section [isLoading]="isLoading" [object]="formControl" class="section">
      <ng-container *flSectionBody>
        <fl-text-editor [formControl]="formControl" [config]="textEditorConfig" mode="JSON" [leftButtons]="false"
                        placeholder="{{'write_a_comment' | translate}}"
                        theme="VISIBLE_BUTTON" class="input-message" scrollContainer="child"
                        (keydown.control.enter)="enterEvent($event)">
        </fl-text-editor>
      </ng-container>
    </fl-section>
  </div>

</div>

