<div class="comment-zone" *ngIf="comments">
  <fl-infinite-scroll [datasource]="comments" class="comment-div" [reverseMode]="true" [textNoResult]="'no_comments'"
                      [textNoMoreResult]="''">
    <div class="comments-container g-layout-col-reverse">
      <div *ngFor="let comment of comments?.connect() | async"
           class="comment" [ngClass]="comment.createdBy.id === currentUserId ? 'our-comment' : 'other-comment'"
           [caNotificationMark]="comment.id" caNotificationObjectType="PROJECT_COMMENT">
        <ca-comment-div [comment]="comment" (eventOnMessage$)="eventOnMessage($event, comment)"></ca-comment-div>
      </div>
    </div>
  </fl-infinite-scroll>
  <ca-text-editor [formControl]="formControl" [config]="textEditorConfig" mode="JSON"
                  [placeholder]="'write_a_comment' | translate"
                  theme="VISIBLE_BUTTON" class="input-message" scrollContainer="child"
                  (keydown.control.enter)="enterEvent($event)">
  </ca-text-editor>
</div>

