:host {
  height: 100%;
  display: block;
  padding: 1em 0 1em 1em;
  box-sizing: border-box;
}

.comment-zone {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;
}

.comment-div {
  flex-basis: auto;
  overflow-x: hidden;
  min-height: 0;
}

.comments-container {
  padding-right: 1em;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.5em;
}

.comment {
  margin-bottom: 1.25em;
  padding: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.our-comment {
  background-color: var(--hover-color);
}

.other-comment {
  background-color: var(--main-background);
}

// TODO TO REMOVE
.input-message {
  min-height: 0 !important;
  width: 97%;
  max-height: 30em;
  display: flex;
  flex-direction: column;
  border: none !important;
}

.text-editor {
  //min-height: 0;
}
