<fl-dialog-header>
  {{ dialogInput.title | flTranslatableText }}
</fl-dialog-header>

<mat-dialog-content>

  <div class="g-layout-row-wrap g-layout-start-center g-text-not-selectable">
    <div class="parent-project" (click)="moveToRoot()">{{ 'my_projects' | translate }}</div>
    @for (project of parentProjects; track project.id) {
      <div class="parent-separator">></div>
      <div class="parent-project" (click)="selectParentProject(project)">{{ project.code }}</div>
    }
  </div>

  @if (projectsDatasource) {
    <fl-infinite-table-container [datasource]="projectsDatasource" [textNoMoreResult]="null" class="table">
      <ca-project-table [datasource]="projectsDatasource" [rowSelectable]="true" [columns]="columns"
                        [selectedProject]="selectedProject" (selectedProjectChange)="selectProject($event)"
                        class="g-text-not-selectable"
                        (projectDblClicked)="projectDblClicked($event)">

        <!--   Custom column only showed when sub project can be selected. Button to open project   -->
        <ng-template let-project>
          @if (!isRootMode() && project.hasChildren()) {
            <button mat-icon-button (click)="openProject(project)"
                    type="button" [matTooltip]="'open_project' | translate" matTooltipClass="g-tooltip-multiline">
              <mat-icon>chevron_right</mat-icon>
            </button>
          }
        </ng-template>

      </ca-project-table>
    </fl-infinite-table-container>
  }
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="g-centered-forced" (click)="close()">
    {{ 'select_project' | translate }}
  </button>
</div>
