@if (showTotalInfo) {
  <fl-key-value>
    <fl-key>
      {{ 'total_size' | translate }}
    </fl-key>
    {{ storageLocation.totalSize | flByteText }}
  </fl-key-value>

  <fl-key-value>
    <fl-key>
      {{ 'total_nb_of_documents' | translate }}
    </fl-key>
    {{ storageLocation.totalDocuments }}
  </fl-key-value>
}

@for (key of storageLocation.details | flObjectKeys; track key) {
  <div class="g-text-small">
    <fl-key-value>
      <fl-key>
        {{ 'folder_size_' + key | translate }}
      </fl-key>
      {{ storageLocation.details[key].totalSize | flByteText }}
      - {{ storageLocation.details[key].totalDocuments }} {{ 'folder_files' | translate }}
    </fl-key-value>
  </div>
}
