<fl-section-header>
  <fl-text-icon>
    <mat-icon>info</mat-icon>
    <h3>{{ 'info' | translate }}</h3>
  </fl-text-icon>
</fl-section-header>

@if (folder$ | async; as folder) {
  <div class="grid">

    <fl-text-icon>
      <mat-icon>person</mat-icon>
      {{ 'folder_leader' | translate }}
    </fl-text-icon>

    <fl-user-inline [user]="folder.leader" class="folder-leader-user"></fl-user-inline>

    @if (folder.code) {
      <fl-text-icon>
        <mat-icon>badge</mat-icon>
        {{ 'code' | translate }}
      </fl-text-icon>
      <div>{{ 'code' | translate }} : {{ folder.code }}</div>
    }

    @if (folder.startingDate || folder.endingDate) {
      <fl-text-icon>
        <mat-icon>event</mat-icon>
        {{ 'date' | translate }}
      </fl-text-icon>

      <fl-date-range [startingDate]="folder.startingDate" [endingDate]="folder.endingDate">
      </fl-date-range>
    }
  </div>
}
