<fl-dialog-header>
  {{ 'details_of_version' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <fl-key-value>
    <fl-key>{{ 'version' | translate }}</fl-key>
    {{ bv.version }}
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{ 'repo_type' | translate }}</fl-key>
    {{ bv.repoType }}
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{ 'last_modification_info' | translate }}</fl-key>
    <fl-last-modification-info [user]="bv.lastModifiedBy" [date]="bv.lastModifiedAt">
    </fl-last-modification-info>
  </fl-key-value>

  @if (references && references.length > 0) {
    <div>
      @if (directReferences.length > 0) {
        <fl-key-value class="tab-left">
          <fl-key>{{ 'direct_references' | translate }}</fl-key>
          @for (r of directReferences; track r) {
            <div>{{ r.name }} v{{ r.version }}</div>
          }
        </fl-key-value>
      }
      @if (indirectReferences.length > 0) {
        <fl-key-value class="tab-left">
          <fl-key>{{ 'indirect_references' | translate }}</fl-key>
          @for (r of indirectReferences; track r) {
            <div>{{ r.name }} v{{ r.version }}</div>
          }
        </fl-key-value>
      }
    </div>
  }

  @if (bv.technicalInfo | flIsNotEmpty) {
    <div>
      <fl-key-value>
        <fl-key>{{ 'technical_information' | translate }}</fl-key>
        @for (tI of bv.technicalInfo | flObjectKeys; track tI) {
          <div class="tab-left">
            @if (bv.technicalInfo[tI]) {
              <fl-key-value>
                <fl-key>{{ tI }}</fl-key>
                {{ bv.technicalInfo[tI] }}
              </fl-key-value>
            }
          </div>
        }
      </fl-key-value>
    </div>
  }
</mat-dialog-content>
