<fl-dialog-header>
  {{ 'details_of_version' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <fl-key-value>
    <fl-key>{{ 'version' | translate }}</fl-key>
    {{ bv.version }}
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{ 'repo_type' | translate }}</fl-key>
    {{ bv.repoType }}
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{ 'last_modification_info' | translate }}</fl-key>
    <fl-last-modification-info [user]="bv.lastModifiedBy"
                               [date]="bv.lastModifiedAt">
    </fl-last-modification-info>
  </fl-key-value>

  <div *ngIf="references && references.length > 0">
    <fl-key-value *ngIf="directReferences.length > 0" class="tab-left">
      <fl-key>{{ 'direct_references' | translate }}</fl-key>
      <div *ngFor="let r of directReferences">
        {{ r.name }} v{{ r.version }}
      </div>
    </fl-key-value>
    <fl-key-value *ngIf="indirectReferences.length > 0" class="tab-left">
      <fl-key>{{ 'indirect_references' | translate }}</fl-key>
      <div *ngFor="let r of indirectReferences">
        {{ r.name }} v{{ r.version }}
      </div>
    </fl-key-value>
  </div>

  <div *ngIf="(bv.technicalInfo | flIsNotEmpty)">
    <fl-key-value>
      <fl-key>{{ 'technical_information' | translate }}</fl-key>
      <div *ngFor="let tI of bv.technicalInfo | flObjectKeys" class="tab-left">
        <fl-key-value *ngIf="bv.technicalInfo[tI]">
          <fl-key>{{ tI }}</fl-key>
          {{ bv.technicalInfo[tI] }}
        </fl-key-value>
      </div>
    </fl-key-value>
  </div>
</mat-dialog-content>
