<div class="section">
  <fl-text-icon>
    <mat-icon>settings</mat-icon>
    <h2>{{ 'project_settings' | translate }}</h2>
  </fl-text-icon>

  <ca-project-detail-info class="g-section"></ca-project-detail-info>

  @if (project$ | async; as project) {
    <div class="g-layout-row g-layout-between-center">
      <fl-text-ok-nok [value]="project.chatEnabled"
                      [okText]="'folder_chat_activated' | translate"
                      [nokText]="'folder_chat_deactivated' | translate">
      </fl-text-ok-nok>

      <button mat-stroked-button type="button" class="g-button-small"
              (click)="toggleChat(project)">
        @if (project.chatEnabled) {
          {{ 'folder_deactivate_chat' | translate }}
        } @else {
          {{ 'folder_activate_chat' | translate }}
        }
      </button>
    </div>
  }

  <ca-project-storage-settings class="g-section" *ngIf="showStorageSettings$ | async"></ca-project-storage-settings>

  <ca-project-storage-usage-section class="g-section"></ca-project-storage-usage-section>

</div>
