@if(liveTask){
  <h2 flElementEditable (flElementValueChange)="onTitleChange($event)"
      [flElementDisabled]="!canEditLt">
    {{ liveTask.title }}
  </h2>
  <div class="lt-utils-div">
    <p class="small-text user-date-info">
      <a [routerLink]="profileRoute + liveTask.createdBy.id">
        <co-user-inline [user]="liveTask.createdBy"></co-user-inline>
      </a>
      <span class="g-text-small date-info">
      <fl-from-now [date]="liveTask.createdAt" *ngIf="liveTask.latestPublishVersion > 0; else notPublished"></fl-from-now>
    </span>
    </p>
    <div class="lt-buttons">
      <co-visibility-badge [space]="liveTask.space"></co-visibility-badge>

      <ha-like-button class="lt-like-bt" (clicked)="toggleLikeLiveTaskButton()" [isLiked]="liveTaskIsLiked"
                      [likesCount]="liveTask.likes"></ha-like-button>

      <ha-comment-button [commentsCount]="liveTask.comments" (clicked)="openCommentsPannel()"></ha-comment-button>

      <button *ngIf="currentUser?.id == liveTask?.createdBy?.id"
              mat-icon-button color="warn" (click)="deleteLiveTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="g-flex" *ngIf="isLoading">
    <fl-loader class="g-centered"></fl-loader>
  </div>

<!--  <fl-card *ngIf="!isLoading">-->
<!--    <fl-card-header>-->
<!--      -->
<!--    </fl-card-header>-->
<!--    <fl-card-body>-->
<!--     -->
<!--    </fl-card-body>-->
<!--  </fl-card>-->

  <div *ngIf="!isLoading">
    <div class="card-header">
      <div>
        {{ 'live_task_description' | translate }}
      </div>
      <button mat-stroked-button color="primary" class="g-button-small" (click)="onDescriptionEditorButtonClick()"
              *ngIf="canEditLt">
        <fl-text-icon [iconPosition]="'end'">
          <mat-icon>{{ descriptionEditorDisabled ? 'edit' : 'save' }}</mat-icon>
          {{ descriptionEditorDisabled ? ('edit' | translate) : ('save' | translate) }}
        </fl-text-icon>
      </button>
    </div>
    <div>
      <te-text-editor
        class="description-editor"
        [config]="textEditorConfig" (textChange)="onDescriptionChange($event)"
        [formControl]="descriptionFormControl"
        [placeholder]="'live_task_description_place_holder' | translate"></te-text-editor>
    </div>
  </div>

  <ha-live-task-version-detail *ngIf="liveTask?.latestPublishVersion && liveTaskVersion && !isLoading" [liveTaskVersion]="liveTaskVersion" [canEdit]="canEditLt"
                               [isEditable]="false" [sectionTitle]="('latest_version_infos' | translate) + ' (V' + liveTask.latestPublishVersion + ')'"></ha-live-task-version-detail>

}

<ng-template #notPublished>
    <span class="g-warn-text">
      {{ 'not_published' | translate }}
    </span>
</ng-template>
