.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-editor{
  border: none;
  padding: 0.5em 0;
  min-height: 1.5em;
}

.description-editor-active{
  border: none;
  padding: 0.5em 0;
  min-height: 1.5em;
}

.description-editor-active:hover, .description-editor-active:active, .description-editor-active:focus{
  border: var(--hover-color) 1px solid;
}
