<div class="g-layout-row g-layout-between-center">
  <span class="g-text-medium g-weight-600">{{ 'menu' | translate }}</span>
  @if (userHasEditRight()) {
    <button mat-icon-button (click)="onClickMenu($event)" [matTooltip]="'create_element' | translate">
      <mat-icon>add</mat-icon>
    </button>
  }
</div>

<div class="entity-page-info-div-content">
  <div>
    <a
      [routerLink]="'.'"
      [relativeTo]="route"
      [routerLinkActive]="'active'"
      class="g-text-small tree-node g-layout-row g-layout-start-center tree-node-div"
      [ngClass]="currentDocId() === '' ? 'selected-tree-node' : ''">
      {{ 'introduction' | translate }}
    </a>

    <ha-brick-sidenav-tree
      [sidenavObjects]="dataSource$"
      [selectedObject]="currentDocId()"
      [getRoute]="getRoute"
      [canEdit]="userHasEditRight()"
      [dragAndDropDisabled]="false"
      [showActionIcons]="true"
      [parentDocFolderId]="parentDocFolderId"
      (menuButtonEvent)="onDocumentationTreeEvent($event)"
      (refreshDatasource)="onRefreshDocumentationTree()"></ha-brick-sidenav-tree>

    <mat-tree
      #techTree
      [dataSource]="techDataSource$"
      [childrenAccessor]="techDataSource$.childrenAccessor"
      [trackBy]="techDataSource$.trackById">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        [isExpanded]="node.object.isExpanded"
        matTreeNodePadding
        [matTreeNodePaddingIndent]="10"
        class="g-drag-hide-placeholder">
        @if (node.object.children) {
          <div
            class="g-text-small tree-node g-layout-row g-layout-start-center"
            matTreeNodeToggle
            (click)="node.object.isExpanded ? collapseTechNode(node) : expandTechNode(node)">
            <div class="tree-node-div">
              {{ node.object.name }}
            </div>
            <button
              mat-icon-button
              class="g-button-icon-small toggle-parent-button"
              [attr.aria-label]="'Toggle ' + node.object.name"
              type="button">
              <mat-icon>
                {{ techTree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
              </mat-icon>
            </button>
          </div>
        } @else {
          <a
            [routerLink]="'doc/' + node.object.completePath"
            class="g-text-small tree-node g-layout-row g-layout-start-center">
            <div class="tree-node-div">
              {{ node.object.name }}
            </div>
          </a>
        }
      </mat-tree-node>
    </mat-tree>

    <a
      [routerLink]="'version'"
      [relativeTo]="route"
      [routerLinkActive]="'active'"
      class="g-text-small tree-node g-layout-row g-layout-start-center tree-node-div"
      [ngClass]="currentDocId() === 'version' ? 'selected-tree-node' : ''">
      {{ 'version' | translate }}
    </a>
  </div>
</div>
