<ha-header [fullHeight]="true">
  <div class="section login-section">
    <div class="section-title">
      <ha-home-section-shine>{{ 'login_page.login_to_your_account' | translate }}</ha-home-section-shine>
      <h2>{{ 'login_page.welcome_back' | translate }}</h2>
    </div>
    <p class="g-large-text section-description">
      {{ 'login_page.login_subtitle' | translate }}
    </p>

    <div class="login-card">
      <fl-complete-login
        [redirectionRoute]="redirectionRoute"
        (loginSuccess)="onLoginSuccess()"
        class="login">
        <ng-content select="fl-login-footer"></ng-content>
      </fl-complete-login>

      <div class="no-account-yet-div">
        <div class="no-account-yet-title-div">
          <span></span>
          <p>{{ 'login_page.no_account_yet' | translate }}</p>
          <span></span>
        </div>
        <a mat-raised-button [href]="spaceSignupRoute" class="sign-up-button">
          {{ 'sign_up' | translate }}
        </a>
      </div>
    </div>
  </div>
</ha-header>

<ha-footer></ha-footer>
