<div *ngIf="(graph.nodes |  flObjectKeys).length > 0" class="tech-report-sec">
  <h3 *ngIf="protocolName">{{'field_protocol_process' | translate:{field: protocolName} }}</h3>
  <h3 *ngIf="!protocolName">{{'protocol_process' | translate}}</h3>
  <div *ngFor="let nName of graph.nodes |  flObjectKeys">
    <mat-divider class="divider"></mat-divider>
    <pr-process-info [process]="graph.nodes[nName]" [communityHelper]="communityHelper"></pr-process-info>
  </div>
</div>


<div *ngIf="graph.links.length > 0" class="tech-report-sec">
  <h3 *ngIf="protocolName">{{'field_protocol_links' | translate:{field: protocolName} }}</h3>
  <h3 *ngIf="!protocolName">{{'protocol_links' | translate}}</h3>
  <div *ngFor="let link of graph.links" class="row">
    <mat-divider class="divider"></mat-divider>
    <ca-scenario-technical-report-link [link]="link"></ca-scenario-technical-report-link>
  </div>
</div>

<div *ngIf="(graph.interfaces | flObjectKeys).length > 0" class="tech-report-sec">
  <h3 *ngIf="protocolName">{{'field_protocol_interfaces' | translate:{field: protocolName} }}</h3>
  <h3 *ngIf="!protocolName">{{'protocol_interfaces' | translate}}</h3>
  <div *ngFor="let iName of graph.interfaces | flObjectKeys" class="row">
    <mat-divider class="divider"></mat-divider>
    <ca-scenario-technical-report-int-out [intOut]="graph.interfaces[iName]"></ca-scenario-technical-report-int-out>
  </div>
</div>

<div *ngIf="(graph.outerfaces | flObjectKeys).length > 0" class="tech-report-sec">
  <h3 *ngIf="protocolName">{{'field_protocol_outerfaces' | translate:{field: protocolName} }}</h3>
  <h3 *ngIf="!protocolName">{{'protocol_outerfaces' | translate}}</h3>
  <div *ngFor="let oName of graph.outerfaces | flObjectKeys" class="row">
    <mat-divider class="divider"></mat-divider>
    <ca-scenario-technical-report-int-out [intOut]="graph.outerfaces[oName]"></ca-scenario-technical-report-int-out>
  </div>
</div>

