<fl-dialog-header>
  {{ title }}

  <fl-dialog-header-actions *ngIf="downloadUrl">
    <a [href]="downloadUrl" download mat-icon-button [matTooltip]="'biox.download_logs' | translate">
      <mat-icon>cloud_download</mat-icon>
    </a>
  </fl-dialog-header-actions>
</fl-dialog-header>

<mat-dialog-content>
  <div
    class="g-scrollable-element container"
    (flInfiniteScroll)="loadNextPage()"
    [flInfiniteDisabled]="loadNextPageDisabled">
    <lab-logs-between-dates *ngIf="logs" [logs]="logs"></lab-logs-between-dates>

    <div class="g-text-centered" *ngIf="logs && !logs.isLastPage">
      <button
        [disabled]="loadNextPageDisabled"
        class="g-button-small"
        mat-stroked-button
        color="primary"
        type="button"
        (click)="loadNextPage()">
        {{ 'show_more_result' | translate }}
        <fl-button-loader *ngIf="isLoading" size="small"></fl-button-loader>
      </button>
    </div>

    <div class="g-text-centered" *ngIf="isLoading">
      <fl-loader></fl-loader>
    </div>
  </div>
</mat-dialog-content>
