<fl-dialog-header>
  {{ title }}

  @if (downloadUrl) {
    <fl-dialog-header-actions>
      <a [href]="downloadUrl" download mat-icon-button [matTooltip]="'biox.download_logs' | translate">
        <mat-icon>cloud_download</mat-icon>
      </a>
    </fl-dialog-header-actions>
  }
</fl-dialog-header>

<mat-dialog-content>
  <div
    class="g-scrollable-element container"
    (flInfiniteScroll)="loadNextPage()"
    [flInfiniteDisabled]="loadNextPageDisabled">
    @if (logs) {
      <lab-logs-between-dates [logs]="logs"></lab-logs-between-dates>
    }

    @if (logs && !logs.isLastPage) {
      <div class="g-text-centered">
        <button
          [disabled]="loadNextPageDisabled"
          mat-stroked-button
          class="primary primary"
          type="button"
          (click)="loadNextPage()">
          {{ 'show_more_result' | translate }}
          @if (isLoading) {
            <fl-button-loader size="small"></fl-button-loader>
          }
        </button>
      </div>
    }

    @if (isLoading) {
      <div class="g-text-centered">
        <fl-loader></fl-loader>
      </div>
    }
  </div>
</mat-dialog-content>
