/* You can add global styles to this file, and also import other style files */

// Import theme for material
@import "libs/front-core-lib/src/style/theme/theme";
// Import the style for the library
@import "libs/front-core-lib/src/style/fl-global";
@import "libs/front-core-lib/src/style/fl-media-query";

// Import the style for material
@import "libs/front-core-lib/src/style/fl-material-override";
@import "libs/front-core-lib/src/style/fl-dialog";
@import "libs/front-core-lib/src/style/fl-icon";
@import "libs/front-core-lib/src/style/fl-drag";
@import "libs/front-core-lib/src/style/fl-flex";

// Import quill style
@import "libs/front-core-lib/src/style/fl-quill";

// Import markdown style
@import "libs/technical-doc/src/style/markdown";

// Style to highlight code in text editor
@import 'highlight.js/styles/monokai-sublime.css';

// use for debugging
//*{
//  outline: grey;
//}

.g-page, .g-page-fixed {
  padding: 2em 2em 0 2em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// full page with possibility to grow
.g-page, .g-page-height {
  min-height: 100vh;
}

// 100% height max
.g-page-fixed {
  height: 100vh;
  max-height: 100vh;
}

@media (max-width: 599px) {
  .g-page, .g-page-fixed {
    padding: 1em 1em 0 1em;
  }
}

.g-page-bottom-padding {
  padding-bottom: 2em;
}

// Class to use on page that directly uses a search component
.g-page-search {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

// when a flex element has this class, it takes all the width in the advanced search
// right panel, but not in a full page
.g-search-field {
  flex: 1 1 12em;
  min-width: 0;
  margin-left: 1px;
  margin-right: 1px;
}
