<div *ngIf="liveTaskVersion()">
  <div class="live-task-version-title">
    <h2>{{ liveTaskVersion().liveTask.title }}</h2>
    <div class="g-badge g-warn-background">{{ liveTaskVersion().type | translate }}</div>
  </div>


  <div class="live-task-infos-div">
    <h4>{{ 'version' | translate }} {{ liveTaskVersion().version }}</h4>
    @if (canEdit()) {
      <div class="live-task-infos">
        @if (liveTaskVersion().versionState == 'DRAFT') {
          <span class="g-text-small g-warn-text">{{ 'warn_lt_version_not_published' | translate }}</span>
          <button mat-stroked-button color="primary" (click)="publishLiveTaskVersion()">
            {{ 'publish' | translate }}
          </button>
        }
        <button mat-icon-button color="warn" (click)="deleteLiveTaskVersion()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
  @if(currentVersion) {
    <ha-live-task-version-detail></ha-live-task-version-detail>
  } @else {
    <fl-loader></fl-loader>
  }

</div>
<div *ngIf="isLiveTaskVersionLoading()">
  <fl-loader class="g-centered"></fl-loader>
</div>
<div *ngIf="isLiveTaskVersionError()">
  <ha-ha404 ></ha-ha404>
</div>
