.main-header-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.live-task-info-card{
  width: 302px;
}

.live-task-info-card-bt-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publish-lt-div{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.brick-dependencies-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 320px){
  .live-task-info-card{
    width: 272px;
  }
}
