<div class="g-flex" *ngIf="isLoading">
  <fl-loader class="g-centered"></fl-loader>
</div>

<div *ngIf="liveTaskVersion && !isLoading">
  <div class="live-task-version-title">
    <h3>{{ liveTaskVersion?.liveTask.title }}</h3>
    <div class="g-badge g-warn-background">{{ liveTaskVersion.type }}</div>
  </div>


  <div class="live-task-infos-div">
    <h4>{{ 'version' | translate }} {{ liveTaskVersion?.version }}</h4>
    @if (liveTaskVersion.versionState == 'DRAFT' && canEdit) {
      <div class="live-task-infos">
        <span class="g-text-small g-warn-text">{{'warn_lt_version_not_published' | translate}}</span>
        <button mat-stroked-button color="primary" (click)="publishLiveTaskVersion()">
          {{ 'publish' | translate }}
        </button>
      </div>
    }
  </div>

<!--  <div class="live-task-info-card">-->
<!--        <ha-card>-->

<!--          <fl-async-section [object]="brickDependencies$" [emptyText]="''">-->
<!--            <ng-container *flSectionBody="brickDependencies$ as brickDependencies">-->
<!--              <div>-->
<!--                <div>{{'necessary_bricks' | translate}} :</div>-->
<!--                <div class="brick-dependencies-div">-->
<!--                  <mat-chip *ngFor="let brickDep of brickDependencies">-->
<!--                    {{brickDep?.brickMajorVersion?.brick?.name}} {{brickDep?.version}}-->
<!--                  </mat-chip>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </fl-async-section>-->
<!--        </ha-card>-->
<!--    </div>-->
  @if(canEditChecked){
    <ha-live-task-version-detail [liveTaskVersion]="liveTaskVersion" [canEdit]="canEdit" [isEditable]="liveTaskVersion.versionState == 'DRAFT'"
                                 (liveTaskVersionChangeEvent)="updateLiveTaskVersion($event)"></ha-live-task-version-detail>
  }
</div>
