.radio-button-zone {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.radio-button-right {
  margin-left: 1em;
}

.not-first-input {
  padding-top: 1em;
}

.form {
  align-items: center;
}

.input-error-text {
  width: 100%;
  text-align: center;
  color: var(--warn-color);
}

.input-file {
  margin-top: 1em;
}
