<div class="g-page">
  <fl-async-section [arrayObs]="teamsDatasource" emptyText="no_team">
    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big g-icon-background g-primary-background" flIcon="group"></mat-icon>
        <h1>{{ 'my_teams' | translate }}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button *caIsSpaceUser mat-flat-button type="button" (click)="createTeam()" class="primary">
          <mat-icon>add</mat-icon>
          {{ 'create_team' | translate }}
        </button>
      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBodyDatasource="teamsDatasource as teams">
      <div class="g-grid-5-cols">
        @for (team of teams; track team) {
          <a [routerLink]="team | caDetailRoute">
            <ca-team-card [team]="team"></ca-team-card>
          </a>
        }
      </div>

      <fl-infinite-load-more-result [datasource]="teamsDatasource"></fl-infinite-load-more-result>
    </ng-container>
  </fl-async-section>
</div>
