<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">people</mat-icon>
      <h2>{{'team_users' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button"
              class="g-button-small" (click)="openAddUserDialog()">
        <mat-icon>add</mat-icon>
        {{'team_add_user' | translate}}
      </button>
    </fl-card-actions>

  </fl-card-header>

  <fl-card-body class="limit-height">
    <fl-infinite-table-container [datasource]="datasource">
      <ca-user-group-table [datasource]="datasource"></ca-user-group-table>
    </fl-infinite-table-container>
  </fl-card-body>
</fl-card>



