<fl-dialog-header>
  {{ 'add_a_view_to_the_doc' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <div class="content">
    @if (isLoading) {
      <fl-loader></fl-loader>
    } @else {
      <fl-input-file-container
        color="primary"
        [placeholder]="'select_file' | translate"
        class="select-file-button">
        <input
          flInputFile
          type="file"
          accept="application/json"
          (fileChange)="uploadFile($event)"
          class="select-file-button"
          [autoClearHtmlInput]="true"
          [strictMode]="true" />
      </fl-input-file-container>
    }
  </div>
</mat-dialog-content>
