<fl-async-section [object]="projectBucket$" [nullOrEmptyIsValid]="true">

  <fl-section-header>
    <fl-text-icon>
      <mat-icon>storage</mat-icon>
      <h3>{{'project_storage' | translate}}</h3>
    </fl-text-icon>
  </fl-section-header>

  <ng-container *flSectionBody="projectBucket$ as bucket">
    <div class="body">

      <!--   Main bucket   -->
      <fl-text-ok-nok [value]="!!bucket.mainRegion" [okText]="'project_main_storage_configured' | translate"
                      [nokText]="'project_main_storage_not_configured' | translate">
      </fl-text-ok-nok>
      <ca-bucket-region-inline *ngIf="bucket.mainRegion" [region]="bucket.mainRegion"></ca-bucket-region-inline>

      <!--  Backup bucket    -->
      <fl-text-ok-nok [value]="!!bucket.backupRegion" [okText]="'project_backup_storage_configured' | translate"
                      [nokText]="'project_backup_storage_not_configured' | translate">
      </fl-text-ok-nok>
      <ca-bucket-region-inline *ngIf="bucket.backupRegion" [region]="bucket.backupRegion"></ca-bucket-region-inline>

      <div class="g-text-centered configure-button" *ngIf="!bucket.mainRegion || !bucket.backupRegion">
        <button mat-stroked-button type="button" (click)="configureStorage()">
          {{'configure_project_storage' | translate}}
        </button>
      </div>
    </div>
  </ng-container>
</fl-async-section>
