<fl-async-section [object]="projectBucket$" [nullOrEmptyIsValid]="true">

  <fl-section-header>
    <fl-text-icon>
      <mat-icon>storage</mat-icon>
      <h3>{{'project_storage' | translate}}</h3>
    </fl-text-icon>
  </fl-section-header>

  <ng-container *flSectionBody="let bucket">
    <div class="body">

      <!--   Main bucket   -->
      <fl-text-ok-nok [value]="!!bucket.mainBucket" [okText]="'project_main_storage_configured' | translate"
                      [nokText]="'project_main_storage_not_configured' | translate">
      </fl-text-ok-nok>
      <ca-bucket-info *ngIf="bucket.mainBucket" [bucket]="bucket.mainBucket"></ca-bucket-info>

      <!--  Backup bucket    -->
      <fl-text-ok-nok [value]="!!bucket.backupBucket" [okText]="'project_backup_storage_configured' | translate"
                      [nokText]="'project_backup_storage_not_configured' | translate">
      </fl-text-ok-nok>
      <ca-bucket-info *ngIf="bucket.backupBucket" [bucket]="bucket.backupBucket"></ca-bucket-info>

      <div class="g-text-centered configure-button" *ngIf="!bucket.mainBucket || !bucket.backupBucket">
        <button mat-stroked-button type="button" (click)="configureStorage()">
          {{'configure_project_storage' | translate}}
        </button>
      </div>
    </div>
  </ng-container>
</fl-async-section>
