<fl-dialog-header>
  {{'project_shared_groups' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <fl-async-section [arrayObs]="groupsArray" class="g-full-height">

    <ng-container *flSectionBody="let groups">


      <div *ngFor="let group of groups" fxLayout="row" fxLayoutAlign="space-between center">
        <ca-group-inline [group]="group"></ca-group-inline>

        <button mat-icon-button type="button" (click)="openUnshareDialog(group)"
                [matTooltip]="'unshare' | translate" *ngIf="canEdit$ | async" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button mat-stroked-button type="button" (click)="openShareDialog()"
              *ngIf="canEdit$ | async" class="share-button">
        <mat-icon>share</mat-icon>
        <span>{{'share' | translate}}</span>
      </button>

    </ng-container>

  </fl-async-section>
</mat-dialog-content>
