.port-list-container {
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
}

.port-container {
  margin-bottom: 0.5em;
  // prevent text to be too long
  flex-shrink: 1;
  overflow: hidden;
  min-height: 120px;
}

.selected-port {
  background-color: var(--hover-color);
}

.view-container {
  min-width: 0; // prevent width overflow
  flex: 1;
}

.error-text {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}

//////// PORT SECTION ////////
.port-container {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid var(--hover-color);
  cursor: pointer;
  max-height: 100%;
  place-content: center flex-start;
  align-items: center;
  margin-bottom: 0.5em;

  // prevent text form being too long
  // but set also a min height to the text from being too small
  flex-shrink: 1;
  overflow: hidden;
  min-height: 120px;
}

.port-name:hover {
  background-color: var(--hover-color);
}

.super-text {
  min-height: 120px;
}

.text {
  writing-mode: vertical-lr;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.port-input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
  padding-right: 0.5em;
  padding-left: 5px;
}

.port-output {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0;
  padding-left: 0.5em;
  padding-right: 5px;
}

.port-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.port-menu {
  margin-top: 10px;
  margin-bottom: -5px;
  // make the button container takes the remaining space
  // and align button to bottom
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.add-container {
  // align the button even if there is no port
  min-width: 30px;
}
