<mat-table mat-table [dataSource]="datasource">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      {{'name' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <ca-lab-inline [lab]="labInstance"></ca-lab-inline>
    </mat-cell>
  </ng-container>

  <!-- Space -->
  <ng-container matColumnDef="space">
    <mat-header-cell *matHeaderCellDef>
      {{'space' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <ca-space-inline [space]="labInstance.space"></ca-space-inline>
    </mat-cell>
  </ng-container>

  <!-- Current status -->
  <ng-container matColumnDef="currentStatus">
    <mat-header-cell *matHeaderCellDef>
      {{'status' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <fl-status-chip [status]="labInstance.currentStatus.status"></fl-status-chip>
    </mat-cell>
  </ng-container>

  <!-- Created By -->
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef>
      {{'created_by' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <fl-user-inline [user]="labInstance.createdBy"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- Server info -->
  <ng-container matColumnDef="serverCloud">
    <mat-header-cell *matHeaderCellDef>
      {{'server_cloud' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <ca-server-cloud-inline *ngIf="labInstance.serverCloud" [serverCloud]="labInstance.serverCloud">
      </ca-server-cloud-inline>
    </mat-cell>
  </ng-container>


  <!-- Action -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance" class="action-column g-table-icon-button-cell">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventPropagation($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <a mat-menu-item type="button" [caExternalSpaceLink]="getLabInstanceRoute(labInstance)"
           [caExternalSpaceDomain]="labInstance.space.domain">
          <mat-icon>visibility</mat-icon>
          <span>{{'detail' | translate}}</span>
        </a>

        <button mat-menu-item type="button" (click)="openUpdateDialog(labInstance)">
          <mat-icon>edit</mat-icon>
          <span>{{'edit' | translate}}</span>
        </button>
        <button mat-menu-item type="button" (click)="openStatusDialog(labInstance)">
          <mat-icon>info</mat-icon>
          <span>{{'lab_check_status' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openDeleteDialog(labInstance)">
          <mat-icon color="warn">delete</mat-icon>
          <span class="g-warn-text">{{'delete' | translate}}</span>
        </button>
      </mat-menu>


    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let labInstance">
      <div>
        <span>{{labInstance[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <ng-container *ngIf="!disableLink; else noLink">
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             [routerLink]="row | caDetailRoute"></mat-row>
  </ng-container>
  <ng-template #noLink>
    <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
  </ng-template>
</mat-table>

