<div class="g-page">


  <div class="g-page-title nav-bar"
       fxLayout="row" fxLayoutAlign="row center" fxLayoutGap="1em">
    <fl-text-icon>
      <mat-icon class="g-icon-big">troubleshoot</mat-icon>
      <h1>{{'monitoring.monitoring' | translate}}</h1>
    </fl-text-icon>

    <a mat-button [routerLink]="monitoringRoute" routerLinkActive="menu-active"
       [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon>
      {{'monitoring.dashboard' | translate}}
    </a>

    <a mat-button [routerLink]="usageRoute" routerLinkActive="menu-active">
      <mat-icon>monitor_heart</mat-icon>
      {{'monitoring.monitoring' | translate}}
    </a>

    <a mat-button [routerLink]="venvsRoute" routerLinkActive="menu-active">
      <mat-icon>takeout_dining</mat-icon>
      {{'monitoring.venv_list' | translate}}
    </a>

    <a mat-button [routerLink]="brickDataRoute" routerLinkActive="menu-active">
      <mat-icon>source</mat-icon>
      {{'monitoring.bricks_data' | translate}}
    </a>

    <a mat-button [routerLink]="logsRoute" routerLinkActive="menu-active">
      <mat-icon>description</mat-icon>
      {{'monitoring.logs' | translate}}
    </a>

    <a mat-button [routerLink]="shareLinksRoute" routerLinkActive="menu-active">
      <mat-icon>share</mat-icon>
      {{'biox.share_links' | translate}}
    </a>

    <a mat-button [routerLink]="credentialsRoute" routerLinkActive="menu-active">
      <mat-icon>key</mat-icon>
      {{'biox.credentials' | translate}}
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
