:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  flex: 1;
}

.icon {
  margin-right: 0.5em;
}

.title {
  flex: 1;
  min-width: 0;
}

.note-content {
  margin-top: 1em;
}

.authors {
  gap: 0.5em 1.5em;
}

.author-label {
  color: var(--mat-sys-on-surface-variant);
}

.delete-text {
  color: var(--warn-color);
}
