<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>dns</mat-icon>
      <h2>{{ 'lab_server' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button"
        (click)="openServerInfoDialog()">
        <mat-icon>info</mat-icon>
        {{ 'lab_server_info' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <p class="g-text-light">{{ 'lab_server_section_help' | translate }}</p>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ 'lab_advanced_configuration' | translate }}
      </mat-expansion-panel-header>

      <fl-text-icon class="warning-text">
        <mat-icon class="g-warn-icon">warnings</mat-icon>
        {{ 'lab_advanced_configuration_warning' | translate }}
      </fl-text-icon>

      @if (isCloud$ | async) {
        <button mat-stroked-button type="button" class="g-button-small actions-button" (click)="initServer()">
          {{ 'lab_init_server' | translate }}
        </button>
        <button
          mat-stroked-button
          type="button"
          class="g-button-small actions-button"
          (click)="createServer()">
          {{ 'lab_create_server' | translate }}
        </button>
      }

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button"
        (click)="configureServer()">
        {{ 'lab_configure_server' | translate }}
      </button>

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button"
        (click)="updateLabConfigurerRepo()">
        {{ 'lab_update_lab_configurer_repo' | translate }}
      </button>

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button"
        (click)="migrateToGithub()">
        {{ 'lab_configurer_migrate' | translate }}
      </button>

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button"
        (click)="migrateToDnsChallenge()">
        {{ 'lab_configurer_migrate_dns' | translate }}
      </button>

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button warn"
        (click)="stopCurrentServerTask()">
        {{ 'lab_stop_current_task' | translate }}
      </button>

      <button
        mat-stroked-button
        type="button"
        class="g-button-small actions-button warn"
        (click)="destroyLabConfigurerContainers()">
        {{ 'lab_configurer_destroy_containers' | translate }}
      </button>

      @if (isCloud$ | async) {
        <button
          mat-stroked-button
          type="button"
          class="g-button-small actions-button warn"
          (click)="deleteServer()"
          *caIsAdmin>
          {{ 'lab_delete_server' | translate }}
        </button>
      }
    </mat-expansion-panel>
  </fl-card-body>
</fl-card>
