<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">monitor_heart</mat-icon>
      <h2>{{'monitoring.monitoring' | translate}}</h2>
    </fl-text-icon>

  </fl-card-header>

  <fl-card-body>

    <div>
      <ng-container *ngIf="lastMonitor">
        <fl-key-value>
          <fl-key>{{'monitoring.lab_disk_space' | translate}}</fl-key>
          {{lastMonitor.diskUsageUsed | flByteText}} / {{lastMonitor.diskTotal | flByteText}}
          ({{lastMonitor.diskUsageFree | flByteText}} {{'monitoring.disk_space_available' | translate}})
        </fl-key-value>

        <fl-key-value>
          <fl-key>{{'monitoring.number_of_processes' | translate}}</fl-key>
          {{lastMonitor.cpuCount}}
        </fl-key-value>

        <fl-key-value>
          <fl-key>{{'monitoring.total_memory' | translate}}</fl-key>
          {{lastMonitor.ramUsageTotal | flByteText}}
        </fl-key-value>

        <ng-container *ngIf="lastMonitor.gpuEnabled">
          <fl-key-value>
            <fl-key>{{'monitoring.gpu_ram_total' | translate}}</fl-key>
            {{lastMonitor.gpuMemoryTotal | flByteText}}
          </fl-key-value>
        </ng-container>
      </ng-container>
    </div>

    <form [formGroup]="formGroup"
          class="g-form-field-compact g-layout-start-center g-layout-gap-05em date-picker-form">
      <!--  Period  -->
      <mat-form-field subscriptSizing="dynamic" class="period">
        <mat-label>{{ 'lab_usage_period' | translate }}</mat-label>
        <mat-select [placeholder]="'lab_usage_period' | translate" formControlName="period">
          <mat-option *ngFor="let key of periods | flObjectKeys" [value]="periods[key]">
            {{ 'lab_usage_period_' + key | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <ng-container *ngIf="formGroup.value.period === customPeriod">
        <fl-datetime-picker [label]="'lab_usage_period_from' | translate" (dateTimeChange)="startDateChange($event)"
                            formControlName="customStartDate" [maxDate]="currentDate"></fl-datetime-picker>
        @if(formGroup.value.customStartDate){
          <fl-datetime-picker [label]="'lab_usage_period_to' | translate" [minDate]="formGroup.value.customStartDate"
                              [maxDate]="currentDate"
                              (dateTimeChange)="endDateChange($event)" formControlName="customEndDate"></fl-datetime-picker>
        }
      </ng-container>
    </form>

    <fl-async-section [object]="monitor$" class="g-full-height">
      <ng-container *flSectionBody="monitor$ as monitor">
        <lab-monitor-between-dates [monitor]="monitor"></lab-monitor-between-dates>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
