<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">space_dashboard</mat-icon>
      <h2>{{ 'monitoring.apps' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" [matMenuTriggerFor]="nginxMenu" class="g-button-small">
        Nginx
      </button>
      <mat-menu #nginxMenu="matMenu">
        <a mat-menu-item [href]="nginxConfigUrl" target="_blank">
          {{ 'monitoring.nginx_config' | translate }}
        </a>
        <a mat-menu-item [href]="nginxAccessLogUrl" target="_blank">
          {{ 'monitoring.nginx_access_log' | translate }}
        </a>
        <a mat-menu-item [href]="nginxErrorLogUrl" target="_blank">
          {{ 'monitoring.nginx_error_log' | translate }}
        </a>
      </mat-menu>
      <button mat-stroked-button type="button" (click)="stopAll()" class="g-button-small stop-all">
        {{ 'monitoring.app_stop_all_processus' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [object]="status$ | async">
      <ng-container *flSectionBody="status$ as status">
        @for (process of status.processes; track process.id) {
          <lab-app-detail [process]="process" (stopped)="refreshStatus()"></lab-app-detail>
        }
        @if (status.processes.length === 0) {
          <fl-error-text [errorMessage]="'monitoring.app_no_running_app' | translate"></fl-error-text>
        }
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
