<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">space_dashboard</mat-icon>
      <h2>{{ 'monitoring.apps' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" (click)="stopAll()" class="g-button-small">
        {{ 'monitoring.app_stop_all_processus' | translate }}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [object]="status$ | async">
      <ng-container *flSectionBody="status$ as status">
        @for (process of status.processes; track process.id; let i = $index) {
          <fl-card class="card">
            <fl-card-header>
              {{ 'monitoring.app_process' | translate }} {{ i + 1 }}

              <fl-card-actions>
                <button
                  mat-stroked-button
                  type="button"
                  (click)="stopProcess(process.id)"
                  class="g-button-small">
                  {{ 'monitoring.app_stop_process' | translate }}
                </button>
              </fl-card-actions>
            </fl-card-header>
            <fl-card-body>
              <fl-key-value>
                <fl-key>{{ 'monitoring.app_status' | translate }}</fl-key>
                {{ 'monitoring.app_status_' + process.status | translate }}
              </fl-key-value>

              @if (process.statusText) {
                <div>{{ 'monitoring.app_status_details' | translate }}: {{ process.statusText }}</div>
              }

              @if (process.startedBy && process.startedAt) {
                <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
                  <p>{{ 'monitoring.app_started' | translate }} :</p>
                  <fl-user-with-date
                    [user]="process.startedBy"
                    [date]="process.startedAt"></fl-user-with-date>
                </div>
              }

              <fl-key-value>
                <fl-key>{{ 'monitoring.app_nb_of_connection' | translate }}</fl-key>
                {{ process.nbOfConnections }}
              </fl-key-value>

              <fl-key-value>
                <fl-key>{{ 'monitoring.app_config_path' | translate }}</fl-key>
                {{ process.configFilePath }}
              </fl-key-value>

              <lab-monitoring-app-detail [appInstance]="process.app"></lab-monitoring-app-detail>
            </fl-card-body>
          </fl-card>
        }
        @if (status.processes.length === 0) {
          <fl-error-text [errorMessage]="'monitoring.app_no_running_app' | translate"></fl-error-text>
        }
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
