<fl-card *ngIf="lastScenarios">
  <fl-card-header>
    <h2>{{'last_scenarios' | translate}}</h2>
  </fl-card-header>
  <fl-card-body>
    <mat-nav-list *ngIf="lastScenarios.length > 0; else noScenario">
      <mat-list-item *ngFor="let scenario of lastScenarios"
                     class="scenario">
        <a class="scenario-div" [routerLink]="scenario | caDetailRoute">
          <fl-status-chip mat-list-avatar [status]="scenario.status" [mode]="'iconOnly'"
                          class="icon"></fl-status-chip>
          <div class="scenario-title-folder">
            <div class="scenario-title">
              {{scenario.title}}
            </div>
          </div>
          <div class="scenario-date g-text-small">
            <fl-from-now [date]="scenario.lastModifiedAt"></fl-from-now>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>

    <ng-template #noScenario>
      <p>{{'no_scenario' | translate}}</p>
    </ng-template>
  </fl-card-body>
</fl-card>
