.scenario-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.scenario-title-folder {
  width: 60%;
  font-weight: bold;
}

.scenario-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.scenario-date {
  padding-left: 1em;
  width: 25%;
}

.scenario {
  background-color: var(--main-background);
  border-radius: var(--card-radius);
  overflow: hidden;
  margin-top: 0.5em;
}
