<fl-dialog-header>
  <div class="title">
    {{'send_to_dify' | translate}}
  </div>

</fl-dialog-header>

<mat-dialog-content>
  <div class="dialog-content-div">

    @if (difyKnowledgeBases$ | async; as difyKnowledgeBases) {
      @if (difyKnowledgeBases.length > 0) {
        <mat-form-field class="g-form-input">
          <mat-label>{{'knowledge_base' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedKnowledgeBaseId" required>
            @for (knowledgeBase of difyKnowledgeBases; track knowledgeBase.id) {
              <mat-option [value]="knowledgeBase.id">
                {{ knowledgeBase.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      <mat-form-field class="g-form-input">
        <mat-label>{{ 'separator' | translate }}</mat-label>
        <input matInput [(ngModel)]="separator" placeholder="{{ 'separator' | translate }}" />
      </mat-form-field>

      <mat-form-field class="g-form-input">
        <mat-label>{{ 'max_tokens' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="maxTokens" placeholder="{{ 'max_tokens' | translate }}" />
      </mat-form-field>

      <mat-form-field class="g-form-input">
        <mat-label>{{ 'indexing_technique' | translate }}</mat-label>
        <mat-select [(ngModel)]="indexingTechnique">
          <mat-option value="high_quality">{{ 'high_quality' | translate }}</mat-option>
          <mat-option value="economy">{{ 'economy' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

    } @else {
      <div class="g-centered-forced g-text-centered g-full">
        <fl-loader></fl-loader>
      </div>
    }
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="button" class="g-centered-forced primary" [disabled]="isLoading || !selectedKnowledgeBaseId" (click)="sendToKnowledgeBase()">
    {{ 'send' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
