

.loader{
  margin: auto;
}

.doc-div{
  width: 60rem;
  max-width: calc(100vw - 18px);
  border-radius: 18px;
  padding: 0 9px 0 9px;
}


@media (max-width: 900px) {
  .doc-div{
    padding: 0px;
  }
}

.doc-div-content{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

form{
  //take all the available flex space
  flex: 1;
  display: flex;
}

.doc-title-div{
  display: flex;
  align-items: center;
}

.doc-title-div > button{
  margin-left: auto;
}

.content-editor{
  border: none;
  width: 100%;
}

.doc-titles-div{
  display: flex;
  width: fit-content;
}

.right-div{
  height: fit-content;
  //top: calc(223px - 44px);
  padding: 8px;
  border-radius: 18px;
  background-color: var(--card-background);
}

.right-div > div{
  max-height: calc(100vh - 126px);
}

.doc-files-div{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.doc-file{
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-box-title{
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.files-div{
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--hover-color);
  margin-bottom: 0.4em;
  display: flex;
  flex-direction: column;
}

.doc-file:hover{
  cursor: pointer;
  text-decoration: underline;
}
