

.loader{
  margin: auto;
}

.doc-div{
  width: 60rem;
  max-width: calc(100vw - 18px);
}


@media (max-width: 900px) {
  .doc-div{
    padding: 0px;
  }
}

.doc-div-content{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

form{
  //take all the available flex space
  flex: 1;
  display: flex;
}

.doc-title-div{
  display: flex;
  align-items: center;
}

.doc-title-div > button{
  margin-left: auto;
}

.content-editor{
  border: none;
  width: 100%;
}

