

.loader{
  margin: auto;
}

.doc-div{
  width: 60rem;
  max-width: calc(100vw - 18px);
  border-radius: 18px;
  padding: 0 9px 0 9px;
}

.doc-div-content{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

form{
  //take all the available flex space
  flex: 1;
  display: flex;
}

.doc-title-div{
  display: flex;
  align-items: center;
}

.doc-title-div > button{
  margin-left: auto;
}

.content-editor{
  border: none;
  width: 100%;
}

.doc-titles-div{
  display: flex;
  width: fit-content;
}

.right-div{
  height: fit-content;
  //top: calc(223px - 44px);
  padding: 8px;
  border-radius: 18px;
  background-color: var(--card-background);
}

.right-div > div{
  min-height: 20vh;
  max-height: calc(100vh - 126px);
}
