<fl-card class="g-full-height">
  <fl-card-header>
    <!--  Center header  -->
    <fl-search-header>
      <fl-text-icon>
        <mat-icon flIcon="space"></mat-icon>
        <h2>{{'space_list' | translate}}</h2>
      </fl-text-icon>

      <fl-search-header-actions class="g-layout-row g-layout-start-center">
        <button mat-icon-button type="button"
                [matTooltip]="'create_space' | translate"
                (click)="createSpace()">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-stroked-button type="button" class="g-button-small"
                (click)="generateAllUserPersonalSpaces()">
          {{'generate_all_user_space' | translate}}
        </button>
      </fl-search-header-actions>
    </fl-search-header>

  </fl-card-header>

  <fl-card-body class="g-full-height">
    <fl-search>

      <!-- Advanced section in the right in a drawer -->
      <fl-search-advanced-form>
        <ca-space-search-form></ca-space-search-form>
      </fl-search-advanced-form>


      <fl-search-result>
        <ca-space-table [datasource]="datasource" [columns]="columns"></ca-space-table>
      </fl-search-result>

    </fl-search>
  </fl-card-body>
</fl-card>
