h1 {
  font-size: 57.3px;
}

h4 {
  font-size: 23.4px;
}

.home {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.home-subtitle {
  font-size: 2.25em;
  padding: 0 2em;
}

.getting-started-button {
  width: fit-content;
  padding: 1.5em;
  font-size: 1.2em;
  margin: 1em auto;
  color: white;
  border-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  vertical-align: middle;
  gap: 8px;

  .bt-icon {
    height: fit-content;
    align-items: center;
    font-size: 32px;
  }
}

.home-section {
  text-align: center;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2em;
  width: 100%;
}

.home-section-title {
  font-size: 50px;
}

.bg-first-section-div {
  position: relative;
  height: fit-content;
}

.first-section {
  color: white;
  padding-top: 3em;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.discord-button {
  width: fit-content;
  margin-top: 4px;

  .icon-discord {
    margin-top: -5px; // To center it vertically
  }
}

.home-section .go-to-button {
  width: fit-content;
  margin: 1.5em auto 0 auto;
  display: flex;
  flex-direction: row-reverse;
  //top: 2em;
  //right: 0.5em;
  //position: absolute;
}

.getting-started-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
}

.video-container {
  position: relative;
  padding-bottom: 45%;
  margin: 2em 0;
}

.video-container .video-container-iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.users-count-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  background-color: var(--mat-button-filled-container-color);
  border-radius: 18px;
  gap: 1em;
  height: 36px;
  margin-top: 4px;
  font-family: var(--mat-button-filled-label-text-font);
  font-size: var(--mat-button-filled-label-text-size);
  letter-spacing: var(--mat-button-filled-label-text-tracking);
  text-transform: var(--mat-button-filled-label-text-transform);
  font-weight: var(--mat-button-filled-label-text-weight);

  img {
    height: 18px;
  }
}

.titles-div {
  width: 58em;
  max-width: 100%;
  margin-inline: auto;
  margin-bottom: 10em;
}

.titles-div > h4 {
  width: 80%;
}

.section-div {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 2em;
}

.home-card-div {
  display: flex;
  flex-direction: column;
  width: calc(398px - 16px);
  height: calc(168px - 16px);
  border-radius: 18px;
  background-color: var(--card-background);
  padding: 1em 16px;

  h5 {
    flex: 1;
  }

  p {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home-card-div h4 {
  text-align: center;
}

.home-div-image {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 8px;
}

.home-card-div-content {
  display: flex;
  flex-direction: column;
  //space-between;
  justify-content: space-between;
}

.home-list-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 18px;
  justify-content: center;
  text-align: start;
  margin-top: 2em;
}

.home-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-card {
  cursor: pointer;
  background-color: var(--card-background);
}

.space-card {
  margin: 4em auto 2em auto;
  padding: 16px;
  border-radius: 18px;
  background-color: var(--card-background);
  display: flex;
  flex-direction: row;
}

.space-card-content {
  margin-left: 16px;
  width: 100%;
  text-align: center;
}

.section-div {
  gap: 16px;
}

.docker-pull-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8em;

  .docker-pull-image {
    position: relative;
    width: 100%;
    height: 60%;
  }
}

.users-count-text {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  gap: 0.5em;

  h2 {
    color: var(--primary-color);
  }
}

.footer {
  margin-top: auto;
  flex-shrink: 0;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-text {
  padding-left: 10px;
  padding-right: 10px;
  border-left: solid 1px var(--light-color);
}

.footer-text:first-child {
  padding-left: 0;
  border-left: none;
}

.different-doc-links {
  display: flex;
  flex-direction: column;
}

.other-links-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 2em;
}

.fair-open-access-div {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  p {
    width: 80%;
    margin: 0 auto;
  }

  .go-to-button {
    min-width: fit-content;
  }
}

.community-other-links {
  margin-top: 1em;
}

p {
  font-size: 1.2em !important;
}

.fair-open-access-div {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  .fair-open-access-img {
    width: 50%;
    margin: 0 auto;
    height: 40.67vw;
    max-height: 354px !important;
    position: relative;
  }

  p {
    width: 80%;
    margin: 0 auto;
  }

  .go-to-button {
    min-width: fit-content;
  }

  .other-links-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 2em;
  }
}

.community-section-p {
  padding: 0 5em;

  .num-members {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--primary-color);
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 1.6em;
  }

  .home-section-title {
    font-size: 30px;
  }

  .home-subtitle {
    padding: 0 2em;
  }

  .community-section-p {
    padding: 0 2em;
  }

  //.home-card-div{
  //  width: 100%;
  //  height: auto;
  //}

  .getting-started-button {
    font-size: 1em;

    .bt-icon {
      font-size: 24px;
    }
  }

  .fair-open-access-div {
    flex-direction: column;
    margin-top: 2em;

    p {
      text-align: center;
    }

    .go-to-button {
      min-width: fit-content;
    }

    .fair-open-access-img {
      width: 80vw;
      height: 64vw;
    }
  }
}
