mat-tree-node {
  min-height: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  //background-color: var(--main-background);
  border-radius: 10px;
}

.selected-tree-node {
  background-color: var(--hover-color);
}

.tree .tree-node:not(:last-child) {
  margin-bottom: 1em;
}

.tree-node {
  min-height: 32px;
  padding-right: 0;
  width: 100%;
}

.object-name {
  flex: 1;
  padding-right: 0.5em;
  word-break: break-word;
}

.node-icon {
  //margin-left: 0.5em;
  margin-right: 0.5em;
  flex-shrink: 0;
}

.toggle-parent-button {
  flex-shrink: 0;
}
