<fl-input-search
  [selectedItem]="selectGroup"
  (selectedItemChange)="setAndEmitValue($event)"
  [datasource]="datasource"
  [placeholder]="'group' | translate"
  [required]="required"
  [disabled]="disabled"
  [minInputSearchLength]="0">
  <div class="photo" *flInputSearchPrefix="datasource as group">
    @if (!group || group.type === 'TEAM') {
      <mat-icon flIcon="group"></mat-icon>
    } @else {
      <fl-user-profile-picture [user]="group.user" size="small"></fl-user-profile-picture>
    }

  </div>

  <ca-group-inline
    *flInputSearchOption="datasource as group"
    [group]="group"
  [disableUserPortal]="true"></ca-group-inline>
</fl-input-search>
