<fl-async-section [object]="childrenProcesses$" emptyText="biox.process_no_config" class="g-full-height">
  <ng-container *flSectionBody="childrenProcesses$ as processes">
    <div class="container g-full-height">
      <div class="left-section">
        @for (process of processes; track process) {
          <div
            class="process"
            matRipple
            role="button"
            tabindex="0"
            (click)="selectProcess(process.id)"
            (keydown.enter)="selectProcess(process.id)"
            [ngClass]="{ 'process-selected': process.id === (selectedProcess$ | async)?.id }">
            <div>{{ process.name }}</div>
            <div class="g-text-small g-text-light">{{ process.instanceName }}</div>
          </div>
        }
      </div>

      <div class="right-section">
        <lab-configure-process [process$]="selectedProcess$"></lab-configure-process>
      </div>
    </div>
  </ng-container>
</fl-async-section>
