.back-link{
  display: block;
  width: fit-content;
}

.right-div{
  position: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  border-radius: 18px;
  padding: 8px;
}

.author-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.co-author-key-val{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.co-author-span{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title{
  border-radius: 10px;
  padding: 7px 8px;
  margin-top: 8px;
}

.big-title{
  background-color: var(--main-background);
  font-weight: 500;
}

.small-title{
  background-color: var(--hover-color);
  margin-left: 16px;
}

.title:first-child{
  margin-top: 0;
}

.story-pannel{
  margin: 0 auto;
  min-width: 55vw;
  width: fit-content;
  background-color: var(--main-background);
  border-radius: 16px;
}

.story-content{
  width: 60rem;
  max-width: calc(100vw - 32px);
  padding: 16px;
  margin: 19px auto 8px auto;
}

@media (max-width: 900px) {
  .story-content{
    padding: 16px 0 !important;
  }
}

.text-editor{
  border: none;
  width: 60rem;
  max-width: calc(100vw - 32px);
}

.story-date{
  margin-left: 3em;
}

.user-date-info{
  display: flex;
  align-items: center;
}

.date-info{
  margin-left: 4px;
  padding-left: 4px;
}

.side-box-title{
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.files-div table{
  width: 100%;
}

.story-files-div{
  display: flex;
  flex-direction: column;
  gap: 0.5em;

}

.story-file{
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-icons{

}

.story-file:hover{
  cursor: pointer;
  text-decoration: underline;
}

.file-text-icon{
  width: 100%;
}

.files-div{
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--hover-color);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .main-panel{
    margin: 4em auto 0 auto !important;
  }
}

@media (max-width: 1450px) {
  .right-div{
    display: none;
  }
}
