<div class="left-panel">
  <a [routerLink]="storiesListRoute" class="back-link">
    <fl-text-icon [iconPosition]="'start'">
      <mat-icon>arrow_back</mat-icon>
      {{ 'back_to_stories_list' | translate }}
    </fl-text-icon>
  </a>
</div>
@if (story && story.createdBy != null && !notFound) {
  <div class="story-pannel">
    <div class="story-content">
      <h1>
        {{ story.title }}
      </h1>
      <div class="author-div">
        <div>

          <div class="small-text user-date-info">
            <a [routerLink]="profileRoute + story.createdBy.id">
              <fl-user-inline [user]="story.createdBy" [portalOnHover]="false"></fl-user-inline>
            </a>

            <span class="g-text-small date-info">
              <fl-from-now
                [date]="
                  story.publishedAt < story.lastModifiedAt ? story.lastModifiedAt : story.publishedAt
                "></fl-from-now>
            </span>
          </div>

          @if (storyCoAuthors?.length > 0) {
            <fl-key-value class="g-text-small co-author-key-val user-date-info">
              <fl-key>{{ 'coauthors' | translate }}</fl-key>
              <span class="co-author-span">
                @for (coAuthor of storyCoAuthors; track coAuthor.id) {
                  <a [routerLink]="profileRoute + coAuthor.id">
                    <fl-user-inline [user]="coAuthor" [portalOnHover]="false"></fl-user-inline>
                  </a>
                }
              </span>
            </fl-key-value>
          }
        </div>
        <div class="story-like-comment-infos-div">
          <ha-share-button [shareToMedium]="true" [isEditor]="hasRightToEdit"></ha-share-button>

          <div class="story-like-comment">
            <ha-like-button
              (clicked)="toggleLikeStoryButton()"
              [isLiked]="storyIsLiked"
              [likesCount]="story.likes"></ha-like-button>
            <ha-comment-button
              (clicked)="scrollToComments(comments)"
              [commentsCount]="story.comments"></ha-comment-button>
          </div>
          @if (hasRightToEdit) {
            <a
              mat-flat-button
              [routerLink]="storiesListRoute + 'edit/' + story.id"
              class="edit-button primary">
              <mat-icon>edit</mat-icon>
              {{ 'edit' | translate }}
            </a>
          }
        </div>
      </div>
      <article>
        <te-text-editor
          [formControl]="formControl"
          [config]="textEditorConfig"
          class="g-scrollable-element border-none"></te-text-editor>
      </article>
      <div #comments>
        <ha-comments-section [commentType]="commentType" [entity]="story"
                             [user]="currentUser"></ha-comments-section>
      </div>
    </div>
  </div>
} @else if (notFound) {
  <div class="main-panel">
    <ha-ha404></ha-ha404>
  </div>
} @else {
  <div class="main-panel">
    <div class="g-text-centered">
      <fl-loader></fl-loader>
    </div>
  </div>
}

@if (((story && content) || (storyFiles && storyFiles.length > 0 && urlToDownloadFilePrefix)) && !notFound) {
  <ha-text-editor-right-side-panel
    [content]="content"
    [files]="storyFiles"
    [urlToDownloadFilePrefix]="urlToDownloadFilePrefix"></ha-text-editor-right-side-panel>
}
