<div class="left-panel">
  <a [routerLink]="'..'" class="back-link">
    <fl-text-icon [iconPosition]="'start'">
      <mat-icon>arrow_back</mat-icon>
      {{'back_to_all_stories' | translate}}
    </fl-text-icon>
  </a>
</div>
<div class="story-pannel" *ngIf="story">
  <div class="story-content">
    <h3>
      {{story.title}}
    </h3>
    <p class="small-text user-date-info">
      <fl-user-inline [user]="story.getAuthor()" [portalOnHover]="false"></fl-user-inline>
      <span class="g-text-small date-info">{{story.createdAt | flDate:'DATETIME_MED'}}</span>
    </p>


    <fl-text-editor class="text-editor g-max-article-width" mode="JSON" scrollContainer="auto"
                    [config]="textEditorConfig" [noPadding]="true" flAutoScrollToAnchor [formControl]="formControl" [baseDelta]="story?.content">
    </fl-text-editor>
  </div>
</div>
<div class="right-div right-panel" *ngIf="titles && titles.length > 0">
  <a [routerLink]="'.'" *ngFor="let title of titles" [fragment]="title.id" class="title"
     [ngClass]="title.level === 2 ? ['big-title'] : ['small-title']">
    {{title.title}}
  </a>
</div>
