<ca-dashboard-list-layout [datasource]="labInstancesDatasource"
                          sectionTitle="my_labs" titleIcon="lab" emptyText="no_lab_instance"
                          [completeListRoute]="myLabInstancesRoute" completeListText="all_lab_instances"
                          addText="add_new_lab" [showAddButton]="true"
                          (addClick)="openCreateLabInstanceDialog()">
  <ng-template let-item>
    <ca-lab-instance-card [labInstance]="item"></ca-lab-instance-card>
  </ng-template>

  <div section-header>
<!--    <ca-lab-free-trial-create-button class="free-trial">-->
<!--    </ca-lab-free-trial-create-button>-->

    <a [routerLink]="createLabRoute" mat-stroked-button>
      <mat-icon>add</mat-icon>
      {{ 'create_lab_instance' | translate }}
    </a>
  </div>
</ca-dashboard-list-layout>


