<div class="g-page">
  <fl-async-section [arrayObs]="labsDatasource" emptyText="no_lab">
    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big g-icon-background g-primary-background" flIcon="lab"></mat-icon>
        <h1>{{ 'my_labs' | translate }}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button *caIsSpaceUser mat-flat-button type="button" (click)="openCreateLabDialog()" class="primary">
          <mat-icon>add</mat-icon>
          <span>{{ 'add_new_lab' | translate }}</span>
        </button>
      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBodyDatasource="labsDatasource as labs">
      <div class="g-grid-5-cols">
        @for (lab of labs; track lab) {
          <a [routerLink]="lab | caDetailRoute">
            <ca-lab-card [lab]="lab"></ca-lab-card>
          </a>
        }
      </div>

      <fl-infinite-load-more-result [datasource]="labsDatasource"></fl-infinite-load-more-result>
    </ng-container>
  </fl-async-section>
</div>
