<div [formGroup]="formGp">
  <div class="section">
    <h2 class="title">{{ 'select_lab_usage' | translate }}</h2>

    <ca-server-decision-tree (standardServerChanged)="onDecisionTreeChange($event)"></ca-server-decision-tree>
  </div>

  <!--  Standard server  -->
  @if (serverStandards$) {
    <div class="section">
      <h2 class="title">{{ 'select_lab_server' | translate }}</h2>

      @if (serverStandards$ | async; as serverStandards) {
        <mat-radio-group
          class="g-layout-row-wrap g-layout-start-stretch g-layout-gap-1em cloud-provider-section"
          formControlName="standardServer">
          @for (standardServer of serverStandards; track standardServer.id) {
            <mat-radio-button [value]="standardServer" class="radio-button accent" flRadioButtonBig>
              <div>
                {{ standardServer.name }}
              </div>

              <div class="g-text-small g-text-light radio-description">
                {{ standardServer.description }}
              </div>

              <div class="g-text-small g-text-light radio-description">
                {{ standardServer.technicalDescription }}
              </div>

              <fl-key-value>
                <fl-key>{{ 'server_price' | translate }}</fl-key>
                <ca-server-standard-price [serverStandardId]="standardServer.id"></ca-server-standard-price>
                {{ 'server_price_unit' | translate }}
              </fl-key-value>
            </mat-radio-button>
          }
        </mat-radio-group>
      }
    </div>
  }

  <!-- Server cloud  -->
  @if (serverClouds$) {
    <div class="section">
      <h2 class="title">{{ 'select_lab_cloud_provider' | translate }}</h2>

      @if (serverClouds$ | async; as serverClouds) {
        <mat-radio-group
          class="g-layout-row-wrap g-layout-start-stretch g-layout-gap-1em"
          formControlName="serverCloud">
          @for (serverCloud of serverClouds; track serverCloud.id) {
            <mat-radio-button [value]="serverCloud" class="radio-button accent" flRadioButtonBig>
              <ca-cloud-provider-inline
                [cloudProvider]="serverCloud.cloudProvider"></ca-cloud-provider-inline>

              <div class="g-text-small g-text-light radio-description">
                <div>{{ serverCloud.cloudProvider.description }}</div>
                <div class="server-info">
                  <!--      Info about the server for this cloud provider            -->
                  <fl-key-value>
                    <fl-key>{{ 'cpuCount' | translate }}</fl-key>
                    {{ serverCloud.cpuCount }} ({{ serverCloud.cpuType }})
                  </fl-key-value>
                  <fl-key-value>
                    <fl-key>{{ 'ram' | translate }}</fl-key>
                    {{ serverCloud.ram }} {{ 'flCoreComponent.giga_byte_symbole' | translate }}
                  </fl-key-value>

                  <!--  If there is a GPU  -->
                  @if (serverCloud.gpuType) {
                    <fl-key-value>
                      <fl-key>{{ 'gpuCount' }}</fl-key>
                      {{ serverCloud.gpuCount }} ({{ serverCloud.gpuType }})
                    </fl-key-value>
                  }
                </div>
              </div>
            </mat-radio-button>
          }
        </mat-radio-group>
      } @else {
        <fl-loader></fl-loader>
      }
    </div>
  }

  <!-- Region -->
  @if (regions$) {
    <div class="section">
      <h2 class="title">{{ 'select_lab_location' | translate }}</h2>

      @if (regions$ | async; as regions) {
        <mat-radio-group
          class="g-layout-row-wrap g-layout-start-stretch g-layout-gap-1em"
          formControlName="region">
          @for (region of regions; track region.id) {
            <mat-radio-button [value]="region" class="radio-button accent" flRadioButtonBig>
              <ca-cloud-provider-region-multilines [region]="region"></ca-cloud-provider-region-multilines>
            </mat-radio-button>
          }
        </mat-radio-group>
      } @else {
        <fl-loader></fl-loader>
      }
    </div>
  }

  @if (formGp.get('region').valid) {
    <!-- Daily backup region -->
    <div class="section">
      <h2 class="title">{{ 'create_lab_backup_title' | translate }}</h2>

      <fl-text-icon class="help-section">
        <mat-icon>info</mat-icon>
        <p>{{ 'create_lab_backup_section' | translate }}</p>
      </fl-text-icon>

      @if (s3Regions | flDatasourceConnect | async; as s3Regions) {
        <!-- Daily backup region -->
        <h3 class="title">{{ 'daily_backup' | translate }}</h3>

        <mat-radio-group
          class="g-layout-row-wrap g-layout-start-stretch g-layout-gap-1em"
          formControlName="dailyBackupRegion">
          @for (s3Region of s3Regions; track s3Region.id) {
            <mat-radio-button [value]="s3Region" class="radio-button accent" flRadioButtonBig>
              <ca-cloud-provider-region-multilines [region]="s3Region"></ca-cloud-provider-region-multilines>
            </mat-radio-button>
          }
        </mat-radio-group>

        <!-- Weekly backup region -->
        <h3 class="title">{{ 'weekly_backup' | translate }}</h3>

        <mat-radio-group
          class="g-layout-row-wrap g-layout-start-stretch g-layout-gap-1em"
          formControlName="weeklyBackupRegion">
          @for (s3Region of s3Regions; track s3Region.id) {
            <mat-radio-button [value]="s3Region" class="radio-button accent" flRadioButtonBig>
              <ca-cloud-provider-region-multilines [region]="s3Region"></ca-cloud-provider-region-multilines>
            </mat-radio-button>
          }
        </mat-radio-group>

        @if (formGp.hasError('sameBackupRegion')) {
          <mat-error class="g-warn-text">{{ 'lab_backups_same_region_error' | translate }}</mat-error>
        }
      } @else {
        <fl-loader></fl-loader>
      }
    </div>
  }
</div>
