<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="link-form">

    <div class="help-text">
      {{'formula_help_text' | translate}} :
      <a href="https://katex.org/docs/supported.html" target="_blank" class="g-text-link">
        https://katex.org/docs/supported.html
      </a>
    </div>

    <!--  Formula  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'formula' | translate}}</mat-label>
      <textarea matInput [formControl]="formulaControl" required
                placeholder="{{'formula' | translate}}" rows="4">
      </textarea>
      <mat-error *ngIf="formulaControl.hasError('required')">
        {{'formula' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

  </form>

  <div class="preview">
    <p class="g-text-light">{{'formula_preview' | translate}}</p>
    <ng-template #viewContainer></ng-template>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="link-form"
          class="g-centered-forced">
    {{'ok' | translate}}
  </button>
</div>
