<div class="g-page">
  <fl-async-section [arrayObs]="folderDatasource" emptyText="no_folder">
    <fl-section-header class="g-page-title">
      <fl-text-icon iconPosition="start">
        <mat-icon class="g-icon-big g-icon-background g-primary-background">folder</mat-icon>
        <h1>{{ 'my_folders' | translate }}</h1>
      </fl-text-icon>

      <fl-section-actions>
        <button mat-flat-button type="button" (click)="openCreateFolderDialog()" class="accent">
          <mat-icon>add</mat-icon>
          <span>{{ 'new_folder' | translate }}</span>
        </button>
      </fl-section-actions>
    </fl-section-header>

    <ng-container *flSectionBodyDatasource="folderDatasource as folders">
      <div class="g-grid-5-cols">
        @for (folder of folders; track folder) {
          <a [routerLink]="folder | caDetailRoute">
            <ca-hierarchy-object-card [hierarchyObject]="folder"></ca-hierarchy-object-card>
          </a>
        }
      </div>

      <fl-infinite-load-more-result [datasource]="folderDatasource"></fl-infinite-load-more-result>
    </ng-container>
  </fl-async-section>
</div>
