<fl-input-search [selectedItem]="selectedSpace"
                 (selectedItemChange)="setAndEmitValue($event)"
                 [datasource]="spaceDatasource"
                 [placeholder]="placeholder"
                 [required]="required"
                 [disabled]="disabled"
                 (focused)="onFocused($event)">

  <div class="photo" *flInputSearchPrefix="let currentSpace">
    <ca-space-photo *ngIf="currentSpace; else noUser" [space]="currentSpace"
                    size="small"></ca-space-photo>
    <ng-template #noUser>
      <mat-icon flIcon="space"></mat-icon>
    </ng-template>

  </div>

  <ca-space-inline *flInputSearchOption="let space" [space]="space"></ca-space-inline>
</fl-input-search>
