<fl-dialog-header>

  @if(group){
    <h4>{{ 'version' | translate }} - {{ group.end | flDate:'DATE_TIME' }}</h4>
  } @else if (modification){
    <h4>{{ 'version' | translate }} - {{ modification.time | flDate:'DATE_TIME' }}</h4>
  }

</fl-dialog-header>
<mat-dialog-content>
  <div class="content-part-div">
    <div class="users-list">
      @for (textEditorHistoryUser of textEditorHistoryUsers; track textEditorHistoryUser.user) {
        <div class="user-div">
          <co-user-inline [user]="textEditorHistoryUser.user"></co-user-inline>
          <div class="user-color" [style.background-color]="textEditorHistoryUser.color"></div>
        </div>
      }
    </div>
    <te-text-editor *ngIf="content" [config]="textEditorConfig" [disabled]="true" [ngModel]="content"
                    class="g-scrollable-element g-full-height g-max-article-width content"
                    cdkScrollable></te-text-editor>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="dialog-footer">
    <button mat-stroked-button type="button" (click)="openConfirmRollback()">{{'rollback_to_this_content' | translate}}</button>
  </div>
</mat-dialog-actions>
