<ha-page [showHeaderCreateButton]="true">
  <fl-infinite-scroll [datasource]="communityAppsPaginated" infiniteMode="auto" class="section">
    <co-list-filters
      [user]="user"
      [listEntityType]="listEntityType"
      [sortsCriteriaKeys]="sortsCriteriaKeys"
      (sortsCriteriaChanged)="onSortsCriteriaChanged($event)"
      (titleFilterChanged)="onTitleFilterChanged($event)"
      (spacesFilterChanged)="onSpacesFilterChanged($event)"
      (myEntitiesChanged)="onMyEntitiesChanged($event)"></co-list-filters>
    <ha-list-of-items>
      @for (communityApp of communityAppsPaginated | flDatasourceConnect | async; track communityApp.id) {
        <a class="apps-result-card-div" [routerLink]="communityApp | haDetailRoute">
          <co-community-app-list-item
            [communityApp]="communityApp"
            [appPicture]="communityApp.picture | haAppPicture"></co-community-app-list-item>
        </a>
      }
    </ha-list-of-items>
  </fl-infinite-scroll>
</ha-page>
