.bt {
  width: 100%;
  border-radius: 18px !important;
  height: 56px;
  padding: 8px;
}

.first-bt {
  margin-top: 77px;
}

.my-apps-bt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bt-primary {
  background-color: var(--primary-color) !important;
  color: var(--color-text-primary) !important;
}

.apps-result-card-div{
  margin-bottom: 32px;
}
