<ha-header>
  <div class="header-content-div">
    <div></div>
    <div>
      <h1>{{ 'apps' | translate}}</h1>
      <p class="header-subtitle g-large-text">{{ 'discover_create_and_share_bricks' | translate}}</p>
    </div>
  </div>
</ha-header>

<div class="page">

  <fl-infinite-scroll [datasource]="communityAppsPaginated" infiniteMode="auto" class="section">
    <ha-list-of-items>
      @for (communityApp of communityAppsPaginated | flDatasourceConnect | async; track communityApp.id) {
        <a class="apps-result-card-div" [routerLink]="communityApp | haDetailRoute">
          <co-community-app-list-item [communityApp]="communityApp"
                                      [appPicture]="communityApp.picture | haAppPicture"></co-community-app-list-item>
        </a>
      }
    </ha-list-of-items>
  </fl-infinite-scroll>

  <div class="section section-with-background">
    <div class="section-title">
      <ha-home-section-shine>Les applications partagées par la communauté</ha-home-section-shine>
      <h2>Vous avez développé une app  ?</h2>
    </div>
    <p class="g-large-text section-description">
      Proposez-la pour accélérer les projets de toute la communauté.
    </p>
    <div class="section-buttons-div">
      <ha-button theme="dark">Soumettre une application</ha-button>
    </div>
  </div>

</div>

<ha-footer></ha-footer>
