td {
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
}

.right-cell {
  padding-left: 2em;
}

.title {
  text-align: left;
  padding-top: 1em;
}

.price {
  margin-top: 1em;
}

.simulation {
  margin-top: 1em;
}

.divider {
  width: 80%;
  margin: 2em auto;
}

@media (max-width: 959px) {
  .container {
    flex-direction: column;
  }

  .right-section {
    margin-top: 2em;
    margin-left: 0;
  }
}
