<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>data_usage</mat-icon>
      <h2>{{'lab_usage' | translate}}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <form [formGroup]="formGroup"
          class="g-form-field-compact g-layout-row-wrap g-layout-start-center g-layout-gap-05em">
      <!--  Period  -->
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{'lab_usage_period' | translate }}</mat-label>
        <mat-select [placeholder]="'lab_usage_period' | translate" formControlName="period">
          <mat-option *ngFor="let key of periods | flObjectKeys" [value]="periods[key]">
            {{'lab_usage_period_' + key | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container  *ngIf="formGroup.value.period === customPeriod">

        <!--    Created at from    -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{'lab_usage_period_from' | translate}}</mat-label>
          <input matInput formControlName="customStartDate" autocomplete="disabled"
                 [matDatepicker]="createdAtFrom" [placeholder]="'lab_usage_period_from' | translate">
          <mat-datepicker-toggle matSuffix [for]="createdAtFrom"></mat-datepicker-toggle>
          <mat-datepicker #createdAtFrom></mat-datepicker>
        </mat-form-field>

        <!--    Created at to    -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{'flSearch.end_date' | translate}}</mat-label>
          <input matInput formControlName="customEndDate" autocomplete="off"
                 [min]="formGroup.value.customStartDate"
                 [matDatepicker]="createdAtTo" [placeholder]="'lab_usage_period_to' | translate">
          <mat-datepicker-toggle matSuffix [for]="createdAtTo"></mat-datepicker-toggle>
          <mat-datepicker #createdAtTo></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </form>

    <fl-async-section [object]="runResponse$" class="section">
      <ng-container *flSectionBody="let runResponse">
        <fl-key-value>
          <fl-key>{{'lab_usage_running_duration' | translate}}</fl-key>
          {{(runResponse.runDuration * 1000) | flDuration}}
        </fl-key-value>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
