<div class="content">
  <div class="left-side">
    <mat-chip-option [value]="isSelected('public')" (click)="selectSpace('public')" color="accent"
                       class="space-list-option">
      {{ 'biox.public' | translate }}
    </mat-chip-option>
    @if (spaces?.length > 0) {
      <mat-divider></mat-divider>
    }
    @for (space of spaces; track space.id) {
      <mat-chip-option [value]="isSelected(space.id)" (click)="selectSpace(space.id)" color="warn"
                       class="space-list-option">
        {{ space.name }}
      </mat-chip-option>
    }
  </div>
  <div class="right-side">
    <div class="search-bar-title">
      <form type="submit" (ngSubmit)="search()">
        <mat-form-field class="search-bar">
          <input matInput [formControl]="titleFormControl" placeholder="{{'biox.search_by_title' | translate}}">
          <button mat-icon-button matSuffix aria-label="Clear" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div class="live-tasks-list-div g-scrollable-element" *ngIf="liveTasksDatasource"
         (flInfiniteScroll)="liveTasksDatasource.getNextPage()"
         [flInfiniteDisabled]="liveTasksDatasource?.isLoading || liveTasksDatasource?.page?.last"
         flInfiniteMode="auto">
      <div *ngFor="let liveTask of liveTasksDatasource.connect() | async">
        <lt-live-task-list-item [liveTask]="pythonLabLiveTaskToLtLiveTask(liveTask)" (click)="onLiveTaskClick(liveTask)"
                                [backgroundColor]="'main'"></lt-live-task-list-item>
      </div>
    </div>
  </div>
</div>

