<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>insights</mat-icon>
      <h2>{{ 'my_activity' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>

  @if (stats) {
    <fl-card-body>
      <div class="activities-div">
        <div class="activity">
          <ca-dashboard-activity-card
            [activityNumber]="stats.onGoingFolderNumber"
            [activityText]="'ongoing_folders'"></ca-dashboard-activity-card>
        </div>
        <div class="activity">
          <ca-dashboard-activity-card
            [activityNumber]="stats.teamsNumber"
            [activityText]="'teams'"></ca-dashboard-activity-card>
        </div>
        <div class="activity">
          <ca-dashboard-activity-card
            [activityNumber]="stats.runningLabNumber"
            [activityText]="'running_labs'"></ca-dashboard-activity-card>
        </div>
        <div class="activity">
          <ca-dashboard-activity-card
            [activityNumber]="stats.validatedScenarioNumber"
            [activityText]="'scenarios'"></ca-dashboard-activity-card>
        </div>
        <div class="activity">
          <ca-dashboard-activity-card
            [activityNumber]="stats.validatedNoteNumber"
            [activityText]="'notes'"></ca-dashboard-activity-card>
        </div>
      </div>
    </fl-card-body>
  }
</fl-card>
