.navigation-div{
  margin-top: 30px;
  padding: 0 100px 13px 100px;
}

.back-link{
  display: block;
  width: fit-content;
}

.main-div {
  margin: 8px auto;
  background-color: var(--main-background);
  padding: 18px 36px;
  border-radius: 18px;
}

.top-div{
  display: flex;
}

.inputs-div{
  width: 65%;
  padding-right: 5%;
}

.form-field{
  width: 100%;
}

.content-form-field{
  width: 100%;
}

.story-content-form{
  border: 1px solid var(--hover-color);
  margin: auto;
  padding: 0 0.75em;
  transition: 0.2s;
  border-radius: 0.5em;
}

.story-content-form:hover{
  border: 1px solid var(--color-foreground);
}

.content-editor{
  border: none;
  min-height: 40em;
}

.focus{
  transition: 0s !important;
  border: 1px solid var(--primary-color) !important;
}

.publish-story-bt {
  width: 100%;
  border-radius: 18px !important;
  background-color: var(--card-background);
  height: 56px;
  padding: 8px;
  margin-top: -0.25em;
}

.input-icon{
  cursor: pointer;
}

.co-author-bt{
  margin: 0.25em 0 auto auto;
}

.top-right-inputs{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.top-right-top-row{
  display: flex;
  flex-direction: row;
}

.add-file-button{
  margin-top: 1em;
  height: 56px;
  padding: 8px;
  width: 100%;
}

//*{
//  outline: 1px red solid;
//}
