<div class="left-panel">
  <mat-icon class="button-close-left-panel" haSidenavButton></mat-icon>
  <a [routerLink]="story?.publishedAt == null ? ['/stories'] :['/stories/' + story?.id]" class="back-link">
    <fl-text-icon [iconPosition]="'start'">
      <mat-icon>arrow_back</mat-icon>
      {{(story?.publishedAt == null ? 'back_to_stories_list' : 'back_to_my_story_page') | translate}}
    </fl-text-icon>
  </a>
</div>

@if(story && !notFound){
  <div class="main-panel g-max-article-width">
    <div class="title-image-div">
      <h2 id="storyTitle" class="title-input" flElementEditable (flElementValueChange)="onTitleChange($event)">
        {{ story.title }}
      </h2>
      <fl-update-image-container class="story-image-preview" [uploadConfig]="imageConfig"
                                 [deleteConfig]="deleteImageConfig" [showDelete]="!isMainImageInContent()">
        <div class="story-image"
             [style.background-image]="story.mainPicture ? 'url(\'' + getStoryImageLink(story.mainPicture) + '\')' : null">
        </div>
      </fl-update-image-container>
    </div>

    <mat-form-field class="form-field">
      <mat-select [formControl]="formGp.controls.category" (valueChange)="onStoryCategoryChange($event)">
        <mat-option *ngFor="let category of storyCategories" [value]="category">
          {{category.toLowerCase() | translate}}
        </mat-option>
      </mat-select>
      <mat-label>{{'category' | translate}}</mat-label>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>{{'topics' | translate}}</mat-label>
      <mat-chip-grid #topicChipList>
        <mat-chip-row *ngFor="let topic of story.topics" (removed)="removeTopic(topic)">
          {{topic.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <input matInput flInputMaxLength="30" [formControl]="topicControl"
               [matAutocomplete]="auto" [matChipInputFor]="topicChipList" #topicInput>
      </mat-chip-grid>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="onSelectTopic($event)">
        <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
          {{topic.name}}
        </mat-option>
      </mat-autocomplete>
      @if(canSaveTopic && story.topics.length < 5 && checkTopicControl()){
        <mat-icon matSuffix (click)="saveTopic()"
                  [matTooltip]="'create_new_story_topic' | translate" class="input-icon">
          save
        </mat-icon>
      }
    </mat-form-field>
    <div class="buttons-div">
      @if(story.status === 'DRAFT'){
        <div>
          <button mat-flat-button type="button" class="publish-story-bt" *haIsAuthenticated
                  (click)="publish()" color="primary" [matTooltip]="'publish_the_story' | translate">
            <fl-text-icon [iconPosition]="'end'">
              <mat-icon>publish</mat-icon>
              {{'publish_story' | translate}}
            </fl-text-icon>
          </button>
        </div>
      }
      @if (story.status !== 'DRAFT' && (contentModified || !syncWithBack)) {
        <div class="save-content-div">
          <button mat-flat-button type="button" class="save-story-bt" *haIsAuthenticated
                  (click)="save()" color="primary" [matTooltip]="'publish_story_with_modifications' | translate"
                  [disabled]="!syncWithBack">
            {{'publish_story_modifications' | translate}}
          </button>
          @if(syncWithBack){
            <span class="g-text-small">
              {{'story_modification_saved_to_draft' | translate}}
            </span>
          } @else {
            <fl-loader size="small" [matTooltip]="'saving_story_content' | translate"></fl-loader>
          }
        </div>

      }
      <div class="right-bts-div">
        <button mat-icon-button type="button" (click)="openHistoryPanel()">
          <mat-icon>history</mat-icon>
        </button>
        @if (isAuthor) {
          <button mat-icon-button type="button" class="co-author-bt"
                  (click)="openCoAuthorDialog()" [matTooltip]="'open_story_coauthor_panel' | translate">
            <mat-icon>group_add</mat-icon>
          </button>
        }
        <button mat-icon-button [matTooltip]="'delete_story' | translate" type="button" color="warn" (click)="openDeleteStoryConfirmDialog()" class="add-file-button-author">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    @if(contentHasError){
      <mat-error>{{contentError | translate}}</mat-error>
    }
    <form class="story-content-form" [formGroup]="formGp" id="story-content-form"
          [ngClass]="contentEditorIsFocused ? ['focus'] : []">
      <te-text-editor class="border-none" [config]="textEditorConfig" (textChange)="onContentUpdate($event)" [formControl]="getContentFormControl()"></te-text-editor>
    </form>
  </div>
} @else if(notFound) {

  <div class="main-panel">
    <ha-ha404></ha-ha404>
  </div>
}

