<div class="entity-page-infos-list">
  <ng-content></ng-content>

  @if (contributors()?.length > 0) {
    <div class="entity-page-info-div">
      <div class="entity-page-info-div-title">
        <span class="g-text-medium g-weight-600">{{ 'contributors' | translate }}</span>
        @if (isAuthor() && showCoAuthorsButton()) {
          <button
            mat-icon-button
            type="button"
            class="co-author-bt"
            (click)="openCoAuthorDialog()"
            [matTooltip]="'open_coauthor_panel' | translate">
            <mat-icon>group_add</mat-icon>
          </button>
        }
      </div>
      <div class="entity-page-info-div-content">
        @for (contributor of contributors(); track contributor.id) {
          <a [routerLink]="'/profile/' + contributor.id">
            <fl-user-inline [user]="contributor" [portalOnHover]="false"></fl-user-inline>
          </a>
        }
      </div>
    </div>

    <div class="entity-page-separator"></div>
  }

  @if (date()) {
    <div class="entity-page-info-div">
      <span class="g-text-medium g-weight-600">{{ 'publication_date' | translate }}</span>
      <p>{{ date() | flDate: 'DATE' }}</p>
    </div>

    <div class="entity-page-separator"></div>
  }

  @if (space() !== undefined) {
    <div class="entity-page-info-div">
      <span class="g-text-medium g-weight-600">{{ 'confidentiality' | translate }}</span>
      <co-visibility-badge [space]="space()" size="medium"></co-visibility-badge>
    </div>

    <div class="entity-page-separator"></div>
  }

  @if (likesCount() !== undefined || commentsCount() !== undefined || executions() !== undefined) {
    <div class="entity-page-info-div">
      <span class="g-text-medium g-weight-600">{{ 'reactions' | translate }}</span>
      <co-stats-list
        [likes]="likesCount()"
        [comments]="commentsCount()"
        [executions]="executions()"
        [isClickable]="true"
        [isLiked]="isLiked()"
        (likeClicked)="onLikeClicked()"
        (commentClicked)="onCommentClicked()"></co-stats-list>
    </div>

    <div class="entity-page-separator"></div>
  }

  <div class="entity-page-info-div">
    <span class="g-text-medium g-weight-600">{{ 'share' | translate }}</span>
    <div class="share-buttons-div">
      @for (shareButton of shareButtons; track shareButton.label) {
        <button
          mat-icon-button
          [matTooltip]="('share_on' | translate) + ' ' + shareButton.label"
          (click)="shareButton.onClick()">
          <mat-icon [svgIcon]="shareButton.icon"></mat-icon>
        </button>
      }
    </div>
  </div>
</div>
