<div class="comment-zone">

  <!-- List of comments -->
  <fl-infinite-scroll [datasource]="comments()" class="comment-div" [reverseMode]="true" [textNoResult]="'no_comments'"
                      [textNoMoreResult]="''">
    <div class="comments-container g-layout-col-reverse">
      @for (comment of comments() | flDatasourceConnect | async; track comment.id) {
        <ca-chat-message [comment]="comment" [folderId]="folderId()" class="comment"
                         (commentUpdated)="commentUpdated($event)"
                         (commentDeleted)="commentDeleted($event)"></ca-chat-message>
      }
    </div>
  </fl-infinite-scroll>

  <!-- Zone to write a new comment -->
  <ca-chat-write-message [folderId]="folderId()" mode="create" (send)="createNewComment($event)"
                         class="new-comment g-scrollable-element"></ca-chat-write-message>
</div>

