<div class="chat">

  <!-- List of messages -->
  <fl-infinite-scroll [datasource]="messages()" class="message-div" [reverseMode]="true" [textNoResult]="'no_messages'"
                      [textNoMoreResult]="''">
    <div class="messages-container g-layout-col-reverse">
      @for (message of messages() | flDatasourceConnect | async; track message.id) {
        <ca-chat-message [message]="message" [folderId]="folderId()" class="message"
                         (messageUpdated)="messageUpdated($event)"
                         (messageDeleted)="messageDeleted($event)"></ca-chat-message>
      }
    </div>
  </fl-infinite-scroll>

  <!-- Zone to write a new message -->
  <ca-chat-write-message [folderId]="folderId()" mode="create" (send)="createNewMessage($event)"
                         class="new-message g-scrollable-element"></ca-chat-write-message>
</div>

