<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon flIcon="folder"></mat-icon>
      <h2>{{ 'lab_folders' | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions *ngIf="isOwner$ | async">
      <button
        mat-icon-button
        type="button"
        (click)="openAddFolderDialog()"
        [matTooltip]="'lab_add_folder' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <p class="g-text-light">{{ 'lab_folders_section_help' | translate }}</p>

    <fl-async-section [arrayObs]="datasource" emptyText="no_lab_folder">
      <ng-container *flSectionBodyDatasource>
        <div class="g-infinite-table g-scrollable-element">
          <ca-lab-folders-table [datasource]="datasource" [columns]="columns$ | async" [labId]="labId">
          </ca-lab-folders-table>
        </div>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
