<fl-card>

  <fl-card-header>
    <h2>{{'smart_db.management' | translate}}</h2>

    <fl-card-actions>
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu>
        <button mat-menu-item type="button" (click)="openSmartDbUpdateDialog()">
          <mat-icon>edit</mat-icon>
          {{'smart_db.update' | translate}}
        </button>

        <button mat-menu-item type="button" (click)="openSmartDbDeleteDialog()">
          <mat-icon color="warn">delete</mat-icon>
          <span class="g-warn-text">{{'smart_db.delete_smart_db' | translate}}</span>
        </button>

      </mat-menu>
    </fl-card-actions>
  </fl-card-header>
  <fl-card-body>
    <div class="g-layout-row-wrap g-layout-start-center g-layout-gap-1em">
      <a mat-stroked-button [href]="downloadUrl" download class="g-button-small">
        <mat-icon>cloud_download</mat-icon>
        {{'smart_db.download' | translate}}
      </a>


      <button mat-stroked-button type="button" (click)="openUploadDialog()" class="g-button-small">
        <mat-icon>cloud_upload</mat-icon>
        {{'smart_db.upload_data' | translate}}
      </button>
    </div>
  </fl-card-body>

</fl-card>
