<fl-dialog-header>
  {{ 'edit' |translate }}
</fl-dialog-header>


<mat-dialog-content>

  <form (ngSubmit)="submit()" id="edit-user-form" [formGroup]="formGp" fxLayout="column">

    <div class="g-centered-forced photo" (click)="activeInput($event)">

      <div class="photo-over">
        <mat-icon class="photo-icon">add_a_photo</mat-icon>
      </div>
      <input flInputFile type="file" accept="image/jpg,image/jpeg,image/png" (fileChange)="onFileSelected($event)"
             [strictMode]="true" [autoClearHtmlInput]="true" [hidden]="true" id="input-photo" #input>
      <fl-user-profile-picture [user]="user" [size]="'big'">

      </fl-user-profile-picture>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1%">
      <mat-form-field fxFlex="49%">
        <mat-label>{{'firstname' | translate}}</mat-label>
        <input matInput type="text" formControlName="firstname" required flInputMaxLength="50"
               [placeholder]="'firstname' | translate">
        <mat-error *ngIf="formGp.get('firstname').hasError('required')">
          {{'firstname' | flErrorRequired}}
        </mat-error>
      </mat-form-field>

      <mat-form-field  fxFlex="49%">
        <mat-label>{{'lastname' | translate}}</mat-label>
        <input matInput type="text" formControlName="lastname" required flInputMaxLength="50"
               [placeholder]="'lastname' | translate">
        <mat-error *ngIf="formGp.get('lastname').hasError('required')">
          {{'lastname' | flErrorRequired}}
        </mat-error>
      </mat-form-field>

      <mat-form-field  fxFlex="49%">
        <mat-label>{{'phone_number' | translate}}</mat-label>
        <input matInput formControlName="phone" flInputMaxLength="50">
      </mat-form-field>

      <mat-form-field  fxFlex="49%">
        <mat-label>{{'company' | translate}}</mat-label>
        <input matInput type="text" formControlName="company" flInputMaxLength="100">
      </mat-form-field>
    </div>


    <mat-form-field class="g-form-input">
      <mat-label>{{'activity' | translate}}</mat-label>
      <input matInput type="text" formControlName="activity" flInputMaxLength="100">
    </mat-form-field>

    <mat-form-field class="g-form-input">
      <mat-label>{{'biography' | translate}}</mat-label>
      <textarea matInput formControlName="biography" class="biography-input" flInputMaxLength="500"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" form="edit-user-form"
          class="g-centered-forced" (submit)="submit()">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
