<!--   Mat menu containing action buttons   -->
<button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopPropagation($event)">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">

  <button mat-menu-item type="button" (click)="openTagFormDialog()">
    <mat-icon>local_offer</mat-icon>
    <span>{{'biox.update_view_tags' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateName()">
    <mat-icon>edit</mat-icon>
    <span>{{'biox.update_view_config_title' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openSelectReport()">
    <mat-icon flIcon="report"></mat-icon>
    <span>{{'biox.add_view_to_report' | translate}}</span>
    <fl-button-loader *ngIf="addToReportIsLoading"></fl-button-loader>
  </button>


</mat-menu>
