.portal-notifications{
  height: 90vh;
  width: 32em;
  border-radius: 1em;
}

.head-notif-portal{
  margin-left: auto;
  align-items: flex-end;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  margin-right: 0.75em;
}

.slide{
  margin-left: 0.4em;
}

.notification{
  width: calc( 100% - 0.5em );
  min-height: 80px;
  max-height: 80px;
  background-color: var(--card-background);
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.created-by-pp{
  width: 20%;
}


.infinite-scroll{
  height: 100%;
}

.divider{
  width: calc( 100% - 0.5em );
  margin-bottom: 0.5em;
}

.notification-content{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notification-text{
  overflow: hidden;
  text-overflow: ellipsis;
  // multi-line ellipsis
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.notification-read-div{
  width: 5%;
  height: 100%;
}

.not-read-dot{
  position: relative;
  width: 0.75em;
  height: 0.75em;
  background-color: var(--primary-color);
  border-radius: 0.75em;
}

.read-all-text{
  margin-left: auto;
  margin-right: 0.5em;
}
