<fl-dialog-header>
  <h1>{{ 'status_history' | translate }}</h1>
</fl-dialog-header>

<mat-dialog-content>
  <fl-async-section [arrayObs]="statusHistories" emptyText="no_history">
    <ng-container *flSectionBodyDatasource="statusHistories as histories">
      <div *ngFor="let statusHistory of histories">
        <ca-status-history-card [statusHistory]="statusHistory"> </ca-status-history-card>

        <mat-divider class="divider"></mat-divider>
      </div>
    </ng-container>
  </fl-async-section>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="button" color="primary" class="g-centered-forced" matDialogClose>
    {{ 'ok' | translate }}
  </button>
</div>
