:host {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  // 0.5em is corresponding to the padding of folder hierarchy in ca-hiararchy-object-detail-page.component.html
  padding: var(--main-menu-margin) 1em 1em 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trash-button {
  margin-left: 1em;
}
