<div class="form g-layout-col" [formGroup]="formGp">
  <div class="g-full g-form-field-compact g-layout-row-wrap g-layout-between-center">
    <!--  Name  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input matInput formControlName="name" [placeholder]="'name' | translate" autocomplete="off" />
    </mat-form-field>

    <!--  Bucket type  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'bucket_type' | translate }}</mat-label>
      <mat-select formControlName="bucketType" [placeholder]="'bucket_type' | translate" [multiple]="true">
        @for (bucketType of bucketTypes | flObjectKeys; track bucketType) {
          <mat-option [value]="bucketType">
            {{ bucketType }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!--  Content type  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'bucket_content_type' | translate }}</mat-label>
      <mat-select
        formControlName="contentType"
        [placeholder]="'bucket_content_type' | translate"
        [multiple]="true">
        @for (contentType of contentTypes | flObjectKeys; track contentType) {
          <mat-option [value]="contentType">
            {{ contentType }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!--  Space  -->
    <fl-form-field class="g-search-field">
      <ca-select-space formControlName="space" [placeholder]="'space' | translate"></ca-select-space>
    </fl-form-field>

    <!--  Region  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'cloud_provider_region' | translate }}</mat-label>
      <mat-select formControlName="region" [placeholder]="'cloud_provider_region' | translate">
        @if (formGp.get('region').value) {
          <mat-select-trigger>
            <ca-cloud-provider-region-inline
              [region]="formGp.get('region').value"
            size="small"></ca-cloud-provider-region-inline>
          </mat-select-trigger>
        }
        <ca-select-cloud-provider-region-options mode="S3"></ca-select-cloud-provider-region-options>
      </mat-select>
    </mat-form-field>

    <!--  Lab  -->
    <fl-form-field class="g-search-field">
      <ca-select-lab formControlName="lab" mode="all-cloud" [placeholder]="'lab' | translate"></ca-select-lab>
      @if (formGp.get('lab').hasError('required')) {
        <mat-error>
          {{ 'lab' | flErrorRequired }}
        </mat-error>
      }
    </fl-form-field>

    <!--  Credentials  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'bucket_credentials' | translate }}</mat-label>
      <mat-select formControlName="credentials" [placeholder]="'bucket_credentials' | translate">
        <ca-select-bucket-credentials-options></ca-select-bucket-credentials-options>
      </mat-select>
    </mat-form-field>

    <!--Created by-->
    <fl-form-field class="g-search-field">
      <fl-select-user
        formControlName="createdBy"
        mode="all"
      [placeholder]="'created_by' | translate"></fl-select-user>
    </fl-form-field>

    <!--  Last modified by  -->
    <fl-form-field class="g-search-field">
      <fl-select-user
        formControlName="lastModifiedBy"
        mode="all"
      [placeholder]="'last_modified_by' | translate"></fl-select-user>
    </fl-form-field>

    <!--  Id -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'id' | translate }}</mat-label>
      <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off" />
    </mat-form-field>

    <!--  Creation date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small subtitle">{{ 'creation_date' | translate }}</p>
      <fl-search-date-interval formGroupName="createdAt"> </fl-search-date-interval>
    </div>

    <!--  Last modification date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small subtitle">{{ 'last_modification_date' | translate }}</p>
      <fl-search-date-interval formGroupName="lastModifiedAt"> </fl-search-date-interval>
    </div>
  </div>
</div>
