<form
  (ngSubmit)="submit()"
  id="biox-form"
  [formGroup]="formGp"
  class="g-layout-row-wrap g-layout-start-center g-layout-gap-1em">
  <!--  Typing Name  -->
  <mat-form-field>
    <mat-label>{{ 'biota.database_type' | translate }}</mat-label>
    <mat-select formControlName="typingName" required>
      <lab-biota-database-select-options></lab-biota-database-select-options>
    </mat-select>
    <mat-error *ngIf="formGp.get('typingName').hasError('required')">
      {{ 'biota.database_type' | flErrorRequired }}
    </mat-error>
  </mat-form-field>

  <!--    Search      -->
  <mat-form-field class="g-flex-auto">
    <mat-label>{{ 'biota.database_search_field' | translate }}</mat-label>
    <input
      matInput
      formControlName="searchText"
      required
      placeholder="{{ 'biota.database_search_field' | translate }}" />
    <mat-error *ngIf="formGp.get('searchText').hasError('required')">
      {{ 'biota.database_search_field' | flErrorRequired }}
    </mat-error>
  </mat-form-field>

  <div class="button">
    <button mat-flat-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      {{ 'search' | translate }}
    </button>
  </div>
</form>
