<div flClass.gt-sm="g-layout-row" flClass.lt-md="g-layout-col">

  <div class="dashboard-left">
    <div class="g-page-title g-layout-row g-layout-start-center g-layout-gap-1em">

      <div class="g-layout-row g-layout-start-end">
        <h1 *ngIf="currentSpace$ | async as currentSpace">
          {{'welcome_message' | translate:{name: currentSpace.name} }}
        </h1>
      </div>
      <div class="g-flex-auto">
        <ca-user-list-inline [userDatasource]="spaceUsers" [disabled]="true"></ca-user-list-inline>
      </div>
    </div>


    <!-- My folder list -->
    <div class="section">
      <ca-dashboard-folders></ca-dashboard-folders>
    </div>

    <!-- labs -->
    <div class="section">
      <ca-dashboard-labs></ca-dashboard-labs>
    </div>

    <!-- My Teams -->
    <div class="section">
      <ca-dashboard-teams></ca-dashboard-teams>
    </div>
  </div>


  <div class="dashboard-right">

    <div class="g-full g-layout-row g-layout-start-center g-layout-gap-1em">

      <a class="link-button" href="mailto:{{supportMail}}" matRipple>
        <fl-text-icon class="support">
          <mat-icon>help</mat-icon>
          <div>{{'support' | translate}}</div>
        </fl-text-icon>
      </a>

      <a [href]="communityLink" target="_blank"
         class="link-button g-layout-row g-layout-start-center" matRipple>
        <img src="assets/fl-logo/community_logo.svg" alt="Community logo"
             class="community-logo"/>
        <span class="community-text">Community</span>
      </a>
    </div>

    <!-- My Activity  -->
    <div class="r-section">
      <ca-dashboard-my-activity></ca-dashboard-my-activity>
    </div>

    <!-- Last scenarios  -->
    <div class="r-section">
      <ca-dashboard-last-scenarios></ca-dashboard-last-scenarios>
    </div>

    <!-- Task of the day -->
<!--    <div class="r-section">-->
<!--      <ca-dashboard-task-of-the-day></ca-dashboard-task-of-the-day>-->
<!--    </div>-->


  </div>

</div>
