<fl-dialog-header>
  {{ 'edit' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="edit-form" [formGroup]="formGp" class="g-layout-col">
    <fl-update-image-container
      class="brick-image-div"
      [uploadConfig]="imageConfig"
      [deleteConfig]="deleteImageConfig"
      [showDelete]="!!formGp.value.imageLink">
      <img [src]="formGp.value.imageLink | haBrickImage" alt="Brick Image" />
    </fl-update-image-container>

    <!--  description  -->
    <mat-form-field class="g-form-input" appearance="outline">
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="description"
        flInputMaxLength="255"
        placeholder="{{ 'description' | translate }}"></textarea>
      @if (formGp.get('description').hasError('required')) {
        <mat-error>{{ 'description' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  visibility  -->
    <mat-label>{{ 'visibility' | translate }}</mat-label>
    <mat-radio-group formControlName="visibility">
      <mat-radio-button
        [value]="'private'"
        class="radio-bt"
        [checked]="formGp.value.visibility === 'private'">
        {{ 'private' | translate }}</mat-radio-button
      >
      <mat-radio-button [value]="'public'" class="radio-bt" [checked]="formGp.value.visibility === 'public'">
        {{ 'public' | translate }}</mat-radio-button
      >
    </mat-radio-group>

    <!--  space  -->
    @if (formGp.value.visibility === 'private') {
      <mat-label class="input-repo">{{ 'space' | translate }}</mat-label>
      <div>
        <mat-radio-group formControlName="space">
          @for (space of spaces; track space.id) {
            <mat-radio-button
              [value]="space"
              class="radio-bt"
              [checked]="formGp.value.space?.id === space?.id">
              {{ space.name }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    }

    <!--  pipRepo  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_pip' | translate }}</mat-label>
      <input matInput type="text" formControlName="pipRepo" placeholder="{{ 'repo_pip' | translate }}" />
    </mat-form-field>

    <!--  gitRepo  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_git' | translate }}</mat-label>
      <input matInput type="text" formControlName="gitRepo" placeholder="{{ 'repo_git' | translate }}" />
    </mat-form-field>

    <p>{{ 'repo_credentials' | translate }}</p>

    <!--  Repo credentials username  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_credentials_username' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="credentialUsername"
        placeholder="{{ 'repo_credentials_username' | translate }}" />
    </mat-form-field>

    <!--  Repo credentials password  -->
    <mat-form-field class="g-form-input no-margin-bottom" appearance="outline">
      <mat-label>{{ 'repo_credentials_password' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="credentialPassword"
        placeholder="{{ 'repo_credentials_password' | translate }}" />
    </mat-form-field>

    @if (repoError) {
      <p class="error-repo">
        {{ 'repo_error' | translate }}
      </p>
    }
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="edit-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
