<div class="form g-layout-col" [formGroup]="formGp">
  <div class="g-full g-form-field-compact g-layout-row-wrap g-layout-between-center">
    <!--  name  -->
    <mat-form-field class="g-search-field-full">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input matInput formControlName="name" [placeholder]="'name' | translate" autocomplete="off" />
    </mat-form-field>

    <!-- Visibility -->
    <p>
      <mat-checkbox formControlName="certified">{{ 'certified' | translate }}</mat-checkbox>
    </p>

    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small date">{{ 'creation_date' | translate }}</p>
      <fl-search-date-interval formGroupName="createdAt"> </fl-search-date-interval>
    </div>

    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small date">{{ 'last_modification_date' | translate }}</p>
      <fl-search-date-interval formGroupName="lastModifiedAt"> </fl-search-date-interval>
    </div>
  </div>
</div>
