
:host {
  min-height: 100px;
  border: var(--hover-color) 1px solid;
  border-radius: var(--card-radius);
  display: flex;
  box-sizing: border-box;
}

.editor {
  width: 100%;
  max-width: 100%;
  max-height: inherit;
}

.override-buttons{
  height: inherit;
}

.drag-indicator{
  cursor: grab;
}

.drag-bar{
  width: 500px;
  height: 2px;
  background-color: var(--card-background);
}

.snow-menu-div{
  max-width: 30%;
  width: fit-content;
  height: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0.25em;
  margin-top: 40px;
}
