:host {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.drawer-container {
  // let the color background of main app
  background-color: transparent;
}

.drawer {
  width: 17em;
  border-right: none;
  // align the drawer content with main menu margin
  padding: var(--main-menu-margin) 0.5em var(--main-menu-margin) 0.5em;
  background-color: transparent;
}

.drawer-content{
  background-color: var(--card-background);
  border-radius: var(--card-radius);
  display: block;
  padding: 8px;
}
