<div class="left-panel" *haIsAuthenticated>
  <mat-icon class="button-close-left-panel" haSidenavButton></mat-icon>

  <button mat-stroked-button type="button" class="bt first-bt" (click)="openCreateCommunityAppDialog()">
    <mat-icon>add_circle</mat-icon>
    {{ 'add_an_app' | translate }}
  </button>
</div>

<div class="main-panel">
  <fl-infinite-scroll [datasource]="communityAppsPaginated" infiniteMode="auto" class="list-section">
    <div class="section-title">
      <h1 class="title">{{ 'apps' | translate }}</h1>
    </div>
    @for (communityApp of communityAppsPaginated | flDatasourceConnect | async; track communityApp) {
      <a class="agent-result-card-div" [routerLink]="communityApp | haDetailRoute">
        <co-community-app-list-item [communityApp]="communityApp"
                                    [appPicture]="communityApp.picture | haAppPicture"></co-community-app-list-item>
      </a>
    }
  </fl-infinite-scroll>
</div>
