<fl-dialog-header>
  <h2>{{'queue_jobs' | translate}}</h2>
</fl-dialog-header>

<mat-dialog-content>

  <fl-async-section [arrayObs]="runningExperiments" emptyText="biox.no_running_experiment">

    <fl-section-header>
      <h2>{{'biox.running_experiment_list' | translate}}</h2>
    </fl-section-header>

    <ng-container *flSectionBodyDatasource>
      <lab-running-experiment-table [datasource]="runningExperiments" [columns]="experimentColumns"
                                    class="content"></lab-running-experiment-table>
    </ng-container>

  </fl-async-section>


  <fl-section [object]="jobs" [isLoading]="isLoading" emptyText="empty_queue"
              class="queue">

    <fl-section-header>
      <h2>{{'biox.experiments_in_queue_list' | translate}}</h2>
    </fl-section-header>

    <ng-container *flSectionBody>
      <mat-list class="content">
        <mat-list-item *ngFor="let job of jobs; let index = index">
          <h3 matListItemTitle><a [routerLink]="job.experiment | labDetailRoute" class="g-text-link">{{job.experiment.title}}</a>
          </h3>
          <p matListItemLine><span>{{job.user.fullname}}</span></p>


          <span matListItemMeta>
            <button mat-icon-button type="button" color="warn" (click)="removeExperimentFromQueue(job, index)"
                    [matTooltip]="'biox.remove_experiment_from_queue' | translate">
              <mat-icon>stop</mat-icon>
            </button>
          </span>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </fl-section>

</mat-dialog-content>
