.left-panel-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bt {
  width: 100%;
  border-radius: 18px !important;
  height: 56px;
  padding: 8px;
}

.bt-primary {
  background-color: var(--primary-color);
  color: var(--color-text-primary);
}

.res-research-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.agents-list-div {
  display: flex;
  flex-direction: column;
}

.left-side-div-title {
  margin-left: 10px;
  margin-bottom: 5px;
}

.agent-result-card-div {
  width: auto;
  margin-bottom: 32px;
}

.agent-dates-div {
  display: flex;
  flex-direction: row;
}

.agent-date-div {
  flex: 1;
}

.card-left-info {
  flex: auto;
}

.space-list-option {
  cursor: pointer;
  width: fit-content !important;
}

.my-agents-bt {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 672px) {
  .agent-dates-div {
    flex-direction: column;
  }

  .agent-date-div {
    margin-bottom: 12px;
  }

  .agent-date-div:last-child {
    margin-bottom: 0;
  }
}

.date-info-div {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.16px;
}
