<div class="g-layout-row g-layout-start-center g-layout-gap-05em g-text-dense-height">
  @if (region; as r) {
    @if (r.cloudProvider) {
      <img
        [ngSrc]="r.cloudProvider.logo"
        class="image"
        [alt]="r.cloudProvider.name"
        [width]="imageSize"
        [height]="imageSize" />
    }

    <div>
      <div>{{ r.name }}</div>

      @if (size === 'medium') {
        <div class="g-text-small g-text-light">
          @if (r.city) {
            <span>{{ r.city.name }}</span>
          }

          @if (r.city.country) {
            <span> - {{ r.city.country.name }}</span>
          }
        </div>
      }
    </div>
  }
</div>
