<mat-drawer-container class="g-full drawer-container">

  <mat-drawer mode="side" [opened]="treeOpened$ | async" class="drawer g-print-hide">
    <ca-hierarchy-object-tree [hierarchyObjects$]="hierarchyObjects$"
                              [selectedObject$]="activeObject$"
                              [getRoute]="getRoute"></ca-hierarchy-object-tree>
  </mat-drawer>


  <mat-drawer-content class="print-full-width">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
