/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// Import the style for the library
@use '../../../libs/front-core-lib/src/style/fl-global';
@use '../../../libs/front-core-lib/src/style/fl-media-query';
@use '../../../libs/front-core-lib/src/style/fl-flex';

// Import the style for material
@use '../../../libs/front-core-lib/src/style/fl-material-override';
@use '../../../libs/front-core-lib/src/style/fl-dialog';
@use '../../../libs/front-core-lib/src/style/fl-icon';
@use '../../../libs/front-core-lib/src/style/fl-drag';

@use './theme/ha-theme';

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.header-content-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .header-subtitle {
    max-width: 700px;
    margin-top: 32px;
  }
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  width: calc(100% - 240px);
  display: flex;
  max-width: 1200px;
  padding: 80px 120px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;

  @media only screen and (max-width: 992px) {
    width: calc(100% - 48px);
    padding: 32px 24px;
  }
}

.section-with-background {
  max-width: calc(100% - 240px) !important;
  background: url('/assets/images/section_background.png') no-repeat bottom;
  background-size: cover;
  height: auto;
  aspect-ratio: 1 / 0.38715;
  justify-content: center;

  @media only screen and (max-width: 998px) {
    max-width: calc(100% - 48px) !important;
    aspect-ratio: 1 / 1.5;
    max-height: 100vh;
    background: url('/assets/images/mobile_section_background.png') no-repeat center;
  }

  @media only screen and (max-width: 420px) {
    max-height: none;
    aspect-ratio: 1 / 2;
  }
}

.section-title {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.section-description {
  max-width: 700px;
}

.section-buttons-div{
  display: flex;
  align-items: center;
  gap: 5px;

  @media only screen and (max-width: 998px) {
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}

.expansion-panel {
  border-top: 1px solid rgba(7, 37, 39, 0.04);
}
