<fl-dialog-header>
  {{ 'configure_folder_storage' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <p class="help-text">
    {{ 'configure_folder_storage_help' | translate }}
  </p>
  <form (ngSubmit)="submit()" id="cloud-provider-form" [formGroup]="formGp">
    <!--  main storage  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'folder_main_storage_location' | translate }}</mat-label>
      <mat-select
        formControlName="mainStorage"
        required
        [placeholder]="'folder_main_storage_location' | translate">
        @if (formGp.get('mainStorage').value) {
          <mat-select-trigger>
            <ca-bucket-location-inline
              [bucketLocation]="formGp.get('mainStorage').value"></ca-bucket-location-inline>
          </mat-select-trigger>
        }
        <ca-bucket-location-select-options></ca-bucket-location-select-options>
      </mat-select>
      @if (formGp.get('mainStorage').hasError('required')) {
        <mat-error>{{ 'folder_main_storage_location' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  backup storage  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'folder_backup_storage_location' | translate }}</mat-label>
      <mat-select
        formControlName="backupStorage"
        [placeholder]="'folder_backup_storage_location' | translate">
        @if (formGp.get('backupStorage').value) {
          <mat-select-trigger>
            <ca-bucket-location-inline
              [bucketLocation]="formGp.get('backupStorage').value"></ca-bucket-location-inline>
          </mat-select-trigger>
        }
        <ca-bucket-location-select-options></ca-bucket-location-select-options>
      </mat-select>
      @if (formGp.get('backupStorage').hasError('required')) {
        <mat-error>{{ 'folder_backup_storage_location' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    @if (formGp.hasError('sameBackupStorage')) {
      <mat-error>{{ 'folder_storage_location_same_error' | translate }}</mat-error>
    }
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="cloud-provider-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
