<fl-card class="g-section">
  <fl-card-header>
    <fl-text-icon>
      <h2>{{ 'monitoring.details' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>
  <fl-card-body>

    <form [formGroup]="formGroup" class="g-form-field-compact g-layout-start-center g-layout-gap-05em">
      <!--  Period  -->
      <mat-form-field subscriptSizing="dynamic" class="period">
        <mat-label>{{ 'lab_usage_period' | translate }}</mat-label>
        <mat-select [placeholder]="'lab_usage_period' | translate" formControlName="period">
          @for (key of periods | flObjectKeys; track key) {
            <mat-option [value]="periods[key]">
              {{ 'lab_usage_period_' + key | translate }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (formGroup.value.period === customPeriod) {
        <!--    From date    -->
        <mat-form-field>
          <mat-label>{{ 'lab_usage_period_from' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="datepicker"
            formControlName="customStartDate"
            [max]="currentDate" />
          <mat-datepicker #datepicker />
          <mat-datepicker-toggle [for]="datepicker" matSuffix />
        </mat-form-field>

        <!--   From hour     -->
        <mat-form-field>
          <mat-label>{{ 'lab_usage_period_hour' | translate }}</mat-label>
          <input matInput [matTimepicker]="timepicker" formControlName="customStartDate" />
          <mat-timepicker #timepicker />
          <mat-timepicker-toggle [for]="timepicker" matSuffix />
        </mat-form-field>

        @if (formGroup.value.customStartDate) {
          <!--    To date    -->
          <mat-form-field>
            <mat-label>{{ 'lab_usage_period_to' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="customEndDate"
              [min]="formGroup.value.customStartDate"
              [max]="currentDate" />
            <mat-datepicker #datepicker />
            <mat-datepicker-toggle [for]="datepicker" matSuffix />
          </mat-form-field>

          <!--   To hour     -->
          <mat-form-field>
            <mat-label>{{ 'lab_usage_period_hour' | translate }}</mat-label>
            <input matInput [matTimepicker]="timepicker" formControlName="customEndDate"/>
            <mat-timepicker #timepicker />
            <mat-timepicker-toggle [for]="timepicker" matSuffix />
          </mat-form-field>
        }
      }
    </form>

    <fl-async-section [object]="monitor$" class="g-full-height">
      <ng-container *flSectionBody="monitor$ as monitor">
        <lab-monitor-between-dates [monitor]="monitor"></lab-monitor-between-dates>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
