<fl-card class="g-section">
  <fl-card-header>
    <fl-text-icon>
      <h2>{{ 'monitoring.details' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>
  <fl-card-body>
    <form [formGroup]="formGroup" class="g-form-field-compact g-layout-row-wrap g-layout-start-center g-layout-gap-05em">
      <!--  Period  -->
      <mat-form-field subscriptSizing="dynamic" class="period">
        <mat-label>{{ 'lab_usage_period' | translate }}</mat-label>
        <mat-select [placeholder]="'lab_usage_period' | translate" formControlName="period">
          @for (key of periods | flObjectKeys; track key) {
            <mat-option [value]="periods[key]">
              {{ 'lab_usage_period_' + key | translate }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (formGroup.value.period === customPeriod) {

        <div class="divider">-</div>

        <!--    From date    -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ 'lab_usage_period_from' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="fromDatePicker"
            formControlName="customStartDate"
            [max]="currentDate" />
          <mat-datepicker #fromDatePicker />
          <mat-datepicker-toggle [for]="fromDatePicker" matSuffix />
        </mat-form-field>

        <!--   From hour     -->
<!--         TODO Wait for this issue to be fixed : https://github.com/angular/components/issues/30469 -->
<!--        <mat-form-field subscriptSizing="dynamic">-->
<!--          <mat-label>{{ 'lab_usage_period_hour' | translate }}</mat-label>-->
<!--          <input matInput [matTimepicker]="fromTimePicker" formControlName="customStartDate" />-->
<!--          <mat-timepicker #fromTimePicker />-->
<!--          <mat-timepicker-toggle [for]="fromTimePicker" matSuffix />-->
<!--        </mat-form-field>-->

        <div class="divider">-</div>
        <!--    To date    -->
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ 'lab_usage_period_to' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="toDatePicker"
            formControlName="customEndDate"
            [min]="formGroup.value.customStartDate"
            [max]="currentDate" />
          <mat-datepicker #toDatePicker />
          <mat-datepicker-toggle [for]="toDatePicker" matSuffix />
        </mat-form-field>

        <!--   To hour     -->
<!--        <mat-form-field subscriptSizing="dynamic">-->
<!--          <mat-label>{{ 'lab_usage_period_hour' | translate }}</mat-label>-->
<!--          <input matInput [matTimepicker]="toTimePicker" formControlName="customEndDate" />-->
<!--          <mat-timepicker #toTimePicker />-->
<!--          <mat-timepicker-toggle [for]="toTimePicker" matSuffix />-->
<!--        </mat-form-field>-->
      }
    </form>

    <fl-async-section [object]="monitor$" class="g-full-height">
      <ng-container *flSectionBody="monitor$ as monitor">
        <lab-monitor-between-dates [monitor]="monitor"></lab-monitor-between-dates>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
