<div class="container">
  @if (note$ | async; as note) {
    <div class="g-layout-row g-layout-between header">
      <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
        <ca-hierarchy-object-icon [style]="note.style"></ca-hierarchy-object-icon>
        <h2 class="title">{{ note.title }}</h2>
      </div>

      <div>
        <a mat-stroked-button class="g-button-small" [routerLink]="note | caDetailRoute">
          {{ 'open_details' | translate }}
        </a>
      </div>
    </div>
  }

  <ca-note-content [noteId]="noteId" class="note-content"></ca-note-content>
</div>
