
.container {
  padding: 8px;
}

mat-tree-node {
  min-height: 0;
  margin-bottom: 10px;
}

.tree .tree-node:not(:last-child) {
  margin-bottom: 1em;
}

.tree-node {
  min-height: 32px;
  background-color: var(--main-background);
  border-radius: 10px;
  padding-right: 0;
  width: 100%;
}

.project-title {
  flex: 1;
  padding-right: 0.5em;
}

.selected-tree-node {
  background-color: var(--hover-color);
}

.leaf-node-margin {
  //margin-left: 2em;
}


.node-icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
  flex-shrink: 0;
}

.toggle-parent-button {
  flex-shrink: 0;
}
