@if (isHomePage()) {
  <footer class="footer main-footer">
    <div class="footer-div main-footer-div">
      <div class="footer-main">
        <!-- Left section: Logo and description -->
        <div class="footer-brand">
          <div class="footer-brand-content">
            <div class="footer-logo">
              <img ngSrc="assets/images/community_logo_with_text_light.webp" alt="Community Logo" fill />
            </div>
            <div class="g-weight-600 g-large-text">
              {{ 'home.footer.text' | translate }}
            </div>
          </div>
          <div class="footer-credit">
            <span>{{ 'home.footer.a_website_designed_by' | translate }}</span>
            <div class="norry-logo">
              <img ngSrc="assets/images/norry_logo.png" alt="Norry Logo" fill />
            </div>
          </div>
        </div>

        <div class="socials">
          <ha-footer-socials></ha-footer-socials>
        </div>

        <!-- Navigation links -->
        <div class="footer-nav-section">
          <div class="footer-nav-column g-small-text">
            <ng-template [ngTemplateOutlet]="navCommunityLinks"></ng-template>
          </div>
          <div class="footer-nav-column g-small-text">
            <ng-template [ngTemplateOutlet]="navResource1Links"></ng-template>
          </div>
          <div class="footer-nav-column g-small-text">
            <ng-template [ngTemplateOutlet]="navResource2Links"></ng-template>
          </div>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title><span class="g-text-medium g-weight-600">Navigation</span> </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template [ngTemplateOutlet]="navCommunityLinks"></ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title><span class="g-text-medium g-weight-600">Ressources</span> </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <ng-template [ngTemplateOutlet]="navResource1Links"></ng-template>
              <ng-template [ngTemplateOutlet]="navResource2Links"></ng-template>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="socials">
          <ha-footer-socials></ha-footer-socials>
        </div>
        <div class="copyright g-text-small">
          <span>©2025 Gencovery. {{ 'home.footer.all_rights_reserved' | translate }}</span>
        </div>
      </div>
    </div>
  </footer>
} @else {
  <footer class="footer">
    <div class="footer-div">
      <div class="footer-bottom">
        <div class="footer-logo">
          <img ngSrc="assets/images/community_logo_with_text_light.webp" alt="Community Logo" fill />
        </div>
        <div class="copyright g-text-small">
          ©2025 Gencovery. {{ 'home.footer.all_rights_reserved' | translate }}
        </div>
        <ha-footer-socials></ha-footer-socials>
      </div>
    </div>
  </footer>
}

<ng-template #navCommunityLinks>
  <div class="footer-link">
    <a [routerLink]="'.'">{{ 'home' | translate }}</a>
  </div>
  <div class="footer-link">
    <a [routerLink]="storiesListRoute">{{ 'stories' | translate }}</a>
  </div>
  <div class="footer-link">
    <a [routerLink]="appsListRoute">{{ 'apps' | translate }}</a>
  </div>
  <div class="footer-link">
    <a [routerLink]="agentsListRoute">{{ 'agents' | translate }}</a>
  </div>
  <div class="footer-link">
    <a [routerLink]="bricksListRoute">{{ 'bricks' | translate }}</a>
  </div>
  <div class="footer-link">
    <a [routerLink]="tagsListRoute">{{ 'tags' | translate }}</a>
  </div>
</ng-template>

<ng-template #navResource1Links>
  <div class="footer-link">
    <a routerLink="." fragment="how-to-contribute">{{ 'how_to_contribute' | translate }}</a>
  </div>
  <div class="footer-link">
    <a href="https://github.com/Constellab" target="_blank" rel="noopener noreferrer">GitHub</a>
  </div>
  <div class="footer-link">
    <a [href]="discordUrl" target="_blank" rel="noopener noreferrer">Discord</a>
  </div>
  <div class="footer-link">
    <a href="https://www.gencovery.com" target="_blank" rel="noopener noreferrer">Gencovery</a>
  </div>
  <div class="footer-link">
    <a [href]="constellabUrl" target="_blank" rel="noopener noreferrer">Constellab</a>
  </div>
  <div class="footer-link">
    <a href="mailto:contact@gencovery.com">{{ 'contact' | translate }}</a>
  </div>
</ng-template>

<ng-template #navResource2Links>
  <div class="footer-link">
    <a
      href="https://www.gencovery.com/en-us/politique-de-confidentialite"
      target="_blank"
      rel="noopener noreferrer"
      >{{ 'confidentiality_policy' | translate }}</a
    >
  </div>
  <!--  <div class="footer-link">-->
  <!--    <a href="#">Politique de cookies</a>-->
  <!--  </div>-->
  <div class="footer-link">
    <a href="https://www.gencovery.com/en-us/mentions-legales" target="_blank" rel="noopener noreferrer">{{
      'legal_information' | translate
    }}</a>
  </div>
</ng-template>
