<fl-key-value>
  <fl-key>{{ 'monitoring.app_type' | translate }}</fl-key>
  {{ appInstance().appType }}
</fl-key-value>

<fl-key-value>
  <fl-key>{{ 'monitoring.app_config_path' | translate }}</fl-key>
  {{ appInstance().appConfigPath }}
</fl-key-value>

@if (appInstance().sourceIds.length > 0) {
  <div>{{ 'monitoring.app_input_resources' | translate }}</div>

  <ul>
    @for (inputResource of appInstance().sourceIds; track inputResource) {
      <li>
        <a [routerLink]="inputResource | liDetailRoute: 'RESOURCE'" class="g-text-link">
          {{ inputResource }}
        </a>
      </li>
    }
  </ul>
}

<fl-key-value>
  <fl-key>{{ 'monitoring.app_env_type' | translate }}</fl-key>
  {{ appInstance().envType }}
</fl-key-value>

@if (appInstance().envFilePath) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.app_env_file_path' | translate }}</fl-key>
    {{ appInstance().envFilePath }}
  </fl-key-value>
}

@if (appInstance().envFileContent) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.app_env_file_content' | translate }}</fl-key>
    <pre class="env-content">{{ appInstance().envFileContent }}</pre>
  </fl-key-value>
}

<div class="actions">
  <a
    mat-stroked-button
    [routerLink]="appInstance().appResourceId | liDetailRoute: 'RESOURCE'"
    class="g-button-small app-link">
    {{ 'monitoring.app_view_app' | translate }}
  </a>

  <button mat-stroked-button type="button" (click)="openAppLogs()" class="g-button-small">
    {{ 'monitoring.app_view_logs' | translate }}
  </button>
</div>
