@if (appInstance().sourceIds.length > 0) {
  <h4 class="g-sidebar-group-title g-text-small">{{ 'monitoring.app_input_resources' | translate }}</h4>

  <ul>
    @for (inputResource of appInstance().sourceIds; track inputResource) {
      <li>
        <a [routerLink]="inputResource | liDetailRoute: 'RESOURCE'" class="g-text-link">
          {{ inputResource }}
        </a>
      </li>
    }
  </ul>
}

@if (appInstance().envFilePath || appInstance().envFileContent) {
  <h4 class="g-sidebar-group-title g-text-small">{{ 'monitoring.app_env_info' | translate }}</h4>
}

@if (appInstance().envFilePath) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.app_env_file_path' | translate }}</fl-key>
    {{ appInstance().envFilePath }}
  </fl-key-value>
}

@if (appInstance().envFileContent) {
  <fl-key-value>
    <fl-key>{{ 'monitoring.app_env_file_content' | translate }}</fl-key>
    <pre class="env-content">{{ appInstance().envFileContent }}</pre>
  </fl-key-value>
}
