<fl-card class="container g-layout-col">

  <fl-card-header>
    <h1>{{ report.title }}</h1>

    <fl-card-actions class="g-print-hide">
      <button mat-stroked-button type="button" (click)="openExperimentsListDialog()"
              class="g-button-small">
        {{ 'experiments' | translate }}
        <mat-icon flIcon="experiment"></mat-icon>
      </button>

      <button mat-stroked-button type="button" (click)="printReport()"
              class="g-button-small print-button">
        {{ 'print_report' | translate }}
        <mat-icon>print</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <!--  Validated info  -->
    <ca-validated-object-info class="separator" [object]="report"
                              *ngIf="report.isValidated"></ca-validated-object-info>

    <div class="g-print-hide">
      <!-- Sync info -->
      <ca-sync-object-info class="separator" [object]="report"></ca-sync-object-info>

      <!--  Created by & Last modified bt  -->
      <fl-creation-info class="g-text-small g-text-light" [user]="report.createdBy"
                        [date]="report.createdAt"></fl-creation-info>
      <fl-last-modification-info class="g-text-small g-text-light" [user]="report.lastModifiedBy"
                                 [date]="report.lastModifiedAt"></fl-last-modification-info>
    </div>


    <ca-report-content [reportId]="report.id" class="report-content"></ca-report-content>
  </fl-card-body>


  <!--  <fl-article-container class="g-flex-auto">-->

  <!--    <fl-article-left-side>-->

  <!--      &lt;!&ndash;  Validated info  &ndash;&gt;-->
  <!--      <ca-validated-object-info class="separator" [object]="report"-->
  <!--                                *ngIf="report.isValidated"></ca-validated-object-info>-->

  <!--      &lt;!&ndash; Sync info &ndash;&gt;-->
  <!--      <ca-sync-object-info class="separator" [object]="report"></ca-sync-object-info>-->


  <!--      &lt;!&ndash;  Created by & Last modified bt  &ndash;&gt;-->
  <!--      <p class="g-text-small g-text-light">-->
  <!--        <fl-creation-info [user]="report.createdBy"-->
  <!--                          [date]="report.createdAt"></fl-creation-info>-->
  <!--      </p>-->
  <!--      <p class="g-text-small g-text-light">-->
  <!--        <fl-last-modification-info [user]="report.lastModifiedBy"-->
  <!--                                   [date]="report.lastModifiedAt"></fl-last-modification-info>-->
  <!--      </p>-->
  <!--    </fl-article-left-side>-->

  <!--    <fl-article>-->
  <!--      <ca-report-content [reportId]="report.id"></ca-report-content>-->
  <!--    </fl-article>-->

  <!--    <fl-article-right-side>-->
  <!--      <button mat-stroked-button type="button" (click)="printReport()"-->
  <!--              class="g-button-small print-button">-->
  <!--        {{ 'print_report' | translate }}-->
  <!--        <mat-icon>print</mat-icon>-->
  <!--      </button>-->
  <!--      <ca-experiments-list [experiments]="experiments" mode="small"></ca-experiments-list>-->
  <!--    </fl-article-right-side>-->
  <!--  </fl-article-container>-->
</fl-card>
