<fl-dialog-header>
  {{ 'settings' | translate }}
</fl-dialog-header>

<mat-dialog-content>

  <ca-user-two-fa-toggle></ca-user-two-fa-toggle>

  <ca-theme-selection class="g-section"></ca-theme-selection>

  <ca-language-selection class="g-section"></ca-language-selection>


  <div class="g-section">
    <button mat-flat-button type="button" color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{ 'flAuth.logout' | translate }}
      <fl-button-loader *ngIf="logoutIsLoading"></fl-button-loader>
    </button>
  </div>
</mat-dialog-content>
