<fl-async-section [object]="labInstance$" class="g-flex-grow">
  <ng-container *flSectionBody="labInstance$ as labInstance">
    <div class="g-layout-col g-flex-grow">

      <div class="g-layout-row g-layout-between-stretch g-section">
        <ca-lab-instance-detail class="half-section"></ca-lab-instance-detail>

        <ca-lab-server-info-card *ngIf="labInstance.isCloud" [labInstanceId]="labInstance.id"
                                 class="half-section"></ca-lab-server-info-card>

      </div>
      <ca-lab-instance-users-list class="g-section" [labInstanceId]="labInstance.id"></ca-lab-instance-users-list>

      <ca-lab-instance-projects-list class="g-section"
                                     [labInstanceId]="labInstance.id"></ca-lab-instance-projects-list>

      <ca-lab-free-card-info class="g-section" *ngIf="labInstance.isFreeLab"
                                   [labInstanceId]="labInstance.id"></ca-lab-free-card-info>

    </div>
  </ng-container>
</fl-async-section>
