<div (flOutsideClick)="closeMenu()" class="text-editor-overlay">

  <div class="button-border">
    <button mat-icon-button type="button" (click)="toggleMenu()"
            class="g-button-icon-small add-button">
      <mat-icon>{{icon}}</mat-icon>
    </button>
  </div>


  <ng-container *ngIf="showMenu">

    <ng-container *ngFor="let button of buttons">
      <div class="button-border menu-button">
        <button *ngIf="button.type === 'button'; else fileExplorer" mat-icon-button
                class="g-button-icon-small"
                (click)="onAction(button, $event)" [matTooltip]="button.tooltip | translate"
                flMouseHover (flMouseEnter)="openSubMenu(button,$event)">
          <mat-icon>{{button.icon}}</mat-icon>
        </button>
      </div>


      <ng-template #fileExplorer>
        <!--   Upload files     -->
        <fl-input-file-icon-container [icon]="button.icon"
                                      size="small" [matTooltip]="button.tooltip | translate">
          <input flInputFile [strictMode]="true" accept="image/*" type="file"
                 (fileChange)="onAction(button, $event)" [autoClearHtmlInput]="true">
        </fl-input-file-icon-container>

      </ng-template>
    </ng-container>
  </ng-container>
</div>

<!-- List of sub buttons in another portal-->
<ng-template #submenu>
  <div class="text-editor-overlay">
    <div *ngFor="let button of childrenButtons">
      <div class="button-border sub-menu-button">
        <button mat-icon-button
                class="g-button-icon-small"
                (click)="onAction(button, $event)" [matTooltip]="button.tooltip | translate" matTooltipPosition="after">
          <mat-icon>{{button.icon}}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
