<ng-container *ngIf="{value : elapsedTime$ | async} as elapsedTime">
  <fl-key-value *ngIf="elapsedTime.value >= 0">
    <fl-key>{{'biox.execution_time' | translate}}</fl-key>
    {{elapsedTime.value | flDuration}}
  </fl-key-value>
</ng-container>

<div *ngIf="progressBar$ | async as progressBar">
  <div class="dates">

    <fl-key-value *ngIf="progressBar.startedAt">
      <fl-key>{{'begin_date' | translate}}</fl-key>
      {{progressBar.startedAt | flDate:'DATETIME_MED_WITH_SECONDS'}}
    </fl-key-value>

    <fl-key-value *ngIf="progressBar.endedAt">
      <fl-key>{{'end_date' | translate}}</fl-key>
      {{progressBar.endedAt | flDate:'DATETIME_MED_WITH_SECONDS'}}
    </fl-key-value>

    <fl-text-icon *ngIf="progressBar.secondStart" class="g-text-light g-text-small" gap="5px">
      <mat-icon class="g-icon-small">info</mat-icon>
      {{'biox.progress_bar_multiple_start' | translate}}
    </fl-text-icon>
  </div>

  <div (flInfiniteScroll)="loadMoreMessages()" [flInfiniteDisabled]="loadMoreIsLoading || loadMoreCompleted"
       [flInfiniteMode]="scrollableElement" class="infinite-container">
    <div *ngFor="let message of messages$ | async; trackBy:trackMessageByDatetime">
      <lab-progress-message [progressMessage]="message"></lab-progress-message>

      <mat-divider class="divider"></mat-divider>

    </div>

    <div class="g-text-centered" *ngIf="!loadMoreCompleted">
      <button [disabled]="loadMoreIsLoading || loadMoreCompleted" class="g-button-small"
              mat-stroked-button color="primary" type="button" (click)="loadMoreMessages()">
        {{'show_more_result' | translate}}
        <fl-button-loader *ngIf="loadMoreIsLoading"></fl-button-loader>
      </button>
    </div>
  </div>


</div>
