
.header{
  margin-bottom: 1em;
}


.slide{
  // prevent horizontal scroll due to slide-toggle
  padding-right: 10px;
}

.divider{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
 }

.infinite-container{
  overflow-y: auto;
}
