@if ((graph.nodes | flObjectKeys).length > 0) {
  <div class="tech-report-sec">
    @if (protocolName) {
      <h3>{{ 'field_protocol_process' | translate: { field: protocolName } }}</h3>
    }
    @if (!protocolName) {
      <h3>{{ 'protocol_process' | translate }}</h3>
    }
    @for (nName of graph.nodes | flObjectKeys; track nName) {
      <div>
        <mat-divider class="divider"></mat-divider>
        <pr-process-info [process]="graph.nodes[nName]" [communityHelper]="communityHelper"></pr-process-info>
      </div>
    }
  </div>
}

@if (graph.links.length > 0) {
  <div class="tech-report-sec">
    @if (protocolName) {
      <h3>{{ 'field_protocol_links' | translate: { field: protocolName } }}</h3>
    }
    @if (!protocolName) {
      <h3>{{ 'protocol_links' | translate }}</h3>
    }
    @for (link of graph.links; track link) {
      <div class="row">
        <mat-divider class="divider"></mat-divider>
        <ca-scenario-technical-report-link [link]="link"></ca-scenario-technical-report-link>
      </div>
    }
  </div>
}

@if ((graph.interfaces | flObjectKeys).length > 0) {
  <div class="tech-report-sec">
    @if (protocolName) {
      <h3>{{ 'field_protocol_interfaces' | translate: { field: protocolName } }}</h3>
    }
    @if (!protocolName) {
      <h3>{{ 'protocol_interfaces' | translate }}</h3>
    }
    @for (iName of graph.interfaces | flObjectKeys; track iName) {
      <div class="row">
        <mat-divider class="divider"></mat-divider>
        <ca-scenario-technical-report-int-out
          [intOut]="graph.interfaces[iName]"></ca-scenario-technical-report-int-out>
      </div>
    }
  </div>
}

@if ((graph.outerfaces | flObjectKeys).length > 0) {
  <div class="tech-report-sec">
    @if (protocolName) {
      <h3>{{ 'field_protocol_outerfaces' | translate: { field: protocolName } }}</h3>
    }
    @if (!protocolName) {
      <h3>{{ 'protocol_outerfaces' | translate }}</h3>
    }
    @for (oName of graph.outerfaces | flObjectKeys; track oName) {
      <div class="row">
        <mat-divider class="divider"></mat-divider>
        <ca-scenario-technical-report-int-out
          [intOut]="graph.outerfaces[oName]"></ca-scenario-technical-report-int-out>
      </div>
    }
  </div>
}
