.content {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  // make the grid fill the whole container
  height: 100%;
}


.header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  border-bottom: 1px solid var(--hover-color);
}

.process-error{
  color: var(--warn-color);
  margin-bottom: 0.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}

.process-error:hover{
  text-decoration: underline;
}

.section-container {
  flex: 1;
  min-height: 0; // limit max height
}

.section {
  min-width: 0;
  padding-top: 1em;
}

.central-section {
  flex: 1;
}

.input-section.is-opened {
  border-right: 1px solid var(--hover-color);
  flex: 1;
}

.output-section.is-opened {
  border-left: 1px solid var(--hover-color);
  flex: 1;
}

