.actions-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.warning-text {
  margin-bottom: 1em;
}

.task-loader {
  margin-right: 1em;
}

.task-time-separator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.status {
  margin-right: 1em;
}

.no-shrink{
  flex-shrink: 0;
}
