<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>dns</mat-icon>
      <h2>{{'lab_server' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button" class="g-button-small actions-button"
              (click)="openServerInfoDialog()">
        <mat-icon>info</mat-icon>
        {{'lab_server_info' | translate}}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <p class="g-text-light">{{'lab_server_section_help' | translate}}</p>

    <ng-container *ngIf="status$ | async as status">
      <div *ngIf="status.serverTaskStatus.value !== 'NONE'">

        <div class="g-layout-row g-layout-start-center">

          <fl-loader size="small" *ngIf="status.serverTaskStatus.value === 'RUNNING' ; else notRunning"
                     class="task-loader"></fl-loader>

          <ng-template #notRunning>
            <fl-status-chip [status]="status.serverTaskStatus" size="small" class="status"></fl-status-chip>
          </ng-template>

          <div class="no-shrink">
            {{(status.serverTaskStatus.value === 'RUNNING' ? 'lab_server_current_task' : 'lab_server_last_task') | translate}}
          </div>

          <div class="task-time-separator">-</div>

          <!--   Task text   -->
          <div>{{status.serverTaskText}}</div>
          <div class="task-time-separator">-</div>
          <fl-from-now *ngIf="status.serverTaskDatetime" [date]="status.serverTaskDatetime"
                       class="no-shrink"></fl-from-now>
        </div>

      </div>
    </ng-container>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{'lab_advanced_configuration' | translate}}
      </mat-expansion-panel-header>

      <fl-text-icon class="warning-text">
        <mat-icon color="warn">warnings</mat-icon>
        {{'lab_advanced_configuration_warning' | translate}}
      </fl-text-icon>

      <ng-container *ngIf="isCloud$ | async">
        <button mat-stroked-button type="button" class="g-button-small actions-button"
                (click)="initServer()">
          {{'lab_init_server' | translate}}
        </button>

        <button mat-stroked-button type="button" class="g-button-small actions-button"
                (click)="createServer()">
          {{'lab_create_server' | translate}}
        </button>
      </ng-container>

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              (click)="configureServer()">
        {{'lab_configure_server' | translate}}
      </button>

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              (click)="updateLabConfigurerRepo()">
        {{'lab_update_lab_configurer_repo' | translate}}
      </button>

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              (click)="migrateToGithub()">
        {{'lab_configurer_migrate' | translate}}
      </button>

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              color="warn" (click)="stopCurrentServerTask()">
        {{'lab_stop_current_task' | translate}}
      </button>

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              color="warn"  (click)="destroyLabConfigurerContainers()">
        {{'lab_configurer_destroy_containers' | translate}}
      </button>

      <ng-container *ngIf="isCloud$ | async">
        <button mat-stroked-button type="button" class="g-button-small actions-button"
                color="warn" (click)="deleteServer()" *caIsAdmin>
          {{'lab_delete_server' | translate}}
        </button>
      </ng-container>

    </mat-expansion-panel>
  </fl-card-body>
</fl-card>
