<mat-table mat-table [dataSource]="datasource">
  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'title' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <fl-text-icon [showIcon]="report.isValidated">
        <mat-icon [matTooltip]="'report_validated' | translate"
                  flIcon="validated">
        </mat-icon>
        <div>{{report.title}}</div>
      </fl-text-icon>
    </mat-cell>
  </ng-container>

  <!-- LastSync -->
  <ng-container matColumnDef="lastSync">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'last_sync' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <ca-sync-object-info [object]="report" [showText]="false"></ca-sync-object-info>
    </mat-cell>
  </ng-container>

  <!-- CreatedBy -->
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'created_by' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let experiment">
      <fl-user-inline [user]="experiment.createdBy"></fl-user-inline>
    </mat-cell>
  </ng-container>


  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <div>
        <span>{{report[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <ng-container *ngIf="rowSelectable; else notSelectable">
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             (click)="rowClicked(row)"></mat-row>
  </ng-container>

  <!-- Mode link -->
  <ng-template #notSelectable>
    <mat-row *matRowDef="let row; columns: _columns;" class="g-table-row-selectable"
             [routerLink]="row | caDetailRoute"></mat-row>
  </ng-template>
</mat-table>
