<fl-dialog-header>
  {{ title | flTranslatableText | async }}
</fl-dialog-header>

<mat-dialog-content>

  <div class="help-text g-text-light" [innerHTML]="helpText | flTranslatableText | async"></div>

  <h2 class="other-impacts">{{'biox.impacted_objects' | translate}}</h2>

  <lab-navigable-entity-groups class="entities" [groups]="impactedEntities"></lab-navigable-entity-groups>


  <p class="g-warn-text"
     *ngIf="containsValidatedExperiments">{{ 'biox.reset_impact_contains_validated_experiments' | translate }}</p>
  <p class="g-warn-text"
     *ngIf="containsValidatedNotes">{{ 'biox.reset_impact_contains_validated_notes' | translate }}</p>

  <fl-text-icon class="warn-confirmation" *ngIf="!containsValidatedExperiments && !containsValidatedNotes">
    <mat-icon color="warn" class="g-icon-big">warnings</mat-icon>
    <div class="g-warn-text">
      {{ 'biox.force_action_warning' | translate: {actionName: (title | flTranslatableText | async)} }}
    </div>
  </fl-text-icon>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-stroked-button color="warn" type="button" (click)="callAction()"
          [disabled]="containsValidatedExperiments || containsValidatedNotes">
    {{ title | flTranslatableText | async }}
  </button>

  <button mat-stroked-button matDialogClose type="button">
    {{ 'cancel' | translate }}
  </button>
</div>
