<fl-section-header>
  <fl-text-icon>
    <mat-icon>info</mat-icon>
    <h3>{{ 'info' | translate }}</h3>
  </fl-text-icon>
</fl-section-header>

@if (project$ | async; as project) {
  <div class="grid">

    <fl-text-icon>
      <mat-icon>person</mat-icon>
      {{ 'project_leader' | translate }}
    </fl-text-icon>

    <fl-user-inline [user]="project.leader" class="project-leader-user"></fl-user-inline>

    @if (project.code) {
      <fl-text-icon>
        <mat-icon>badge</mat-icon>
        {{ 'code' | translate }}
      </fl-text-icon>
      <div>{{ 'code' | translate }} : {{ project.code }}</div>
    }

    @if (project.startingDate || project.endingDate) {
      <fl-text-icon>
        <mat-icon>event</mat-icon>
        {{ 'date' | translate }}
      </fl-text-icon>

      <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate">
      </fl-date-range>
    }
  </div>
}
