<div>
  <ca-hierarchy-object-breadcrumb class="breadcrumbs"></ca-hierarchy-object-breadcrumb>

  <ca-folder-detail class="page-content"></ca-folder-detail>
</div>

<div class="drop-zone" flDragHover="drag-file-hover" (flDrop)="onFileDrop($event)">

  <fl-card class="card-table">

    <fl-card-header>
      <div class="g-layout-row g-layout-start-center g-layout-gap-1em">

        <!--    Filter by name    -->
        <mat-form-field class="g-form-field-compact" subscriptSizing="dynamic">
          <mat-label>{{ 'name' | translate }}</mat-label>
          <input matInput [placeholder]="'name' | translate" [(ngModel)]="nameFilter"
                 (change)="filterByName(nameFilter)">
        </mat-form-field>


        <!--   Filter by object type     -->
        <mat-form-field class="g-form-field-compact" subscriptSizing="dynamic">
          <mat-label>{{ 'folder_object_type' | translate }}</mat-label>
          <mat-select [(ngModel)]="selectedObjectType" (selectionChange)="selectObjectType(selectedObjectType)"
                      panelClass="g-mat-select-panel-no-max-height" [placeholder]="'folder_object_type' | translate">
            @if (selectedObjectType) {
              <mat-select-trigger>
                {{ objectTypes[selectedObjectType] | translate }}
              </mat-select-trigger>
            }

            @if (selectedObjectType) {
              <mat-option [value]="null">
                <div class="g-layout-row g-layout-start-center g-text-light">
                  <mat-icon>block</mat-icon>
                  <div>{{ 'clear' | translate }}</div>
                </div>
              </mat-option>
            }

            <mat-option *ngFor="let key of objectTypes | flObjectKeys" [value]="key">
              <div class="g-layout-row g-layout-start-center">
                <ca-hierarchy-object-icon [objectType]="key" objectName=""></ca-hierarchy-object-icon>
                {{ objectTypes[key] | translate }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ca-folder-users [folderId$]="folderId$"></ca-folder-users>
      </div>

      <fl-card-actions>
        <button mat-icon-button type="button" (click)="createConstellabDocument()"
                [matTooltip]="'create_constellab_document' | translate">
          <mat-icon flIcon="constellab_document"></mat-icon>
        </button>

        <!--   Upload files     -->
        <fl-input-file-icon-container [matTooltip]="'upload_document' | translate" icon="cloud_upload">
          <input flInputFile [multiple]="true" type="file" (fileChange)="uploadDocument($event)"
                 [autoClearHtmlInput]="true">
        </fl-input-file-icon-container>

        <button mat-icon-button type="button" (click)="openDocumentInTrash()"
                [matTooltip]="'documents_in_trash' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </fl-card-actions>
    </fl-card-header>

    <fl-card-body>
      <fl-infinite-table-container [datasource]="children" textNoResult="folder_empty" textNoMoreResult="">
        <ca-hierarchy-object-table [datasource]="children" [columns]="columns"
                         [rowSelectable]="true"
                         (rowEvent)="onFolderRowEvent($event)">

          <ng-template let-folder>
            <ca-folder-action-menu [folder]="folder"></ca-folder-action-menu>
          </ng-template>

        </ca-hierarchy-object-table>
      </fl-infinite-table-container>
    </fl-card-body>
  </fl-card>

  @if (folder$ | async; as folder) {
    <div class="drop-info g-layout-col g-layout-center-center g-text-centered">
      <mat-icon>folder</mat-icon>
      <div class="g-text-big">{{ 'drop_file_in_folder' | translate : { name: folder.title } }}</div>
    </div>
  }
</div>
