<div>
  @if (!inputFile) {
    <h5 class="input-div">{{ 'import_new_brick_text1' | translate }}</h5>
  }
  <fl-input-file-container
    color="primary"
    [placeholder]="'import_new_version_file' | translate"
    class="bt-input-div">
    <input
      flInputFile
      type="file"
      [strictMode]="true"
      [autoClearHtmlInput]="true"
      accept="application/json"
      (fileChange)="onFileSelected($any($event))" />
  </fl-input-file-container>
</div>

<form
  (ngSubmit)="submit()"
  class="brick-form"
  [formGroup]="formGp"
  *ngIf="inputFile && !(errorInput | flIsNotEmpty)">
  <p>{{ 'import_new_brick_text2' | translate }}</p>

  <fl-key-value class="input">
    <fl-key>{{ 'name' | translate }}</fl-key>
    {{ inputFile.name }}
  </fl-key-value>

  <fl-key-value class="input">
    <fl-key>{{ 'version' | translate }}</fl-key>
    {{ formGp.value.version }}
  </fl-key-value>
  <fl-key-value class="input" *ngIf="formGp.value.isBeta">
    <fl-key>{{ 'sub_patch_number' | translate }}</fl-key>
    {{ inputFile.subPatch }}
  </fl-key-value>

  <mat-divider class="divider" *ngIf="inputFile"></mat-divider>

  <!--  description  -->
  <mat-form-field class="g-form-input no-margin-bottom" appearance="outline">
    <mat-label>{{ 'description' | translate }}</mat-label>
    <textarea
      matInput
      formControlName="description"
      maxlength="255"
      placeholder="{{ 'description' | translate }}"></textarea>
    <mat-error *ngIf="formGp.get('description').hasError('required')">
      {{ 'description' | flErrorRequired }}
    </mat-error>
  </mat-form-field>

  <!--  visibility  -->
  <mat-label class="input-repo">{{ 'visibility' | translate }}</mat-label>
  <div>
    <mat-radio-group formControlName="visibility">
      <mat-radio-button
        [value]="'private'"
        class="radio-bt"
        [checked]="formGp.value.visibility === 'private'">
        {{ 'private' | translate }}</mat-radio-button
      >
      <mat-radio-button [value]="'public'" class="radio-bt" [checked]="formGp.value.visibility === 'public'">
        {{ 'public' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!--  space  -->
  @if (formGp.value.visibility === 'private') {
    <mat-label class="input-repo">{{ 'space' | translate }}</mat-label>
    <div>
      <mat-radio-group formControlName="space">
        @for (space of spaces; track space.id) {
          <mat-radio-button [value]="space" class="radio-bt" [checked]="formGp.value.space.id === space.id">
            {{ space.name }}</mat-radio-button
          >
        }
      </mat-radio-group>
    </div>
  }

  <!--  pipRepo  -->
  <mat-form-field class="g-form-input input-repo" appearance="outline">
    <mat-label>{{ 'repo_pip' | translate }}</mat-label>
    <input matInput type="text" formControlName="repoPip" placeholder="{{ 'repo_pip' | translate }}" />
  </mat-form-field>

  <!--  gitRepo  -->
  <mat-form-field class="g-form-input no-margin-bottom" appearance="outline">
    <mat-label>{{ 'repo_git' | translate }}</mat-label>
    <input matInput type="text" formControlName="repoGit" placeholder="{{ 'repo_git' | translate }}" />
  </mat-form-field>

  <p>{{ 'repo_credentials' | translate }}</p>

  <!--  Repo credentials username  -->
  <mat-form-field class="g-form-input input-repo" appearance="outline">
    <mat-label>{{ 'repo_credentials_username' | translate }}</mat-label>
    <input
      matInput
      type="text"
      formControlName="credentialUsername"
      placeholder="{{ 'repo_credentials_username' | translate }}" />
  </mat-form-field>

  <!--  Repo credentials password  -->
  <mat-form-field class="g-form-input no-margin-bottom" appearance="outline">
    <mat-label>{{ 'repo_credentials_password' | translate }}</mat-label>
    <input
      matInput
      type="text"
      formControlName="credentialPassword"
      placeholder="{{ 'repo_credentials_password' | translate }}" />
  </mat-form-field>

  <p class="error-repo" *ngIf="repoError">
    {{ 'repo_error' | translate }}
  </p>

  <button mat-raised-button color="primary" type="submit" class="g-centered-forced">
    {{ 'save' | translate }}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</form>
