textarea {
  height: 5em;
  resize: none !important;
}

.divider,
.input,
.bt-input-div,
p {
  min-width: 5em;
  margin-top: 1em;
  max-width: 30em;
}

.radio-bt {
  margin-top: 0.3em;
  margin-right: 1em;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.input-repo {
  margin-top: 2em;
}

.error-repo {
  font-size: 80%;
  margin-top: 0.6666666667em;
  padding-left: 1em;
  color: var(--warn-color);
}
