.portal {
  max-width: 70vw;
}

.link {
  padding: 0.5em 1em;
  border-radius: var(--card-radius);
}

.link:hover {
  background-color: var(--hover-color);
}

.chevron {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
