.container {
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.section {
  padding: 1em;
  border-radius: var(--card-radius);
  background: var(--main-background);
  margin-top: 1em;
  display: block;
}

.chat-button {
  margin-top: 1em;
}

.delete-button {
  margin-top: 1em;
}
