<mat-table mat-table [dataSource]="datasource">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2">
      <span> {{'name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-column-width-2">
      <div [caNotificationMark]="row.id" caNotificationObjectType="PROJECT_DOCUMENT">{{row.name}}</div>
    </mat-cell>
  </ng-container>

  <!-- Size -->
  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'document_size' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.size | flByteText}}
    </mat-cell>
  </ng-container>

  <!-- CreationInfo -->
  <ng-container matColumnDef="creationInfo">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'upload_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.createdBy" [date]="row.createdAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>


  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <ca-document-actions-menu [document]="row"
                                (documentUpdated)="updateDocument($event)"
                                (documentDeleted)="deleteDocument($event)"></ca-document-actions-menu>
    </mat-cell>
  </ng-container>


  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let experiment">
      <div>
        <span>{{experiment[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>

</mat-table>
