
mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.section {
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-decoration: underline;
  font-weight: bold;
}

.button {
  flex-shrink: 0;
}

.share-button {
  margin-top: 1em;
}

.link {
  word-break: break-word;
}
