mat-divider {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
}

.share-button {
  margin-top: 1em;
}

.link {
  word-break: break-word;
}

.action-menu {
  flex-shrink: 0;
}

.button-container {
  margin-top: 1em;
  text-align: center;
}

.share-info {
  display: block;
  margin-top: 1em;
}

.space-share-link-info{
  margin-top: 1em;
}
