<div class="comments-section-div">
  <div class="comments-section-header g-flex g-layout-row g-layout-between-center">
    <h2>{{ 'comments' | translate }} ({{ commentsCount() }})</h2>
    @if (!isWritingComment) {
      @if (user()) {
        <button mat-flat-button (click)="showCommentTextEditor()">{{ 'write_a_comment' | translate }}</button>
      } @else {
        <a mat-flat-button class="write-comment-div-link" [href]="loginRoute">{{
          'write_a_comment' | translate
        }}</a>
      }
    }
  </div>

  <div class="write-comment-div">
    @if (isWritingComment) {
      <div class="write-comment-text-editor-div">
        <div class="g-flex g-layout-row g-layout-between-center">
          <fl-user-inline [user]="user()" [portalOnHover]="false"></fl-user-inline>
          <div class="g-flex g-layout-row g-gap-05em">
            <button mat-raised-button (click)="hideCommentTextEditor()">
              {{ 'cancel' | translate }}
            </button>
            @if (!formControlCommentInputData.value?.isEmpty()) {
              <button mat-flat-button [disabled]="isLoading" (click)="sendComment()">
                @if (isLoading) {
                  <fl-button-loader></fl-button-loader>
                }
                @if (!isLoading) {
                  {{ 'comment' | translate }}
                }
              </button>
            }
          </div>
        </div>
        <te-text-editor
          #commentEditor
          [config]="textEditorConfig"
          [formControl]="formControlCommentInputData"
          [placeholder]="'write_a_comment' | translate"
          class="text-editor"
          (keydown.control.enter)="sendComment()"></te-text-editor>
      </div>
    }
  </div>

  @if (!datasource.isEmpty()) {
    <fl-infinite-scroll
      [datasource]="datasource"
      infiniteMode="auto"
      [textNoMoreResult]="''"
      [textNoResult]="''">
      <div class="comments-list-div">
        @for (comment of datasource | flDatasourceConnect | async; track comment) {
          <ha-comment [comment]="comment"></ha-comment>
        }
      </div>
    </fl-infinite-scroll>
  }
</div>
