<fl-card *ngIf="space$ | async as space">
  <fl-card-header>

    <fl-card-actions>
      <ng-container *caIsSpaceAdmin>

        <button mat-icon-button type="button" (click)="openUploadPhotoDialog(space)"
                [matTooltip]="'space_upload_photo' | translate">
          <mat-icon>photo_camera</mat-icon>
        </button>

        <button mat-icon-button type="button" (click)="openUpdateDialog(space)"
                [matTooltip]="'update_space' | translate">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button type="button" color="warn" (click)="openDeleteSpace(space)"
                [matTooltip]="'delete_space' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <div class="g-layout-col g-layout-start-center">
      <ca-space-photo size="big" [space]="space$"></ca-space-photo>
      <h1 class="title">{{space.name}}</h1>
    </div>

    <fl-key-value>
      <fl-key>{{'space_domain' | translate}}</fl-key>
      {{space.domain}}
    </fl-key-value>


    <fl-key-value>
      <fl-key>{{'nb_of_licenses' | translate}}</fl-key>
      {{spaceSettings.nbLicenses}}
    </fl-key-value>

    <fl-key-value *ngIf="spaceSettings.defaultStorageRegion">
      <fl-key>{{'space_default_storage_region' | translate}}</fl-key>
      {{spaceSettings.defaultStorageRegion.technicalName}} ({{spaceSettings.defaultStorageRegion.cloudProvider.name}})
    </fl-key-value>
  </fl-card-body>

  <fl-card-footer>
    <button mat-stroked-button type="button" color="primary"
            *caIsSpaceAdmin
            (click)="openRequestNewLicense(space)">
      {{'request_new_licenses' | translate}}
    </button>
  </fl-card-footer>
</fl-card>
