<ha-page
  [hideCreateSection]="!isGencoveryMember()"
  [showHeaderCreateButton]="true"
  (openCreateDialogOutput)="openCreateIconDialog()">
  <div class="section">
    <div class="google-material-icons-text-div">
      <span>
        <a
          class="material-icons-link"
          href="https://fonts.google.com/icons?icon.set=Material+Icons"
          target="_blank"
          rel="noopener noreferrer">
          {{ 'google_material_icons' | translate }}
        </a>
        {{ 'are_also_allowed' | translate }}.
      </span>
    </div>
    <ha-icon-list [reloadList$]="reloadList$"></ha-icon-list>
  </div>
</ha-page>
