<div>

  <ng-container *ngIf="labStatus$ | async as labStatus">

    <!-- Container status-->
    <div class="status g-layout-row g-layout-start-center g-layout-gap-1em">
      <span>{{'lab_manager_status' | translate}} : </span>
      <fl-status-chip [status]="labStatus.containersStatus.status" size="small"></fl-status-chip>
      <span *ngIf="labStatus.containersStatus.info">{{labStatus.containersStatus.info}}</span>
    </div>

    <fl-key-value *ngIf="labStatus.biota?.dbUrl">
      <fl-key>{{'biota_db_url' | translate}}</fl-key>
      {{labStatus.biota.dbUrl}}
    </fl-key-value>
  </ng-container>

</div>


<!--  Action button  -->
<div class="action-buttons">
  <fl-text-icon class="warning-text">
    <mat-icon color="warn">warnings</mat-icon>
    {{'lab_advanced_configuration_warning' | translate}}
  </fl-text-icon>

  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="initAll()">Init all
  </button>
  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="upContainers()">Up containers
  </button>
  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="restartContainers()">Restart containers
  </button>
  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="pullContainers()">Pull containers
  </button>
  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="pullBiotaDb()">{{'pull_biota' | translate}}
  </button>
  <button mat-stroked-button type="button" color="primary"
          class="g-button-small" (click)="registryLogin()">Registry login
  </button>
  <button mat-stroked-button type="button" color="warn"
          class="g-button-small" (click)="downContainers()">Down containers
  </button>
  <button mat-stroked-button type="button" color="warn"
          class="g-button-small" (click)="stopCurrentTask()">Stop current task
  </button>
  <button mat-stroked-button type="button" color="warn"
          class="g-button-small" (click)="systemPrune()">System prune
  </button>

  <button mat-stroked-button type="button" color="warn"
          class="g-button-small" (click)="startAdminer()">Start adminer
  </button>

  <button mat-stroked-button type="button" color="warn"
          class="g-button-small" (click)="stopAdminer()">Stop adminer
  </button>
</div>

<mat-divider class="divider"></mat-divider>

<!--  List of containers  -->
<ca-lab-docker-containers></ca-lab-docker-containers>

