<fl-async-section [object]="type$">
  <ng-container *flSectionBody="type$ as type">
    <fl-dialog-header>
      <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
        <td-type-icon-badge [style]="type.style" [iconSize]="30"></td-type-icon-badge>
        <h2>{{ type.name }}</h2>
      </div>
    </fl-dialog-header>

    <mat-dialog-content class="g-layout-col">
      <div class="g-layout-row g-layout-center-center g-layout-gap-05em">
        <a
          mat-stroked-button
          type="button"
          class="g-button-small detail-link"
          [routerLink]="detailRoute"
          target="_blank">
          {{ 'biox.open_type_in_page' | translate }}
          <mat-icon>chevron_right</mat-icon>
        </a>

        <a
          mat-stroked-button
          type="button"
          class="g-button-small detail-link"
          [href]="technicalDocUrl$ | async"
          target="_blank"
          *ngIf="technicalDocUrl$ | async">
          {{ 'biox.open_in_community' | translate }}
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>

      <lab-type-detail [type]="type" class="g-flex-auto"></lab-type-detail>
    </mat-dialog-content>
  </ng-container>
</fl-async-section>
