<div class="g-layout-row g-layout-start-center">
  {{ 'theme' | translate }}
  <div class="theme-selection">
    <button mat-stroked-button type="button"
            (click)="selectTheme(theme.LIGHT_THEME)">
      <div class="g-layout-row g-layout-center-center">
        <span class="round round-light"></span>
        <span>{{ 'light' | translate }}</span>
      </div>
    </button>

    <button mat-stroked-button type="button" class="second-button"
            (click)="selectTheme(theme.DARK_THEME)">
      <div class="g-layout-row g-layout-center-center">
        <span class="round round-dark"></span>
        <span>{{ 'dark' | translate }}</span>
      </div>
    </button>
  </div>
</div>

