
.page {
  min-height: 100vh;
  --expanded-menu-large-width: 12rem;
  --expanded-menu-small-width: 50px;
}

.sidenav {
  height: 100vh;
  position: fixed;
  border-right: 1px solid var(--hover-color);
  top: 0;
  bottom: 0;
  transform: none;
}

.lab-name {
  opacity: 0.7;
  word-break: break-word;
}

.column-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

// class to align the menu on the left when expanded and on the center when collapsed
.align-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  margin-top: 0.5em;
}

// align the button on the left
.align-container-center {
  place-content: start flex-start;
  align-items: start;
}

.logo-div {
  cursor: pointer;
}

.menu {
  padding-top: 0.5em;
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 34px;
  max-height: 40px;
}

// align logo with buttons when expanded
.logo-expanded {
  margin-left: 12px;
}


.divider {
  width: calc(100% - 10px);
  margin: 0.5em 5px;
}

.menu-button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

// Opacity 1 for the selected menu
.selected-menu {
  opacity: 1;
  color: var(--primary-color) !important;
}


.content {
  min-height: 100vh;
  flex: 1;
}

@media print {
  .content {
    margin-left: 0 !important;
  }
}

.content-expanded {
  margin-left: var(--expanded-menu-large-width);
}

.content-not-expanded {
  margin-left: var(--expanded-menu-small-width);
}



