<div class="page g-layout-row">
  <div [ngClass]="toolbarColorClass" class="sidenav g-print-hide">
    <fl-expansion-menu [(expanded)]="menuExpanded">
      <div class="g-scrollable-element g-layout-col column-container">
        <a class="align-container logo-div" [ngClass]="{ 'align-container-center': menuExpanded }">
          <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
            <a [routerLink]="appRoute">
              <img
                [src]="logo"
                alt="Space logo"
                class="logo"
                [ngClass]="{ 'logo-expanded': menuExpanded }"
                flBackupImage="assets/fl-logo/constellab-logo.svg" />
            </a>

            <div *ngIf="menuExpanded" class="lab-name">
              <p>{{ labName }}</p>
              <p *ngIf="spaceName" class="g-text-light g-text-small">{{ spaceName }}</p>
            </div>
          </div>
        </a>

        <!-- List of main menu links   -->
        <div class="g-flex-auto menu g-layout-col">
          <ng-container *ngFor="let link of accessibleLinks">
            <mat-divider *ngIf="link.divider" class="divider"></mat-divider>
            <a
              mat-button
              [routerLink]="link.route"
              class="menu-button"
              flExpansionMenuButton
              routerLinkActive="selected-menu"
              [matTooltip]="link.label | translate"
              matTooltipPosition="after">
              <mat-icon [flIcon]="link.icon"></mat-icon>
              <span>{{ link.label | translate }}</span>
            </a>
          </ng-container>
        </div>

        <!--  Authenticated user info  -->
        <div>
          <!--    Grow/Reduce menu button      -->
          <button mat-button class="menu-button" flExpansionMenuButton flExpansionMenuButtonToggle>
            <mat-icon>{{ menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
            <span>{{ 'reduce_menu' | translate }}</span>
          </button>

          <!-- Dashboard button -->
          <a
            mat-button
            [href]="spaceAppUrl"
            class="menu-button"
            flExpansionMenuButton
            routerLinkActive="selected-menu"
            [matTooltip]="'home' | translate"
            matTooltipPosition="after">
            <mat-icon>home</mat-icon>
            <span>{{ 'home' | translate }}</span>
          </a>

          <lab-main-menu-settings></lab-main-menu-settings>
        </div>
      </div>
    </fl-expansion-menu>
  </div>

  <div
    class="content"
    [ngClass]="{ 'content-expanded': menuExpanded, 'content-not-expanded': !menuExpanded }">
    <router-outlet></router-outlet>
  </div>
</div>
