<div class="page g-layout-row">
  <div [ngClass]="toolbarColorClass" class="sidenav g-print-hide">
    <fl-expansion-menu [(expanded)]="menuExpanded">
      <div class="g-scrollable-element g-layout-col column-container">
        <a class="align-container logo-div" [ngClass]="{ 'align-container-center': menuExpanded }">
          <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
            <a [routerLink]="appRoute">
              <img
                [src]="logo"
                alt="Space logo"
                class="logo"
                [ngClass]="{ 'logo-expanded': menuExpanded }"
                flBackupImage="assets/fl-logo/constellab-logo.svg" />
            </a>

            @if (menuExpanded) {
              <div class="lab-name">
                <p>{{ labName }}</p>
                @if (spaceName) {
                  <p class="g-text-light g-text-small">{{ spaceName }}</p>
                }
              </div>
            }
          </div>
        </a>

        <!-- List of main menu links   -->
        <div class="g-flex-auto menu g-layout-col">
          @for (link of accessibleLinks; track link) {
            @if (link.divider) {
              <mat-divider class="divider"></mat-divider>
            }
            <a
              mat-button
              [routerLink]="link.route"
              class="menu-button"
              flExpansionMenuButton
              routerLinkActive="primary selected-menu"
              [matTooltip]="link.label | translate"
              matTooltipPosition="after">
              <mat-icon [flIcon]="link.icon"></mat-icon>
              <span>{{ link.label | translate }}</span>
            </a>
          }
        </div>

        <!--  Authenticated user info  -->
        <div>
          <!--    Grow/Reduce menu button      -->
          <button mat-button class="menu-button" flExpansionMenuButton flExpansionMenuButtonToggle>
            <mat-icon>{{ menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
            <span>{{ 'g.reduce_menu' | translate }}</span>
          </button>

          <!-- Dashboard button -->
          <a
            mat-button
            [href]="spaceAppUrl"
            class="menu-button"
            flExpansionMenuButton
            routerLinkActive="selected-menu"
            [matTooltip]="'g.home' | translate"
            matTooltipPosition="after">
            <mat-icon>home</mat-icon>
            <span>{{ 'g.home' | translate }}</span>
          </a>

          <lab-main-menu-settings></lab-main-menu-settings>
        </div>
      </div>
    </fl-expansion-menu>
  </div>

  <div
    class="content"
    [ngClass]="{ 'content-expanded': menuExpanded, 'content-not-expanded': !menuExpanded }">
    <router-outlet></router-outlet>
  </div>
</div>

@if (isChatbotActive) {
  <co-ragflow-chatbot-bubble [user]="user$ | async"></co-ragflow-chatbot-bubble>
}
