<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="note-form" [formGroup]="formGp">


    <!--  Title  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'title' | translate}}</mat-label>
      <input matInput formControlName="title" required flInputMaxLength="255"
             placeholder="{{'title' | translate}}">
      <mat-error *ngIf="formGp.get('title').hasError('required')">
        {{'title' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Template  -->
    <fl-form-field class="g-form-input" *ngIf="isCreateMode()">
      <lab-select-document-template formControlName="template" [placeholder]="'biox.select_document_template' | translate"
                                  (valueChange)="onTemplateSelected($event)"></lab-select-document-template>
    </fl-form-field>

    <!--    Folder      -->
    <p class="g-text-light helper-text">{{'biox.select_folder_help' | translate}}</p>
    <lab-folder-select formControlName="folder" [multiple]="false"></lab-folder-select>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="note-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
