<div class="g-layout-col g-full-height">

  <fl-text-icon class="g-text-light help-text">
    <mat-icon>warning</mat-icon>
    <div>{{ 'biox.scenario_template_beta_warning' | translate }}</div>
  </fl-text-icon>

  <fl-section [object]="workflow" [isLoading]="workflowIsLoading" class="section">
    <ng-container *flSectionBody>
      <pr-workflow [workflow]="workflow" [mode$]="workflowMode$" [viewConfig]="viewConfig"
                   class="workflow"></pr-workflow>
    </ng-container>
  </fl-section>
</div>
