<fl-dialog-header>
  {{'coauthors' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <div class="dialog-part">
    {{'coauthors' | translate}}:
    @if (coAuthors?.length > 0){
      <div *ngFor="let coAuthor of coAuthors" class="co-author-div">
        <fl-user-inline [user]="coAuthor"></fl-user-inline>
        <button mat-icon-button [matTooltip]="'remove_coauthor' | translate" (click)="openRemoveConfirmDialog(coAuthor)" color="warn">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    } @else {
      <div class="empty-zone-text">{{'no-coauthors' | translate}}</div>
    }
  </div>
  <div>
    {{'pending_coauthor_invitations' | translate}}:
    @if(coAuthorPendingInvites?.length > 0){
      <div *ngFor="let pendingInvite of coAuthorPendingInvites" class="co-author-div">
        <p>{{pendingInvite.email}}</p>
        <button mat-icon-button [matTooltip]="'cancel_invitation' | translate" (click)="deleteCoAuthorInvite(pendingInvite.id)" color="warn">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    } @else {
      <div class="empty-zone-text">{{'no_pending_invitation' | translate}}</div>
    }
  </div>

  <div class="add-coauthor-div">
    <h6>{{'invite_coauthor' | translate}}</h6>

    <p>{{inviteText | translate}}</p>

    <div class="add-coauthor-input-div">
      <mat-form-field class="email-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="formGp.controls.coAuthorMail"/>
        <mat-error *ngIf="formGp.controls.coAuthorMail.hasError('email') && !formGp.controls.coAuthorMail.hasError('required')">
          {{'invalidEmail' | translate}}
        </mat-error>
        <mat-error *ngIf="formGp.controls.coAuthorMail.hasError('required')">
          {{'error_required' | translate:{field: 'email'} }}
        </mat-error>
      </mat-form-field>

      <button mat-icon-button [matTooltip]="'send_invitation' | translate" class="invite-button" (click)="checkAndSendInvite()" [disabled]="isLoading">
        <mat-icon>send</mat-icon>
        <fl-button-loader *ngIf="isLoading"></fl-button-loader>
      </button>
    </div>

  </div>
</mat-dialog-content>
