form {
  width: 100%;
  text-align: start;
}

.title-image-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  h2 {
    flex: auto;
  }

  .story-image-preview {
    width: 115px;
    height: 115px;
    margin-bottom: 1.5em;
  }

  .story-image {
    width: 115px;
    height: 115px;
    background-size: cover;
    background-position: center;
  }

  .image-placeholder {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin-top: 2px;
    outline: 2px solid var(--light-color);
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
}

.buttons-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
}

.save-content-div {
  display: flex;
  flex-direction: row;
  align-items: center;

  .save-info {
    margin-left: 1em;
  }
}

.right-bts-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.error-text {
  color: var(--warn-color);
  margin-top: -0.5em;
  margin-bottom: 1em;
}

.editor {
  min-height: 80vh;
}
