.back-link{
  margin-bottom: 40px;
}

.brick-content-div {
  margin-top: 19px;
}

.back-link{
  display: block;
  width: fit-content;
}

.sidenav-div{
  margin-top: 1em;
}

.sidenav-div p{
  margin-left: 1em;
  margin-bottom: 0.5em;
}
