:host {
  mark {
    background-color: transparent !important;
    color: var(--primary-color) !important;
  }
}

.hits-div {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-height: 50px;
  overflow-x: hidden;
  padding-right: 0.5em;
}

#powered-by-div {
  display: flex;
  gap: 0.5em;
  font-size: 0.8em;
  align-items: center;
  justify-content: end;
}

.hit {
  width: auto;
  padding: 0.75em;
  border-left: solid 2px var(--hover-color);
  display: flex;
  flex-direction: row;
  min-height: 60px;

  .hit-infos {
    height: fit-content;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .hit-image {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hit-content {
    margin-top: 0.5em;
    font-size: 0.9em;
  }
}

.highlighted-hit {
  background-color: var(--hover-color);
  border-left: solid 2px var(--primary-color) !important;
}

.algolia-logo {
  width: 80px;
}

mark {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}
