<mat-form-field class="g-form-input" subscriptSizing="dynamic">
  <mat-icon matPrefix>search</mat-icon>

  <span matTextSuffix>ESC</span>

  <input
    type="text"
    matInput
    placeholder="Search stories, agents, users..."
    (input)="search($event)"
    [value]="query"
    [autofocus]="true" />
</mat-form-field>

<div class="hits-div g-scrollable-element" cdkScrollable #hitsDiv>
  @if (hits.length > 0 && query?.length > 0) {
    @for (hit of hits; track hit.objectId; let idx = $index) {
      <a [routerLink]="hit.path" [ngClass]="idx === highlightedHitIndex ? 'highlighted-hit' : ''" class="hit">
        <div class="hit-infos">
          <div [innerHTML]="hit._highlightResult.title.value" class="hit-title"></div>
          @if (hit._highlightResult.content.matchLevel !== 'none') {
            <div [innerHTML]="hit._snippetResult.content.value" class="hit-content"></div>
          }
        </div>
        @if (hit.image) {
          <div class="hit-image">
            <img [src]="hit.image" />
          </div>
        }
      </a>
    }
  } @else {
    <div class="no-hits">Start typing to see results</div>
  }
</div>

<div id="powered-by-div"></div>
