<fl-card class="g-full-height">
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>dns</mat-icon>
      <h2>{{ 'server_info' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [object]="serverInfo$">

      <ng-container *flSectionBody="serverInfo$ as serverInfo">
        <fl-key-value class="g-layout-row g-layout-start-center">
          <fl-key>{{ 'cloud_provider' | translate }}</fl-key>
          <ca-cloud-provider-inline [cloudProvider]="serverInfo.cloudProvider"></ca-cloud-provider-inline>
        </fl-key-value>
        <fl-key-value>
          <fl-key>{{ 'name' | translate }}</fl-key>
          {{ serverInfo.name }}
        </fl-key-value>
        <fl-key-value>
          <fl-key>{{ 'cpuCount' | translate }}</fl-key>
          {{ serverInfo.cpuCount }} ({{ serverInfo.cpuType }})
        </fl-key-value>
        <fl-key-value>
          <fl-key>{{ 'ram' | translate }}</fl-key>
          {{ serverInfo.ram }}
        </fl-key-value>

        <!--  If there is a GPU  -->
        <ng-container *ngIf="serverInfo.gpuType">
          <fl-key-value>
            <fl-key>{{ 'gpuCount' }}</fl-key>
            {{ serverInfo.gpuCount }} ({{ serverInfo.gpuType }})
          </fl-key-value>
        </ng-container>

        <fl-key-value>
          <fl-key>{{ 'lab_volume_size' | translate }}</fl-key>
          {{ serverInfo.volumeSize }} ({{ 'lab_volume_type_' + serverInfo.volumeType | translate }})
        </fl-key-value>
      </ng-container>
    </fl-async-section>

  </fl-card-body>

</fl-card>
