<fl-card class="g-full-height">
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>dns</mat-icon>
      <h2>{{ 'server_info' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <ca-server-info-detail [serverInfo]="labInstance.serverInfo">
      <fl-key-value>
        <fl-key>{{'lab_volume_size' | translate}}</fl-key>
        {{labInstance.volumeSize}} ({{'lab_volume_type_' + labInstance.volumeType | translate}})
      </fl-key-value>
    </ca-server-info-detail>
  </fl-card-body>

</fl-card>
