<fl-input-search [selectedItem]="selectedCredentials"
                 (selectedItemChange)="setAndEmitValue($event)"
                 [datasource]="datasource"
                 [placeholder]="placeholder | flTranslatableText | async"
                 [required]="required"
                 [disabled]="disabled"
                 [minInputSearchLength]="0">

  <div class="photo" *flInputSearchPrefix="datasource as credentials">
    <fl-user-profile-picture *ngIf="credentials" [user]="credentials.createdBy"
                             size="small"></fl-user-profile-picture>

  </div>

  <lab-credentials-inline *flInputSearchOption="datasource as credentials" [credentials]="credentials">
  </lab-credentials-inline>
</fl-input-search>
