.container{
  margin-bottom: 0;
}

.tree-node {
  min-height: 32px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
}

.node-content {
  padding-left: 1em;
  padding-right: 1em;
}

.tree-node:hover {
  background-color: var(--hover-color);
}

.leaf {
  margin-left: 0.5em;
}

.selected {
  border-color: var(--color-foreground);
}

.circle-color{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 5px;
  // more on right to balance with icon for parent
  margin-right: 9px;
}

.expand-icon{
  flex-shrink: 0;
}
