.live-task-versions-panel{
  background-color: var(--card-background);
  padding: 12px 8px;
  border-radius: 18px;
}

.lt-versions-panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lt-versions-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 50vh;
}

.lt-versions-list-item{
  padding: 8px 12px;
  border-radius: 12px;
  background-color: var(--main-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media(max-width: 900px) {

  .lt-versions-list{
    max-height: 70vh;
  }
}
