.container{
  min-height: 30px; // keep height even if button is hidden
}

.toggle-button{
  // made to align button with page title
  margin-left: -6px;
}

.separator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
