.toggle-button{
  // made to align button with page title
  margin-left: -0.6em;
}

.separator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

// use when there is no button to align text
.fake-button-height {
  width: 1px;
  height: 40px;
}
