<fl-async-section [object]="containers$" [showServerErrorText]="true" [nullOrEmptyIsValid]="true">
  <fl-section-header>
    <h2>{{'lab_containers' | translate}}</h2>

    <fl-section-actions>
      <button mat-stroked-button type="button" class="g-button-small button" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>{{'lab_manager_refresh' | translate}}</span>
      </button>
    </fl-section-actions>
  </fl-section-header>
  <ng-container *flSectionBody="containers$ as containers">
    <ca-lab-docker-containers-list [labInstanceId]="labInstanceId"
                                   [containers]="containers"></ca-lab-docker-containers-list>
  </ng-container>
</fl-async-section>
