<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <div class="content">
    @if(currentLiveTask  && currentLiveTask.created_by.id === currentUser.id){
      <div class="existant-lt-info-div">
        <span>{{'biox.existent_lt_info_1' | translate}}</span>
      </div>
      <co-live-task-list-item class="current-live-task" [liveTask]="currentLiveTask.toCoLiveTask()" (click)="onSelectLiveTask(currentLiveTask)"></co-live-task-list-item>
      <mat-divider class="divider"></mat-divider>
    }
    @if(!isLoading || !liveTaskVersionId){
      <div class="current-lt-div">
        <button (click)="openCreateCommunityLiveTaskDialog(liveTaskVersionId ? LabCreateCommunityLiveTaskDialogMode.FORK : LabCreateCommunityLiveTaskDialogMode.CREATE)"
                mat-stroked-button type="button">
          <mat-icon>add_circle</mat-icon>
          {{ 'biox.create_new_community_live_task' | translate }}
        </button>
      </div>

      @if((currentLiveTask && currentLiveTask.created_by.id == currentUser.id) || !liveTaskVersionId){
        <mat-divider class="divider"></mat-divider>
        <h3>{{'biox.my_live_tasks' | translate}}</h3>
        <div class="existant-lt-info-div">
          <span>{{'biox.existent_lt_info_2' | translate}}</span>
        </div>
        <div class="all-lt-list-div" [ngClass]="currentLiveTask && currentLiveTask.created_by.id === currentUser.id ? 'all-lt-list-div-short' : ''">
          <lab-select-community-live-task [personalOnly]="true"
                                          (liveTaskSelected)="onSelectLiveTask($event)"></lab-select-community-live-task>
        </div>
      }
    } @else {
      <fl-loader></fl-loader>
    }
  </div>
</mat-dialog-content>
