<div class="g-page-fixed">

  <div class="g-page-title nav-bar g-layout-row g-layout-start-center g-layout-gap-1em">


    <h1 *ngIf="space$ | async as space"
        class="title">{{space.name | translate}}</h1>

    <a mat-button [routerLink]="dashboardRoute" routerLinkActive="menu-active"
       [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon>
      {{'admin_dashboard_page' | translate}}
    </a>

    <a mat-button [routerLink]="usersRoute" routerLinkActive="menu-active">
      <mat-icon>people</mat-icon>
      {{'space_users' | translate}}
    </a>

    <ng-container *caIsSpaceAdmin>
      <a mat-button [routerLink]="labsRoute" routerLinkActive="menu-active">
        <mat-icon flIcon="lab"></mat-icon>
        {{'lab_instances' | translate}}
      </a>

      <a mat-button [routerLink]="projectsRoute" routerLinkActive="menu-active">
        <mat-icon flIcon="project"></mat-icon>
        {{'projects' | translate}}
      </a>

      <a mat-button [routerLink]="teamsRoute" routerLinkActive="menu-active">
        <mat-icon flIcon="group"></mat-icon>
        {{'teams' | translate}}
      </a>
    </ng-container>

  </div>

  <router-outlet></router-outlet>
</div>
