<ha-page-header [title]="headerTitle()" [description]="headerDescription()">
  @if (!hideCreateSection()) {
    <div class="section-buttons-div header-create-button-div">
      @if (currentUser()) {
        <button type="button" mat-flat-button (click)="openCreateDialog()">
          {{ createSectionSubmit() | translate }}
        </button>
      } @else {
        <a type="button" mat-flat-button [routerLink]="loginRoute">{{ createSectionSubmit() | translate }}</a>
      }
    </div>
  }
</ha-page-header>

<div class="page">
  @if (isLoading()) {
    <div class="section">
      <div class="g-text-centered">
        <fl-loader></fl-loader>
      </div>
    </div>
  } @else if (notFound()) {
    <ha-404></ha-404>
  } @else {
    <ng-content></ng-content>
  }

  @if (!hideCreateSection()) {
    <div class="section section-with-background">
      <div class="section-title">
        <ha-home-section-shine>{{ createSectionHint() | translate }}</ha-home-section-shine>
        <h2>{{ createSectionTitle() | translate }}</h2>
      </div>
      <p class="g-large-text section-description">
        {{ createSectionSubtitle() | translate }}
      </p>
      <div class="section-buttons-div">
        @if (currentUser()) {
          <button type="button" mat-flat-button (click)="openCreateDialog()">
            {{ createSectionSubmit() | translate }}
          </button>
        } @else {
          <a type="button" mat-flat-button [routerLink]="loginRoute">{{
            createSectionSubmit() | translate
          }}</a>
        }
      </div>
    </div>
  }
</div>

<div class="footer-div">
  <ha-footer></ha-footer>
</div>
