<fl-input-search
  [selectedItem]="selectedNote"
  (selectedItemChange)="setAndEmitValue($event)"
  [datasource]="datasource"
  [placeholder]="placeholder"
  [required]="required"
  [disabled]="disabled"
  [minInputSearchLength]="0"
  [initSearchOnFocus]="true"
  [advancedButton]="advancedButton">
  <div class="photo" *flInputSearchPrefix="datasource as note">
    @if (note) {
      <fl-user-profile-picture [user]="note.createdBy" size="small"></fl-user-profile-picture>
    }
  </div>

  <lab-note-inline *flInputSearchOption="datasource as note" [note]="note"> </lab-note-inline>
</fl-input-search>
