<div *ngIf="lab$ | async as lab">
  <fl-horizontal-nav-bar [items]="navBarItems$ | async">
    <fl-horizontal-nav-bar-title>
      <fl-text-icon>
        <mat-icon flIcon="lab"></mat-icon>
        <h1>{{ lab.name }}</h1>
      </fl-text-icon>
    </fl-horizontal-nav-bar-title>

    <fl-horizontal-nav-bar-actions class="g-layout-row g-layout-start-center">
      <fl-status-chip [status]="labStatus$" class="g-text-big g-button-action"> </fl-status-chip>
    </fl-horizontal-nav-bar-actions>
  </fl-horizontal-nav-bar>
</div>
