<div [formGroup]="formGp">
  <!--  Default storage location  -->
  <mat-form-field class="g-form-input">
    <mat-label>{{'space_project_default_storage_location' | translate}}</mat-label>
    <mat-select formControlName="defaultProjectStorageLocation" required
                [placeholder]="'space_project_default_storage_location' | translate">
      <mat-select-trigger *ngIf="formGp.get('defaultProjectStorageLocation').value">
        <ca-bucket-location-inline [bucketLocation]="formGp.get('defaultProjectStorageLocation').value"></ca-bucket-location-inline>
      </mat-select-trigger>
      <ca-bucket-location-select-options mode="all"></ca-bucket-location-select-options>
    </mat-select>
    <mat-hint>
      {{'space_project_default_storage_location_help' | translate}}
    </mat-hint>
    <mat-error *ngIf="formGp.get('defaultProjectStorageLocation').hasError('required')">
      {{'space_project_default_storage_location' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <!--  Default backup storage location  -->
  <mat-form-field class="g-form-input">
    <mat-label>{{'space_default_project_backup_storage_location' | translate}}</mat-label>
    <mat-select formControlName="defaultProjectBackupStorageLocation"
                [placeholder]="'space_default_project_backup_storage_location' | translate">
      <mat-select-trigger *ngIf="formGp.get('defaultProjectBackupStorageLocation').value">
        <ca-bucket-location-inline [bucketLocation]="formGp.get('defaultProjectBackupStorageLocation').value"></ca-bucket-location-inline>
      </mat-select-trigger>
      <ca-bucket-location-select-options mode="all"></ca-bucket-location-select-options>
    </mat-select>
    <mat-hint>
      {{'space_default_project_backup_storage_location_help' | translate}}
    </mat-hint>
    <mat-error *ngIf="formGp.get('defaultProjectBackupStorageLocation').hasError('required')">
      {{'space_default_project_backup_storage_location' | flErrorRequired}}
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="formGp.hasError('sameBackupStorage')">
    {{'project_storage_location_same_error' | translate}}
  </mat-error>


</div>
