<div [formGroup]="formGp">
  <!--  Default storage location  -->
  <mat-form-field class="g-form-input">
    <mat-label>{{ 'space_folder_default_storage_location' | translate }}</mat-label>
    <mat-select
      formControlName="defaultFolderStorageLocation"
      required
      [placeholder]="'space_folder_default_storage_location' | translate">
      @if (formGp.get('defaultFolderStorageLocation').value) {
        <mat-select-trigger>
          <ca-bucket-location-inline
          [bucketLocation]="formGp.get('defaultFolderStorageLocation').value"></ca-bucket-location-inline>
        </mat-select-trigger>
      }
      <ca-bucket-location-select-options mode="all"></ca-bucket-location-select-options>
    </mat-select>
    <mat-hint>
      {{ 'space_folder_default_storage_location_help' | translate }}
    </mat-hint>
    @if (formGp.get('defaultFolderStorageLocation').hasError('required')) {
      <mat-error>
        {{ 'space_folder_default_storage_location' | flErrorRequired }}
      </mat-error>
    }
  </mat-form-field>

  <!--  Default backup storage location  -->
  <mat-form-field class="g-form-input">
    <mat-label>{{ 'space_default_folder_backup_storage_location' | translate }}</mat-label>
    <mat-select
      formControlName="defaultFolderBackupStorageLocation"
      [placeholder]="'space_default_folder_backup_storage_location' | translate">
      @if (formGp.get('defaultFolderBackupStorageLocation').value) {
        <mat-select-trigger>
          <ca-bucket-location-inline
          [bucketLocation]="
            formGp.get('defaultFolderBackupStorageLocation').value
          "></ca-bucket-location-inline>
        </mat-select-trigger>
      }
      <ca-bucket-location-select-options mode="all"></ca-bucket-location-select-options>
    </mat-select>
    <mat-hint>
      {{ 'space_default_folder_backup_storage_location_help' | translate }}
    </mat-hint>
    @if (formGp.get('defaultFolderBackupStorageLocation').hasError('required')) {
      <mat-error>
        {{ 'space_default_folder_backup_storage_location' | flErrorRequired }}
      </mat-error>
    }
  </mat-form-field>

  @if (formGp.hasError('sameBackupStorage')) {
    <mat-error>
      {{ 'folder_storage_location_same_error' | translate }}
    </mat-error>
  }
</div>
