<fl-dialog-header>
  {{ 'edit_app_media' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <div class="g-layout-row g-layout-align-start-center g-gap-1em">
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'youtube_video_url' | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'youtube_video_url' | translate"
        [formControl]="videoUrlFormControl()"
        tabindex="0" />
    </mat-form-field>
    @if (app(); as communityApp) {
      @if (videoUrlFormControl().value !== communityApp.video) {
        <button mat-icon-button (click)="saveVideo()" [matTooltip]="'save' | translate">
          <mat-icon>save</mat-icon>
        </button>
      }
    }
  </div>

  @if (app(); as communityApp) {
    <div>
      <div class="g-large-text">
        {{ 'images' | translate }}
        <span class="g-text-small">({{ 'recommended_dimension' | translate }} : 16/9)</span>
      </div>
      <div class="media-figures-div">
        @for (figure of communityApp.figures; track figure; let i = $index) {
          <fl-update-image-container
            [uploadConfig]="getImageConfig(figure)"
            [deleteConfig]="getDeleteImageConfig(figure)"
            [additionalActions]="getReorderActions(i)"
            [matTooltip]="'replace_delete_image' | translate">
            <div class="figure-div">
              <img
                [src]="figure | haAppPicture"
                class="figure"
                [alt]="(communityApp.title ?? '') + ' media preview'" />
            </div>
          </fl-update-image-container>
        }
        @if ((communityApp.figures?.length ?? 0) < 5) {
          <fl-update-image-container
            [uploadConfig]="getImageConfig()"
            [showDelete]="false"
            [showEditIcon]="false"
            [matTooltip]="'add_image' | translate">
            <div class="figure-div add-image-div">
              <mat-icon class="image-placeholder"> add_a_photo </mat-icon>
            </div>
          </fl-update-image-container>
        }
      </div>
    </div>
  }
</mat-dialog-content>
