<fl-input-search
  [selectedItem]="selectedLab"
  (selectedItemChange)="setAndEmitValue($event)"
  [datasource]="labDatasource"
  [placeholder]="placeholder"
  [required]="required"
  [disabled]="disabled">
  <div class="photo" *flInputSearchPrefix="labDatasource as currentLab">
    @if (currentLab) {
      <mat-icon [matTooltip]="currentLab.typeObj.tooltip | translate">
        {{ currentLab.typeObj.icon }}
      </mat-icon>
    }
  </div>

  <ca-lab-inline *flInputSearchOption="labDatasource as lab" [lab]="lab"></ca-lab-inline>
</fl-input-search>
