<div class="g-layout-row g-layout-between-center g-layout-gap-1em">
  <p class="g-text-light">{{ 'lab_folders_section_help' | translate }}</p>

  @if (isOwner$ | async) {
    <button
      mat-flat-button
      type="button"
      class="primary add-button"
      (click)="openAddFolderDialog()"
      [matTooltip]="'lab_add_folder' | translate">
      <mat-icon>add</mat-icon>
      {{ 'lab_add_folder_short' | translate }}
    </button>
  }
</div>

<fl-async-section [arrayObs]="datasource" emptyText="no_lab_folder">
  <ng-container *flSectionBodyDatasource>
    <div class="g-infinite-table g-scrollable-element">
      <ca-lab-folders-table [datasource]="datasource" [columns]="(columns$ | async) ?? []" [labId]="labId">
      </ca-lab-folders-table>
    </div>
  </ng-container>
</fl-async-section>
