<div>
  <fl-key-value>
    <fl-key>{{'monitoring.from_date' | translate}}</fl-key>
    {{logs.fromDate | flDate:'DATETIME_MED_WITH_SECONDS'}}
  </fl-key-value>

  <fl-key-value>
    <fl-key>{{'monitoring.to_date' | translate}}</fl-key>
    {{logs.toDate | flDate:'DATETIME_MED_WITH_SECONDS'}}
  </fl-key-value>

  <div class="logs">
    <div *ngFor="let log of logs.logs" class="g-layout-row">
      <div class="info">{{log.level}} - {{log.datetime | flDate:'DATETIME_MED_WITH_SECONDS'}} - </div><div>{{log.message}}</div>
    </div>
  </div>
</div>
