<fl-card class="g-full-height">

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>share</mat-icon>
      <h2>{{'biox.share' | translate}}</h2>
    </fl-text-icon>


    <fl-card-actions>
      <lab-share-link-actions-menu *ngIf="shareLink$ | async as shareLink; else notShared"
                                   [shareLink]="shareLink" (update)="onShareLinkUpdate($event)"
                                   (delete)="onShareLinkDelete()">
      </lab-share-link-actions-menu>

      <ng-template #notShared>
        <button mat-stroked-button type="button" (click)="openShareDialog()" class="g-button-small">
          <mat-icon>share</mat-icon>
          <span>{{shareButtonText | translate}}</span>
        </button>
      </ng-template>

    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <ng-container *ngIf="shareLink$ | async as shareLink; else notShared2">
      <div>
        {{'biox.share_link_exist' | translate }}
        <span [matTooltip]="shareLink.validUntil | flDate: 'DATETIME_MED'"
              [ngClass]="{'g-warn-text': !shareLink.isValid()}">{{shareLink.validUntil | flDate}}</span>
      </div>
      <div class="g-text-link g-text-small g-text-light" (click)="copyDownloadLink(shareLink)">
        {{getDownloadLink(shareLink)}}
      </div>
    </ng-container>

    <ng-template #notShared2>
      {{'biox.no_share_link' | translate}}
    </ng-template>


    <fl-infinite-scroll [datasource]="sharedEntities" class="g-infinite-table" textNoResult="biox.not_shared_yet">
      <lab-shared-entity-table [datasource]="sharedEntities" [columns]="displayedColumns">
      </lab-shared-entity-table>
    </fl-infinite-scroll>
  </fl-card-body>


</fl-card>
