<mat-table mat-table [dataSource]="datasource">
  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      {{ 'name' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>
        <div>{{ row.name }}</div>
        <div class="g-text-small g-text-light">{{ row.technicalName }}</div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Type -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>
      {{ 'type' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.type }}
    </mat-cell>
  </ng-container>

  <!-- Cloud provider -->
  <ng-container matColumnDef="cloudProvider">
    <mat-header-cell *matHeaderCellDef>
      {{ 'cloud_provider' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ca-cloud-provider-inline *ngIf="row.cloudProvider" [cloudProvider]="row.cloudProvider">
      </ca-cloud-provider-inline>
    </mat-cell>
  </ng-container>

  <!-- City -->
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef>
      {{ 'city' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ca-city [city]="row.city"></ca-city>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      {{ 'last_modification_info' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.lastModifiedBy" [date]="row.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">
      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="updateRegion(row)">
          <mat-icon>edit</mat-icon>
          <span>{{ 'update_cloud_provider_region' | translate }}</span>
        </button>

        <button mat-menu-item type="button" (click)="deleteRegion(row)">
          <mat-icon color="warn">clear</mat-icon>
          <span class="g-warn-text">{{ 'delete_cloud_provider_region' | translate }}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
