<mat-table mat-table [dataSource]="datasource">

  <!-- Cloud provider -->
  <ng-container matColumnDef="cloudProvider">
    <mat-header-cell *matHeaderCellDef>
      <span>{{'cloud_provider' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span>{{row.cloudProvider.name}}</span>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">

        <button mat-menu-item type="button"
                (click)="openEditServerInfo(row)">
          <mat-icon>edit</mat-icon>
          <span>{{'update_server_info' | translate}}</span>
        </button>


        <button mat-menu-item type="button"
                class="g-warn-text" (click)="deleteServerInfo(row)">
          <mat-icon color="warn">clear</mat-icon>
          <span>{{'delete_server_info' | translate}}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let serverInfo">
      <div>
        <span>{{serverInfo[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

