<fl-search class="g-full-height">
  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-resource-search-form></lab-resource-search-form>
  </fl-search-advanced-form>

  <!--  Center header  -->
  <fl-search-header>
    <fl-text-icon>
      <mat-icon flIcon="resource"></mat-icon>
      <h2>{{ 'resources' | translate }}</h2>
    </fl-text-icon>

    <fl-search-header-actions class="g-layout-row">
      <!--   Upload files     -->
      <fl-input-file-icon-container
        [matTooltip]="'databox.upload_file' | translate"
        icon="upload_file"
        class="upload-button"
        color="accent">
        <input
          flInputFile
          [multiple]="true"
          type="file"
          (fileChange)="openUploadFiles($event)"
          [(ngModel)]="files" />
      </fl-input-file-icon-container>

      <!--   Upload folders     -->
      <fl-input-file-icon-container
        [matTooltip]="'databox.upload_folder' | translate"
        icon="drive_folder_upload"
        class="upload-button"
        color="accent">
        <input
          flInputFile
          type="file"
          (fileChange)="openUploadFolder($event)"
          [multiple]="true"
          [(ngModel)]="files"
          webkitdirectory
          mozdirectory
          [strictMode]="false" />
      </fl-input-file-icon-container>

      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="openImportFromUrlDialog()"
        [matTooltip]="'biox.import_resource_from_link' | translate">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </fl-search-header-actions>
  </fl-search-header>

  <fl-search-result>
    <lab-resource-table
      [datasource]="datasource"
      [columns]="columns"
      [selectableRow]="resourceSelectable"
      (resourceSelected)="selectResource($event)"
      (tagSelected)="searchOnTag($event)"></lab-resource-table>
  </fl-search-result>
</fl-search>
