<div class="social-links">
  <a
    href="https://www.facebook.com/groups/451485394362000/"
    target="_blank"
    class="social-link"
    aria-label="Facebook">
    <mat-icon flIcon="facebook"></mat-icon>
  </a>
  <a href="https://x.com/gencovery" target="_blank" class="social-link" aria-label="X (Twitter)">
    <mat-icon flIcon="x"></mat-icon>
  </a>
  <a
    href="https://www.linkedin.com/company/gencovery"
    target="_blank"
    class="social-link"
    aria-label="LinkedIn">
    <mat-icon flIcon="linkedin"></mat-icon>
  </a>
  <a href="https://github.com/Constellab" class="social-link" aria-label="GitHub">
    <mat-icon flIcon="github"></mat-icon>
  </a>
</div>
