<fl-async-section [object]="user$">
  <ng-container *flSectionBody="let user">

    <div class="header">
      <div class="header-div">
        <fl-user-profile-picture flHide.lt-md [user]="user" size="7" class="user-pp"></fl-user-profile-picture>
        <fl-user-profile-picture flHide.gt-xs [user]="user" size="6" class="user-pp"></fl-user-profile-picture>
        <div class="base-info">
          <h2>{{user.firstname}} {{user.lastname}}</h2>
          <fl-text-icon iconPosition="start" *ngIf="user.company">
            <mat-icon flIcon="space"></mat-icon>
            {{user.company}}
          </fl-text-icon>
          <fl-text-icon iconPosition="start" *ngIf="user.activity">
            <mat-icon flIcon="badge"></mat-icon>
            {{user.activity}}
          </fl-text-icon>
        </div>
        <button class="button-settings" mat-stroked-button type="button"
                *ngIf="currentUser.id === user.id" (click)="openSettings()"
                flClass.xs="g-button-small">
          <fl-text-icon iconPosition="start">
            <mat-icon flIcon="settings" flClass.xs="g-button-icon-small"></mat-icon>
            {{'Settings' | translate}}
          </fl-text-icon>
        </button>
      </div>
    </div>

    <div class="profile">
      <div class="biography">
        <p>{{user.biography}}</p>
      </div>
    </div>

  </ng-container>
</fl-async-section>


<ng-container *caIsAdmin>
  <ca-user-spaces-list class="g-section" [userId]="id"></ca-user-spaces-list>
  <ca-lab-free-trial-card-info *caIsAdmin class="g-section" [userId]="id"></ca-lab-free-trial-card-info>
</ng-container>
