<mat-table mat-table [dataSource]="datasource" flSearchTableSort>
  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="g-column-width-2">
      <span> {{ 'title' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig" class="g-column-width-2">
      <!--    Invisible link  -->
      <a
        *ngIf="!selectableRow"
        [routerLink]="viewConfig | labDetailRoute"
        [target]="rowLinkTarget"
        class="g-row-link"></a>

      <div class="g-layout-row g-layout-start-center">
        <td-type-icon-badge
          [style]="viewConfig.style"
          [iconSize]="25"
          class="view-image"></td-type-icon-badge>
        <div class="g-text-dense-height">{{ viewConfig.title }}</div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Resource -->
  <ng-container matColumnDef="resource">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'resource' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig">
      <div>
        <div class="text g-text-dense-height">{{ viewConfig.resource.name }}</div>
        <fl-text-icon class="g-text-tiny g-text-light" *ngIf="viewConfig.scenario" gap="3px">
          <mat-icon flIcon="scenario" class="g-icon-tiny"></mat-icon>
          <div class="text g-text-dense-height">{{ viewConfig.scenario.title }}</div>
        </fl-text-icon>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2">
      <span> {{ 'tags' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-column-width-2">
      @defer (on viewport) {
        <lab-tag-list [tags]="resource | labGetEntityTags" [tagSelectable]="tagSelectable"></lab-tag-list>
      } @placeholder {
        <div></div>
      }
    </mat-cell>
  </ng-container>

  <!-- Datetime -->
  <ng-container matColumnDef="lastModifiedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'biox.view_config_date' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig">
      <fl-user-with-date
        [user]="viewConfig.lastModifiedBy"
        [date]="viewConfig.lastModifiedAt"
        class="over-link"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Preview -->
  <ng-container matColumnDef="preview">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig" class="g-table-icon-button-cell">
      <lab-view-config-preview [viewConfigId]="viewConfig.id" class="over-link"></lab-view-config-preview>
    </mat-cell>
  </ng-container>

  <!-- Favorite -->
  <ng-container matColumnDef="isFavorite">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig" class="g-table-icon-button-cell">
      <lab-view-config-favorite [viewConfig]="viewConfig" class="over-link"></lab-view-config-favorite>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let viewConfig" class="g-table-icon-button-cell">
      <lab-view-config-actions-menu
        [viewConfig]="viewConfig"
        (update)="onUpdate($event)"
        mode="icon"
        class="over-link">
      </lab-view-config-actions-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: columns"
    class="g-table-row-selectable g-row-link-container"
    (click)="rowClicked(row)">
  </mat-row>
</mat-table>
