.navigation-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  background: var(--card-background);
  width: fit-content;
}

.navigation-a:hover {
  text-decoration: underline;
}
