<fl-portal class="portal-notifications">
  <fl-portal-content class="portal-notifications-content">
    <fl-infinite-scroll
      [datasource]="notifications"
      class="infinite-scroll"
      [textNoResult]="'no_notifications'"
      [textNoMoreResult]="'no_more_notifications'">
      <div class="g-layout-row">
        <h2>{{ 'notifications' | translate }}</h2>
        <!--        <div class="g-layout-row head-notif-portal">-->
        <!--          <p>{{'view_read_notifications' | translate}}</p>-->
        <!--          <mat-slide-toggle class="slide" class="primary" [checked]="true" (change)="onSlideChange($event)"></mat-slide-toggle>-->
        <!--        </div>-->
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="g-layout-row">
        <span>{{ 'most_recent' | translate }}</span>
        <span
          class="g-text-link read-all-text"
          role="button"
          tabindex="0"
          (click)="markAllNotificationsAsRead()"
          (keydown.enter)="markAllNotificationsAsRead()"
          (keydown.space)="markAllNotificationsAsRead()"
          >{{ 'mark_all_as_read' | translate }}</span
        >
      </div>

      @for (notif of notifications | flDatasourceConnect | async; track notif.id) {
        @if (notif.isHttpLink()) {
          <a [href]="notif.link" target="_blank" rel="noopener noreferrer" (click)="markAsRead(notif)">
            <ca-notification-info [notification]="notif"></ca-notification-info>
          </a>
        } @else {
          <a
            [routerLink]="notif.getRoute()"
            [queryParams]="notif.getRouteQueryParams()"
            (click)="markAsRead(notif)">
            <ca-notification-info [notification]="notif"></ca-notification-info>
          </a>
        }
      }
    </fl-infinite-scroll>
  </fl-portal-content>
</fl-portal>
