.portal-notifications {
  height: 90vh;
  width: 32em;
  border-radius: 1em;
}

.head-notif-portal {
  margin-left: auto;
  align-items: flex-end;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  margin-right: 0.75em;
}

.slide {
  margin-left: 0.4em;
}

.infinite-scroll {
  height: 100%;
}

.divider {
  width: calc(100% - 0.5em);
  margin-bottom: 0.5em;
}

.read-all-text {
  margin-left: auto;
  margin-right: 0.5em;
}
