mat-tree-node {
  min-height: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.selected-tree-node {
  background-color: var(--hover-color);
}

.tree-node {
  min-height: 32px;
}

.icon {
  margin-right: 0.5em;
}
