mat-tree-node {
  min-height: 0;
  border-radius: 10px;
}

.selected-tree-node {
  color: var(--primary-color);
}

.child-node{
  border-left: 2px solid var(--hover-color);
}

.tree-node {
  min-height: 32px;
  padding: 5px 0;
}

.tree-node-padding {
  padding: 0 8px;
}

.icon {
  margin-right: 0.5em;
  flex-shrink: 0;
}
