<mat-tree #matTree [dataSource]="tree" [childrenAccessor]="tree.childrenAccessor" class="tree">
  <!-- [trackBy]="tree.trackById" -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="14"
    [ngClass]="{ 'selected-tree-node': isSelected(node) }">
    <div class="g-text-small g-layout-row g-layout-start-center tree-node" [ngClass]="{ 'child-node': node.parent.object.label }">
      @if (node.children && node.children.length > 0) {
        <button
          mat-icon-button
          matTreeNodeToggle
          class="g-button-icon-small toggle-parent-button"
          [attr.aria-label]="'Toggle ' + node.object.label"
          type="button">
          <mat-icon>
            {{ matTree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
          </mat-icon>
        </button>
      }
      @if (node.object.material_icon) {
        <mat-icon [flIcon]="node.object.material_icon" class="icon"></mat-icon>
      }
      <div
        [ngClass]="
        {
        'g-text-link': !node.object.disabled,
        'tree-node-padding': !node.children || node.children.length === 0
        }"
        (click)="onItemClick(node)">
        {{ node.object.label }}
      </div>
    </div>
  </mat-tree-node>
</mat-tree>
