
.infinite-scroll {
  display: flex;
  max-height: 20em;
}

.action-buttons {
  opacity: 0;
}

.value {
  padding: 0.3em 1em 0.3em 3.3em;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: inherit;
}

.value:hover .action-buttons {
  opacity: 1;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 1em;
}
