<!-- The element is draggable withing the tag dashboard component-->
<div class="g-drag-hide-placeholder container" cdkDrag cdkDragPreviewClass="g-drag-elevate">

  <div class="element key g-layout-row g-layout-start-center"
       (click)="toggleExpanded()">
    <mat-icon class="g-icon-small">{{icon}}</mat-icon>
    <div class="key-text g-flex-auto">{{tagEntity.key}}</div>


    <div class="action-buttons">
      <button mat-icon-button type="button"
              class="g-button-icon-tiny drag-indicator" cdkDragHandle
              [matTooltip]="'reorder_tags' | translate">
        <mat-icon>drag_handle</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="addTagValueClick($event)"
              class="g-button-icon-tiny">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!--   Values  -->
  <div *ngIf="isExpanded" class="g-text-small g-drag-anim-order"
       cdkDropList (cdkDropListDropped)="reorderValues($event)">

    <div *ngFor="let value of tagEntity.values"
         class="value element g-drag-hide-placeholder g-layout-row g-layout-start-center g-layout-gap-05em"
         (click)="selectTag(value)" #dragElement
         [ngClass]="{'selected': isSelected(value)}"
         cdkDrag cdkDragPreviewClass="g-drag-elevate">

      <div class="color" [style.background-color]="getFlTag(value) | flTagColor | async"></div>
      <div class="g-flex-auto">
        {{value}}
      </div>

      <div class="action-buttons">
<!--        <button mat-icon-button type="button" class="g-button-icon-tiny drag-indicator"-->
<!--                flDraggable [flDraggableType]="dragType" [flDraggableData]="getFlTag(value)"-->
<!--                [flDraggableGhostElement]="dragElement"-->
<!--                [matTooltip]="'tag_drag_tooltip' | translate">-->
<!--          <mat-icon>local_offer</mat-icon>-->
<!--        </button>-->
        <button mat-icon-button type="button"
                class="g-button-icon-tiny drag-indicator" cdkDragHandle
                [matTooltip]="'reorder_tags' | translate">
          <mat-icon>drag_handle</mat-icon>
        </button>
        <button mat-icon-button type="button" class="g-button-icon-tiny"
                (click)="updateTagValueClick(value, $event)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button type="button" class="g-button-icon-tiny"
                (click)="deleteTagValueClick(value, $event)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
