.container{
  background-color: inherit;
}

.action-buttons {
  opacity: 0;
}

.element {
  cursor: pointer;
}

.element:hover {
  background-color: var(--card-background);
}

.key {
  border-radius: 20px;
  padding: 0.5em;
}

.key:hover .action-buttons {
  opacity: 1;
}

.key-text {
  margin-left: 0.5em;
}

.value {
  padding: 0.3em 1em 0.3em 3.3em;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: inherit;
}


.value:hover .action-buttons {
  opacity: 1;
}

.selected {
  border-color: var(--color-foreground);
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.drag-indicator{
  cursor: grab;
}
