:host{
  border-radius: 15px;
}

.card {
  width: 100%;
  height: 100%;
  display: block;
  word-break: break-word;
}

.body {
  //padding-top: 2em;
  box-sizing: border-box;
}

.dates{
  margin-top: 1em;
}

.project-leader{
  margin-top: 0.5em;
}

.project-leader-title{
  flex-shrink: 0;
}

.project-leader-user{
  // prevent name overflow
  min-width: 0;
}
