<fl-card class="card" matRipple>
  <fl-card-header>
    <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
      <ca-project-icon [project]="project"></ca-project-icon>
      <h2 [caNotificationMark]="project.id" [caNotificationAssociatedObjectIds]="-1">{{project.code}}</h2>
    </div>
  </fl-card-header>


  <fl-card-body class="body">
    <div>
      <p>{{project.title}}</p>
    </div>

    <div class="g-layout-row g-layout-start-center project-leader">
      <span class="g-text-light project-leader-title">{{'project_leader' | translate}} : &nbsp;</span>
      <fl-user-inline [user]="project.leader" class="project-leader-user"
                      [showName]="false"></fl-user-inline>
    </div>

    <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate"
                   class="g-text-light dates">
    </fl-date-range>

  </fl-card-body>
</fl-card>
