.not-certified-info-div {
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  font-weight: bold;
}
