.main-div-v2{
  width: auto;
  max-width: 992px;
  margin: 32px auto 0 auto;
}

.main-grid-v2{
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.main-left-side-v2{
  width: 227px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-right-side-v2{
  flex: auto;
}

.h1-v2{
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.h2-v2{
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.card-v2{
  padding: 8px;
  border-radius: 16px;
  background-color: var(--card-background);
  width: auto;
  height: fit-content;
}

.inner-card-v2{
  padding: 8px;
  border-radius: 8px;
  background-color: var(--main-background);
  width: auto;
  height: fit-content;
}

.card-title-v2{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.16px;
}

.accent-color-v2{
  //TODO: change to accent color variable
  background-color: #D1D0FF;
}

.spacing-4-v2{
  margin-bottom: 8px;
}

.spacing-5-v2{
  margin-bottom: 12px;
}

.spacing-6-v2{
  margin-bottom: 16px;
}

.spacing-7-v2{
  margin-bottom: 24px;
}

.spacing-8-v2{
  margin-bottom: 32px;
}

.spacer-v2{
  border: 2px solid var(--hover-color);
  margin: 32px 0;
}

.spacer-tiny-v2{
  border: 1px solid var(--hover-color);
  margin: 8px 0;
}

.code1-v2{
  //TODO: check font family
  //font-family: IBM Plex Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.32px;
}

@media (max-width: 672px){
  .main-grid-v2{
    flex-direction: column;
  }

  .main-div-v2{
    max-width: 608px;
  }
}

@media (max-width: 320px){
  .main-div-v2{
    max-width: 288px;
  }
}

