/* You can add global styles to this file, and also import other style files */

// Import theme for material
@import "../../../libs/front-core-lib/src/style/theme/theme";
// Import the style for the library
@import "../../../libs/front-core-lib/src/style/fl-global";
@import "../../../libs/front-core-lib/src/style/fl-media-query";
@import "../../../libs/front-core-lib/src/style/fl-flex";

// Import the style for material
@import "../../../libs/front-core-lib/src/style/fl-material-override";
@import "../../../libs/front-core-lib/src/style/fl-dialog";
@import "../../../libs/front-core-lib/src/style/fl-icon";
@import "../../../libs/front-core-lib/src/style/fl-drag";


// Import style v2
@import "./ha-styles-v2";

.g-form-input {
  width: 100%;
  margin-bottom: 20px;
}

.g-page {
  padding: 2em 2em 0 2em;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  --margin-side: 100px;
}

h1, h2, h3, h4, h5{
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 67.3px;
}

h2 {
  font-size: 50.5px;
}

h3 {
  font-size: 37.9px;
}

h4 {
  font-size: 28.4px;
}

h5 {
  font-size: 21.3px;
  line-height: 20px;
}

.small-text {
  font-size: 12px !important;
}

.very-small-text {
  font-size: 9px;
}

.g-cursor-hover:hover{
  cursor: pointer;
}

.community-list-item-left-side{
  display: flex;
  flex-direction: column;
  flex: auto;
}

.community-list-item-right-side{
  width: fit-content;
}

@media (max-width: 599px) {
  .g-page {
    padding: 1em 1em 0 1em;
  }
}

.left-panel{
  width: 295px;
  min-width: 295px;
  position: fixed;
  margin-top: 30px;
  left: var(--margin-side);
  transition: 0.2s;
}

.main-panel{
  margin: 0 auto;
  max-width: calc(60rem + 32px);
  transition: 0.2s;
}

.right-panel{
  width: 295px;
  max-width: 295px;
  position: fixed;
  top: 94px;
  right: var(--margin-side);
}

.button-left-panel{
  display: none !important;
  position: fixed;
  left: 0.5em;
  top: 1em;
  z-index: 3;
  cursor: pointer;
}

.center-before {
  transform: translateX(50%);
}

.center-after {
  transform: translateX(-50%);
}

.border-none {
  border: none !important;
}

.first-bt{
  margin-top: 77px;
}

.list-section{

  .section-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .search-bar-title{
    width: 100%;
  }

  .title{
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 67.3px;
    font-stretch: normal;
    font-style: normal;
    line-height: 80px;
    letter-spacing: normal;
    text-align: left;
    height: 80px;
  }

  .section-search-bar{
    width: 100%;
  }

  .section-title-icon{
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
  .section-title-icon img{
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 1675px) {
  body{
    --margin-side: 50px;
  }
}

@media (max-width: 1600px){
  body{
    --margin-side: 40px;
  }
}

@media (max-width: 1575px){
  body{
    --margin-side: 30px;
  }
}

@media (max-width: 1550px){
  body{
    --margin-side: 20px;
  }
}

@media (max-width: 1525px){
  body{
    --margin-side: 10px;
  }
}

@media (max-width: 1505px){
  body{
    --margin-side: 5px;
  }
}

@media (max-width: 1495px){
  .right-panel{
    max-width: calc(100vw - 295px - 8px - 2 * var(--margin-side) - 60rem - 40px);
  }

  .main-panel{
    margin: 0 auto 0 calc(var(--margin-side) + 295px + 8px);
  }
}

@media (max-width: 1330px){
  .right-panel{
    display: none;
  }
}

@media (max-width: 1160px){
  body{
    --margin-side: auto;
  }

  .button-left-panel{
    display: block !important;
  }

  .main-panel{
    margin: 0 auto;
  }

  .left-panel{
    margin-top: 0;;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: var(--main-background);
    padding: 4em 8px 8px 8px;
    z-index: 200;
  }
}

@media (min-width: 1160px) {
  .left-panel{
    left: var(--margin-side);
  }
}
