<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-document-template-search-form></lab-document-template-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header>
    <fl-text-icon>
      <mat-icon flIcon="document_template"></mat-icon>
      <h2>{{ 'biox.document_templates' | translate }}</h2>
    </fl-text-icon>


    <fl-search-header-actions>
      <button mat-icon-button type="button" color="accent"
              [matTooltip]="'biox.create_document_template' | translate" matTooltipPosition="before"
              (click)="openCreateDocumentTemplateDialog()">
        <mat-icon>add</mat-icon>
      </button>

    </fl-search-header-actions>
  </fl-search-header>


  <fl-search-result>
    <lab-document-template-table [datasource]="datasource"
                               [rowSelectable]="documentTemplateSelectable"
                               (documentTemplateSelected)="selectTemplate($event)"></lab-document-template-table>
  </fl-search-result>

</fl-search>
