<fl-async-section [object]="storageUsage$">
  <ng-container *flSectionBody="storageUsage$ as storageUsage">
    <div class="aggregation">
      <fl-key-value>
        <fl-key>
          {{ 'total_size' | translate }}
        </fl-key>
        {{ storageUsage.totalSize | flByteText }}
      </fl-key-value>

      <fl-key-value>
        <fl-key>
          {{ 'total_nb_of_documents' | translate }}
        </fl-key>
        {{ storageUsage.totalDocuments }}
      </fl-key-value>
    </div>

    @if (storageUsage.cloudDetails) {
      <fl-text-icon class="details">
        <mat-icon>cloud</mat-icon>
        {{ 'folder_storage_cloud' | translate }}
      </fl-text-icon>
      <ca-folder-storage-location-usage
        [storageLocation]="storageUsage.cloudDetails"
        [showTotalInfo]="storageUsage.hasMultipleStorageLocations()"></ca-folder-storage-location-usage>
    }

    @if (storageUsage.dataHubDetails) {
      <fl-text-icon class="details">
        <mat-icon flIcon="lab"></mat-icon>
        {{ 'folder_storage_datahub' | translate }}
      </fl-text-icon>
      <ca-folder-storage-location-usage
        [storageLocation]="storageUsage.dataHubDetails"
        [showTotalInfo]="storageUsage.hasMultipleStorageLocations()"></ca-folder-storage-location-usage>
    }
  </ng-container>
</fl-async-section>
