<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>

  <div *ngIf="helpText" class="help-text g-text-light">
    {{helpText | translate}}
  </div>

  <form (ngSubmit)="submit()" id="file-type-form" [formGroup]="formGp">


    <!--     When uploading a folder, we show 2 options  -->
    <div *ngIf="selectedNodes === 'filesOrFolder'" class="folder-mode">
      <mat-radio-group formControlName="nodeMode"
                       (change)="onNodeModeChange($event.value)">
        <mat-radio-button value="files">{{'databox.folder_upload_files_options' | translate }}</mat-radio-button>
        <mat-radio-button value="folder"
                          class="radio-button">{{'databox.folder_upload_folder_options' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <!--    Selection of the folder types    -->
    <fl-async-section [object]="resourceTypes$">

      <ng-container *flSectionBody="let resourceTypes">
        <ng-container formArrayName="files">
          <div *ngFor="let control of formArray.controls; index as i" [formGroupName]="i">

            <div class="g-layout-row g-layout-between">


              <p class="filename" *ngIf="control.get('filename').value">{{control.get('filename').value}}</p>

              <!--  File type  -->
              <mat-form-field class="g-flex-auto">
                <mat-label>{{typePlaceholder | translate}}</mat-label>
                <mat-select formControlName="typingName" placeholder="{{typePlaceholder | translate}}"
                            required>
                  <mat-option *ngFor="let resourceType of resourceTypes" [value]="resourceType.typingName">
                    {{resourceType.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="control.get('typingName').hasError('required')">
                  {{typePlaceholder | flErrorRequired}}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-divider class="divider"></mat-divider>
          </div>
        </ng-container>
      </ng-container>
    </fl-async-section>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="file-type-form"
          class="g-centered-forced">
    {{'databox.upload_file' | translate}}
  </button>
</div>
