<fl-card class="g-full-height">
  <fl-card-header>
    <fl-text-icon>
      <mat-icon flIcon="protocol_template"></mat-icon>
      <h2>{{ template.name | translate }}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <a mat-icon-button [href]="downloadUrl" download
         [matTooltip]="'biox.download_protocol_template' | translate">
        <mat-icon>cloud_download</mat-icon>
      </a>

      <button mat-icon-button type="button" (click)="openUpdateDialog()"
              [matTooltip]="'biox.update_protocol_template' | translate">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="openDeleteDialog()" color="warn"
              [matTooltip]="'biox.update_protocol_template' | translate">
        <mat-icon>delete</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <fl-text-icon class="g-text-light help-text">
      <mat-icon>warning</mat-icon>
      <div>{{ 'biox.protocol_template_beta_warning' | translate }}</div>
    </fl-text-icon>

    <te-text-editor [config]="textEditorConfig"
                    [(ngModel)]="template.description" class="text-editor"
                    [placeholder]="'description' | translate"
                    (textChange)="onDescriptionChanged($event)"></te-text-editor>

    <fl-section [object]="workflow" [isLoading]="workflowIsLoading">
      <ng-container *flSectionBody>
        <pr-workflow [workflow]="workflow" [mode$]="workflowMode$" [viewConfig]="viewConfig"
                     class="workflow"></pr-workflow>
      </ng-container>
    </fl-section>

  </fl-card-body>
</fl-card>
