<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon flIcon="project"></mat-icon>
      <h2>{{'lab_projects' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions *ngIf="isOwner$ | async">
      <button mat-icon-button type="button" (click)="openAddProjectDialog()"
              [matTooltip]="'lab_add_project' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [arrayObs]="datasource" emptyText="no_lab_project">

      <ng-container *flSectionBodyDatasource>
        <div class="g-infinite-table g-scrollable-element">
          <ca-lab-instance-projects-table [datasource]="datasource" [columns]="columns$ | async"
                                          [labInstanceId]="labInstanceId">
          </ca-lab-instance-projects-table>
        </div>
      </ng-container>

    </fl-async-section>
  </fl-card-body>
</fl-card>
