<fl-section [object]="labConfig" [isLoading]="getIsLoading" class="section">
  <ng-container *flSectionBody>
    <p class="help-text g-text-light">{{ 'lab_manager_config_section_help' | translate }}</p>

    <ca-lab-config-form [(labConfig)]="labConfig" (labConfigChange)="onNewConfig()"></ca-lab-config-form>

    <p *ngIf="configHasChanged" class="help-text g-warn-text">
      {{ 'lab_config_changed' | translate }}
    </p>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="saveConfig()"
      class="g-centered-forced save-button">
      {{ 'save' | translate }}
      <fl-button-loader *ngIf="saveIsLoading"></fl-button-loader>
    </button>
  </ng-container>
</fl-section>
