<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  @if (isUpdateMode() && !updateIsInitiated) {
    <div class="g-text-centered">
      <fl-loader></fl-loader>
    </div>
  } @else {
    <form (ngSubmit)="submit()" id="server-info-form" [formGroup]="formGp">
      <!--  Type  -->
      <mat-radio-group
        aria-label="Select an option"
        formControlName="type"
        class="g-layout-row g-layout-between-stretch g-layout-gap-05em"
        (change)="onTypeChange($event.value)">
        <mat-radio-button value="CLOUD" class="radio-button" flRadioButtonBig>
          <div class="radio-text g-layout-row g-layout-start-center g-layout-gap-05em">
            <mat-icon>cloud</mat-icon>
            <div>{{ 'lab_type_CLOUD' | translate }}</div>
          </div>

          <div class="g-text-small radio-description">
            {{ 'lab_type_CLOUD_desc' | translate }}
          </div>
        </mat-radio-button>

        <mat-radio-button value="ON_PREMISE" class="radio-button" flRadioButtonBig>
          <div class="radio-text g-layout-row g-layout-start-center g-layout-gap-05em">
            <mat-icon>computer</mat-icon>
            <div>{{ 'lab_type_ON_PREMISE' | translate }}</div>
          </div>

          <div class="g-text-small radio-description">
            {{ 'lab_type_ON_PREMISE_desc' | translate }}
          </div>
        </mat-radio-button>

        <mat-radio-button value="DESKTOP" class="radio-button" flRadioButtonBig>
          <div class="radio-text g-layout-row g-layout-start-center g-layout-gap-05em">
            <mat-icon>computer</mat-icon>
            <div>{{ 'lab_type_DESKTOP' | translate }}</div>
          </div>

          <div class="g-text-small radio-description">
            {{ 'lab_type_DESKTOP_desc' | translate }}
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <div class="form-fields">
        <!--  Name  -->
        <mat-form-field>
          <mat-label>{{ 'name' | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            required
            [flInputMaxLength]="maxNameLength"
            [placeholder]="'name' | translate" />
          @if (formGp.get('name')?.hasError('required')) {
            <mat-error>{{ 'name' | flErrorRequired }}</mat-error>
          }
          @if (formGp.get('name')?.hasError('pattern')) {
            <mat-error>{{ 'lab_name_invalid' | translate }}</mat-error>
          }
        </mat-form-field>

        <!--  Space  -->
        <fl-form-field>
          <ca-select-space
            formControlName="space"
            [placeholder]="'space' | translate"
            [required]="true"></ca-select-space>
          @if (formGp.get('space')?.hasError('required')) {
            <mat-error>{{ 'space' | flErrorRequired }}</mat-error>
          }
        </fl-form-field>

        <!--  Desktop Platform  -->
        @if (isDesktop()) {
          <div class="desktop-platform">
            {{ 'lab_desktop_platform' | translate }}
            <mat-radio-group formControlName="desktopPlatform" required>
              <mat-radio-button value="WINDOWS" class="primary">Windows</mat-radio-button>
              <mat-radio-button value="MAC" class="primary">Mac OS</mat-radio-button>
              <mat-radio-button value="LINUX" class="primary">Linux</mat-radio-button>
            </mat-radio-group>
          </div>
        }

        <!--  Virtual host  -->
        @if (isOnServer()) {
          <mat-form-field>
            <mat-label>{{ 'virtual_host' | translate }}</mat-label>
            <input
              matInput
              formControlName="virtualHost"
              required
              flInputMaxLength="255"
              [placeholder]="'virtual_host' | translate" />
            @if (formGp.get('virtualHost')?.hasError('required')) {
              <mat-error>{{ 'virtual_host' | flErrorRequired }}</mat-error>
            }
            @if (formGp.get('virtualHost')?.hasError('pattern')) {
              <mat-error>{{ 'lab_virtual_host_pattern_error' | translate }}</mat-error>
            }
          </mat-form-field>
        }

        @if (isCloud()) {
          <!--  Billing mode  -->
          <mat-form-field>
            <mat-label>{{ 'lab_billing_mode' | translate }}</mat-label>
            <mat-select formControlName="billingMode" [placeholder]="'lab_billing_mode' | translate" required>
              <mat-option [value]="'MONTHLY'">{{ 'lab_billing_mode_MONTHLY' | translate }}</mat-option>
              <mat-option [value]="'HOURLY'">{{ 'lab_billing_mode_HOURLY' | translate }}</mat-option>
            </mat-select>
            @if (formGp.get('billingMode')?.hasError('required')) {
              <mat-error>{{ 'lab_billing_mode' | flErrorRequired }}</mat-error>
            }
          </mat-form-field>
          <!--  Server cloud  -->
          <fl-form-field class="g-full">
            <ca-select-server-cloud formControlName="serverCloud"></ca-select-server-cloud>
            @if (formGp.get('serverCloud')?.hasError('required')) {
              <mat-error>{{ 'server_cloud' | flErrorRequired }}</mat-error>
            }
          </fl-form-field>
          <!-- Region -->
          <mat-form-field>
            <mat-label>{{ 'cloud_provider_region' | translate }}</mat-label>
            <mat-select formControlName="region">
              @if (formGp.get('region')?.value; as region) {
                <mat-select-trigger>
                  <ca-cloud-provider-region-inline
                    [region]="region"
                    size="small"></ca-cloud-provider-region-inline>
                </mat-select-trigger>
              }
              <ca-select-cloud-provider-region-options
                mode="SERVER"></ca-select-cloud-provider-region-options>
            </mat-select>
            @if (formGp.get('region')?.hasError('required')) {
              <mat-error>{{ 'region' | flErrorRequired }}</mat-error>
            }
          </mat-form-field>
          @if (isCreateMode()) {
            <!--  Volume type  -->
            <mat-form-field>
              <mat-label>{{ 'lab_volume_type' | translate }}</mat-label>
              <mat-select formControlName="volumeType" [placeholder]="'lab_volume_type' | translate" required>
                <mat-option [value]="'CLASSIC'">{{ 'lab_volume_type_CLASSIC' | translate }}</mat-option>
                <mat-option [value]="'HIGH_SPEED'">{{ 'lab_volume_type_HIGH_SPEED' | translate }}</mat-option>
              </mat-select>
              @if (formGp.get('volumeType')?.hasError('required')) {
                <mat-error>{{ 'lab_volume_type' | flErrorRequired }}</mat-error>
              }
            </mat-form-field>
            <!-- Volume Size -->
            <mat-form-field>
              <mat-label>{{ 'lab_volume_size' | translate }}</mat-label>
              <input
                matInput
                formControlName="volumeSize"
                [placeholder]="'lab_volume_size' | translate"
                type="number" />
              @if (formGp.get('volumeSize')?.invalid) {
                <mat-error>{{ 'lab_volume_size_error' | translate }}</mat-error>
              }
            </mat-form-field>
          }
          <!--  Backup region    -->
          @if (isCreateMode()) {
            <mat-form-field>
              <mat-label>{{ 'lab_backup_daily_region' | translate }}</mat-label>
              <mat-select formControlName="dailyBackupRegion">
                @if (formGp.get('dailyBackupRegion')?.value; as dailyBackupRegion) {
                  <mat-select-trigger>
                    <ca-cloud-provider-region-inline
                      [region]="dailyBackupRegion"
                      size="small"></ca-cloud-provider-region-inline>
                  </mat-select-trigger>
                }
                <ca-select-cloud-provider-region-options mode="S3"></ca-select-cloud-provider-region-options>
              </mat-select>
              @if (formGp.get('dailyBackupRegion')?.hasError('required')) {
                <mat-error>{{ 'lab_backup_daily_region' | flErrorRequired }}</mat-error>
              }
            </mat-form-field>
            <div>
              <mat-form-field class="g-full">
                <mat-label>{{ 'lab_backup_weekly_region' | translate }}</mat-label>
                <mat-select formControlName="weeklyBackupRegion">
                  @if (formGp.get('weeklyBackupRegion')?.value; as weeklyBackupRegion) {
                    <mat-select-trigger>
                      <ca-cloud-provider-region-inline
                        [region]="weeklyBackupRegion"
                        size="small"></ca-cloud-provider-region-inline>
                    </mat-select-trigger>
                  }
                  <ca-select-cloud-provider-region-options
                    mode="S3"></ca-select-cloud-provider-region-options>
                </mat-select>
                @if (formGp.get('weeklyBackupRegion')?.hasError('required')) {
                  <mat-error>{{ 'lab_backup_weekly_region' | flErrorRequired }}</mat-error>
                }
              </mat-form-field>
              @if (formGp.hasError('sameBackupRegion')) {
                <mat-error>{{ 'lab_backups_same_region_error' | translate }}</mat-error>
              }
            </div>
          }

          <fl-text-icon class="subtitle">
            <mat-icon>cloud</mat-icon>
            <h3>{{ 'cloud_provider' | translate }}</h3>
          </fl-text-icon>
          <!--  Server instance id  -->
          <mat-form-field>
            <mat-label>{{ 'lab_server_instance_id' | translate }}</mat-label>
            <input
              matInput
              formControlName="serverInstanceId"
              flInputMaxLength="255"
              [placeholder]="'lab_server_instance_id' | translate" />
          </mat-form-field>
          <!--  Volume id  -->
          <mat-form-field>
            <mat-label>{{ 'lab_server_volume_id' | translate }}</mat-label>
            <input
              matInput
              formControlName="serverVolumeId"
              flInputMaxLength="255"
              [placeholder]="'lab_server_volume_id' | translate" />
          </mat-form-field>
          <!--  Ip address id  -->
          <mat-form-field>
            <mat-label>{{ 'lab_server_ip_address_id' | translate }}</mat-label>
            <input
              matInput
              formControlName="serverIpAddressId"
              flInputMaxLength="255"
              [placeholder]="'lab_server_ip_address_id' | translate" />
          </mat-form-field>
          <!--  Cloud name  -->
          <mat-form-field>
            <mat-label>{{ 'lab_cloud_name' | translate }}</mat-label>
            <input
              matInput
              formControlName="cloudName"
              flInputMaxLength="36"
              [placeholder]="'lab_cloud_name' | translate" />
          </mat-form-field>
        }

        @if (isOnServer()) {
          <fl-text-icon class="subtitle">
            <mat-icon>engineering</mat-icon>
            <h3>{{ 'lab_manager' | translate }}</h3>
          </fl-text-icon>

          <!--  Glab Prod Api key  -->
          <mat-form-field>
            <mat-label>{{ 'glab_prod_api_key' | translate }}</mat-label>
            <input
              matInput
              formControlName="glabProdApiKey"
              flInputMaxLength="255"
              [placeholder]="'glab_prod_api_key' | translate" />
          </mat-form-field>
          <!--  Glab Dev Api key  -->
          <mat-form-field>
            <mat-label>{{ 'glab_dev_api_key' | translate }}</mat-label>
            <input
              matInput
              formControlName="glabDevApiKey"
              flInputMaxLength="255"
              [placeholder]="'glab_dev_api_key' | translate" />
          </mat-form-field>
          <!--  Prod db password  -->
          <mat-form-field>
            <mat-label>{{ 'lab_gws_core_prod_db_password' | translate }}</mat-label>
            <input
              matInput
              formControlName="gwsCoreProdDbPassword"
              flInputMaxLength="255"
              [placeholder]="'lab_gws_core_prod_db_password' | translate" />
          </mat-form-field>
          <!--  Dev db password  -->
          <mat-form-field>
            <mat-label>{{ 'lab_gws_core_dev_db_password' | translate }}</mat-label>
            <input
              matInput
              formControlName="gwsCoreDevDbPassword"
              flInputMaxLength="255"
              [placeholder]="'lab_gws_core_dev_db_password' | translate" />
          </mat-form-field>
          <!--  Lab manager Api key  -->
          <mat-form-field>
            <mat-label>{{ 'lab_manager_api_key' | translate }}</mat-label>
            <input
              matInput
              formControlName="labManagerApiKey"
              flInputMaxLength="255"
              [placeholder]="'lab_manager_api_key' | translate" />
          </mat-form-field>
          <!--  Codelab token  -->
          <mat-form-field>
            <mat-label>{{ 'codelab_token' | translate }}</mat-label>
            <input
              matInput
              formControlName="codelabToken"
              flInputMaxLength="255"
              [placeholder]="'codelab_token' | translate" />
          </mat-form-field>
          <!--  Lab ip override (on premise only)  -->
          @if (isOnPremise()) {
            <mat-form-field>
              <mat-label>{{ 'lab_ip_override' | translate }}</mat-label>
              <input
                matInput
                formControlName="labIpOverride"
                flInputMaxLength="255"
                [placeholder]="'lab_ip_override' | translate" />
            </mat-form-field>
            <!--  Lab port override  -->
            <mat-form-field>
              <mat-label>{{ 'lab_port_override' | translate }}</mat-label>
              <input
                matInput
                formControlName="labPortOverride"
                flInputMaxLength="255"
                [placeholder]="'lab_port_override' | translate" />
            </mat-form-field>
          }
        }

        @if (isCreateMode()) {
          <fl-text-icon class="subtitle">
            <mat-icon>settings</mat-icon>
            <h3>{{ 'copy_lab_config' | translate }}</h3>
          </fl-text-icon>
          <!--  Lab  -->
          <fl-form-field class="g-form-input">
            <ca-select-lab
              formControlName="copyConfigFromLab"
              mode="all"
              [placeholder]="'copy_lab_config' | translate"></ca-select-lab>
          </fl-form-field>
        }
      </div>
    </form>
  }
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="server-info-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
