<mat-expansion-panel [expanded]="expandPanel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="g-flex-auto">{{'tags' | translate}}</div>

      <button mat-icon-button type="button" (click)="openAddTagDialog($event)">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="openTagHelpDialog($event)"
              [matTooltip]="'tag_help_tooltip' | translate">
        <mat-icon>help</mat-icon>
      </button>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <fl-section [object]="tags" [isLoading]="isLoading" emptyText="no_tags_dashboard">
    <ng-container *flSectionBody>

      <div *ngIf="tags" cdkDropList (cdkDropListDropped)="reorderTags($event)"
           class="g-drag-anim-order">
        <div *ngFor="let tag of tags">
          <lab-tag-entity-detail [tagEntity]="tag.tag"
                                 [ngModel]="tag.selectedValue?.value"
                                 (selectedValueChange)="selectTag(tag, $event)"
                                 (addTagValue)="openAddValueDialog($event)"
                                 (updateTagValue)="openUpdateValueDialog($event)"
                                 (deleteTagValue)="openDeleteTag($event)"></lab-tag-entity-detail>
        </div>
      </div>
    </ng-container>
  </fl-section>
</mat-expansion-panel>
