<fl-dialog-header>
  {{ 'biox.configure_port' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="port-config-form" [formGroup]="formGp">
    <p class="help-text g-text-light">{{ 'biox.configure_port_help' | translate }}</p>

    <!--  ResourceType   -->
    <fl-form-field class="g-form-input">
      <lab-select-type
        mode="resource"
        [placeholder]="'resource_type' | translate"
        formControlName="resourceType"
        [required]="true">
      </lab-select-type>
      <mat-error *ngIf="formGp.get('resourceType').hasError('required')">
        {{ 'resource_type' | flErrorRequired }}
      </mat-error>
    </fl-form-field>

    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input
        matInput
        flInputMaxLength="50"
        [placeholder]="'name' | translate"
        formControlName="humanName"
        [required]="true" />
      <mat-error *ngIf="formGp.get('humanName').hasError('required')">
        {{ 'name' | flErrorRequired }}
      </mat-error>
    </mat-form-field>

    <!--  Short description  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'description' | translate }}</mat-label>
      <input
        matInput
        flInputMaxLength="100"
        [placeholder]="'description' | translate"
        formControlName="shortDescription" />
    </mat-form-field>

    <!--  IsOptional   -->
    <ng-container>
      <p class="subtitle">
        <strong>{{ 'td.optional' | translate }}</strong>
      </p>
      <mat-radio-group formControlName="isOptional" class="g-layout-row g-layout-between-stretch" required>
        <mat-radio-button [value]="false" class="radio-button" flRadioButtonBig>
          <div>{{ 'td.not_optional' | translate }}</div>
          <div class="g-text-small g-text-light radio-description">
            {{ 'td.not_optional_tooltip' | translate }}
          </div>
        </mat-radio-button>

        <mat-radio-button [value]="true" class="radio-button" flRadioButtonBig>
          <div>{{ 'td.optional' | translate }}</div>
          <div class="g-text-small g-text-light radio-description">
            {{ 'td.optional_tooltip' | translate }}
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>

    <!--  IsConstant   -->
    <ng-container *ngIf="portType === 'output'">
      <p class="subtitle">
        <strong>{{ 'td.constant' | translate }}</strong>
      </p>
      <mat-radio-group formControlName="isConstant" class="g-layout-row g-layout-between-stretch" required>
        <mat-radio-button [value]="false" class="radio-button" flRadioButtonBig>
          <div>{{ 'td.not_constant' | translate }}</div>
          <div class="g-text-small g-text-light radio-description">
            {{ 'td.not_constant_tooltip' | translate }}
          </div>
        </mat-radio-button>

        <mat-radio-button [value]="true" class="radio-button" flRadioButtonBig>
          <div>{{ 'td.constant' | translate }}</div>
          <div class="g-text-small g-text-light radio-description">
            {{ 'td.constant_tooltip' | translate }}
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button type="submit" form="port-config-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
  </button>
</div>
