<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  @if (isCreateMode()) {
    <p class="help-text">
      <span class="g-text-big">⚠️</span> {{ 'create_lab_desktop_warning' | translate }}️
    </p>
  }

  <form (ngSubmit)="submit()" id="lab-name-form" [formGroup]="formGp">
    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        required
        [flInputMaxLength]="maxNameLength"
        [placeholder]="'name' | translate" />
      @if (formGp.get('name').hasError('required')) {
        <mat-error>{{ 'name' | flErrorRequired }}</mat-error>
      }
      @if (formGp.get('name').hasError('pattern')) {
        <mat-error>{{ 'lab_name_invalid' | translate }}</mat-error>
      }
    </mat-form-field>

    <!--  Desktop Platform  -->
    <div class="desktop-platform">
      {{ 'lab_desktop_platform' | translate }}
      <mat-radio-group formControlName="desktopPlatform" required>
        <mat-radio-button value="WINDOWS" class="primary">Windows</mat-radio-button>
        <mat-radio-button value="MAC" class="primary">Mac OS</mat-radio-button>
        <mat-radio-button value="LINUX" class="primary">Linux</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="lab-name-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
