<mat-accordion>
  @for (container of containers; track container.names) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="g-layout-row g-layout-between g-full">

            <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
              <fl-status-chip [status]="container.state"></fl-status-chip>
              <span>{{ container.names }}</span>
            </div>

            <div class="g-layout-row">
              <button mat-icon-button type="button" (click)="viewContainerLogs(container, $event)"
                      [matTooltip]="'lab_container_logs' | translate">
                <mat-icon>description</mat-icon>
              </button>

              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEventPropagation($event)">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">

                <button mat-menu-item type="button"
                        (click)="downloadLogs(container.names)">
                  <mat-icon>cloud_download</mat-icon>
                  <span>{{ 'lab_container_download_logs' | translate }}</span>
                </button>

                <button mat-menu-item type="button"
                        (click)="startComposeContainer(container.names)">
                  <mat-icon>play_arrow</mat-icon>
                  <span>{{ 'lab_container_start' | translate }}</span>
                </button>

                <button mat-menu-item type="button"
                        (click)="stopContainer(container.names)">
                  <mat-icon color="warn">stop</mat-icon>
                  <span class="g-warn-text">{{ 'lab_container_stop' | translate }}</span>
                </button>

                <button mat-menu-item type="button"
                        (click)="deleteContainer(container.names)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span class="g-warn-text">{{ 'lab_container_delete' | translate }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <ca-lab-docker-container-details [labInstanceId]="labInstanceId"
                                         [containerName]="container.names">
        </ca-lab-docker-container-details>
      </ng-template>
    </mat-expansion-panel>
  }
</mat-accordion>
