<mat-table mat-table [dataSource]="datasource"
           [ngClass]="{'table-selectable': rowSelectable}">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      {{'name' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let processType">
      <mat-icon *ngIf="processType.status === 'UNAVAILABLE'" color="warn"
                class="type-unavailable" [matTooltip]="'biox.process_type_unavailable_error' | translate">
        error
      </mat-icon>
      <div>
        <div>{{processType.humanName}}</div>
        <div *ngIf="processType.deprecatedSince">
          <fl-chip size="tiny" class="g-warn-background"
                   [matTooltip]="processType.deprecatedMessage">
            {{'biox.type_deprecated' | translate}}
          </fl-chip>
        </div>
      </div>
    </mat-cell>
  </ng-container>


  <!-- Sub type -->
  <ng-container matColumnDef="objectSubType">
    <mat-header-cell *matHeaderCellDef>
      {{'biox.process_type_type' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let processType">
      {{'biox.process_sub_type_' + processType.objectSubType | translate}}
    </mat-cell>
  </ng-container>

  <!-- Detail button -->
  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef class="detail-column">
    </mat-header-cell>
    <mat-cell *matCellDef="let processType" class="detail-column">
      <lab-type-show-detail-button [typingName]="processType.typingName"
                                   (click)="stopEventPropagation($event)">
      </lab-type-show-detail-button>
    </mat-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let obj">
      <div>
        <span>{{obj[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"
           [ngClass]="{'g-table-row-selectable': rowSelectable}" (click)="rowClicked(row)"></mat-row>
</mat-table>

