<mat-table
  mat-table
  [dataSource]="datasource"
  flSearchTableSort
  [ngClass]="{ 'table-selectable': rowSelectable }">
  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2" mat-sort-header>
      {{ 'name' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let processType" class="g-column-width-2">
      @if (processType.status === 'UNAVAILABLE') {
        <mat-icon
          class="type-unavailable warn"
          [matTooltip]="'biox.process_type_unavailable_error' | translate">
          error
        </mat-icon>
      }

      <td-type-inline [text]="processType.humanName" [style]="processType.style"></td-type-inline>

      @if (processType.deprecatedSince) {
        <fl-chip
          size="tiny"
          class="g-warn-background deprecated-chip"
          [matTooltip]="processType.deprecatedMessage">
          {{ 'biox.type_deprecated' | translate }}
        </fl-chip>
      }
    </mat-cell>
  </ng-container>

  <!-- Description -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="g-column-width-3" mat-sort-header>
      {{ 'description' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let processType" class="g-column-width-3">
      {{ processType.shortDescription }}
    </mat-cell>
  </ng-container>

  <!-- Sub type -->
  <ng-container matColumnDef="objectSubType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'biox.process_type_type' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let processType">
      {{ 'biox.process_sub_type_' + processType.objectSubType | translate }}
    </mat-cell>
  </ng-container>

  <!-- Detail button -->
  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef class="detail-column"> </mat-header-cell>
    <mat-cell *matCellDef="let processType" class="detail-column">
      <lab-type-show-detail-button
        [typingName]="processType.typingName"
        (click)="stopEventPropagation($event)">
      </lab-type-show-detail-button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: columns"
    [ngClass]="{ 'g-table-row-selectable': rowSelectable }"
    (click)="rowClicked(row)"></mat-row>
</mat-table>
