<mat-tree #tree [dataSource]="datasource" [childrenAccessor]="childrenAccessor" class="tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="10"
    [ngClass]="{ 'selected-tree-node': isSelected(node) }">
    <div class="g-text-small tree-node g-layout-row g-layout-start-center">
      <button
        mat-icon-button
        matTreeNodeToggle
        class="g-button-icon-small toggle-parent-button"
        [attr.aria-label]="'Toggle ' + node.name"
        type="button">
        <mat-icon>
          {{ tree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
        </mat-icon>
      </button>

      <ca-hierarchy-object-icon
        class="node-icon"
        [style]="node.style"
        size="small"></ca-hierarchy-object-icon>
      <a [routerLink]="getRoute()(node)" queryParamsHandling="preserve" class="object-name g-text-link">
        <div
          [caNotificationMark]="node.id"
          [caNotificationObjectType]="notificationObjectType()"
          [caNotificationAssociatedObjectIds]="1"
          [caNotificationMarkDisabled]="!notificationObjectType()">
          {{ node.name }}
        </div>
      </a>
    </div>
  </mat-tree-node>
</mat-tree>
