<mat-table mat-table [dataSource]="datasource">
  <!-- User -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'user' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let labUser">
      <fl-user-inline [user]="labUser.user"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- Role -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'lab_user_role' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let labUser">
      <span>{{ 'lab_user_role_' + labUser.role | translate }}</span>
    </mat-cell>
  </ng-container>

  <!-- createdBy -->
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'lab_added_by' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let labUser">
      <fl-user-inline [user]="labUser.createdBy"></fl-user-inline>
    </mat-cell>
  </ng-container>

  <!-- createdAt -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'lab_user_added_at' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let labUser">
      <span>{{ labUser.createdAt | flDate }}</span>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let lab" class="g-table-icon-button-cell">
      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="openUpdateUserRoleDialog(lab)">
          <mat-icon>edit</mat-icon>
          <span>{{ 'update_lab_user_role' | translate }}</span>
        </button>

        <button mat-menu-item type="button" (click)="openDeleteUserDialog(lab)" class="warn">
          <mat-icon>delete</mat-icon>
          <span>{{ 'delete_lab_user' | translate }}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
