<div class="g-page page g-layout-col">
  <fl-card class="card">
    <fl-card-header>
      <fl-text-icon>
        <mat-icon flIcon="lab"></mat-icon>
        <h1>{{ 'create_lab' | translate }}</h1>
      </fl-text-icon>
    </fl-card-header>

    <fl-card-body>
      <mat-stepper orientation="vertical" [linear]="true">
        <!--    Name step    -->
        <mat-step [stepControl]="nameForm">
          <form [formGroup]="nameForm">
            <ng-template matStepLabel>{{ 'name' | translate }}</ng-template>
            <div class="step-section">
              <mat-form-field>
                <mat-label>{{ 'name' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="name"
                  required
                  [flInputMaxLength]="maxNameLength"
                  [placeholder]="'name' | translate"
                  class="input" />
                @if (nameForm.get('name').hasError('required')) {
                  <mat-error>{{ 'name' | flErrorRequired }}</mat-error>
                }
              </mat-form-field>
            </div>

            <div>
              <button mat-flat-button class="primary" matStepperNext>{{ 'next' | translate }}</button>
            </div>
          </form>
        </mat-step>

        <!--    Choose server    -->
        <mat-step [stepControl]="serverForm">
          <form [formGroup]="serverForm">
            <ng-template matStepLabel>{{ 'server' | translate }}</ng-template>
            <div class="step-section">
              <ca-lab-select-server [formGp]="serverForm"></ca-lab-select-server>
            </div>

            <div>
              <button mat-stroked-button matStepperNext class="next-button button primary">
                {{ 'next' | translate }}
              </button>
              <button mat-stroked-button matStepperPrevious class="button warn">
                {{ 'back' | translate }}
              </button>
            </div>
          </form>
        </mat-step>

        <!--    Choose storage    -->
        <mat-step [stepControl]="storageForm">
          <ng-template matStepLabel>{{ 'lab_storage' | translate }}</ng-template>
          <form [formGroup]="storageForm">
            <div class="step-section">
              <ca-lab-select-storage [formGp]="storageForm"></ca-lab-select-storage>
            </div>

            <div>
              <button mat-stroked-button matStepperNext class="next-button button primary">
                {{ 'next' | translate }}
              </button>
              <button mat-stroked-button matStepperPrevious class="button warn">
                {{ 'back' | translate }}
              </button>
            </div>
          </form>
        </mat-step>

        <!--    Configure lab (bricks)   -->
        <!--        <mat-step>-->
        <!--          <ng-template matStepLabel>{{ 'configure_lab' | translate }}</ng-template>-->

        <!--          <div class="step-section">-->
        <!--            <fl-text-icon class="help-section">-->
        <!--              <mat-icon>info</mat-icon>-->
        <!--              <p>{{ 'create_lab_configure_section' | translate }}</p>-->
        <!--            </fl-text-icon>-->
        <!--            &lt;!&ndash; TODO TO FIX&ndash;&gt;-->
        <!--&lt;!&ndash;                        <lml-bricks-config-form&ndash;&gt;-->
        <!--&lt;!&ndash;                          [(labConfig)]="labConfig"&ndash;&gt;-->
        <!--&lt;!&ndash;                          [warningOnRemoveBrick]="false"></lml-bricks-config-form>&ndash;&gt;-->
        <!--          </div>-->

        <!--          <div>-->
        <!--            <button-->
        <!--              mat-stroked-button-->
        <!--              class="primary"-->
        <!--              matStepperNext-->
        <!--              [disabled]="!labConfigIsValid()"-->
        <!--              class="next-button button">-->
        <!--              {{ 'next' | translate }}-->
        <!--            </button>-->
        <!--            <button mat-stroked-button class="warn" matStepperPrevious class="button">-->
        <!--              {{ 'back' | translate }}-->
        <!--            </button>-->
        <!--          </div>-->
        <!--        </mat-step>-->

        <!--    Summary    -->
        <mat-step>
          <ng-template matStepLabel>{{ 'create_lab_summary' | translate }}</ng-template>
          <div class="step-section">
            <ca-lab-create-summary
              [name]="nameForm.value.name"
              [server]="serverForm"
              [storage]="storageForm"
              [labConfig]="labConfig"></ca-lab-create-summary>
          </div>

          <button mat-stroked-button type="button" (click)="createLab()" class="next-button button primary">
            {{ 'create_lab' | translate }}
            @if (createIsLoading) {
              <fl-button-loader></fl-button-loader>
            }
          </button>
          <button mat-stroked-button matStepperPrevious class="button warn">
            {{ 'back' | translate }}
          </button>
        </mat-step>
      </mat-stepper>
    </fl-card-body>
  </fl-card>
</div>
