<fl-async-section [object]="folderStorage" [nullOrEmptyIsValid]="true">
  <fl-section-header>
    <fl-text-icon>
      <mat-icon>storage</mat-icon>
      <h3>{{ 'folder_storage' | translate }}</h3>
    </fl-text-icon>
  </fl-section-header>

  <ng-container *flSectionBody="folderStorage as folderStorage">
    @if (folderStorage; as storage) {
      <div class="body">
        <!--   Main bucket   -->
        <fl-text-ok-nok
          [value]="!!storage.mainStorage"
          [okText]="'folder_main_storage_configured' | translate"
          [nokText]="'folder_main_storage_not_configured' | translate">
        </fl-text-ok-nok>
        @if (storage.mainStorage) {
          <ca-bucket-location-inline [bucketLocation]="storage.mainStorage"></ca-bucket-location-inline>
        }

        <!--  Backup bucket    -->
        <fl-text-ok-nok
          [value]="!!storage.backupStorage"
          [okText]="'folder_backup_storage_configured' | translate"
          [nokText]="'folder_backup_storage_not_configured' | translate"
          class="backup">
        </fl-text-ok-nok>
        @if (storage.backupStorage) {
          <ca-bucket-location-inline [bucketLocation]="storage.backupStorage"></ca-bucket-location-inline>
        }

        <!--  Can only configure in root folder    -->
        @if (!storage.mainStorage || !storage.backupStorage) {
          @if (storage.rootFolderId === folderId) {
            <div class="g-text-centered configure-button">
              <button mat-stroked-button type="button" (click)="configureStorage(storage.rootFolderId)">
                {{ 'configure_folder_storage' | translate }}
              </button>
            </div>
          }
        }
      </div>
    }
  </ng-container>
</fl-async-section>
