.date {
  margin-top: 1em;
}

.chart {
  width: 100%;
  height: 30em;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.monitoring-div{
  background-color: white;
  padding: 0.5em;
  border-radius: 12px;
  margin-top: 1em;
}

