<div>
  <div>
    <ng-container *ngIf="lastMonitor">
      <fl-key-value>
        <fl-key>{{'monitoring.os_disk_space' | translate}}</fl-key>
        {{lastMonitor.diskUsageUsed | flByteText}} / {{lastMonitor.diskTotal | flByteText}}
        ({{lastMonitor.diskUsageFree | flByteText}} {{'monitoring.disk_space_available' | translate}})
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{'monitoring.external_disk_space' | translate}}</fl-key>
        {{lastMonitor.externalDiskUsageUsed | flByteText}} / {{lastMonitor.externalDiskTotal | flByteText}}
        ({{lastMonitor.externalDiskUsageFree | flByteText}} {{'monitoring.disk_space_available' | translate}})
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{'monitoring.number_of_processes' | translate}}</fl-key>
        {{lastMonitor.cpuCount}}
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{'monitoring.total_memory' | translate}}</fl-key>
        {{lastMonitor.ramUsageTotal | flByteText}}
      </fl-key-value>

      <ng-container *ngIf="gpuEnabled()">
        <fl-key-value>
          <fl-key>{{'monitoring.gpu_ram_total' | translate}}</fl-key>
          {{lastMonitor.gpuMemoryTotal | flByteText}}
        </fl-key-value>
      </ng-container>
    </ng-container>

    <div class="date">
      <fl-key-value>
        <fl-key>{{'monitoring.from_date' | translate}}</fl-key>
        {{monitor.fromDate | flDate:'DATETIME_MED_WITH_SECONDS'}}
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{'monitoring.to_date' | translate}}</fl-key>
        {{monitor.toDate | flDate:'DATETIME_MED_WITH_SECONDS'}}
      </fl-key-value>
    </div>
  </div>

  <div>
    <h2>{{'monitoring.global_usage' | translate}}</h2>
    <ch-chart [chart]="mainChart" class="chart"></ch-chart>
  </div>

  <div class="sub-grid">
    <div>
      <h2>{{'monitoring.all_cpu_percent' | translate}}</h2>
      <ch-chart [chart]="allCpuChart" class="chart"></ch-chart>
    </div>
    <div>
      <h2>{{'monitoring.network_consumption' | translate}}</h2>
      <ch-chart [chart]="networkChart" class="chart"></ch-chart>
    </div>
  </div>

  <div>
    <h2>{{'monitoring.gpu_temperature' | translate}}</h2>
    <ch-chart [chart]="gpuTemperature" class="chart"></ch-chart>
  </div>


</div>
