<div>
  <div>
    <div class="date">
      <fl-key-value>
        <fl-key>{{ 'monitoring.from_date' | translate }}</fl-key>
        {{ monitor.fromDate | flDate: 'DATE_TIME_WITH_SECONDS' }}
      </fl-key-value>

      <fl-key-value>
        <fl-key>{{ 'monitoring.to_date' | translate }}</fl-key>
        {{ monitor.toDate | flDate: 'DATE_TIME_WITH_SECONDS' }}
      </fl-key-value>
    </div>
  </div>

  <div class="monitoring-div">
    <div>
      <h2>{{ 'monitoring.global_usage' | translate }}</h2>
      <div class="chart">
        <fl-plotly [data]="monitor.mainFigure"></fl-plotly>
      </div>
    </div>

    <div class="sub-grid">
      <div>
        <h2>{{ 'monitoring.all_cpu_percent' | translate }}</h2>
        <div class="chart">
          <fl-plotly [data]="monitor.cpuFigure"></fl-plotly>
        </div>
      </div>
      <div>
        <h2>{{ 'monitoring.network_consumption' | translate }}</h2>
        <div class="chart">
          <fl-plotly [data]="monitor.networkFigure"></fl-plotly>
        </div>
      </div>
    </div>
    <div *ngIf="gpuIsEnabled">
      <h2>{{ 'monitoring.gpu_temperature' | translate }}</h2>
      <div class="chart">
        <fl-plotly [data]="monitor.gpuFigure"></fl-plotly>
      </div>
    </div>
  </div>
</div>
