<fl-card class="g-full-height">
  <fl-card-header>
    <fl-search-header>
      <fl-text-icon>
        <mat-icon class="g-icon-big">dns</mat-icon>
        <h2>{{'server_info_list' | translate}}</h2>
      </fl-text-icon>

      <fl-search-header-actions>
        <button mat-icon-button type="button"
                (click)="openCreateServerInfo()"
                [matTooltip]="'create_server_info' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </fl-search-header-actions>
    </fl-search-header>

  </fl-card-header>

  <fl-card-body class="g-full-height">
    <fl-search>

      <!-- Advanced section in the right in a drawer -->
      <fl-search-advanced-form>
        <ca-server-info-search-form class="form"></ca-server-info-search-form>
      </fl-search-advanced-form>


      <fl-search-result>
        <ca-server-info-table [datasource]="datasource" [columns]="columns"></ca-server-info-table>
      </fl-search-result>

    </fl-search>
  </fl-card-body>
</fl-card>
