<div>
  <!-- Error code -->
  <div class="g-layout-row group">
    <span class="text g-text-light">{{ 'g.error_code' | translate }} :&nbsp;</span>
    <span> {{ error.code }}</span>
  </div>

  <!-- Detail -->
  <div class="g-layout-row group">
    <div class="text g-text-light">{{ 'g.detail' | translate }} :&nbsp;</div>
    <span> {{ error.detail }}</span>
  </div>

  <!-- HTTP Status -->
  <div class="g-layout-row group">
    <span class="text g-text-light">{{ 'g.http_status' | translate }} :&nbsp;</span>
    <span> {{ error.status }}</span>
  </div>

  <!-- Error code -->
  <div class="g-layout-row group">
    <span class="text g-text-light">InstanceId :&nbsp;</span>
    <span> {{ error.instanceId }}</span>
  </div>
</div>
