<div class="g-page page">

  <ca-project-object-breadcrumb class="g-print-hide"></ca-project-object-breadcrumb>

  <fl-section [isLoading]="isLoading" [object]="document" class="section">

    <ng-template flSectionBody>

      <div class="card-container">
        <div class="g-layout-row g-layout-between-center">
          <h1 flElementEditable (flElementValueChange)="renameDocument($event)">{{ document.name }}</h1>

          <fl-card-actions class="g-print-hide">
            <button mat-stroked-button type="button" (click)="toggleEditMode()"
                    class="button g-button-small">
              <mat-icon>{{ contentFormControl.disabled ? 'edit' : 'visibility' }}</mat-icon>
              <span>{{ (contentFormControl.disabled ? 'edit' : 'view') | translate }}</span>
            </button>

            <button mat-stroked-button type="button" (click)="print()" class="button g-button-small">
              {{ 'print_document' | translate }}
              <mat-icon>print</mat-icon>
            </button>

            <ca-document-actions-menu [document]="document" [showViewLinks]="false"
                                      (documentAction)="onDocumentAction($event)"></ca-document-actions-menu>
          </fl-card-actions>
        </div>

        <div class="g-print-hide doc-header">
          <div *ngIf="document.inTrash" class="g-warn-text">
            {{ 'document_in_trash' | translate }}
          </div>

          <fl-creation-info [user]="document.createdBy" [date]="document.createdAt">
          </fl-creation-info>

          <fl-last-modification-info [user]="document.lastModifiedBy"
                                     [date]="document.lastModifiedAt"></fl-last-modification-info>
        </div>

        <te-text-editor [formControl]="contentFormControl" [config]="textEditorConfig"
                        (textChange)="onContentUpdate($event)"
                        class="g-print-section text-editor"
                        [ngClass]="{'text-editor-edit': !contentFormControl.disabled}"></te-text-editor>


      </div>

    </ng-template>
  </fl-section>
</div>
