
.section{
  margin-top: 1em;
  margin-bottom: 1em;
}

.title{
  margin-bottom: 0.5em;
}


.radio-button{
  width: 15em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}

.radio-description {
  margin-top: 0.5em;
}

.server-info{
  margin-top: 1em;
}

.help-section {
  background-color: var(--hover-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
