<div fxLayout="column" class="form" [formGroup]="formGp">

  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center"
       class="g-full">

    <!--  Title  -->
    <mat-form-field class="g-full">
      <mat-label>{{'title' | translate }}</mat-label>
      <input matInput formControlName="title" [placeholder]="'title' | translate" autocomplete="off">
    </mat-form-field>

    <!--  Projects -->
    <mat-expansion-panel [expanded]="true" class="project">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'biox.projects' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <lab-project-select formControlName="project" (selectionChange)="callSearch()"></lab-project-select>
    </mat-expansion-panel>

    <!--  Created by  -->
    <fl-form-field class="g-search-field g-form-field-compact">
      <fl-select-user formControlName="createdBy" [placeholder]="'created_by' | translate"></fl-select-user>
    </fl-form-field>

    <!--  Id -->
    <mat-form-field class="g-search-field g-form-field-compact">
      <mat-label>{{'id' | translate }}</mat-label>
      <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off">
    </mat-form-field>

    <!--  Creation date  -->
    <div class="g-form-field-no-hint g-full g-form-field-compact">
      <p class="g-text-small subtitle">{{'creation_date' | translate}}</p>
      <fl-search-date-interval formGroupName="createdAt">
      </fl-search-date-interval>
    </div>

    <!--  Last modification date  -->
    <div class="g-form-field-no-hint g-full g-form-field-compact">
      <p class="g-text-small subtitle">{{'last_modified_date' | translate}}</p>
      <fl-search-date-interval formGroupName="lastModifiedAt">
      </fl-search-date-interval>
    </div>


    <mat-checkbox formControlName="isValidated" fxFlex="100%"
                  class="checkbox">{{'biox.report_include_validated' | translate }}</mat-checkbox>

    <mat-checkbox formControlName="isArchived" fxFlex="100%"
                  class="checkbox">{{'biox.report_include_archived' | translate }}</mat-checkbox>
  </div>
</div>


