<fl-section [isLoading]="isLoading" [object]="formControl" class="section">

  <fl-section-header class="header">
    <fl-text-icon *ngIf="project$ | async let project">
      <mat-icon flIcon="project"></mat-icon>
      <h2>{{ project.title | translate }}</h2>
    </fl-text-icon>
    <fl-section-actions>
      <button mat-icon-button type="button" (click)="toggleEdit()"
              *ngIf="canEdit$ | async">
        <mat-icon>{{ edit ? 'visibility' : 'edit' }}</mat-icon>
      </button>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <te-text-editor [formControl]="formControl" [config]="textEditorConfig"
                    [ngClass]="{'hide-border': !edit}"
                    [placeholder]="'project_description_placeholder' | translate"></te-text-editor>
  </ng-container>
</fl-section>

