<div class="menu top-menu">
  <a routerLink="/" class="community-logo">
    <img alt="" src="assets/fl-logo/community_logo.svg"/>
  </a>

  <div class="top-left-buttons">
      <ng-container *ngIf="(userConnected$ | async) == null">
        <a [routerLink]="loginRoute" mat-flat-button flHide.lt-md>
          {{ 'login' | translate }}
        </a>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </ng-container>
      <fl-user-profile-picture [user]="user" [matMenuTriggerFor]="userMenu"
                               *ngIf="userConnected$ | async as user">
      </fl-user-profile-picture>
    </div>
</div>

<div class="body g-scrollable-element" flAutoScrollToAnchor cdkScrollable>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="menu bottom-menu">
  <a [routerLink]="storyListRoute">
    <mat-icon class="menu-icon">description</mat-icon>
    {{ 'stories' | translate }}
  </a>
  <a [routerLink]="liveTaskRoute">
    <mat-icon class="menu-icon" [svgIcon]="'code'"></mat-icon>
    {{ 'live_tasks' | translate }}
  </a>

  <a [routerLink]="brickListRoute">
    <mat-icon [svgIcon]="'brick-icon'" class="menu-icon"></mat-icon>
    {{ 'bricks' | translate }}
  </a>
  <div [matMenuTriggerFor]="docMenu">
    <mat-icon class="menu-icon">info</mat-icon>
    {{ 'documentation' | translate }}
  </div>
</div>

<mat-menu #docMenu="matMenu" xPosition="after">
  <a mat-menu-item [routerLink]="productDocRoute" class="doc-menu-item">{{ 'product_doc'| translate }}</a>
  <a mat-menu-item [routerLink]="techDocRoute" class="doc-menu-item">{{ 'tech_doc'| translate }}</a>
  <a mat-menu-item [routerLink]="'/icons'" class="doc-menu-item">{{ 'icons'| translate }}</a>
</mat-menu>

<mat-menu #langMenu='matMenu'>

</mat-menu>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="adminRoute" *haIsAdmin>
    {{ 'admin_dashboard' | translate }}
  </button>
  <button mat-menu-item (click)="changeLanguage()">
    <mat-icon>language</mat-icon>
    @if (currentLanguage === 'fr') {
      {{ 'english' | translate }}
    } @else {
      {{ 'french' | translate }}
    }
  </button>
  <button mat-menu-item
          (click)="selectTheme(theme.LIGHT_THEME)" *ngIf="isDarkTheme" class="g-text-light">
    <mat-icon>light_mode</mat-icon>
    {{'light_theme' | translate}}
  </button>
  <button mat-menu-item
          (click)="selectTheme(theme.DARK_THEME)" *ngIf="!isDarkTheme" class="g-text-light">
    <mat-icon>dark_mode</mat-icon>
    {{'dark_theme' | translate}}
  </button>
  <button mat-menu-item (click)="logout()" *haIsAuthenticated>
    <mat-icon>logout</mat-icon>
    {{ 'logout' |translate }}
  </button>
</mat-menu>
