.body {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--navbar-height) - var(--small-navbar-height));
  overflow-x: hidden;
}

.menu {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--main-background);
}

.top-menu{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .community-logo{
    margin: auto;
    height: 50%;

    img{
      height: 100%;
    }
  }

  .top-left-buttons{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px;
  }
}

.bottom-menu{
  border-top: 1px solid var(--hover-color);
  height: calc(var(--small-navbar-height) - 1px);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.9em;

  a, div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
  }
}

@media (max-width: 590px) {
  .bottom-menu{
    font-size: 0.6em;
  }
}
