<div class="menu top-menu">
  <a routerLink="/" class="community-logo">
    <img alt="" src="assets/fl-logo/community_logo.svg"/>
  </a>

  <div class="top-left-buttons">
    @if (userConnected$ | async; as user) {
      <co-user-profile-picture [user]="userConnected$ | async" [matMenuTriggerFor]="userMenu">
      </co-user-profile-picture>
    } @else {
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>
</div>

<div class="body g-scrollable-element" flAutoScrollToAnchor cdkScrollable>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="menu bottom-menu">
  <a [routerLink]="storyListRoute" [ngClass]="currentRoute == 'story' ? 'bottom-menu-current-bt' : ''">
    <mat-icon class="menu-icon">description</mat-icon>
    {{ 'stories' | translate }}
  </a>
  <a [routerLink]="liveTaskRoute" [ngClass]="currentRoute == 'live-task' ? 'bottom-menu-current-bt' : ''">
    <mat-icon class="menu-icon" [svgIcon]="'code'"></mat-icon>
    {{ 'live_tasks' | translate }}
  </a>

  <a [routerLink]="brickListRoute" [ngClass]="currentRoute == 'brick' ? 'bottom-menu-current-bt' : ''">
    <mat-icon [svgIcon]="'brick-icon'" class="menu-icon"></mat-icon>
    {{ 'bricks' | translate }}
  </a>
  <div [matMenuTriggerFor]="docMenu" [ngClass]="currentRoute == 'doc' ? 'bottom-menu-current-bt' : ''">
    <mat-icon class="menu-icon">info</mat-icon>
    {{ 'documentation' | translate }}
  </div>
</div>

<mat-menu #docMenu="matMenu" xPosition="after">
  <a mat-menu-item [routerLink]="productDocRoute" class="doc-menu-item">{{ 'product_doc'| translate }}</a>
  <a mat-menu-item [routerLink]="techDocRoute" class="doc-menu-item">{{ 'tech_doc'| translate }}</a>
  <a mat-menu-item [routerLink]="'/icons'" class="doc-menu-item">{{ 'icons'| translate }}</a>
</mat-menu>

<mat-menu #langMenu='matMenu'>

</mat-menu>

<mat-menu #userMenu="matMenu">
  @if(userConnected$ | async; as user){
    <button mat-menu-item [routerLink]="profileRoute + user.id">
      <mat-icon>person</mat-icon>
      {{ 'profile' | translate }}
    </button>
  }
  <button mat-menu-item [routerLink]="adminRoute" *haIsAdmin>
    <mat-icon>admin_panel_settings</mat-icon>
    {{ 'admin_dashboard' | translate }}
  </button>
  <a [routerLink]="loginRoute" mat-menu-item *ngIf="(userConnected$ | async) == null">
    <mat-icon>login</mat-icon>
    {{ 'login' | translate }}
  </a>
  <button mat-menu-item (click)="changeLanguage()">
    <mat-icon>language</mat-icon>
    @if (currentLanguage === 'fr') {
      {{ 'english' | translate }}
    } @else {
      {{ 'french' | translate }}
    }
  </button>
  <button mat-menu-item
          (click)="selectTheme(theme.LIGHT_THEME)" *ngIf="isDarkTheme" class="g-text-light">
    <mat-icon>light_mode</mat-icon>
    {{'light_theme' | translate}}
  </button>
  <button mat-menu-item
          (click)="selectTheme(theme.DARK_THEME)" *ngIf="!isDarkTheme" class="g-text-light">
    <mat-icon>dark_mode</mat-icon>
    {{'dark_theme' | translate}}
  </button>
  <button mat-menu-item (click)="logout()" *ngIf="(userConnected$ | async) != null">
    <mat-icon>logout</mat-icon>
    {{ 'logout' |translate }}
  </button>
</mat-menu>
