<ng-container *ngIf="status$ | async as status">
  <!--  Start and stop button  -->
  <button *ngIf="status.labStatus.value === 'SERVER_RUNNING' || status.labStatus.value === 'LAB_RUNNING'; else stopped"
          mat-stroked-button color="warn" type="button"
          (click)="stopLab()" class="g-button-small">
    <mat-icon>stop</mat-icon>
    <span>{{'stop_lab' | translate}}</span>
  </button>
  <ng-template #stopped>
    <span [matTooltip]="'start_lab_disabled' | translate" [matTooltipDisabled]="serverIsReady$ | async" class="container">
      <button mat-stroked-button color="primary" type="button"
              (click)="startLab()" class="g-button-small"
              [disabled]="(serverIsReady$ | async) === false">
        <mat-icon>play_arrow</mat-icon>
        <span>{{'start_lab' | translate}}</span>
      </button>
    </span>
  </ng-template>
</ng-container>
