.loader {
  margin: auto;
}

.doc-div {
  width: 60rem;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .doc-div {
    width: 100%;
  }

  .doc-div-content {
    width: 100%;
  }
}

.doc-title-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.doc-title-div > button {
  margin-left: auto;
}

.right-div {
  max-width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--card-background);
  width: 279px;
  height: fit-content;
  max-height: 50vh;
  min-height: 20%;
}

.right-div * {
  display: block;
  max-width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.25em;
}

.right-div p {
  padding-left: 1em;
  margin: 0 !important;
}

.content-editor {
  border: none;
}
