<div class="main-div" *ngIf="brick">
  <div class="left-side-div">
    <div>
      <div class="title-div">
        <img [src]="brick.imageLink ? brick.imageLink : 'assets/fl-logo/logo.png'" class="brick-icon">
        <h2>{{brick.name}}</h2>
        <co-visibility-badge [space]="brick.space">

        </co-visibility-badge>
        <div>

        </div>
        <div class="brick-like-edit-button">
          <div class="brick-like">
            <ha-like-button (clicked)="toggleLikeBrickButton()" [isLiked]="brickIsLiked" [likesCount]="brick.likes"></ha-like-button>
          </div>
          @if (isCreatorOrBrickUser$ | async){
            <button mat-stroked-button type="button" (click)="createEditBrickDialog()" class="edit-brick-button">{{'edit' | translate}}</button>
          }
        </div>
      </div>

      <div class="description-div">
        <h5>{{'description' | translate}} : </h5>
        <p>{{brick.description}}</p>
      </div>
      <div class="version-div" *ngIf="lastVersion">
        <fl-key-value>
          <fl-key>{{'version' | translate}}</fl-key>
          {{lastVersion.toString()}}
        </fl-key-value>
      </div>
    </div>

    <div class="tech-div">
      <h5>{{'technical_information' | translate}}</h5>

      <div class="tech-info-div" *ngIf="latestBrickVersion">
        {{'type_of_repository' | translate}} :
        <p class="g-scrollable-element tech-info">{{latestBrickVersion.repoType}}</p>
      </div>

      <div class="tech-info-div" *ngIf="brick.gitRepo && isCreatorOrBrickUser$ | async">
        {{'repo_git' | translate}} :
        <p class="g-scrollable-element tech-info">{{brick.gitRepo}}</p>
      </div>

      <div class="tech-info-div" *ngIf="brick.pipRepo && isCreatorOrBrickUser$ | async">
        {{'repo_pip' | translate}} :
        <p class="g-scrollable-element tech-info">{{brick.pipRepo}}</p>
      </div>

      <div class="tech-info-div" *ngIf="references && references.length > 0">
        {{'references' | translate}} :
        <p *ngFor="let r of references" class="g-scrollable-element tech-info">
          <a [routerLink]="'/bricks/' + r.name">{{r.name}}</a> v{{r.version}}
        </p>
      </div>
    </div>
  </div>
  <div class="right-side-div g-scrollable-element" *ngIf="brick && lastVersion">
    <ha-public-brick-users [brick]="brick" ></ha-public-brick-users>
  </div>
</div>
