@if (brick()) {
  <div class="main-div">
    <div>
      <div class="title-div">
        <div class="icon-title">
          <div class="brick-icon">
            <img [ngSrc]="brick().imageLink | haBrickImage" [alt]="brick().name + 'logo'" fill priority />
          </div>
          <h1 class="g-text-dense-height">{{ brick().name }}</h1>
        </div>
        <div class="brick-like-edit-button-div">
          <div class="brick-like-edit-button brick-like-edit-button-top">
            <co-visibility-badge [space]="brick().space"> </co-visibility-badge>
            <ha-like-button
              (clicked)="toggleLikeBrickButton()"
              [isLiked]="brickIsLiked"
              [likesCount]="brick().likes"></ha-like-button>
          </div>
          <div class="brick-like-edit-button">
            @if (userHasEditRight()) {
              <button
                mat-stroked-button
                type="button"
                (click)="createEditBrickDialog()"
                class="edit-brick-button">
                {{ 'edit' | translate }}
              </button>
            }
          </div>
        </div>
      </div>
      @if (brickRunStatAggregate()) {
        <ha-run-stat-aggregate-panel
          [runStatAggregate]="brickRunStatAggregate()"></ha-run-stat-aggregate-panel>
      }
      <div class="description-div">
        <h5>{{ 'description' | translate }} :</h5>
        <p>{{ brick().description }}</p>
      </div>
      @if (brick() && latestBrickVersion()) {
        <div class="version-div">
          <fl-key-value>
            <fl-key>{{ 'version' | translate }}</fl-key>
            {{ latestBrickVersion().version?.toString() }}
          </fl-key-value>
        </div>
      }
    </div>
    <div class="tech-div">
      <h5>{{ 'technical_information' | translate }}</h5>
      @if (latestBrickVersion()) {
        <div class="tech-info-div">
          {{ 'type_of_repository' | translate }} :
          <p class="g-scrollable-element tech-info">{{ latestBrickVersion().repoType }}</p>
        </div>
      }
      @if (brick().gitRepo) {
        <div class="tech-info-div">
          <span>
            {{ 'repo_git' | translate }} :
            <ha-github-star-button [repo]="brick().gitRepo"></ha-github-star-button>
          </span>
          <div class="git-div">
            <p class="g-scrollable-element tech-info">{{ brick().gitRepo }}</p>
          </div>
        </div>
      }
      @if (brick().pipRepo) {
        <div class="tech-info-div">
          {{ 'repo_pip' | translate }} :
          <p class="g-scrollable-element tech-info">{{ brick().pipRepo }}</p>
        </div>
      }
      @if (directReferences() && directReferences().length > 0) {
        <div class="tech-info-div">
          {{ 'references' | translate }} :
          @for (r of directReferences(); track r) {
            <p class="g-scrollable-element tech-info">
              <a [routerLink]="'/bricks/' + r.name">{{ r.name }}</a> v{{ r.version }}
            </p>
          }
        </div>
      }
    </div>
  </div>
}

@if (brick() && latestBrickVersion()) {
  <div class="right-panel g-scrollable-element">
    <ha-public-brick-users [brick]="brick()"></ha-public-brick-users>
  </div>
}
