.main-div {
  display: flex;
  flex-direction: column;
  width: calc(60rem + 32px);
}

.tech-div {
  margin-top: 16px;
}

.right-side-div {
  position: fixed;
  padding: 8px;
  width: 279px;
  height: fit-content;
  border-radius: 18px;
  max-height: 50vh;
  right: 100px;
}

.title-div {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 1em;
  justify-content: space-between;
}

.title-div > .icon-title {
  display: flex;
  align-items: center;
  gap: 1em;

  h2 {
    flex: auto;
  }
}

.title-div > .icon {
  margin-left: 0.6em;
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.brick-like-edit-button-div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.brick-like-edit-button-top {
  margin-top: 3em;
}

.brick-like-edit-button {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: center;
  justify-content: end;
  max-width: 375px;
}

.brick-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.git-div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.check-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
  border-radius: 50%;
  border: solid 2px var(--primary-color);
}

h2 {
  margin-block-start: -8px !important;
}

.brick-icon {
  position: relative;
  width: 105px;
  height: 105px;
}

.description-div {
  margin-top: 20px;
}

.version-div {
  margin-top: 20px;
  margin-bottom: 8px;
}

.tech-info-div {
  margin-top: 15px;

  span {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
}

.tech-info-div:last-child {
  margin-bottom: 8px;
}

.tech-info-div p {
  margin-top: 11px;
  padding: 8px;
  background-color: var(--card-background);
  border-radius: 10px;
  max-width: calc(100% - 24px);
  white-space: nowrap;
  width: fit-content;
  min-width: 175px;
}

.icon-title {
  max-width: calc(100% - 375px);
  flex: auto;
  width: auto;
}

.icon-title h2 {
  word-wrap: break-word;
  table-layout: fixed;
  max-width: calc(100% - 105px);
}

@media (max-width: 1600px) {
  .main-div {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .title-div {
    justify-content: normal;
  }

  .brick-like-edit-button-div {
    margin-right: 11px;
  }
}

@media (max-width: 800px) {
  .brick-like-edit-button {
    justify-content: start;
  }

  .title-div > .icon-title {
    width: calc(100% - 1em);

    h2 {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      line-height: 1.2em;
    }
  }

  .brick-icon {
    width: 75px;
    height: 75px;
  }

  .title-div {
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }

  .brick-like-edit-button {
    padding-left: 0;
    width: 100%;

    .brick-like {
      margin-left: auto;
    }
  }
  .icon-title {
    max-width: 100%;
  }
}
