<div class="main-div" *ngIf="brick()">
  <div>
    <div class="title-div">
      <div class="icon-title">
        <div class="brick-icon">
          <img [ngSrc]="brick().imageLink | haBrickImage" fill priority />
        </div>
        <h1 class="g-text-dense-height">{{ brick().name }}</h1>
      </div>
      <div class="brick-like-edit-button-div">
        <div class="brick-like-edit-button brick-like-edit-button-top">
          <co-visibility-badge [space]="brick().space"> </co-visibility-badge>
          <ha-like-button
            (clicked)="toggleLikeBrickButton()"
            [isLiked]="brickIsLiked"
            [likesCount]="brick().likes"></ha-like-button>
        </div>
        <div class="brick-like-edit-button">
          @if (userHasEditRight()) {
            <button
              mat-stroked-button
              type="button"
              (click)="createEditBrickDialog()"
              class="edit-brick-button">
              {{ 'edit' | translate }}
            </button>
          }
        </div>
      </div>
    </div>

    <div class="description-div">
      <h5>{{ 'description' | translate }} :</h5>
      <p>{{ brick().description }}</p>
    </div>
    <div class="version-div" *ngIf="brick() && latestBrickVersion()">
      <fl-key-value>
        <fl-key>{{ 'version' | translate }}</fl-key>
        {{ latestBrickVersion().version?.toString() }}
      </fl-key-value>
    </div>
  </div>

  <div class="tech-div">
    <h5>{{ 'technical_information' | translate }}</h5>

    <div class="tech-info-div" *ngIf="latestBrickVersion()">
      {{ 'type_of_repository' | translate }} :
      <p class="g-scrollable-element tech-info">{{ latestBrickVersion().repoType }}</p>
    </div>

    <div class="tech-info-div" *ngIf="brick().gitRepo">
      <span>
        {{ 'repo_git' | translate }} :
        <ha-github-star-button [repo]="brick().gitRepo"></ha-github-star-button>
      </span>
      <div class="git-div">
        <p class="g-scrollable-element tech-info">{{ brick().gitRepo }}</p>
      </div>
    </div>

    <div class="tech-info-div" *ngIf="brick().pipRepo">
      {{ 'repo_pip' | translate }} :
      <p class="g-scrollable-element tech-info">{{ brick().pipRepo }}</p>
    </div>

    <div class="tech-info-div" *ngIf="directReferences() && directReferences().length > 0">
      {{ 'references' | translate }} :
      <p *ngFor="let r of directReferences()" class="g-scrollable-element tech-info">
        <a [routerLink]="'/bricks/' + r.name">{{ r.name }}</a> v{{ r.version }}
      </p>
    </div>
  </div>
</div>

<div class="right-panel g-scrollable-element" *ngIf="brick() && latestBrickVersion()">
  <ha-public-brick-users [brick]="brick()"></ha-public-brick-users>
</div>
