<ca-dashboard-list-layout
  [datasource]="appsDatasource"
  sectionTitle="my_applications"
  titleIcon="app"
  emptyText="no_application"
  [completeListRoute]="myAppsRoute"
  completeListText="all_applications"
  addText="add_app"
  (addClick)="openConstellabSuiteDialog()"
  addButtonColor="warn">
  <ng-template let-item>
    <ca-app-card [app]="item"></ca-app-card>
  </ng-template>

  <ca-dashboard-empty-list
    emoji="🚀"
    [emojiBackgroundColor]="color"
    [emptyTitle]="'apps_empty_title' | translate"
    [emptyDescription]="'apps_empty_description' | translate"
    class="empty-list">
    <button action mat-stroked-button class="warn" (click)="openConstellabSuiteDialog()">
      <mat-icon>add</mat-icon>
      {{ 'add_app' | translate }}
    </button>
  </ca-dashboard-empty-list>
</ca-dashboard-list-layout>
