<mat-table mat-table [dataSource]="dataSource()" flSearchTableSort>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'value' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        {{ tagValue.value }}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="shortDescription">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'short_description' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        {{ tagValue.shortDescription }}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="additionalInfos">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'additional_infos' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        @if (tagValue.additionalInfos && (tagValue.additionalInfos | flObjectKeys).length > 0) {
          @for (additionalInfo of tagValue.additionalInfos | flObjectKeys; track additionalInfo) {
            @if (tagValue.additionalInfos[additionalInfo]) {
              <fl-key-value>
                <fl-key>{{ additionalInfo }}</fl-key>
                {{ tagValue.additionalInfos[additionalInfo] }}
              </fl-key-value>
            }
          }
        }
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deprecated">
    <mat-header-cell *matHeaderCellDef
      ><span>{{ 'state' | translate }}</span></mat-header-cell
    >
    <mat-cell *matCellDef="let tagValue">
      <div>
        @if (tagValue.deprecated) {
          <div class="deprecate-tag">
            {{ 'deprecated' | translate }}
          </div>
        }
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"></mat-header-cell>
    <mat-cell *matCellDef="let tagValue" class="g-table-icon-button-cell">
      <div>
        @if (!tagValue.deprecated && !hideEditButton()) {
          <button mat-icon-button (click)="emitEditTagValue(tagValue)" [matTooltip]="'edit' | translate">
            <mat-icon>edit</mat-icon>
          </button>
        }
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let tagValue" class="g-table-icon-button-cell">
      <div>
        @if (!tagValue.deprecated && !hideDeleteButton()) {
          <button
            mat-icon-button
            class="warn"
            (click)="emitDeleteTagValue(tagValue)"
            [matTooltip]="
              !tagValue.tagKey.publishedAt ? ('delete' | translate) : ('deprecate_tag_value' | translate)
            ">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsDef"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsDef"></mat-row>
</mat-table>
