<mat-table mat-table [dataSource]="dataSource()" flSearchTableSort>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'value' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        {{ tagValue.value }}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="shortDescription">
    <mat-header-cell *matHeaderCellDef>
      {{ 'short_description' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        {{ tagValue.shortDescription }}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="additionalInfos">
    <mat-header-cell *matHeaderCellDef>
      {{ 'additional_infos' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let tagValue">
      <div>
        @if (tagValue.additionalInfos) {
          {{ JSON.stringify(tagValue.additionalInfos) }}
        }
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="actions-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let tagValue" class="actions-cell">
      <div class="actions-div">
        @if (!tagValue.deprecated) {
          @if (!hideEditButton()) {
            <button mat-icon-button (click)="emitEditTagValue(tagValue)" [matTooltip]="'edit' | translate">
              <mat-icon>edit</mat-icon>
            </button>
          }
          @if (!hideDeleteButton()) {
            <button
              mat-icon-button
              class="warn"
              (click)="emitDeleteTagValue(tagValue)"
              [matTooltip]="
                !tagValue.tagKey.publishedAt ? ('delete' | translate) : ('deprecate_tag_value' | translate)
              ">
              <mat-icon>delete</mat-icon>
            </button>
          }
        } @else {
          <div class="deprecate-tag accent">
            {{ 'deprecated' | translate }}
          </div>
        }
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsDef"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsDef"></mat-row>
</mat-table>
