<fl-portal class="portal">
  <fl-portal-header>
    {{ 'biox.resource_next_objects' | translate }}
  </fl-portal-header>

  <fl-portal-content>
    <!--  Scenarios  -->
    <fl-text-icon>
      <mat-icon flIcon="scenario"></mat-icon>
      <h2>{{ 'biox.scenarios' | translate }}</h2>
    </fl-text-icon>
    <fl-infinite-table-container [datasource]="scenarios" textNoResult="biox.no_scenario" textNoMoreResult="">
      <li-scenario-table [datasource]="scenarios" [columns]="scenarioColumns"></li-scenario-table>
    </fl-infinite-table-container>

    <!--  Notes  -->
    <fl-text-icon class="notes">
      <mat-icon flIcon="note"></mat-icon>
      <h2>{{ 'biox.notes' | translate }}</h2>
    </fl-text-icon>
    <fl-infinite-table-container [datasource]="notes" textNoResult="biox.no_note" textNoMoreResult="">
      <li-note-table [datasource]="notes" [columns]="noteColumns"></li-note-table>
    </fl-infinite-table-container>
  </fl-portal-content>
</fl-portal>
