:host{
  width: 100%;
}

.item-type-select-div{
  display: flex;
  max-width: 450px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-type-select-inner-div{
  display: flex;
  padding: 2.5px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(118, 118, 128, 0.12);
}

.item-type-select-line{
  width: 0.8px;
  height: 15px;
  margin: 10px 0;
  gap: 12.5px;
  background: rgba(60, 60, 67, 0.18);
}

.items-list-div{
  margin-top: 48px;
  padding: 32px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 4px 91px 0 rgba(0, 0, 0, 0.06);

  .items-container-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    a {
      width: calc(50% - 12px);
    }
  }
}

.discover-all-button-div{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media only screen and (max-width: 1240px) {
  .items-container-div{
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    a {
      width: 100% !important;
    }
  }

  .item-type-div{
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}


