@if (agentVersion(); as version) {
  <div class="agent-version-page-content">
    <div>
      <div class="agent-version-page-title g-layout-row g-layout-between-center">
        <h2>{{ 'version' | translate }} {{ version.version }}</h2>
        @if (canEdit()) {
          <div class="agent-version-info">
            @if (version.versionState === 'DRAFT') {
              <span class="g-text-small g-warn-text">{{
                'warn_agent_version_not_published' | translate
              }}</span>
              <button mat-flat-button (click)="publishAgentVersion(version.id)">
                {{ 'publish' | translate }}
              </button>
            }
            <button
              mat-icon-button
              class="warn"
              (click)="deleteAgentVersion()"
              [matTooltip]="'delete_agent_version' | translate">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
      </div>
    </div>

    <ha-agent-version-detail></ha-agent-version-detail>
  </div>
} @else {
  <div class="g-layout-row g-layout-center-center">
    <fl-loader></fl-loader>
  </div>
}
