@if (agentVersion()) {
  <div>
    <div class="agent-version-title g-layout-gap-05em">
      @if (agentVersion().style) {
        <co-update-type-icon-container
          [style]="agentVersion().style"
          [iconSize]="40"
          [disabled]="!canEdit()"
          (onClickEvent)="openAgentEditStyleDialog()">
        </co-update-type-icon-container>
      }
      <h1 class="g-flex-auto">{{ agentVersion().agent.title }}</h1>
      <div class="g-badge g-warn-background">{{ agentVersion().type | translate }}</div>
    </div>
    <div class="agent-infos-div">
      <h4>{{ 'version' | translate }} {{ agentVersion().version }}</h4>
      @if (canEdit()) {
        <div class="agent-infos">
          @if (agentVersion().versionState == 'DRAFT') {
            <span class="g-text-small g-warn-text">{{ 'warn_agent_version_not_published' | translate }}</span>
            <button mat-stroked-button class="primary" (click)="publishAgentVersion(agentVersion().id)">
              {{ 'publish' | translate }}
            </button>
          }
          <button
            mat-icon-button
            class="warn"
            (click)="deleteAgentVersion()"
            [matTooltip]="'delete_agent_version' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
    @if (agentVersionRunStatAggregate()) {
      <ha-run-stat-aggregate-panel
        [runStatAggregate]="agentVersionRunStatAggregate()"></ha-run-stat-aggregate-panel>
    }
    @if (currentVersion) {
      <ha-agent-version-detail></ha-agent-version-detail>
    } @else {
      <fl-loader></fl-loader>
    }
  </div>
}
@if (isAgentVersionLoading()) {
  <div>
    <fl-loader class="g-centered"></fl-loader>
  </div>
}
@if (isAgentVersionError()) {
  <div>
    <ha-ha404></ha-ha404>
  </div>
}
