.agent-version-page-content{
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.agent-version-page-title{
  padding: 24px 0;
}

.agent-version-info{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
