<fl-card>

  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">key</mat-icon>
      <h2>{{'bucket_credentials_list' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-icon-button type="button" (click)="openCreateDialog()"
              [matTooltip]="'create_bucket_credentials' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <fl-infinite-scroll [datasource]="bucketCredentials" class="g-infinite-table">
      <ca-bucket-credentials-table [datasource]="bucketCredentials">
      </ca-bucket-credentials-table>
    </fl-infinite-scroll>
  </fl-card-body>


</fl-card>
