<mat-table mat-table [dataSource]="datasource">
  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'title' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">

      @if (!rowSelectable) {
        <!--    Invisible link  -->
        <a [routerLink]="report | caDetailRoute" class="g-row-link"></a>
      }

      <div [caNotificationMark]="report.id" caNotificationObjectType="REPORT">{{ report.title }}</div>
      @if (report.isValidated) {
        <mat-icon class="status-icon g-row-button"
                  [matTooltip]="'report_validated' | translate" flIcon="validated"></mat-icon>
      }
    </mat-cell>
  </ng-container>

  <!-- LastSync -->
  <ng-container matColumnDef="lastSync">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'last_sync' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <ca-sync-object-info [object]="report" [showText]="false"></ca-sync-object-info>
    </mat-cell>
  </ng-container>

  <!-- CreatedBy -->
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef>
      <span> {{ 'created_by' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let experiment">
      <fl-user-inline [user]="experiment.createdBy"></fl-user-inline>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <mat-row *matRowDef="let row; columns: columns;" class="g-table-row-selectable g-row-link-container"
           (click)="rowClicked(row)"></mat-row>

</mat-table>
