.activity-body {
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
}

@media (min-width: 1650px) {
  .icon {
    font-size: 2.5em;
  }
}

.activity-number {
  height: 30%;
  font-size: 2em;
  margin: 0.3em 0;
  font-weight: bold;
}

.activity-text {
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}


