<mat-table mat-table [dataSource]="datasource">

  <!-- Frequency -->
  <ng-container matColumnDef="frequency">
    <mat-header-cell *matHeaderCellDef>
      {{ 'lab_backup_frequency' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ ('lab_backup_frequency_' + row.frequency) | translate }}
    </mat-cell>
  </ng-container>

  <!-- Region -->
  <ng-container matColumnDef="region">
    <mat-header-cell *matHeaderCellDef>
      {{ 'lab_backup_location' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ca-cloud-provider-region-inline [region]="row.region"></ca-cloud-provider-region-inline>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>
      {{ 'status' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-status-chip [status]="row.status"></fl-status-chip>
    </mat-cell>
  </ng-container>

  <!-- Last backup -->
  <ng-container matColumnDef="lastBackup">
    <mat-header-cell *matHeaderCellDef>
      {{ 'lab_last_backup' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      @if (row.lastSuccessBackupSize && row.lastSuccessBackupAt) {
        {{ row.lastSuccessBackupAt | flDate: 'DATE_TIME_WITH_SECONDS' }}
        ({{ row.lastSuccessBackupSize | flByteText }} / {{ row.labVolumeSize }} {{ 'flCoreComponent.giga_byte_symbole' | translate }})
      }
    </mat-cell>
  </ng-container>

  <!-- Bucket info -->
  <ng-container matColumnDef="bucketInfo">
    <mat-header-cell *matHeaderCellDef>
      {{ 'lab_backup_bucket_info' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-layout-col g-layout-center-start">
      <div>{{ row.sizeInBucket | flByteText }}</div>
      <div>{{ row.nbDocumentsInBucket }} {{ 'lab_backup_bucket_files' | translate }}</div>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="g-table-icon-button-cell">
      @if (row.lastSuccessBackupId) {
        <!--   Mat menu containing action buttons   -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item type="button" (click)="restoreBackupToLab(row)">
            <mat-icon>settings_backup_restore</mat-icon>
            <span>{{ 'restore_backup_to_lab' | translate }}</span>
          </button>
        </mat-menu>
      }
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

