<mat-table mat-table [dataSource]="datasource" flSearchTableSort>
  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="g-cell-header-with-left-border" mat-sort-header>
      <span> {{ 'title' | translate }}</span>
    </mat-header-cell>
    <mat-cell
      *matCellDef="let scenario"
      class="g-cell-with-left-border"
      [style.border-left-color]="scenario.folder?.id | flStringToRgb">
      <!--    Invisible link  -->
      @if (!rowSelectable) {
        <a [routerLink]="scenario | labDetailRoute" [target]="rowLinkTarget" class="g-row-link"></a>
      }

      <div>
        <div class="text g-text-dense-height">{{ scenario.title }}</div>

        @if (scenario.folder) {
          <fl-text-icon class="g-text-tiny g-text-light folder" gap="3px">
            <mat-icon flIcon="folder" class="g-icon-tiny"></mat-icon>
            <div class="text g-text-dense-height">{{ scenario.folder.name }}</div>
          </fl-text-icon>
        }
      </div>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'status' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let scenario">
      <fl-status-chip [status]="scenario.status" mode="iconText" size="small"> </fl-status-chip>

      <lab-scenario-icons [scenario]="scenario" class="status-icon over-link"></lab-scenario-icons>
    </mat-cell>
  </ng-container>

  <!-- Creation -->
  <ng-container matColumnDef="creation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'creation_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let scenario">
      <fl-user-with-date
        [user]="scenario.createdBy"
        [date]="scenario.createdAt"
        class="over-link"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Last modification -->
  <ng-container matColumnDef="lastModification">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'last_modification_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let scenario">
      <fl-user-with-date
        [user]="scenario.lastModifiedBy"
        [date]="scenario.lastModifiedAt"
        class="over-link"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef class="g-column-width-2">
      <span> {{ 'tags' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let scenario" class="g-column-width-2">
      @defer (on viewport) {
        <lab-tag-list [tags]="scenario | labGetEntityTags" [tagSelectable]="true"></lab-tag-list>
      } @placeholder {
        <div></div>
      }
    </mat-cell>
  </ng-container>

  <!-- Unlinked scenario -->
  <ng-container matColumnDef="unlinked">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"> </mat-header-cell>
    <mat-cell *matCellDef="let scenario" class="g-table-icon-button-cell">
      <button
        mat-icon-button
        type="button"
        (click)="unlinkedScenario(scenario, $event)"
        class="over-link"
        [matTooltip]="'biox.note_unlink_scenario' | translate">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: columns"
    class="g-table-row-selectable g-row-link-container"
    (click)="rowClicked(row)">
  </mat-row>
</mat-table>
