<fl-portal>

  <fl-portal-content>
    <div class="g-text-small g-text-light">
      <ng-container *ngIf="hasContext(); else noContext">
        <p *ngFor="let context of sentence.context" class="g-text-capitalize-first">
          {{context}}
        </p>
      </ng-container>

      <ng-template #noContext>
        {{'smart_db.no_context' | translate}}
      </ng-template>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div *ngFor="let part of sentence.parts"
         class="part g-layout-row g-layout-start-center g-layout-gap-05em">

      <!--  Subject    -->
      <div class="part-section">
        <div *ngFor="let subject of part.subject">
          {{subject}}
        </div>
      </div>

      <!--   Verb   -->
      <div class="part-section verb">
        <div>
          <mat-icon>east</mat-icon>
        </div>
        <div [ngClass]="part.type | caSmartDbVerbEffect">{{part.verb}}</div>
      </div>


      <!--   Object   -->
      <div class="part-section object">
        {{part.object}}
      </div>
    </div>

  </fl-portal-content>
</fl-portal>
