<div class="g-layout-row g-layout-between-center g-layout-gap-1em">
  <p class="g-text-light help-text">{{ 'lab_create_green_option_help' | translate }}</p>

  <button
    mat-flat-button
    type="button"
    class="primary add-button"
    [matTooltip]="'lab_create_green_option' | translate"
    (click)="openCreateGreenOptionDialog()">
    <mat-icon>add</mat-icon>
    {{ 'lab_create_green_option_short' | translate }}
  </button>
</div>

<fl-async-section [arrayObs]="labGreenOptions$" emptyText="no_lab_green_option">
  <ng-container *flSectionBodyDatasource>
    <ca-lab-green-option-table [datasource]="labGreenOptions$" [columns]="columns">
    </ca-lab-green-option-table>
  </ng-container>
</fl-async-section>
