.loader {
  margin: auto;
}

.doc-div {
  width: 60rem;
  max-width: calc(100vw - 18px);
}

.save-info-and-bt-div {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 900px) {
  .doc-div {
    width: 100%;
    padding: 0px;
  }
}

.doc-div-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

form {
  //take all the available flex space
  flex: 1;
  display: flex;
}

.doc-title-div {
  display: flex;
  align-items: center;
}

.content-editor {
  border: none;
  width: 100%;
}
