@if (folder$ | async; as folder) {
  @if (folder.chatEnabled) {
    <button
      mat-icon-button
      type="button"
      (click)="openChat(folder)"
      [matTooltip]="'show_folder_chat' | translate"
      [caNotificationMark]="folderId$"
      caNotificationObjectType="MESSAGE"
      [caNotificationAssociatedObjectIds]="1">
      <mat-icon>comment</mat-icon>
    </button>
  }

  <button
    mat-icon-button
    type="button"
    (click)="openDescription(folder)"
    [matTooltip]="'show_folder_description' | translate">
    <mat-icon>article</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'folder_add_object' | translate">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <!--   hidden button upload files     -->
    <input
      flInputFile
      [multiple]="true"
      type="file"
      (fileChange)="uploadFile($event)"
      #fileInput
      [autoClearHtmlInput]="true"
      class="file-input" />

    <button mat-menu-item (click)="fileInput.click()" type="button">
      <mat-icon>cloud_upload</mat-icon>
      {{ 'upload_document' | translate }}
    </button>

    <button mat-menu-item type="button" (click)="createConstellabDocument(folder)">
      <mat-icon flIcon="constellab_document"></mat-icon>
      {{ 'create_constellab_document' | translate }}
    </button>

    <button mat-menu-item type="button" (click)="openChildCreation(folder)">
      <mat-icon flIcon="folder"></mat-icon>
      {{ 'create_sub_folder' | translate }}
    </button>
  </mat-menu>

  <button mat-icon-button type="button" (click)="openFolderActionMenu(folder, $event)">
    <mat-icon>more_vert</mat-icon>
  </button>
}
