<fl-dialog-header>
  {{ 'add_version' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <div class="high-part" *ngIf="!isLoadingImport">
    <p class="input-div" *ngIf="!inputFile">{{ 'import_new_version_text1' | translate }}</p>
    <fl-input-file-container
      color="primary"
      [placeholder]="'import_new_version_file' | translate"
      class="bt-input-div">
      <input flInputFile type="file" accept="application/json" (fileChange)="onFileSelected($any($event))" />
    </fl-input-file-container>
    <p class="input-error-text" *ngIf="errorFile">{{ errorFileText | translate }}</p>
  </div>
  <div class="import-loader" *ngIf="isLoadingImport">
    <fl-loader></fl-loader>
  </div>

  <mat-divider class="divider" *ngIf="inputFile"></mat-divider>

  <form
    (ngSubmit)="submit()"
    id="add-version-form"
    [formGroup]="formGp"
    class="g-layout-col"
    *ngIf="inputFile">
    <p *ngIf="isUpdate">{{ 'replace_version_text' | translate }}</p>
    <p>{{ 'import_new_version_text2' | translate }}</p>
    <fl-key-value class="kv">
      <fl-key>{{ 'brick_name' | translate }}</fl-key>
      {{ inputFile.name }}
    </fl-key-value>
    <fl-key-value class="kv">
      <fl-key>{{ 'new_version' | translate }}</fl-key>
      {{ inputFile.version }}
    </fl-key-value>
    <div *ngIf="inputFile.brickVersionReferences && inputFile.brickVersionReferences.length > 0">
      <p class="kv">{{ 'references' | translate }}:</p>
      <div *ngFor="let p of inputFile.brickVersionReferences" class="ref-div">
        <fl-key-value>
          <fl-key>{{ p.name }}</fl-key>
          V.{{ p.version }}
        </fl-key-value>
      </div>
    </div>
    <div *ngIf="inputFile.technicalInfo | flIsNotEmpty">
      <p class="kv">{{ 'technical_information' | translate }} :</p>
      <div *ngFor="let tI of inputFile.technicalInfo | flObjectKeys">
        <fl-key-value class="info-value">
          <fl-key>{{ tI }}</fl-key
          >{{ inputFile.technicalInfo[tI] }}
        </fl-key-value>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions *ngIf="inputFile">
  <button mat-raised-button color="primary" type="submit" form="add-version-form" class="g-centered-forced">
    {{ 'save' | translate }}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
