.input-div {
  width: 100%;
  text-align: center;
}

.bt-input-div {
  min-width: 40%;
  max-width: 60%;
  margin: 1em auto;
  font-size: 0.8em;
}

#add-version-form {
  width: 80%;
  margin-left: 10%;
  margin-top: 1em;
}

.import-loader {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.info-value {
  width: 100%;
  overflow: revert;
  word-wrap: break-word;
}

.high-part {
  width: 100%;
  text-align: center;
}

.kv {
  margin-top: 0.5em;
}

.ref-div {
  margin-left: 1em;
}

.divider,
.input,
.bt-input-div {
  margin-top: 1em;
}

.input-error-text {
  width: 100%;
  text-align: center;
  color: var(--warn-color);
}
