<fl-dialog-header>
  {{ 'add_version' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  @if (!isLoadingImport) {
    <div class="high-part">
      @if (!inputFile) {
        <p class="input-div">{{ 'import_new_version_text1' | translate }}</p>
      }
      <fl-input-file-container
        [placeholder]="'import_new_version_file' | translate"
        class="bt-input-div primary">
        <input flInputFile type="file" accept="application/json" (fileChange)="onFileSelected($any($event))" />
      </fl-input-file-container>
      @if (errorFile) {
        <p class="input-error-text">{{ errorFileText | translate }}</p>
      }
    </div>
  }
  @if (isLoadingImport) {
    <div class="import-loader">
      <fl-loader></fl-loader>
    </div>
  }

  @if (inputFile) {
    <mat-divider class="divider"></mat-divider>
  }

  @if (inputFile) {
    <form
      (ngSubmit)="submit()"
      id="add-version-form"
      [formGroup]="formGp"
      class="g-layout-col"
      >
      @if (isUpdate) {
        <p>{{ 'replace_version_text' | translate }}</p>
      }
      <p>{{ 'import_new_version_text2' | translate }}</p>
      <fl-key-value class="kv">
        <fl-key>{{ 'brick_name' | translate }}</fl-key>
        {{ inputFile.name }}
      </fl-key-value>
      <fl-key-value class="kv">
        <fl-key>{{ 'new_version' | translate }}</fl-key>
        {{ inputFile.version }}
      </fl-key-value>
      @if (inputFile.brickVersionReferences && inputFile.brickVersionReferences.length > 0) {
        <div>
          <p class="kv">{{ 'references' | translate }}:</p>
          @for (p of inputFile.brickVersionReferences; track p) {
            <div class="ref-div">
              <fl-key-value>
                <fl-key>{{ p.name }}</fl-key>
                V.{{ p.version }}
              </fl-key-value>
            </div>
          }
        </div>
      }
      @if (inputFile.technicalInfo | flIsNotEmpty) {
        <div>
          <p class="kv">{{ 'technical_information' | translate }} :</p>
          @for (tI of inputFile.technicalInfo | flObjectKeys; track tI) {
            <div>
              <fl-key-value class="info-value">
                <fl-key>{{ tI }}</fl-key
                  >{{ inputFile.technicalInfo[tI] }}
                </fl-key-value>
              </div>
            }
          </div>
        }
      </form>
    }
  </mat-dialog-content>

  @if (inputFile) {
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" form="add-version-form" class="g-centered-forced primary">
        {{ 'save' | translate }}
        @if (isLoading) {
          <fl-button-loader></fl-button-loader>
        }
      </button>
    </div>
  }
