<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-type-search-form [config]="config"></lab-type-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header></fl-search-header>


  <fl-search-result>
    <lab-process-type-table [datasource]="datasource" [columns]="columns"
                            [rowSelectable]="true"
                            (typeSelected)="selectType($event)"></lab-process-type-table>
  </fl-search-result>


</fl-search>
