<div class="container">
  <div
    class="scrollable-container g-layout-row g-layout-start-center g-layout-gap-05em g-styled-scrollbar"
    #scrollableElement
    (scroll)="updateShowScrollButtons()">
    <div
      class="card g-text-small"
      matRipple
      (click)="selectResource(resource())"
      [ngClass]="{ 'selected-card': resource()?.id === selectedResource()?.id }"
      [matTooltip]="resource().name"
      [matTooltipShowDelay]="500">
      {{ resource().name }}
    </div>

    @for (child of children(); track child) {
      <div
        class="card g-text-small"
        matRipple
        (click)="selectResource(child)"
        [matTooltip]="child.name"
        [matTooltipShowDelay]="500"
        [ngClass]="{ 'selected-card': child.id === selectedResource()?.id }">
        {{ child.name }}
      </div>
    }
  </div>

  @if (showLeftScrollButton()) {
    <button
      mat-icon-button
      class="scroll-button scroll-button-left primary"
      (click)="scrollToLeft()"
      type="button"
      >
      <mat-icon>chevron_left</mat-icon>
    </button>
  }
  @if (showRightScrollButton()) {
    <button
      mat-icon-button
      class="scroll-button scroll-button-right primary"
      (click)="scrollToRight()"
      type="button"
      >
      <mat-icon>chevron_right</mat-icon>
    </button>
  }
</div>
