.container {
  padding: 0.5em;
}


.card {
  background-color: var(--card-background);
  border-radius: var(--card-radius);
  padding: 0.5em 1em;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.selected-card{
  background-color: var(--primary-color);
  color: var(--primary-color-contrast)
}

