<div class="g-layout-row profile">
  <fl-user-profile-picture [user]="user" size="6">
  </fl-user-profile-picture>
  <div class="user-info">
    <fl-key-value>
      <fl-key>{{'name' | translate}}</fl-key>
      {{user.fullname}}
    </fl-key-value>
    <fl-key-value>
      <fl-key>{{'email' | translate}}</fl-key>
      {{user.email}}
    </fl-key-value>
    <fl-key-value *ngIf="user.phone">
      <fl-key>{{'phone_number' | translate}}</fl-key>
      {{user.phone}}
    </fl-key-value>
    <fl-key-value *ngIf="user.company">
      <fl-key>{{'company' | translate}}</fl-key>
      {{user.company}}
    </fl-key-value>
    <fl-key-value *ngIf="user.activity">
      <fl-key>{{'activity' | translate}}</fl-key>
      {{user.activity}}
    </fl-key-value>
    <fl-key-value *ngIf="user.biography">
      <fl-key>{{'biography' | translate}}</fl-key>
      {{user.biography}}
    </fl-key-value>
  </div>
  <div class="edit-profile">
    <button mat-stroked-button type="button" (click)="openEditProfileDialog()">{{'edit' | translate}}</button>
  </div>
</div>


