mat-table {
  cursor: pointer;
}

.table {
  margin-bottom: 1em;
}

.title {
  word-break: break-word;
}

.project {
  margin-top: 2px;
}

.status-icon {
  margin-left: 0.5em;
}

.tags {
  padding-top: 2px;
  padding-bottom: 2px;
}

.mat-row {
  position: relative;
}

// make the element over the a absolute element
.over-link {
  z-index: 10;
}
