.text {
  word-break: break-word;
}

.project {
  margin-top: 2px;
}

.status-icon {
  margin-left: 0.5em;
}

.mat-row {
  position: relative;
}

// make the element over the a absolute element
.over-link {
  z-index: 10;
}
