<fl-dialog-header>
  {{ 'biox.import_scenario_from_lab' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="upload-scenario-from-link" [formGroup]="formGp">
    <p class="help-text">{{ 'biox.import_scenario_from_lab_help' | translate }}</p>

    <!--    Url      -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'biox.scenario_share_link' | translate }}</mat-label>
      <input matInput formControlName="url" [placeholder]="'biox.scenario_share_link' | translate" />
      <mat-error *ngIf="formGp.get('url').hasError('required')">
        {{ 'biox.scenario_share_link' | flErrorRequired }}
      </mat-error>
    </mat-form-field>

    <!--    Resource mode      -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'biox.scenario_import_resource_mode' | translate }}</mat-label>
      <mat-select [placeholder]="'biox.scenario_import_resource_mode' | translate" formControlName="mode">
        <mat-option value="Outputs only">{{
          'biox.scenario_import_resource_mode_output_only' | translate
        }}</mat-option>
        <mat-option value="Inputs only">{{
          'biox.scenario_import_resource_mode_input_only' | translate
        }}</mat-option>
        <mat-option value="Inputs and outputs">{{
          'biox.scenario_import_resource_mode_input_output' | translate
        }}</mat-option>
        <mat-option value="All">{{ 'biox.scenario_import_resource_mode_all' | translate }}</mat-option>
        <mat-option value="None">{{ 'biox.scenario_import_resource_mode_none' | translate }}</mat-option>
      </mat-select>
      <mat-error *ngIf="formGp.get('mode').hasError('required')">
        {{ 'biox.scenario_import_resource_mode' | flErrorRequired }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    form="upload-scenario-from-link"
    class="g-centered-forced">
    {{ 'save' | translate }}
  </button>
</div>
