<fl-card class="container g-layout-col">

  <fl-card-header>
    <h1>{{ note.title }}</h1>

    <fl-card-actions class="g-print-hide">
      <button mat-stroked-button type="button" (click)="openScenariosListDialog()"
              class="g-button-small button">
        {{ 'scenarios' | translate }}
        <mat-icon flIcon="scenario"></mat-icon>
      </button>

      <button mat-stroked-button type="button" (click)="printNote()"
              class="g-button-small button">
        {{ 'print_note' | translate }}
        <mat-icon>print</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="deleteNote()"
              class="g-button-small button" color="warn" *caIsAdmin
              [matTooltip]="'delete_note' | translate">
        <mat-icon>delete</mat-icon>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>
    <!--  Validated info  -->
    <ca-validated-object-info class="separator" [object]="note"
                              *ngIf="note.isValidated"></ca-validated-object-info>

    <div class="g-print-hide">
      <!-- Sync info -->
      <ca-sync-object-info class="separator" [object]="note"></ca-sync-object-info>

      <!--  Created by & Last modified bt  -->
      <fl-creation-info class="g-text-small g-text-light" [user]="note.createdBy"
                        [date]="note.createdAt"></fl-creation-info>
      <fl-last-modification-info class="g-text-small g-text-light" [user]="note.lastModifiedBy"
                                 [date]="note.lastModifiedAt"></fl-last-modification-info>
    </div>


    <ca-note-content [noteId]="note.id" class="note-content"></ca-note-content>
  </fl-card-body>


  <!--  <fl-article-container class="g-flex-auto">-->

  <!--    <fl-article-left-side>-->

  <!--      &lt;!&ndash;  Validated info  &ndash;&gt;-->
  <!--      <ca-validated-object-info class="separator" [object]="note"-->
  <!--                                *ngIf="note.isValidated"></ca-validated-object-info>-->

  <!--      &lt;!&ndash; Sync info &ndash;&gt;-->
  <!--      <ca-sync-object-info class="separator" [object]="note"></ca-sync-object-info>-->


  <!--      &lt;!&ndash;  Created by & Last modified bt  &ndash;&gt;-->
  <!--      <p class="g-text-small g-text-light">-->
  <!--        <fl-creation-info [user]="note.createdBy"-->
  <!--                          [date]="note.createdAt"></fl-creation-info>-->
  <!--      </p>-->
  <!--      <p class="g-text-small g-text-light">-->
  <!--        <fl-last-modification-info [user]="note.lastModifiedBy"-->
  <!--                                   [date]="note.lastModifiedAt"></fl-last-modification-info>-->
  <!--      </p>-->
  <!--    </fl-article-left-side>-->

  <!--    <fl-article>-->
  <!--      <ca-note-content [noteId]="note.id"></ca-note-content>-->
  <!--    </fl-article>-->

  <!--    <fl-article-right-side>-->
  <!--      <button mat-stroked-button type="button" (click)="printNote()"-->
  <!--              class="g-button-small print-button">-->
  <!--        {{ 'print_note' | translate }}-->
  <!--        <mat-icon>print</mat-icon>-->
  <!--      </button>-->
  <!--      <ca-scenarios-list [scenarios]="scenarios" mode="small"></ca-scenarios-list>-->
  <!--    </fl-article-right-side>-->
  <!--  </fl-article-container>-->
</fl-card>
