<div class="g-page">
  <ng-container *ngIf="database">
    <fl-async-section [arrayObs]="datasource" emptyText="biota.no_entry">
      <fl-section-header class="g-page-title">
        <fl-text-icon>
          <h2>{{ database.name | translate }}</h2>
        </fl-text-icon>
      </fl-section-header>

      <ng-container *flSectionBody>
        <fl-card>
          <fl-card-body>
            <lab-biota-database-table
              [datasource]="datasource"
              [columns]="columns"></lab-biota-database-table>
          </fl-card-body>
        </fl-card>
      </ng-container>
    </fl-async-section>
  </ng-container>
</div>
