#config-form {
  margin-top: 1em;
}

.portal {
  width: 50vw;
  max-height: 95vh;
  max-width: 95vw;
  min-width: 300px;
}

.header {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  padding-bottom: 1em;
}

.submit-button {
  margin-top: 1em;
}
