<fl-portal class="portal" flResize="both">

  <fl-portal-header class="header" [enableDrag]="true">
    <h2>{{title}}</h2>
  </fl-portal-header>


  <fl-portal-content>
    <fl-section [object]="configs" [isLoading]="isLoading">
      <ng-container *flSectionBody>
        <form (ngSubmit)="submit()" id="config-form" [formGroup]="formGp">

          <!--  View configuration   -->
          <lab-configure-specs-form [configData]="configs" formGroupName="viewConfig"></lab-configure-specs-form>
        </form>

        <button mat-flat-button color="primary" type="submit" form="config-form"
                class="g-centered-forced submit-button">
          {{'ok' | translate}}
        </button>
      </ng-container>
    </fl-section>
  </fl-portal-content>
</fl-portal>

