<fl-portal class="portal" flResize="both">
  <fl-portal-header class="header" [enableDrag]="true">
    <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
      <td-type-icon-badge [style]="input.viewStyle" [iconSize]="30"></td-type-icon-badge>
      <h2>{{ input.title }}</h2>
    </div>
  </fl-portal-header>

  <fl-portal-content>
    <fl-section [object]="configs" [isLoading]="isLoading">
      <ng-container *flSectionBody>
        <form (ngSubmit)="submit()" id="config-form" [formGroup]="formGp">
          <!--  View configuration   -->
          <td-configure-specs-form [formGp]="formGp" [configData]="configs"></td-configure-specs-form>
        </form>

        <button
          mat-flat-button
          type="submit"
          form="config-form"
          class="g-centered-forced submit-button primary">
          {{ 'ok' | translate }}
        </button>
      </ng-container>
    </fl-section>
  </fl-portal-content>
</fl-portal>
