#config-form{
  margin-top: 1em;
}

.portal {
  padding-left: 0;
  padding-right: 0;
  width: 50vw;
  max-height: 95vh;
  min-height: 300px;
  max-width: 95vw;
  min-width: 300px;
}

.header {
  padding-left: 1em;
  padding-right: 1em;
}


.container {
  padding-bottom: 1em;
}

.display-mode {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.display-mode-label {
  margin-left: 1em;
}

.divider{
  margin: 1em auto;
  width: 80%;
}
