<fl-card class="card">
  <fl-card-header>
    <!--  Center header  -->
    <fl-search-header>
      <fl-text-icon>
        <mat-icon>people</mat-icon>
        <h2>{{ 'space_users' | translate }}</h2>
      </fl-text-icon>

      <fl-search-header-actions class="g-layout-row g-layout-start-center">
        <button
          mat-stroked-button
          type="button"
          *caIsSpaceAdmin
          class="g-button-small"
          (click)="openInvitationDialog()">
          <mat-icon>email</mat-icon>
          {{ 'space_invitation_list' | translate }}
        </button>

        <button
          mat-icon-button
          type="button"
          *caIsAdmin
          [matTooltip]="'space_add_user' | translate"
          (click)="openAddUserDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </fl-search-header-actions>
    </fl-search-header>
  </fl-card-header>

  <fl-card-body class="g-full-height">
    <fl-search>
      <!-- Advanced section in the right in a drawer -->
      <fl-search-advanced-form>
        <ca-space-user-search-form></ca-space-user-search-form>
      </fl-search-advanced-form>

      <fl-search-result>
        <ca-space-user-table
          [datasource]="datasource"
          [columns]="columns"
          (removeUser)="openRemoveUserDialog($event)"
          (deactivateUser)="openDeactivateUserDialog($event)"
          (activateUser)="openActivateUser($event)"
          (updateRole)="openUpdateRoleDialog($event)"></ca-space-user-table>
      </fl-search-result>
    </fl-search>
  </fl-card-body>
</fl-card>
