<fl-async-section [arrayObs]="datasource" [nullOrEmptyIsValid]="true">
  <fl-section-header class="g-headline">
    <a [routerLink]="completeListRoute" class="title-link">
      <fl-text-icon iconPosition="start">
        <mat-icon [flIcon]="titleIcon"></mat-icon>
        <h2>{{ sectionTitle | translate }}</h2>
      </fl-text-icon>
    </a>
    <fl-section-actions>
      @if (datasource.page?.totalElements >= maxItems) {
        <fl-text-icon iconPosition="end" gap="0">
          <a class="g-text-link" [routerLink]="completeListRoute">
            {{ completeListText | translate }}
          </a>
          <mat-icon>chevron_right</mat-icon>
        </fl-text-icon>
      } @else if (showAddButton && datasource.page?.totalElements > 0) {
        <button mat-stroked-button type="button" (click)="addClicked($event)" [ngClass]="addButtonColor">
          <mat-icon>add</mat-icon>
          {{ addText | translate }}
        </button>
      }
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBodyDatasource="datasource as items">
    @if (items.length > 0) {
      <div class="grid-4-cols">
        @for (item of items; track item) {
          @if (itemHref) {
            <a [href]="itemHref(item)" target="_blank" rel="noopener noreferrer">
              <ng-template
                [ngTemplateOutlet]="templateRef"
                [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
            </a>
          } @else {
            <a [routerLink]="item | caDetailRoute">
              <ng-template
                [ngTemplateOutlet]="templateRef"
                [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
            </a>
          }
        }
      </div>
    } @else {
      <ng-content select="ca-dashboard-empty-list"></ng-content>
    }
  </ng-container>
</fl-async-section>
