.right-div {
  position: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 8px;
  max-height: 85vh;
  overflow-y: auto;
}

.divider {
  margin-top: 0.5em;
}

@media (max-width: 1450px) {
  .right-div {
    display: none;
  }
}
