.theme-selection {
  margin-left: 2em;
}

.round {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid grey;
  margin-right: 1em;
}

.round-light {
  background-color: white;
}

.round-dark {
  background-color: #424242;
}

.second-button {
  margin-left: 2em;
}
