<!--  Settings button    -->
<button mat-button type="button" [matMenuTriggerFor]="menu" flExpansionMenuButton>
  <mat-icon>settings</mat-icon>
  <span>{{ 'settings' | translate }}</span>
</button>

<!--   Menu for settings   -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <a mat-menu-item [href]="codeServerUrl" target="_blank">
      <mat-icon flIcon="code"></mat-icon>
      <span>{{ 'codelab_link' | translate }}</span>
    </a>

    <lab-environment-toggle class="env-toggle"></lab-environment-toggle>

    <ng-container *labEnvDev>
      <button mat-menu-item (click)="resetDevEnvironment()">
        <mat-icon>delete_forever</mat-icon>
        <span>{{ 'reset_dev_env' | translate }}</span>
      </button>

      <button mat-menu-item (click)="stopDevServer()">
        <mat-icon>stop</mat-icon>
        <span>{{ 'stop_dev_api' | translate }}</span>
      </button>
    </ng-container>

    <mat-divider></mat-divider>

    <a mat-menu-item [routerLink]="monitoringRoute">
      <mat-icon>troubleshoot</mat-icon>
      <span>{{ 'monitoring.monitoring' | translate }}</span>
    </a>

    <button mat-menu-item type="button" (click)="openQueueJobsDialog()">
      <mat-icon>format_list_numbered</mat-icon>
      <span>{{ 'queue_jobs' | translate }}</span>
    </button>

    <a *ngIf="labConfigRoute" mat-menu-item [href]="labConfigRoute">
      <mat-icon>settings</mat-icon>
      <span>{{ 'lab_config' | translate }}</span>
    </a>

    <button mat-menu-item type="button" (click)="logout()">
      <mat-icon color="warn">logout</mat-icon>
      <span class="g-warn-text">{{ 'flAuth.logout' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
