:host{
  display: block;
}

.env-toggle {
  // padding to match the menu button
  padding: 16px;
  display: block;
}

.documentation {
  padding-left: 16px;
  padding-right: 16px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
