<!--  Settings button    -->
<button mat-button type="button" [matMenuTriggerFor]="menu" flExpansionMenuButton>
  <mat-icon>settings</mat-icon>
  <span>{{ 'g.settings' | translate }}</span>
</button>

<!--   Menu for settings   -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <lab-environment-toggle class="env-toggle"></lab-environment-toggle>
    <a mat-menu-item [href]="codeServerUrl" target="_blank" rel="noopener noreferrer">
      <mat-icon flIcon="code"></mat-icon>
      <span>{{ 'g.codelab_link' | translate }}</span>
    </a>

    <ng-container *labEnvDev>
      <button mat-menu-item (click)="resetDevEnvironment()">
        <mat-icon>delete_forever</mat-icon>
        <span>{{ 'g.reset_dev_env' | translate }}</span>
      </button>

      <button mat-menu-item (click)="stopDevServer()">
        <mat-icon>stop</mat-icon>
        <span>{{ 'g.stop_dev_api' | translate }}</span>
      </button>
    </ng-container>

    <mat-divider></mat-divider>

    <a mat-menu-item [routerLink]="monitoringRoute">
      <mat-icon>troubleshoot</mat-icon>
      <span>{{ 'monitoring.monitoring' | translate }}</span>
    </a>

    <button mat-menu-item type="button" (click)="openQueueJobsDialog()">
      <mat-icon>format_list_numbered</mat-icon>
      <span>{{ 'g.queue_jobs' | translate }}</span>
    </button>

    @if (labConfigRoute) {
      <a mat-menu-item [href]="labConfigRoute">
        <mat-icon>settings</mat-icon>
        <span>{{ 'g.lab_config' | translate }}</span>
      </a>
    }

    <button mat-menu-item type="button" (click)="logout()" class="warn">
      <mat-icon>logout</mat-icon>
      <span>{{ 'flAuth.logout' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
