<fl-dialog-header>
  <td-type-inline [style]="resource.style" [text]="resource.name"></td-type-inline>
</fl-dialog-header>

<mat-dialog-content>
  <div class="content-grid">
    <lab-resource-info [resource]="resource"></lab-resource-info>

    <lab-resource-view-historic [resourceId]="resource.id"></lab-resource-view-historic>


    <lab-experiments-using-resource [resourceId]="resource.id"></lab-experiments-using-resource>


    <lab-notes-using-resource [resourceId]="resource.id"></lab-notes-using-resource>
  </div>
</mat-dialog-content>
