.content-grid {
  display: grid;
  gap: 1%;
  grid-template-columns: 49.5% 49.5%;
  // set the height of the rows
  grid-auto-rows: 49.5% 49.5%;
  height: 100%;
}

@media (max-width: 959px) {
  .content-grid {
    grid-template-columns: 100%;
  }
}
