<!--   Mat menu containing action buttons   -->
<button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopEvent($event)">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item type="button" (click)="openUpdateDialog()" [matTooltip]="'update_team' | translate">
    <mat-icon>edit</mat-icon>
    <span>{{ 'update_team' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openDeleteDialog()" class="warn">
    <mat-icon>delete</mat-icon>
    <span>{{ 'delete_team' | translate }}</span>
  </button>
</mat-menu>
