.app-description-div {
  margin-top: 2rem;
}

.main-detail-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

.app-picture {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.main-detail-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.app-description-div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.run-app-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.stats-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  align-items: start;
}

.execution-count {
  margin-top: 0.35em;
  font-size: 13px;
}

@media (max-width: 896px) {
  .main-detail-div {
    flex-direction: column;
    align-items: start;
  }
}
