@if (communityApp()) {
  <div class="main-panel">
    <div class="main-detail-div">
      @if (canEdit()) {
        <button mat-stroked-button (click)="openEditAppDialog()" class="edit-button primary">
          <mat-icon class="g-icon-small">edit</mat-icon>
          {{ 'edit' | translate }}
        </button>
      }
      <div class="app-picture">
        <img
          [ngSrc]="communityApp().picture | haAppPicture"
          [alt]="communityApp().title + 'logo'"
          fill
          priority />
      </div>
      <div>
        <div class="g-layout-row g-layout-start-center g-gap-05em">
          <h2>{{ communityApp().title }}</h2>
          <co-visibility-badge [space]="communityApp().space"></co-visibility-badge>
        </div>
        <div class="app-user-div">
          <div class="app-user-title">
            <span>{{ 'created_by' | translate }} :</span>
            @if (isAuthor()) {
              <button
                mat-icon-button
                (click)="openCoAuthorsDialog()"
                [matTooltip]="'open_coauthor_panel' | translate">
                <mat-icon>group_add</mat-icon>
              </button>
            }
          </div>
          @if (communityApp() && communityApp().createdBy) {
            <div class="app-user-line">
              <a [routerLink]="profileRoute + communityApp().createdBy.id">
                <fl-user-inline [user]="communityApp().createdBy" [portalOnHover]="false"></fl-user-inline>
              </a>
              <mat-icon>workspace_premium</mat-icon>
            </div>
          }
          @for (coAuthor of coAuthors(); track coAuthor.id) {
            <div class="app-user-line">
              <a [routerLink]="profileRoute + coAuthor.id">
                <fl-user-inline [user]="coAuthor" [portalOnHover]="false"></fl-user-inline>
              </a>
            </div>
          }
        </div>
        <co-visibility-badge [space]="communityApp().space"></co-visibility-badge>
        <div class="stats-div">
          <fl-text-icon
            iconPosition="start"
            [gap]="'8px'"
            [matTooltip]="'app_execution_count' | translate"
            class="execution-count hide-small-screen">
            <mat-icon>play_circle</mat-icon>
            <span>{{ communityApp().executions }}</span>
          </fl-text-icon>
          <ha-like-button [entityId]="communityApp().id" [entityType]="entityType"></ha-like-button>

          <a [routerLink]="'.'" [fragment]="'comments'" class="hide-small-screen">
            <ha-comment-button [commentsCount]="communityApp().comments"></ha-comment-button>
          </a>
        </div>
      </div>
    </div>
    <div class="run-app-div">
      <h4>{{ 'the_app' | translate }}</h4>
      <a mat-stroked-button [href]="communityApp().appUrl" target="_blank">{{ 'open_app' | translate }}</a>
    </div>
    <div class="app-description-div">
      <div class="app-description-div-header">
        <h4>{{ 'description' | translate }}</h4>
        @if (canEdit()) {
          @if (appDescriptionFormControl.disabled) {
            <button mat-stroked-button class="g-button-small" (click)="editDescription()">
              <mat-icon>edit</mat-icon>
              <span>{{ 'edit_description' | translate }}</span>
            </button>
          } @else {
            <button mat-stroked-button class="g-button-small" (click)="saveDescription()">
              <mat-icon>save</mat-icon>
              <span>{{ 'save_description' | translate }}</span>
            </button>
          }
        }
      </div>
      <article>
        <te-text-editor
          [config]="textEditorConfig"
          [formControl]="appDescriptionFormControl"></te-text-editor>
      </article>
    </div>
    <div #comments id="comments">
      <ha-comments-section
        [commentType]="commentType"
        [entity]="communityApp()"
        [user]="currentUser$ | async"></ha-comments-section>
    </div>
  </div>
}
