<fl-dialog-header>
  {{'documentation_files' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <div class="dialog-content">
    <fl-input-file-container color="primary" placeholder="Select files" [autoClear]="true" class="select-file-button">
      <input flInputFile [multiple]="true" type="file" (fileChange)="uploadDocument($event)"
             [autoClearHtmlInput]="true">
    </fl-input-file-container>
    <table>
      <tr *ngFor="let file of doc.docFiles">
        <td class="left-cell" flElementEditable (flElementValueChange)="renameFile($event, file)">
          <fl-text-icon [iconPosition]="'start'"><mat-icon [svgIcon]="getFileIcon(file.humanName)"></mat-icon>{{file.humanName}}</fl-text-icon>
        </td>
        <td class="right-cell">
          <button mat-icon-button class="button" (click)="deleteFile(file)" [matTooltip]="'delete_documentation_file' | translate">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <p *ngIf="doc?.docFiles == null || doc?.docFiles.length == 0" class="no-file-attached-text">
      {{'no_files_attached' | translate}}
    </p>
  </div>
</mat-dialog-content>
