<mat-table mat-table [dataSource]="datasource">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      {{'name' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.name}}
    </mat-cell>
  </ng-container>

  <!-- Content type -->
  <ng-container matColumnDef="contentType">
    <mat-header-cell *matHeaderCellDef>
      {{'bucket_content_type' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.contentType}}
    </mat-cell>
  </ng-container>

  <!-- Region -->
  <ng-container matColumnDef="region">
    <mat-header-cell *matHeaderCellDef>
      {{'cloud_provider_region' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ca-bucket-region-inline [region]="row.region"></ca-bucket-region-inline>
    </mat-cell>
  </ng-container>

  <!-- Credentials -->
  <ng-container matColumnDef="credentials">
    <mat-header-cell *matHeaderCellDef>
      {{'bucket_credentials' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.credentials.name}}
    </mat-cell>
  </ng-container>

  <!-- Created -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>
      {{'creation_info' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.createdBy" [date]="row.createdAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      {{'last_modification_info' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.lastModifiedBy" [date]="row.lastModifiedAt"></fl-user-with-date>

    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">

        <button mat-menu-item type="button"
                (click)="updateBucket(row)">
          <mat-icon>edit</mat-icon>
          <span>{{'update_bucket' | translate}}</span>
        </button>

        <button mat-menu-item type="button"
                (click)="deleteBucket(row)">
          <mat-icon color="warn">clear</mat-icon>
          <span class="g-warn-text">{{'delete_bucket' | translate}}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

