<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-activity-search-form></lab-activity-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header>

    <fl-text-icon>
      <mat-icon flIcon="task"></mat-icon>
      <h2>{{'monitoring.activities' | translate}}</h2>
    </fl-text-icon>
  </fl-search-header>


  <fl-search-result>
    <lab-activity-table [datasource]="datasource"></lab-activity-table>
  </fl-search-result>


</fl-search>
