<div>
  <ca-hierarchy-object-breadcrumb></ca-hierarchy-object-breadcrumb>
</div>

<div class="drop-zone" flDragHover="drag-file-hover" (flDrop)="onFileDrop($event)">
  <fl-card class="g-full-height card-table">
    <fl-card-header>
      <ca-folder-detail></ca-folder-detail>

      <fl-card-actions>
        <ca-folder-detail-actions class="actions"></ca-folder-detail-actions>
      </fl-card-actions>
    </fl-card-header>

    <fl-card-body class="card-body">
      <ca-hierarchy-object-search-form
        [context]="hierarchyObjectContext$ | async"
        [users$]="users$"></ca-hierarchy-object-search-form>

      <fl-infinite-table-container
        [datasource]="children"
        (contextmenu)="cardRightClick($event)"
        textNoResult="folder_empty"
        textNoMoreResult=""
        class="table-container">
        <ca-hierarchy-object-table
          [datasource]="children"
          [columns]="columns"
          [rowSelectable]="true"
          (rowEvent)="onHierarchyObjectRowEvent($event)">
          <ng-template let-object>
            <ca-hierarchy-object-actions-menu [hierarchyObject]="object"></ca-hierarchy-object-actions-menu>
          </ng-template>
        </ca-hierarchy-object-table>
      </fl-infinite-table-container>
    </fl-card-body>
  </fl-card>

  @if (folder$ | async; as folder) {
    <div class="drop-info g-layout-col g-layout-center-center g-text-centered">
      <mat-icon>folder</mat-icon>
      <div class="g-text-big">{{ 'drop_file_in_folder' | translate: { name: folder.name } }}</div>
    </div>
  }
</div>
