<fl-dialog-header>
  {{ 'restore_backup_to_lab' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="restore-backup-form" [formGroup]="formGp">


    <!--  Lab  -->
    <fl-form-field class="g-form-input">
      <ca-select-lab formControlName="destinationLab" mode="all-cloud" [required]="true"
                     [placeholder]="'destination_lab' | translate"></ca-select-lab>
      <mat-error *ngIf="formGp.get('destinationLab').hasError('required')">
        {{ 'destination_lab' | flErrorRequired }}
      </mat-error>
    </fl-form-field>

    <div>
      <mat-checkbox formControlName="restoreDb">{{ 'restore_db' | translate }}</mat-checkbox>
    </div>

    <div>
      <mat-checkbox formControlName="restoreData">{{ 'restore_data' | translate }}</mat-checkbox>
    </div>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="restore-backup-form"
          class="g-centered-forced">
    {{ 'save' | translate }}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
