<div class="brick-user-div">
  <h5 class="brick-user-title">
    <span>{{'authors' | translate}}</span>
    @if (isCreator$ | async){
      <button mat-icon-button (click)="openAddUserToBrickDialog()">
        <mat-icon>group_add</mat-icon>
      </button>
    }
  </h5>
  <div class="brick-user-line">
    <fl-user-inline [portalOnHover]="false" [user]="brick.createdBy"></fl-user-inline>
    <mat-icon>workspace_premium</mat-icon>
  </div>
  @for(brickUser of brickUsers; track brickUser.id){
    <div class="brick-user-line">
      <fl-user-inline [portalOnHover]="false" [user]="brickUser"></fl-user-inline>
    </div>
  }
</div>
