<div class="brick-user-div">
  <h5 class="brick-user-title">
    <span>Users</span>
    <button mat-icon-button (click)="openAddUserToBrickDialog()">
      <mat-icon>group_add</mat-icon>
    </button>
  </h5>
  <ng-container *ngFor="let brickUser of brickUsers">
    <div class="brick-user-line">
      <fl-user-inline [portalOnHover]="false" [user]="brickUser.user"></fl-user-inline>
      <button mat-icon-button>
        <mat-icon>do_not_disturb_on</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
