.brick-user-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.brick-user-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.25em;
}
