<fl-dialog-header>
  {{ 'create_lab_free' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="lab-free-admin-form" [formGroup]="formGp">
    <!--  User  -->
    <fl-form-field>
      <fl-select-user
        formControlName="user"
        [placeholder]="'user' | translate"
        [required]="true"></fl-select-user>
      @if (formGp.get('user')?.hasError('required')) {
        <mat-error>{{ 'user' | flErrorRequired }}</mat-error>
      }
    </fl-form-field>

    <!--  Space  -->
    <fl-form-field>
      <ca-select-space
        formControlName="space"
        [placeholder]="'space' | translate"
        [required]="true"></ca-select-space>
      @if (formGp.get('space')?.hasError('required')) {
        <mat-error>{{ 'space' | flErrorRequired }}</mat-error>
      }
    </fl-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="lab-free-admin-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
