<div class="form g-layout-col" [formGroup]="formGp">
  <div class="g-full g-form-field-compact g-layout-row-wrap g-layout-between-center">
    <!--  Name  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input matInput formControlName="name" [placeholder]="'name' | translate" autocomplete="off" />
    </mat-form-field>

    <!--  VirtualHost  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{ 'virtual_host' | translate }}</mat-label>
      <input
        matInput
        formControlName="virtualHost"
        [placeholder]="'virtual_host' | translate"
        autocomplete="off" />
      </mat-form-field>

      <!--  Space  -->
      @if (mode === 'all') {
        <fl-form-field class="g-search-field">
          <ca-select-space formControlName="space" [placeholder]="'space' | translate"></ca-select-space>
        </fl-form-field>
      }

      <!--  CurrentStatus  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'status' | translate }}</mat-label>
        <mat-select formControlName="currentStatus" [placeholder]="'status' | translate">
          @for (key of status | flObjectKeys; track key) {
            <mat-option [value]="status[key].value">
              {{ status[key].name | translate }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!--  City  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'region' | translate }}</mat-label>
        <mat-select formControlName="city">
          <ca-select-city-options></ca-select-city-options>
        </mat-select>
      </mat-form-field>

      <!--  Server info  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'server_cloud' | translate }}</mat-label>
        <mat-select [placeholder]="'server_cloud' | translate" formControlName="serverCloud">
          <ca-select-server-cloud-options></ca-select-server-cloud-options>
        </mat-select>
      </mat-form-field>

      <!--  Server standard  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'server_standard' | translate }}</mat-label>
        <mat-select formControlName="serverStandard">
          <ca-select-server-standard-options></ca-select-server-standard-options>
        </mat-select>
      </mat-form-field>

      <!--  Type  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'lab_type' | translate }}</mat-label>
        <mat-select [placeholder]="'lab_type' | translate" formControlName="type">
          <mat-option [value]="'CLOUD'">
            <mat-icon>cloud</mat-icon>
            {{ 'lab_type_CLOUD' | translate }}
          </mat-option>
          <mat-option [value]="'ON_PREMISE'">
            <mat-icon>dns</mat-icon>
            {{ 'lab_type_ON_PREMISE' | translate }}
          </mat-option>
          <mat-option [value]="'DESKTOP'">
            <mat-icon>computer</mat-icon>
            {{ 'lab_type_DESKTOP' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--  Cloud provider  -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'cloud_provider' | translate }}</mat-label>
        <mat-select formControlName="cloudProvider">
          <ca-select-cloud-provider-options></ca-select-cloud-provider-options>
        </mat-select>
      </mat-form-field>

      <!--  Cloud name -->
      <mat-form-field class="g-search-field">
        <mat-label>{{ 'lab_cloud_name' | translate }}</mat-label>
        <input
          matInput
          formControlName="cloudName"
          [placeholder]="'lab_cloud_name' | translate"
          autocomplete="off" />
        </mat-form-field>

        <!--Created by-->
        <fl-form-field class="g-search-field">
          <fl-select-user
            formControlName="createdBy"
            [mode]="selectUserMode"
          [placeholder]="'created_by' | translate"></fl-select-user>
        </fl-form-field>

        <!--  CurrentStatus  -->
        <mat-form-field class="g-search-field">
          <mat-label>{{ 'lab_server_task_status' | translate }}</mat-label>
          <mat-select formControlName="serverTaskStatus" [placeholder]="'lab_server_task_status' | translate">
            @for (key of serverTaskStatus | flObjectKeys; track key) {
              <mat-option [value]="serverTaskStatus[key].value">
                {{ serverTaskStatus[key].name | translate }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!--  Id -->
        <mat-form-field class="g-search-field">
          <mat-label>{{ 'id' | translate }}</mat-label>
          <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off" />
        </mat-form-field>

        <!--  Creation date  -->
        <div class="g-form-field-no-hint g-full">
          <p class="g-text-small">{{ 'creation_date' | translate }}</p>
          <fl-search-date-interval formGroupName="createdAt"> </fl-search-date-interval>
        </div>
      </div>
    </div>
