<div class="g-layout-row-wrap g-layout-start-center container">
  <!-- Button to toggle folder tree, hidden if the tree is empty  -->
  <button
    mat-icon-button
    type="button"
    (click)="toggleTree()"
    class="toggle-button"
    [matTooltip]="'toggle_folder_hierarchy' | translate">
    <mat-icon>menu_open</mat-icon>
  </button>

  @for (link of links$ | async; let first = $first; let last = $last; track link.id) {
    <a [routerLink]="link.url" class="crumb g-layout-row g-layout-start-center" [class.crumb-current]="last">
      @if (first) {
        <mat-icon class="crumb-icon g-icon-small">folder</mat-icon>
      }
      <span>{{ link.title }}</span>
    </a>

    @if (!last) {
      <mat-icon class="separator g-icon-small">chevron_right</mat-icon>
    }
  }
</div>
