<mat-table mat-table [dataSource]="datasource" multiTemplateDataRows>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="g-cell-header-with-left-border g-column-width-2">
      <span> {{'name' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-cell-with-left-border g-column-width-2 name-cell"
              [style.border-left-color]="resource.experiment?.id | flStringToRgb">

      <button *ngIf="resource.hasChildren; else leftPadding" mat-icon-button type="button"
              (click)="toggleResourceChildren(resource, $event)"
              [matTooltip]="'databox.resource_see_children' | translate"
              [matTooltipDisabled]="expandedResource === resource"
              class="expand-button g-button-icon-small" flHide.xs>
        <mat-icon>{{expandedResource === resource ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>

      <!--   If there is no button, use to set a left padding before the name    -->
      <ng-template #leftPadding>
        <div class="cell-left-padding"></div>
      </ng-template>

      <mat-icon *ngIf="resource.isArchived"
                [matTooltip]="'biox.resource_archived' | translate"
                class="archived-icon" flIcon="archive">
      </mat-icon>

      <mat-icon *ngIf="resource.typeStatus === 'UNAVAILABLE'" color="warn"
                class="type-unavailable" [matTooltip]="'biox.resource_type_unavailable_error' | translate"
                flHide.xs>
        error
      </mat-icon>
      <div class="name-container g-text-dense-height">
        <div [matTooltip]="resource.name"
             [matTooltipShowDelay]="1000" matTooltipPosition="after">
          {{resource.name}}
        </div>
        <fl-text-icon class="g-text-tiny g-text-light" *ngIf="resource.experiment"
                      gap="0" flHide.xs>
          <mat-icon flIcon="experiment" class="g-icon-tiny"></mat-icon>
          {{resource.experiment.title}}
        </fl-text-icon>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Created -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'creation_info' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <fl-user-with-date [user]="resource.createdBy" [date]="resource.createdAt"></fl-user-with-date>
      <!--      <fl-from-now [date]="resource.createdAt"></fl-from-now>-->
    </mat-cell>
  </ng-container>

  <!-- Type -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'resource_type' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <div>
        <div>{{resource.resourceTypeHumanName}}</div>
        <div *ngIf="resource.fsNode?.size != null" class="g-text-light g-text-tiny g-text-dense-height">
          {{resource.fsNode.size | flByteText}}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Tags -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>
      <span> {{'tags' | translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="tags">
      <lab-tag-list [tags]="resource | labGetEntityTags"
                   [tagSelectable]="tagSelectable" (tagSelected)="onTagSelected($event)"></lab-tag-list>
    </mat-cell>
  </ng-container>


  <!-- Flagged -->
  <ng-container matColumnDef="flagged">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-table-icon-button-cell">
      <lab-flag-button [entity]="resource"></lab-flag-button>
    </mat-cell>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-table-icon-button-cell">

      <lab-resource-actions-menu [resource]="resource" (update)="onUpdate($event)"
                                 (delete)="onDelete(resource)"
                                 (click)="stopEventPropagation($event)">
      </lab-resource-actions-menu>

    </mat-cell>
  </ng-container>

  <!-- View Resource -->
  <ng-container matColumnDef="viewResource">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" class="g-table-icon-button-cell">
      <button mat-icon-button (click)="openResourceDetail(resource, $event)"
              type="button" [matTooltip]="'biox.open_resource' | translate">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Open in new tab -->
  <ng-container matColumnDef="openInNewTab">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource">
      <a mat-stroked-button [routerLink]="resource | labDetailRoute"
         target="_blank" class="g-button-small" (click)="openInNewTab($event)">
        {{'biox.open_in_new_tab' | translate}}
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <!-- Used to show the chlidren resource in a nested table -->
  <ng-container matColumnDef="expandedDetail">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let resource" [attr.colspan]="columns.length"
              class="expanded-cell"
              [style.border-left-color]="resource.experiment?.id | flStringToRgb">
      <div class="expanded-cell-content" *ngIf="resource === expandedResource">

        <lab-resource-table
          [datasource]="expandedChildrenResources$" [selectableRow]="selectableRow"
          [tagSelectable]="tagSelectable"
          [columns]="subTableColumns" class="sub-table"
          (resourceSelected)="emitResourceSelected($event)"
          (tagSelected)="emitTagSelected($event)"></lab-resource-table>

        <div class="g-text-centered sub-loader-container">
          <fl-loader size="small" *ngIf="(expandedChildrenStatus$ | async)?.status === 'waiting'"></fl-loader>
        </div>

      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <!-- Mode selectable -->
  <ng-container *ngIf="selectableRow; else notSelectable">
    <mat-row *matRowDef="let row; columns: columns;" class="g-table-row-selectable"
             (click)="rowClicked(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandable-row"></mat-row>
  </ng-container>

  <!-- Mode link -->
  <ng-template #notSelectable>
    <mat-row *matRowDef="let row; columns: columns;" class="g-table-row-selectable"
             [routerLink]="row | labDetailRoute"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandable-row"></mat-row>
  </ng-template>

</mat-table>

