.section {
  flex: 1;
}

.card {
  width: 50em;
  margin: auto;
}

.logo {
  width: 10em;
}

.feat {
  font-size: 8em;
}

.help-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.invitation-text {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.join-button {
  margin-top: 1em;
  margin-inline: auto;
  display: block;
}
