@if (agentVersion()) {

  <div class="agent-page-title g-layout-row g-layout-between-center">
    <h3>
      @if (agentVersion()?.agent && isOverview()) {
        {{ ('latest_version_info' | translate) + ' (V' + agentVersion()?.agent.latestPublishVersion + ')' }}
      } @else {
        {{ 'detail_of_the_version' | translate }}
      }
    </h3>
    @if (canEdit()) {
      @if (versionInfosFormControl().disabled) {
        <button mat-flat-button (click)="editAbout()">{{ 'edit_version_info' | translate }}</button>
      } @else {
        <button mat-flat-button (click)="saveAbout()">
          @if (onAgentVersionInfosLoading) {
            <fl-loader></fl-loader>
          } @else {
            {{ 'save' | translate }}
          }
        </button>
      }
    }
  </div>

  @if (!versionInfosFormControl()?.value.isEmpty() || canEdit()) {
    <te-text-editor
      class="community-text-editor"
      [config]="textEditorConfig"
      [formControl]="versionInfosFormControl()"
      [placeholder]="'agent_version_infos_place_holder' | translate">
    </te-text-editor>
  }

  @if ((agentVersion()?.inputSpecs?.specs | flIsNotEmpty) || (agentVersion()?.outputSpecs?.specs | flIsNotEmpty)) {
    <div class="agent-version-card io-card">
      <div class="io-div">
        <h3 class="g-small-title">{{ 'input' | translate }}(s)</h3>
        @for (spec of agentVersion()?.inputSpecs?.specs | flObjectKeys; track spec) {
          <td-doc-io [ioSpec]="agentVersion()?.inputSpecs?.specs[spec]"></td-doc-io>
        }
      </div>

      <div class="io-div">
        <h3 class="g-small-title">{{ 'output' | translate }}(s)</h3>
        @for (spec of agentVersion()?.outputSpecs?.specs | flObjectKeys; track spec) {
          <td-doc-io [ioSpec]="agentVersion()?.outputSpecs?.specs[spec]"></td-doc-io>
        }
      </div>
    </div>
  }

  @if (agentVersion()?.configSpecs | flIsNotEmpty) {
    <div class="agent-version-card">
      <h3 class="g-small-title">{{ 'configuration' | translate }}</h3>
      <td-config [configSpecs]="agentVersion()?.configSpecs"></td-config>
    </div>
  }


  @if (isEditable() || agentVersion().params) {
    <div class="agent-version-card">
      <h3 class="g-small-title">{{ 'parameters' | translate }}</h3>
      <td-config [configSpecs]="agentVersion().params['specs']" />
    </div>
  }

  @if (
    ((isEditable() && canEdit()) || agentVersion()?.environment | flIsNotEmpty) &&
    agentVersion().type !== 'PYTHON'
    ) {
    <div class="agent-version-card">
      <h3 class="g-small-title">{{ 'environment_file' | translate }}</h3>
      <fl-code-editor
        [language]="languageEnvironment()"
        [formCtrl]="environmentFormControl()"></fl-code-editor>
    </div>
  }

  <div class="agent-version-card">
    <h3 class="g-small-title">{{ 'code' | translate }}</h3>
    <fl-code-editor [language]="languageCode()" [formCtrl]="codeFormControl()"></fl-code-editor>
  </div>



  <!--  &lt;!&ndash;TODO: Corriger le bug du changement de theme&ndash;&gt;-->
<!--      @if (-->
<!--        ((isEditable() && canEdit()) || agentVersion()?.environment | flIsNotEmpty) &&-->
<!--        agentVersion().type !== 'PYTHON'-->
<!--      ) {-->
    <!--    <fl-card class="agent-version-detail-card">-->
    <!--      <fl-card-header>-->
    <!--        <div class="card-header">-->
    <!--          <h5>-->
    <!--            {{ 'environment_file' | translate }}-->
    <!--          </h5>-->
    <!--          <div>-->
    <!--            <button mat-stroked-button (click)="onCopy('environment_file')" class="g-button-small primary">-->
    <!--              <mat-icon>content_copy</mat-icon>-->
    <!--              {{ 'copy_environment' | translate }}-->
    <!--            </button>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </fl-card-header>-->
    <!--      <fl-card-body>-->
    <!--        <fl-code-editor-->
    <!--          [language]="languageEnvironment()"-->
    <!--          [formCtrl]="environmentFormControl"></fl-code-editor>-->
    <!--      </fl-card-body>-->
    <!--    </fl-card>-->
    <!--  }-->

    <!--  <fl-card class="agent-version-detail-card">-->
    <!--    <fl-card-header>-->
    <!--      <div class="card-header">-->
    <!--        <h5>-->
    <!--          {{ 'code' | translate }}-->
    <!--        </h5>-->
    <!--        <div>-->
    <!--          <button mat-stroked-button (click)="onCopy('code')" class="g-button-small primary">-->
    <!--            <mat-icon>content_copy</mat-icon>-->
    <!--            {{ 'copy_code' | translate }}-->
    <!--          </button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </fl-card-header>-->
    <!--    <fl-card-body>-->
    <!--      <fl-code-editor [language]="languageCode()" [formCtrl]="codeFormControl"></fl-code-editor>-->
    <!--    </fl-card-body>-->
    <!--  </fl-card>-->
}
