@if (agentVersion()) {
  <div class="spacer"></div>

  <h4 class="detail-version-title">
    @if (agentVersion()?.agent && isOverview) {
      {{ ('latest_version_infos' | translate) + ' (V' + agentVersion()?.agent.latestPublishVersion + ')' }}
    } @else {
      {{ 'detail_of_the_version' | translate }}
    }
  </h4>

  <div class="version-type-info">
    <fl-key-value>
      <fl-key class="key">{{ 'agent_version_type' | translate }}</fl-key>
      <span>{{ agentVersion().type }}</span>
    </fl-key-value>
  </div>

  @if (brickDependencies() && brickDependencies().length > 0) {
    <div>
      <div class="key">{{ 'necessary_bricks' | translate }} :</div>
      <div class="brick-dependencies-div">
        @for (brickDep of brickDependencies(); track brickDep) {
          <mat-chip> {{ brickDep?.brickMajorVersion?.brick?.name }} {{ brickDep?.version }} </mat-chip>
        }
      </div>
    </div>
  }

  @if (agentVersion() && (agentVersion().versionInfos || canEdit())) {
    <div class="agent-version-detail-card info-version-card">
      <div class="card-header">
        <h5>
          {{ 'info_about_this_version' | translate }}
        </h5>
        @if (canEdit()) {
          <button
            mat-stroked-button
            class="g-button-small primary"
            (click)="onVersionInfosEditorButtonClick()">
            <mat-icon>{{ versionInfosDisabled ? 'edit' : 'save' }}</mat-icon>
            {{ versionInfosDisabled ? ('edit' | translate) : ('save' | translate) }}
          </button>
        }
      </div>
      <article>
        @defer (when agentVersion() && !isAgentVersionLoading() && versionInfosFormControl) {
          @if (canEdit() || !isVersionInfosEmpty()) {
            <te-text-editor
              class="version-infos-editor"
              [ngClass]="canEdit() ? 'editor-border' : ''"
              [config]="textEditorConfig"
              (textChange)="onVersionInfosChange($event)"
              [formControl]="versionInfosFormControl"
              [disabled]="!canEdit()"
              [placeholder]="'agent_version_infos_place_holder' | translate">
            </te-text-editor>
          }
        }
      </article>
    </div>
  }

  @if (
    (agentVersion()?.inputSpecs?.specs | flIsNotEmpty) || (agentVersion()?.outputSpecs?.specs | flIsNotEmpty)
  ) {
    <fl-card class="agent-version-detail-card">
      <fl-card-header>
        <div class="io-card-div">
          <h5 class="io-card-div-column">
            {{ 'input' | translate }}
          </h5>
          <h5 class="io-card-div-column">
            {{ 'output' | translate }}
          </h5>
        </div>
      </fl-card-header>
      <fl-card-body>
        <div class="io-card-div">
          <div class="io-card-div-column">
            @for (spec of agentVersion()?.inputSpecs?.specs | flObjectKeys; track spec; let i = $index) {
              <div
                [class]="
                  i < (agentVersion()?.inputSpecs?.specs | flObjectKeys).length - 1 ? 'spacing-6-v2' : ''
                ">
                <td-doc-io [ioSpec]="agentVersion()?.inputSpecs?.specs[spec]"></td-doc-io>
              </div>
            }
          </div>
          <div class="io-card-div-column">
            @for (spec of agentVersion()?.outputSpecs?.specs | flObjectKeys; track spec; let i = $index) {
              <div
                [class]="
                  i < (agentVersion()?.outputSpecs?.specs | flObjectKeys).length - 1 ? 'spacing-6-v2' : ''
                ">
                <td-doc-io [ioSpec]="agentVersion()?.outputSpecs?.specs[spec]"></td-doc-io>
              </div>
            }
          </div>
        </div>
      </fl-card-body>
    </fl-card>
  }

  @if (agentVersion()?.configSpecs | flIsNotEmpty) {
    <fl-card class="agent-version-detail-card">
      <fl-card-header>
        <h5>
          {{ 'configuration' | translate }}
        </h5>
      </fl-card-header>
      <fl-card-body>
        <td-config [configSpecs]="agentVersion()?.configSpecs"></td-config>
      </fl-card-body>
    </fl-card>
  }

  @if (isEditable() || agentVersion().params) {
    <fl-card class="agent-version-detail-card">
      <fl-card-header>
        <div class="card-header">
          <h5>
            {{ 'parameters' | translate }}
          </h5>
        </div>
      </fl-card-header>
      <fl-card-body>
        <td-config [configSpecs]="agentVersion().params['specs']" />
      </fl-card-body>
    </fl-card>
  }

  <!--TODO: Corriger le bug du changement de theme-->
  @if (
    ((isEditable() && canEdit()) || agentVersion()?.environment | flIsNotEmpty) &&
    agentVersion().type !== 'PYTHON'
  ) {
    <fl-card class="agent-version-detail-card">
      <fl-card-header>
        <div class="card-header">
          <h5>
            {{ 'environment_file' | translate }}
          </h5>
          <div>
            <button mat-stroked-button (click)="onCopy('environment_file')" class="g-button-small primary">
              <mat-icon>content_copy</mat-icon>
              {{ 'copy_environment' | translate }}
            </button>
          </div>
        </div>
      </fl-card-header>
      <fl-card-body>
        <fl-code-editor
          [language]="languageEnvironment()"
          [formCtrl]="environmentFormControl"></fl-code-editor>
      </fl-card-body>
    </fl-card>
  }

  <fl-card class="agent-version-detail-card">
    <fl-card-header>
      <div class="card-header">
        <h5>
          {{ 'code' | translate }}
        </h5>
        <div>
          <button mat-stroked-button (click)="onCopy('code')" class="g-button-small primary">
            <mat-icon>content_copy</mat-icon>
            {{ 'copy_code' | translate }}
          </button>
        </div>
      </div>
    </fl-card-header>
    <fl-card-body>
      <fl-code-editor [language]="languageCode()" [formCtrl]="codeFormControl"></fl-code-editor>
    </fl-card-body>
  </fl-card>
}
