h2{
  padding: 24px 0;
}

.agent-version-card{
  margin-top: 24px;
  background: var(--card-background);
  padding: 32px;
  border-radius: 12px;
  border: 12px solid var(--border-color);
}

.io-card{
  display: flex;
  justify-content: space-between;

  h3{
    margin-bottom: 24px;
  }
}

.io-div{
  width: 344px;
}



@media only screen and (max-width: 992px) {

  .io-card{
    flex-direction: column;
    gap: 48px;
  }

  .io-div{
    width: 100%;
  }
}
