.icon-info-div{
  background-color: var(--card-background);
  padding: 0.5em 0.75em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.icon-info-div button{
  margin: 1em auto 0 auto;
}

