<mat-table mat-table [dataSource]="datasource">

  <!-- Version -->
  <ng-container matColumnDef="version">
    <mat-header-cell *matHeaderCellDef>
      {{'version' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <div>
        {{version.version.toString()}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Repo type -->
  <ng-container matColumnDef="repoType">
    <mat-header-cell *matHeaderCellDef>
      {{'repo_type' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <div>
        {{version.repoType}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Last modified -->
  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>
      {{'last_modification_info' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let version">
      <fl-user-with-date [user]="version.lastModifiedBy" [date]="version.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- information -->
  <ng-container matColumnDef="informations">
    <mat-header-cell *matHeaderCellDef class="info-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let version" class="info-cell">
      <div >
        <mat-icon class="bt-info" (click)="openBrickVersionDetail(version)">info</mat-icon>
      </div>

    </mat-cell>
  </ng-container>




  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

