<fl-section [object]="labConfig">

  <fl-section-header>
    <h2>{{'lab_instance_config' | translate}}</h2>

    <fl-section-actions>
      <button mat-stroked-button type="button" class="g-button-small" (click)="openBrickVersionForm()">
        {{'lab_instance_add_brick' | translate}}
      </button>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <p *ngIf="!isConfigured()" class="help-text g-warn-text">{{'lab_not_configured_help' | translate}}</p>

    <mat-list class="g-mat-list-dense">
      <mat-list-item *ngFor="let brickVersion of labConfig.brickVersions">
        <div matListItemTitle>{{brickVersion.name}} : {{brickVersion.version}}</div>

        <div matListItemMeta>
          <!-- Info button -->
          <button mat-icon-button type="button" class="g-button-icon-small button"
                  (click)="openBrickVersionDetailDialog(brickVersion)"
                  [matTooltip]="'brick_version_view_detail' | translate">
            <mat-icon>info</mat-icon>
          </button>

          <button mat-icon-button type="button" class="g-button-icon-small button"
                  (click)="openBrickVersionForm(brickVersion)"
                  [matTooltip]="'lab_instance_update_brick' | translate">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button type="button" class="g-button-icon-small button"
                  (click)="openDeleteBrickConfirmDialog(brickVersion)"
                  [matTooltip]="'lab_instance_remove_brick' | translate">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>


    <mat-expansion-panel class="advanced-config" *ngIf="showAdvanced">
      <mat-expansion-panel-header>
        {{'lab_instance_advanced_config' | translate}}
      </mat-expansion-panel-header>

      <fl-text-icon>
        <mat-icon color="warn">warnings</mat-icon>
        <p>{{'lab_instance_advanced_config_warning' | translate}}</p>
      </fl-text-icon>

      <mat-form-field class="g-form-input glab-override">
        <mat-label>{{'glab_version_override' | translate}}</mat-label>
        <input matInput [(ngModel)]="labConfig.glabTag" [placeholder]="'glab_version_override' | translate">

        <mat-hint>{{'glab_version_override_hint' | translate}}</mat-hint>
      </mat-form-field>

      <button mat-stroked-button type="button" (click)="resetGlabTagToDefault()"
              class="g-centered-forced g-button-small">
        {{'lab_instance_reset_config' | translate}}
      </button>
    </mat-expansion-panel>

  </ng-container>
</fl-section>
