<fl-infinite-scroll [datasource]="datasource">
  <mat-table mat-table [dataSource]="datasource" class="table">
    <!-- Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>
        <span>{{ 'g.id' | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let biotaData">
        {{ biotaData.id }}
      </mat-cell>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <span>{{ 'g.name' | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let biotaData">
        {{ biotaData.name }}
      </mat-cell>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>
        <span>{{ 'g.type' | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let biotaData">
        {{ biotaData.type }}
      </mat-cell>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let biotaData">
        <button
          mat-icon-button
          type="button"
          [matTooltip]="'biota.data_detail' | translate"
          (click)="onShowDetail(biotaData)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
</fl-infinite-scroll>
