<div class="g-page-fixed g-layout-col">

  <fl-async-section [object]="smartDb$">

    <ng-container *flSectionBody="let smartDb">

      <!--  Header with the search -->
      <div>

        <div class="g-layout-row g-layout-between-center">
          <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
            <h1>{{'smart_db.smart_db' | translate}} : {{smartDb.name}}</h1>
            <fl-status-chip [status]="smartDb.type" mode="iconText"></fl-status-chip>
          </div>

          <div>
            <a mat-stroked-button class="g-button-small" [routerLink]="adminRoute" *caIsAdmin>
              <mat-icon>admin_panel_settings</mat-icon>
              {{'smart_db.admin' | translate}}
            </a>
          </div>
        </div>

        <form (ngSubmit)="submit()"
              class="g-layout-row-wrap g-layout-start-center g-layout-gap-1em">

          <!--    Search      -->
          <mat-form-field class="g-flex-auto g-form-field-no-hint">
            <mat-label>{{'smart_db.search_field' | translate}}</mat-label>
            <input matInput [formControl]="formControl" [flAutofocus]="0"
                   placeholder="{{'smart_db.search_field' | translate}}">
          </mat-form-field>

          <div class="button">
            <button mat-flat-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
              {{'smart_db.search' | translate}}
            </button>
          </div>
        </form>

      </div>


      <!-- Result  -->
      <div class="g-flex-auto g-grow-max-height g-scrollable-element g-layout-row g-layout-gap-1em">

        <fl-infinite-scroll [datasource]="datasource" class="left-section">
          <!--   Number of results   -->
          <p class="g-text-small g-text-light">
            <ng-container *ngIf="datasource.page?.totalElements > 0">
              {{'smart_db.count_result' | translate:{count: datasource.page?.totalElements} }}
            </ng-container>
          </p>


          <div *ngFor="let doc of datasource.connect() | async">
            <ca-smart-db-search-doc-result [doc]="doc" class="result"></ca-smart-db-search-doc-result>
          </div>
        </fl-infinite-scroll>

        <div class="right-section">
          <ca-smart-db-doc-card [smartDbId]="smartDbId" [doc]="selectedDoc$ | async"
                                [showDetailPageLink]="true"></ca-smart-db-doc-card>
        </div>

      </div>
    </ng-container>
  </fl-async-section>
</div>
