
card-body {
  min-height: 10em;
}

.sentence-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.validate-button {
  margin-top: 1em;
  text-align: center;
}

.left-section{
  display: block;
  width: 40%;
}

.right-section{
  display: block;
  width: 60%;
}
