<div class="content">
  <div class="left-side">
    <mat-chip-option
      [value]="isSelected('public')"
      (click)="selectSpace('public')"
      class="space-list-option accent">
      {{ 'biox.public' | translate }}
    </mat-chip-option>
    @if (spaces?.length > 0) {
      <mat-divider></mat-divider>
    }
    @for (space of spaces; track space.id) {
      <mat-chip-option
        [value]="isSelected(space.id)"
        (click)="selectSpace(space.id)"
        class="space-list-option warn">
        {{ space.name }}
      </mat-chip-option>
    }
  </div>
  <div class="right-side">
    <div class="search-bar-title">
      <form type="submit" (ngSubmit)="search()">
        <mat-form-field class="search-bar">
          <input
            matInput
            [formControl]="titleFormControl"
            placeholder="{{ 'biox.search_by_title' | translate }}" />
          <button mat-icon-button matSuffix (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div
      class="agents-list-div g-scrollable-element"
      *ngIf="agentsDatasource"
      (flInfiniteScroll)="agentsDatasource.getNextPage()"
      [flInfiniteDisabled]="agentsDatasource?.isLoading || agentsDatasource?.page?.last"
      flInfiniteMode="auto">
      <div *ngFor="let agent of agentsDatasource.connect() | async">
        <co-agent-list-item
          [agent]="pythonLabAgentToCoAgent(agent)"
          class="agent-item"
          (click)="onAgentClick(agent)"></co-agent-list-item>
      </div>
    </div>
  </div>
</div>
