<fl-dialog-header>
  {{ 'request_new_licenses' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" [formGroup]="formGroup" id="request-licenses-form">
    <p class="help-text">{{ 'request_new_licenses_help' | translate }}</p>

    <mat-form-field class="g-form-input">
      <mat-label>{{ 'nb_licenses' | translate }}</mat-label>
      <input
        matInput
        formControlName="nbLicenses"
        [placeholder]="'nb_licenses' | translate"
        type="number"
        [min]="0" />

      @if (formGroup.get('nbLicenses').hasError('required')) {
        <mat-error>
          {{ 'nb_licenses' | flErrorRequired }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="g-form-input">
      <mat-label>{{ 'request_licenses_comment' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="text"
        [placeholder]="'request_licenses_comment' | translate"
        rows="5"></textarea>

      @if (formGroup.get('text').hasError('required')) {
        <mat-error>
          {{ 'request_licenses_comment' | flErrorRequired }}
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button type="submit" form="request-licenses-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
