<fl-dialog-header>
  {{ title | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="doc-name-form" [formGroup]="formGp">
    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        required
        [flInputMaxLength]="255"
        [placeholder]="'name' | translate" />
      @if (formGp.get('name').hasError('required')) {
        <mat-error>{{ 'name' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button class="g-centered primary" mat-flat-button type="submit" form="doc-name-form">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
