// use to limit the height of the body and enable scroll on child
.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.line {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.path {
  word-break: break-word;
}

.tags {
  cursor: pointer;
}

.resource-type {
  margin-left: 10px;
}
