<div class="container">


  <div>
    <fl-key-value class="g-layout-row g-layout-start-center">
      <fl-key>{{'cloud_provider' | translate}}</fl-key>
      <ca-cloud-provider-inline [cloudProvider]="serverInfo.cloudProvider"></ca-cloud-provider-inline>
    </fl-key-value>
    <fl-key-value>
      <fl-key>{{'name' | translate}}</fl-key>
      {{serverInfo.name}}
    </fl-key-value>
    <fl-key-value>
      <fl-key>{{'cpuCount' | translate}}</fl-key>
      {{serverInfo.cpuCount}} ({{serverInfo.cpuType}})
    </fl-key-value>
    <fl-key-value>
      <fl-key>{{'ram' | translate}}</fl-key>
      {{serverInfo.ram}}
    </fl-key-value>

    <!--  If there is a GPU  -->
    <ng-container *ngIf="serverInfo.gpuType">
      <fl-key-value>
        <fl-key>{{'gpuCount'}}</fl-key>
        {{serverInfo.gpuCount}} ({{serverInfo.gpuType}})
      </fl-key-value>
    </ng-container>
  </div>

  <div>
    <fl-key-value>
      <fl-key>{{'diskSpace' | translate}}</fl-key>
      {{serverInfo.diskSpace}} ({{serverInfo.diskType}})
    </fl-key-value>
    <ng-content></ng-content>
  </div>
</div>
