<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon>people</mat-icon>
      <h2>{{ 'lab_users' | translate }}</h2>
    </fl-text-icon>

    @if (isOwner$ | async) {
      <fl-card-actions>
        <button
          mat-icon-button
          type="button"
          (click)="openAddUserDialog()"
          [matTooltip]="'lab_user_create' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </fl-card-actions>
    }
  </fl-card-header>

  <fl-card-body>
    <p class="g-text-light">{{ 'lab_users_section_help' | translate }}</p>
    <fl-async-section [arrayObs]="datasource">
      <ng-container *flSectionBodyDatasource>
        <div class="g-infinite-table g-scrollable-element">
          <ca-lab-users-table [datasource]="datasource" [columns]="columns$ | async" [labId]="labId">
          </ca-lab-users-table>
        </div>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
