<fl-dialog-header>
  {{title | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="server-info-form" [formGroup]="formGp">

    <!--  Cloud provider  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'cloud_provider' | translate}}</mat-label>
      <mat-select formControlName="cloudProvider">
        <ca-select-cloud-provider-options></ca-select-cloud-provider-options>
      </mat-select>
      <mat-error *ngIf="formGp.get('cloudProvider').hasError('required')">
        {{'cloud_provider' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'name' | translate}}</mat-label>
      <input matInput formControlName="name" required flInputMaxLength="50"
             placeholder="{{'name' | translate}}">
      <mat-error *ngIf="formGp.get('name').hasError('required')">
        {{'name' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Technical name  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'technical_name' | translate}}</mat-label>
      <input matInput formControlName="technicalName" required flInputMaxLength="50"
             placeholder="{{'technical_name' | translate}}">
      <mat-error *ngIf="formGp.get('technicalName').hasError('required')">
        {{'technical_name' | flErrorRequired}}
      </mat-error>
    </mat-form-field>

    <!--  Ram  -->
    <mat-form-field class="g-form-input">
      <mat-label>{{'ram' | translate}}</mat-label>
      <input matInput formControlName="ram" required
             placeholder="{{'ram' | translate}}" type="number">
      <mat-error *ngIf="formGp.get('ram').hasError('required')">
        {{'ram' | flErrorRequired}}
      </mat-error>
      <mat-error *ngIf="formGp.get('ram').hasError('min')">
        {{'input_number_must_be_positive' | translate}}
      </mat-error>
    </mat-form-field>

    <div class="g-layout-row-wrap g-layout-evenly">
      <!--  Disk space  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'diskSpace' | translate}}</mat-label>
        <input matInput formControlName="diskSpace" required
               placeholder="{{'diskSpace' | translate}}" type="number">
        <mat-error *ngIf="formGp.get('diskSpace').hasError('required')">
          {{'diskSpace' | flErrorRequired}}
        </mat-error>
        <mat-error *ngIf="formGp.get('diskSpace').hasError('min')">
          {{'input_number_must_be_positive' | translate}}
        </mat-error>
      </mat-form-field>

      <!--  Disk type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'diskType' | translate}}</mat-label>
        <mat-select formControlName="diskType">
          <ca-select-disk-type-options></ca-select-disk-type-options>
        </mat-select>
        <mat-error *ngIf="formGp.get('diskType').hasError('required')">
          {{'diskType' | flErrorRequired}}
        </mat-error>
      </mat-form-field>

      <!--  Cpu count  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'cpuCount' | translate}}</mat-label>
        <input matInput formControlName="cpuCount" required
               placeholder="{{'cpuCount' | translate}}" type="number">
        <mat-error *ngIf="formGp.get('cpuCount').hasError('required')">
          {{'cpuCount' | flErrorRequired}}
        </mat-error>
        <mat-error *ngIf="formGp.get('cpuCount').hasError('min')">
          {{'input_number_must_be_positive' | translate}}
        </mat-error>
      </mat-form-field>

      <!--  Cpu type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'cpuType' | translate}}</mat-label>
        <input matInput formControlName="cpuType" required
               placeholder="{{'cpuType' | translate}}" flInputMaxLength="30">
        <mat-error *ngIf="formGp.get('cpuType').hasError('required')">
          {{'cpuType' | flErrorRequired}}
        </mat-error>
      </mat-form-field>

      <!--  Gpu count  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'gpuCount' | translate}}</mat-label>
        <input matInput formControlName="gpuCount"
               placeholder="{{'gpuCount' | translate}}" type="number">
        <mat-error *ngIf="formGp.get('gpuCount').hasError('min')">
          {{'input_number_must_be_positive' | translate}}
        </mat-error>
      </mat-form-field>

      <!--  Gpu type  -->
      <mat-form-field class="g-form-input input">
        <mat-label>{{'gpuType' | translate}}</mat-label>
        <input matInput formControlName="gpuType"
               placeholder="{{'gpuType' | translate}}" flInputMaxLength="30">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="server-info-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
