.user-list div:not(:last-child) {
  margin-left: -8px;
}

.user-preview-container:hover {
  cursor: pointer;

  .user-preview {
    z-index: 999;
    // animation to slightly move the user box upward
    top: -5px;
  }
}

.user-preview {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  border: 2px solid var(--main-background);
  border-radius: 50%;
}

.additional-user-count-externe {
  border: 2px solid var(--main-background);
  border-radius: 50%;
}

.selected,
.additional-user-count-externe:hover {
  border-color: var(--accent-color);
}

.additional-user-count-interne {
  height: 26px;
  width: 26px;
  line-height: 26px;
  font-size: 0.875em;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px var(--main-background);
  background-color: var(--hover-color);
  cursor: pointer;
}

.portal {
  padding: 0;
}

.portal-user-list {
  padding: 1em;
  max-width: 20em;
  max-height: 30em;
}

.portal-user-list div:not(:first-child) {
  margin-top: 0.5em;
}

.portal-user {
  display: grid;
  grid-template-columns: 30px minmax(0, 1fr);
  align-items: center;
}

.additional-user {
  cursor: pointer;
  user-select: none;
}

.load-more {
  margin-top: 1em;
  display: block;
}
