<!-- user reverse so the first displayed element is on top of others-->
<ng-container *ngIf="value">
  <div class="g-layout-row-reverse user-list">
    <div class="additional-user-count-externe" *ngIf="additionalUserLength > 0"
         (click)="openAdditionalUsersPortal($event)" [ngClass]="{'selected': selectionAdditionalUser()}">
      <div class="additional-user-count-interne g-text-not-selectable">
        +{{additionalUserLength}}
      </div>
    </div>

    <div class="user-preview-container" *ngFor="let userSelection of value.previewUsers"
         [matTooltip]="userSelection.user.fullname" matTooltipPosition="below" matTooltipShowDelay="0"
         (click)="selectUser(userSelection)">
      <div class="user-preview" [ngClass]="{'selected': userSelection.selected}">
        <fl-user-profile-picture [user]="userSelection.user" size="medium"></fl-user-profile-picture>
      </div>
    </div>
  </div>

  <ng-template #additionalUsers>
    <fl-portal class="portal">
      <fl-portal-content>
        <div class="portal-user-list g-mat-checkbox-include-bottom g-scrollable-element">
          <div *ngFor="let userSelection of value.additionalUsers" class="portal-user">
            <mat-checkbox [(ngModel)]="userSelection.selected" (change)="emitCurrentValue()"
                          [disabled]="disabled">
            </mat-checkbox>
            <fl-user-inline [user]="userSelection.user"
                            class="additional-user" (click)="selectUser(userSelection)"></fl-user-inline>
          </div>

          <fl-infinite-load-more-result *ngIf="userDatasource" [datasource]="userDatasource"
                                        [textNoMoreResult]="null" class="load-more"></fl-infinite-load-more-result>
        </div>
      </fl-portal-content>
    </fl-portal>
  </ng-template>
</ng-container>
