<fl-dialog-header>
  {{'attached_files' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <div class="dialog-content">
    @if(entity){
      <fl-input-file-container color="primary" [autoClear]="true" class="select-file-button">
        <input flInputFile [multiple]="true" type="file" (fileChange)="uploadDocument($event)"

               [autoClearHtmlInput]="true">
      </fl-input-file-container>
      <table>
        <tr *ngFor="let file of entity.files">
          <td class="left-cell" flElementEditable (flElementValueChange)="renameFile($event, file)">
            <fl-file-text-icon [filename]="file.humanName"></fl-file-text-icon>
          </td>
          <td class="right-cell">
            <button mat-icon-button class="button" (click)="deleteFile(file)" [matTooltip]="'delete_file' | translate">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <p *ngIf="!entity.files || entity.files.length === 0" class="no-file-attached-text">
        {{'no_files_attached' | translate}}
      </p>
    }
  </div>
</mat-dialog-content>
