.dialog-content{
  display: flex;
  flex-direction: column;
}

table{
  width: 100%;
}

.select-file-button{
  margin: 0 auto 1em auto;
}


.left-cell{
  text-align: left;
}

.right-cell{
  text-align: right;
}

.no-file-attached-text{
  margin-top: 1em;
  width: 100%;
  text-align: center;
}
