<div class="chat-content">
  <lab-open-ai-chat-message *ngFor="let message of value.messages; let index=index"
                            [message]="message"
                            (action)="onAction($event, message, index)"></lab-open-ai-chat-message>
</div>


<mat-form-field class="g-full" subscriptSizing="dynamic" #textarea>
  <mat-label>{{'open_ai_message_placeholder' | translate}}</mat-label>

  <textarea matInput type="number" [formControl]="messageCtrl"
            [placeholder]="'open_ai_message_placeholder' | translate" rows="4"
            (keydown.enter)="onEnter($event)" (blur)="markAsTouched()">
  </textarea>

  <button mat-icon-button matSuffix type="button" (click)="addMessage()">
    <mat-icon>send</mat-icon>
  </button>

</mat-form-field>
