<!--   Owner section      -->
<ng-container *ngIf="isOwner$ | async">

  <ng-container *ngIf="(isCloud$ | async); else desktop">


    <ca-lab-instance-global-status class="g-section"></ca-lab-instance-global-status>


    <ca-lab-instance-manager class="g-section"></ca-lab-instance-manager>

    <ca-lab-green-options class="g-section"></ca-lab-green-options>

    <ca-lab-instance-manage-backup class="g-section"></ca-lab-instance-manage-backup>

    <ca-lab-instance-server class="g-section"></ca-lab-instance-server>
  </ng-container>

  <ng-template #desktop>
    <ca-lab-desktop-config class="g-section"></ca-lab-desktop-config>
  </ng-template>
</ng-container>
