<!--   Owner section      -->
<ng-container *ngIf="isOwner$ | async">

  <ng-container *ngIf="isHttpAccessible$ | async">

    <ca-lab-instance-global-status class="g-section"></ca-lab-instance-global-status>

    <ca-lab-instance-manager class="g-section"></ca-lab-instance-manager>

    <ca-lab-green-options class="g-section"></ca-lab-green-options>

    <ca-lab-instance-server class="g-section"></ca-lab-instance-server>
  </ng-container>

  <ca-lab-desktop-config *ngIf="isDesktop$ | async"
                         class="g-section"></ca-lab-desktop-config>
</ng-container>
