.container{
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.separator{
  margin-top: 1em;
}

.editor-save {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.text-editor {
  min-height: 10em;
  margin-bottom: 1em;
}

