<ha-page
  [pageTitle]="tagKey.label"
  [showPageDescription]="false"
  [isLoading]="isLoading"
  [notFound]="notFound">
  @if (tagKey) {
    <div class="entity-page-section">
      <div class="entity-page-infos">
        <ha-entity-page-info
          [entityId]="tagKey.id"
          [entityType]="entityType"
          [contributors]="tagKey.createdBy ? [tagKey.createdBy] : []"
          [date]="tagKey.createdAt"
          [space]="tagKey.space"
          [isAuthor]="tagKey.createdBy?.id === user()?.id"
          [showCoAuthorsButton]="false">
          @if (canEditTag) {
            <div class="entity-page-info-div">
              <div class="g-layout-row g-gap-05em g-layout-start-center">
                <button type="button" mat-flat-button (click)="openEditTagKeyDialog()" class="g-full">
                  <mat-icon>edit</mat-icon>
                  {{ 'edit_tag' | translate }}
                </button>

                @if (tagKey.createdBy?.id === user()?.id) {
                  <button
                    mat-icon-button
                    (click)="openConfirmDeleteTagKeyDialog()"
                    class="warn"
                    [matTooltip]="'delete' | translate">
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
            </div>

            <div class="entity-page-separator"></div>

            @if (!tagKey.publishedAt) {
              <div class="entity-page-info-div">
                <button type="button" mat-flat-button (click)="publishTagKey()" class="g-full">
                  <mat-icon>share</mat-icon>
                  {{ 'publish_tag' | translate }}
                </button>
              </div>

              <div class="entity-page-separator"></div>
            }
          }

          <div class="entity-page-info-div">
            <div class="g-layout-row g-layout-between-center">
              <span class="g-text-medium g-weight-600">{{ 'technical_name' | translate }}</span>
              <button mat-icon-button (click)="onCopyTechnicalName()" class="g-button-icon-small">
                <mat-icon>copy</mat-icon>
              </button>
            </div>

            <div class="entity-page-info-div-content">
              <span>{{ tagKey.technicalName }}</span>
            </div>
          </div>

          <div class="entity-page-separator"></div>
        </ha-entity-page-info>
      </div>
      <div class="entity-page-content">
        <div class="tag-description-div">
          <div class="tag-description-title-div g-layout-row g-layout-between-center">
            <h2>{{ 'description' | translate }}</h2>
            @if (canEditTag) {
              @if (!descriptionFormControl.disabled) {
                <button mat-flat-button (click)="saveAbout()">
                  @if (onDescriptionEditionLoading) {
                    <fl-loader></fl-loader>
                  } @else {
                    {{ 'save' | translate }}
                  }
                </button>
              } @else {
                <button mat-flat-button (click)="editAbout()">{{ 'edit_about' | translate }}</button>
              }
            }
          </div>
          <article>
            <te-text-editor
              class="community-text-editor"
              [config]="textEditorConfig"
              [formControl]="descriptionFormControl"></te-text-editor>
          </article>

          <div class="entity-page-separator"></div>

          <div class="tag-values-div tag-page-section">
            <div class="tag-div-header">
              <h4>{{ 'predefined_tag_values' | translate }} ({{ tagValueCount$ | async }})</h4>
              @if (canEditTag && !tagKey.deprecated) {
                <div class="g-layout-row g-layout-start-center g-gap-05em">
                  <button mat-raised-button (click)="openEditAdditionalInfoSpecDialog()">
                    {{ 'coCommunityLib.edit_additional_info_specs' | translate }}
                  </button>
                  @if (!isBooleanType) {
                    <button
                      mat-icon-button
                      (click)="openCreateTagValueDialog()"
                      [matTooltip]="'add_tag_value' | translate">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                  }
                </div>
              }
            </div>

            @if (tagValues) {
              <co-tag-values-table
                [dataSource]="tagValues"
                [hideEditButton]="!canEditTag || tagKey.deprecated"
                [hideDeleteButton]="!canEditTag || isBooleanType"
                [deleteButtonToolTip]="
                  !tagKey.publishedAt ? ('delete_tag_value' | translate) : ('deprecate_tag_value' | translate)
                "
                (editTagValue)="openEditTagValueDialog($event)"
                (deleteTagValue)="openConfirmDeleteTagValueDialog($event)">
              </co-tag-values-table>
            }
          </div>
        </div>

        <div class="entity-page-separator"></div>
      </div>
      <!--     <div class="entity-page-comment" id="comments">-->
      <!--       <div class="entity-page-separator"></div>-->
      <!--       <ha-comments-section  [user]="user()"></ha-comments-section>-->
      <!--     </div>-->
    </div>
  }
</ha-page>
