<div class="left-panel">
  <mat-icon class="button-left-panel" haSidenavButton></mat-icon>
  <button mat-flat-button type="button" class="bt first-bt" *haIsAuthenticated (click)="openCreateStoryDialog()">
    <mat-icon>add_circle</mat-icon>
    {{'create_story' | translate}}
  </button>

  <button mat-flat-button type="button" class="bt my-stories-bt" *haIsAuthenticated
          (click)="selectMyStories()" [class]="myStoriesBool ? 'bt-primary' : ''">
    {{'my_stories' | translate}}
  </button>

  <p class="left-side-div-title">{{'categories' | translate}} :</p>

  <div class="left-side-div-categories">
    <div *ngFor="let cat of categories" class="category small-text" (click)="changeSelectState(cat)"
         [ngClass]="cat.active ? 'category-selected' : ''">
      {{cat.cat.toLowerCase() | translate}}
    </div>
  </div>

  <p class="left-side-div-title" flHide.lt-sm>{{'popular_topics' | translate}} :</p>

  @if(popularTopics$){
    <mat-chip-listbox selectable multiple>
      <mat-chip-option *ngFor="let topic of popularTopics$ | async" [value]="isSelected(topic)"
                       (click)="selectTopic(topic)"
                       style="cursor: pointer">
        {{topic.name}}
      </mat-chip-option>
    </mat-chip-listbox>
  }
</div>

<div class="main-panel">
  <div class="stories-div" *ngIf="stories"
       (flInfiniteScroll)="loadMoreResults()" [flInfiniteDisabled]="stories?.isLoading || stories?.page?.last"
       flInfiniteMode="auto">

    <fl-text-icon>
      <mat-icon class="g-icon-huge">
        <img src="assets/fl-logo/stories-logo.svg"/>
      </mat-icon>
      <h1 class="title">{{ 'stories' | translate }}</h1>
    </fl-text-icon>

    <div class="search-bar-title">
      <mat-form-field class="search-bar">
        <input matInput [formControl]="titleFormControl" placeholder="{{'search_by_title' | translate}}">
        <button mat-icon-button matSuffix aria-label="Clear" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="stories-list">
      <a *ngFor="let story of stories | flDatasourceConnect  | async" [routerLink]="story.publishedAt == null ? 'edit/' + story.id: (story | haDetailRoute)">
        <co-story-list-item [story]="story" [imageLink]="getStoryImageLink(story?.mainPicture)"></co-story-list-item>
      </a>
      <fl-infinite-load-more-result [datasource]="stories"></fl-infinite-load-more-result>
    </div>
  </div>
</div>
