.first-bt{
  margin-top: 65px;
}

.stories-div {
  width: 100%;
  max-width: calc(100vw - 16px);
  margin: 0 auto;
  padding-bottom: 1em;
}

.title{
  margin-top: 16px;
}

.right-side-div{
  width: 190px;
  margin-top: 96px;
}

.stories-div-header {
  margin-bottom: 1em;
}

.story {
  background-color: var(--card-background);
  border-radius: 18px;
  height: fit-content;
  min-height: 184px;
  width: 100%;
  display: flex;
  margin-bottom: 32px;
}

.story-content {
  margin: 8px 8px 4px 8px;
  width: calc(100% - 206px);
  display: flex;
  flex-direction: column;
}

.story-content *{
  margin-bottom: 4px;
}

.story-image{
  margin: 8px auto auto auto;
  height: 168px;
  width: 174px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .story{
    min-height: 100px;
  }

  .story h5{
    font-size: 1em;
  }

  .story-content{
    width: calc(100% - 103px) !important;
  }

  .story-image{
    height: 84px;
    width: 87px;
    margin: 8px 8px 8px auto;
  }
}

h1{
  font-size: 67.3px;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  text-align: left;
  height: 80px;
}

h5 {
  margin: 0;
}


.bt{
  width: 100%;
  border-radius: 18px !important;
  height: 56px;
  padding: 8px;
}

.bt-primary{
  background-color: var(--primary-color);
  color: var(--color-text-primary);
}

.left-side-div-categories{
  background-color: var(--card-background);
  margin-bottom: 1em;
  padding: 8px;
  border-radius: 18px;
}

.category{
  padding: 7px;
  margin-bottom: 8px;
  background-color: var(--main-background);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.category:last-child{
  margin-bottom: 0;
}

.category-selected{
  background-color: var(--primary-color);
  color: var(--text-primary-color);
}

.my-stories-bt{
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-side-div-title{
  margin-left: 10px;
  margin-bottom: 5px;
}

.user-info{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date-info{
  margin-left: 4px;
  border-left: 1px solid var(--light-color);
  padding-left: 4px;
}


