<div class="left-panel">
  <mat-icon class="button-left-panel" haSidenavButton></mat-icon>
  <button mat-flat-button type="button" class="bt first-bt" *haIsAuthenticated (click)="openCreateDocDialog()">
    <mat-icon>add_circle</mat-icon>
    {{'create_story' | translate}}
  </button>

  <button mat-flat-button type="button" class="bt my-stories-bt" *haIsAuthenticated [routerLink]="'my-stories'">
    {{'my_stories' | translate}}
  </button>

  <p class="left-side-div-title">{{'categories' | translate}} :</p>

  <div class="left-side-div-categories">
    <div *ngFor="let cat of categories" class="category small-text" (click)="changeSelectState(cat)"
         [ngClass]="cat.active ? 'category-selected' : ''">
      {{cat.cat.toLowerCase() | translate}}
    </div>
  </div>

  <p class="left-side-div-title" flHide.lt-sm>{{'popular_topics' | translate}} :</p>

  <mat-chip-listbox selectable multiple *ngIf="popularTopics$">
    <mat-chip-option *ngFor="let topic of popularTopics$ | async" [value]="isSelected(topic)"
                     (click)="selectTopic(topic)"
                     style="cursor: pointer">
      {{topic.name}}
    </mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="main-panel">
  <div class="stories-div" *ngIf="stories"
       (flInfiniteScroll)="loadMoreResults()" [flInfiniteDisabled]="stories.isLoading || stories?.page.last"
       flInfiniteMode="auto">
    <h1 class="title">{{'stories' | translate}}</h1>
    <div class="stories-list">
      <a class="story" *ngFor="let story of stories.connect() | async" [routerLink]="story | haDetailRoute">
        <div class="story-content">
          <h5>{{story.title}}</h5>
          <p class="small-text"
             flHide.lt-sm>{{story.firstParagraph.length >= 100 ? (story.firstParagraph + '...') : story.firstParagraph}}</p>
          <p class="small-text user-info">
            <fl-user-inline [user]="story?.getAuthor()" [portalOnHover]="false"></fl-user-inline>
            <span
              class="g-text-small date-info">{{(story.publishedAt < story.lastModifiedAt ? story.lastModifiedAt : story.publishedAt) | flDate:'DATETIME_MED'}}</span>
          </p>
          <mat-chip-listbox flHide.lt-sm>
            <mat-chip-option *ngFor="let storyTopic of story.getTopics()">
              {{storyTopic.name}}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div *ngIf="story.mainPicture && story.mainPicture.length > 0"
             [style.background-image]="'url(\'' + getStoryImageLink(story.mainPicture) + '\')'"
             class="story-image"></div>
      </a>

      <fl-infinite-load-more-result [datasource]="stories"></fl-infinite-load-more-result>

    </div>
  </div>
</div>
