<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <mat-icon class="g-icon-big">key</mat-icon>
      <h2>{{'biox.credentials' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions>
      <button mat-stroked-button type="button"
              class="g-button-small" (click)="createCredentials()">
        <mat-icon>add</mat-icon>
        {{'biox.create_credentials' | translate}}
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <fl-async-section [object]="allCredentials">

      <ng-container *flSectionBody>
        <lab-credentials-table [datasource]="allCredentials" [columns]="displayedColumns"></lab-credentials-table>
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
