<div *ngIf="project$ | async; let project">

  <div class="g-layout-row g-layout-between-start">

    <div class="g-layout-row-wrap g-layout-start-center">
      <ca-project-icon [project]="project" [caNotificationMark]="project.id"></ca-project-icon>
      <h1 class="project-code">{{project.code}}</h1>
      <div class="project-title g-text-big">{{project.title}}</div>
    </div>

    <!--   Settings menu   -->
    <div class="g-layout-row g-layout-gap-1em">

      <button mat-icon-button (click)="openUserConfigDialog(project)" class="g-button-shadow"
              *ngIf="isRootProject$ | async" [matTooltip]="'project_configure_notifications' | translate">
        <mat-icon>notifications</mat-icon>
      </button>

      <ng-container *ngIf="canEditProject$ | async">
        <button mat-icon-button (click)="openShareDialog(project)" class="g-button-shadow"
                *ngIf="isRootProject$ | async" [matTooltip]="'project_shared_groups' | translate">
          <mat-icon>share</mat-icon>
        </button>
        <ca-project-actions-menu [project]="project" [projectUsers$]="projectUsers$"
                                 (projectUpdated)="onProjectUpdated($event)"
                                 (projectDeleted)="onProjectDeleted($event)"
                                 (childProjectCreated)="onChildCreated($event)"
                                 class="actions-button g-button-shadow"></ca-project-actions-menu>
      </ng-container>
    </div>
  </div>


  <div class="project-info">
    <div class="g-layout-row g-layout-start-center project-leader">
      <span class="g-text-light project-leader-title">{{'project_leader' | translate}} : &nbsp;</span>
      <fl-user-inline [user]="project.leader" class="project-leader-user"></fl-user-inline>
    </div>

    <fl-date-range [startingDate]="project.startingDate" [endingDate]="project.endingDate"
                   class="g-text-light dates">
    </fl-date-range>
  </div>


  <div class="g-section g-layout-row g-layout-start-center g-layout-gap-1em">

    <ca-project-users [projectId$]="projectId$"></ca-project-users>

    <ng-container *ngIf="rightPanelState$ | async as rightPanel">
      <a mat-icon-button type="button"
         [routerLink]="'.'" queryParamsHandling="merge"
         [queryParams]="descriptionQueryParams"
         [matTooltip]="'show_project_description' | translate"
         class="g-button-shadow"
         [ngClass]="{'panel-button-selected': rightPanel.type === 'description'}">
        <mat-icon>description</mat-icon>
      </a>

      <a mat-icon-button type="button"
         [routerLink]="'.'" queryParamsHandling="merge"
         [queryParams]="commentQueryParams"
         [matTooltip]="'show_project_comments' | translate"
         class="g-button-shadow"
         [ngClass]="{'panel-button-selected': rightPanel.type === 'comments'}"
         [caNotificationMark]="projectId$" caNotificationObjectType="PROJECT_COMMENT"
         [caNotificationAssociatedObjectIds]="1">
        <mat-icon>comment</mat-icon>
      </a>
    </ng-container>

  </div>

</div>
