@if (project$ | async; as project) {

  <div class="g-layout-row g-layout-between-start">

    <div class="g-layout-row-wrap g-layout-start-center">
      <ca-project-icon [caNotificationMark]="project.id"></ca-project-icon>
      <h1 class="project-title">{{ project.title }}</h1>

      <fl-user-inline [user]="project.leader"
                      class="project-leader"></fl-user-inline>
    </div>

    <!--   Settings menu   -->
    <div class="g-layout-row g-layout-gap-1em">

      @if (project.chatEnabled) {
        <button mat-icon-button type="button" (click)="openChat(project)"
                [matTooltip]="'show_folder_chat' | translate"
                class="g-button-shadow"
                [caNotificationMark]="projectId$" caNotificationObjectType="PROJECT_COMMENT"
                [caNotificationAssociatedObjectIds]="1">
          <mat-icon>comment</mat-icon>
        </button>
      }

      <button mat-icon-button type="button" (click)="openDescription(project)"
              [matTooltip]="'show_project_description' | translate"
              class="g-button-shadow">
        <mat-icon>description</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="openSettings(project)"
              [matTooltip]="'project_settings' | translate"
              class="g-button-shadow">
        <mat-icon>settings</mat-icon>
      </button>

      @if (isRootProject$ | async) {
        <button mat-icon-button (click)="openUserConfigDialog(project)" class="g-button-shadow"
                [matTooltip]="'project_configure_notifications' | translate">
          <mat-icon>notifications</mat-icon>
        </button>
      }

      @if (canEditProject$ | async) {
        @if (isRootProject$ | async) {
          <button mat-icon-button (click)="openShareDialog(project)" class="g-button-shadow"
                  [matTooltip]="'project_shared_groups' | translate">
            <mat-icon>share</mat-icon>
          </button>
        }

        <ca-project-actions-menu [projectInfo]="project.info"
                                 [projectUsers$]="projectUsers$"
                                 (projectAction)="onProjectAction($event)"
                                 class="actions-button g-button-shadow"></ca-project-actions-menu>
      }
    </div>
  </div>
}
