<fl-async-section [object]="freeLabDTO$">
  <ng-container *flSectionBody="freeLabDTO$ as freeLabDTO">
    <fl-card>
      <fl-card-header>
        <fl-text-icon>
          <mat-icon flIcon="lab"></mat-icon>
          <h2>{{ 'fair_open_access_data_lab' | translate }}</h2>
        </fl-text-icon>

        <fl-card-actions *caIsAdmin>
          @if (freeLabDTO.freeLab) {
            <button
              mat-icon-button
              type="button"
              (click)="updateFreeLab(freeLabDTO)"
              [matTooltip]="'free_data_lab_update' | translate">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              class="warn"
              (click)="deleteFreeLab(freeLabDTO)"
              [matTooltip]="'free_data_lab_delete' | translate">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </fl-card-actions>
      </fl-card-header>

      <fl-card-body>
        <ca-lab-free-info [freeLab]="freeLabDTO"></ca-lab-free-info>
      </fl-card-body>
    </fl-card>
  </ng-container>
</fl-async-section>
