<fl-dialog-header>
  {{ 'edit' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="edit-form" [formGroup]="formGp" class="g-layout-col">
    <div class="picture-container" [matTooltip]="'brick_picture' | translate">
      <fl-update-image-container
        class="brick-image-div"
        [uploadConfig]="imageConfig"
        [deleteConfig]="deleteImageConfig"
        [showDelete]="!!formGp.value.imageLink"
        [showEditIcon]="!!formGp.value.imageLink">
        <div class="picture-div">
          @if (!formGp.value.imageLink) {
            <mat-icon class="picture-placeholder"> add_a_photo </mat-icon>
          } @else {
            <img [src]="formGp.value.imageLink | haBrickImage" alt="Brick Image" class="picture" />
          }
        </div>
      </fl-update-image-container>
    </div>

    <!--  description  -->
    <mat-form-field class="g-form-input" appearance="outline">
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea
        matInput
        formControlName="description"
        flInputMaxLength="255"
        placeholder="{{ 'description' | translate }}"></textarea>
      @if (formGp.get('description').hasError('required')) {
        <mat-error>{{ 'description' | flErrorRequired }}</mat-error>
      }
    </mat-form-field>

    <!--  confidentiality  -->
    <mat-label>{{ 'confidentiality' | translate }}</mat-label>
    <div>
      <mat-radio-group formControlName="space">
        <mat-radio-button [value]="null" class="radio-bt" [checked]="!formGp.value.space">
          {{ 'public' | translate }}
        </mat-radio-button>
        @for (space of spaces; track space.id) {
          <mat-radio-button
            [value]="space"
            class="radio-bt"
            [checked]="formGp.value.space?.id === space?.id">
            {{ space.name }}
          </mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <!--  pipRepo  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_pip' | translate }}</mat-label>
      <input matInput type="text" formControlName="pipRepo" placeholder="{{ 'repo_pip' | translate }}" />
    </mat-form-field>

    <!--  gitRepo  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_git' | translate }}</mat-label>
      <input matInput type="text" formControlName="gitRepo" placeholder="{{ 'repo_git' | translate }}" />
    </mat-form-field>

    <p>{{ 'repo_credentials' | translate }}</p>

    <!--  Repo credentials username  -->
    <mat-form-field class="g-form-input input-repo" appearance="outline">
      <mat-label>{{ 'repo_credentials_username' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="credentialUsername"
        placeholder="{{ 'repo_credentials_username' | translate }}" />
    </mat-form-field>

    <!--  Repo credentials password  -->
    <mat-form-field class="g-form-input no-margin-bottom" appearance="outline">
      <mat-label>{{ 'repo_credentials_password' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="credentialPassword"
        placeholder="{{ 'repo_credentials_password' | translate }}" />
    </mat-form-field>

    @if (repoError) {
      <p class="error-repo">
        {{ 'repo_error' | translate }}
      </p>
    }
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="edit-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
    @if (isLoading) {
      <fl-button-loader></fl-button-loader>
    }
  </button>
</div>
