<fl-section [object]="labView" class="g-full-height">
  <fl-section-header class="header">

    <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
      <lab-view-type-image [viewType]="labView.viewConfig.viewType" size="2em"></lab-view-type-image>
      <h1 class="header-title">{{labView.viewConfig.title}}</h1>
    </div>

    <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
      <a [routerLink]="labView.viewConfig.resource.id | labDetailRoute:'resource'"
         *ngIf="labView.viewConfig.resource" class="g-text-link">
        <fl-text-icon class="g-text-tiny g-text-light"
                      gap="5px">
          <mat-icon flIcon="resource" class="g-icon-tiny"></mat-icon>
          {{labView.viewConfig.resource.name}}
        </fl-text-icon>
      </a>

      <fl-tag-list [tags]="labView.viewConfig.tags" [tagSelectable]="false" class="g-text-small"></fl-tag-list>
    </div>

    <fl-section-actions>
      <lab-flag-button [entity]="labView.viewConfig"></lab-flag-button>

      <rv-technical-info-button [technicalInfo]="labView.view.technical_info"></rv-technical-info-button>

      <lab-view-config-actions-menu [viewConfig]="labView.viewConfig"
                                    (update)="onUpdate($event)"
                                    (updateTags)="onTagUpdate($event)"></lab-view-config-actions-menu>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <rv-resource-view [view]="labView.view"
                      [config]="rvViewConfig" [resourceId]="labView.viewConfig.resource.id">
    </rv-resource-view>
  </ng-container>
</fl-section>
