<fl-section [object]="labView" class="g-full-height container">
  <fl-section-header class="header">

    <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
      <rv-view-type-image [viewType]="labView.viewType" size="1.75em" class="view-image" [viewTypesInfos]="labConstResourceViewTypeInfos"></rv-view-type-image>
      <h2 class="header-title" flElementEditable (flElementValueChange)="updateTitle($event)">{{labView.title}}</h2>

      <lab-view-config-favorite *ngIf="labView.viewConfig" [viewConfig]="labView.viewConfig"
                                (update)="onUpdate($event)"></lab-view-config-favorite>
    </div>

    <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
      <a [routerLink]="labView.viewConfig.resource.id | labDetailRoute:'RESOURCE'"
         *ngIf="labView.viewConfig.resource && showResourceName" class="g-text-link">
        <fl-text-icon class="g-text-tiny g-text-light"
                      gap="5px">
          <mat-icon flIcon="resource" class="g-icon-tiny"></mat-icon>
          {{labView.viewConfig.resource.name}}
        </fl-text-icon>
      </a>

      <fl-tag-list [tags]="tags" [tagSelectable]="false" class="g-text-small"></fl-tag-list>
    </div>

    <fl-section-actions>
      <ng-content></ng-content>
      <rv-technical-info-button [technicalInfo]="labView.view.technical_info"></rv-technical-info-button>

      <lab-view-config-actions-menu [viewConfig]="labView.viewConfig"
                                    [tags]="tags"
                                    (update)="onUpdate($event)"></lab-view-config-actions-menu>
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <rv-resource-view [view]="labView.view"
                      [config]="viewConfig" [resourceId]="labView.viewConfig.resource.id">
    </rv-resource-view>
  </ng-container>
</fl-section>
