
.container {
  container-type: inline-size;
  container-name: section;
}

.header{
  padding: 0.3em 1em;
  box-sizing: border-box;
}

.header-title {
  word-break: break-word;
}


/* If the container is larger than 700px */
@container section (max-width: 400px) {
  // hide the view image in small screens
  .view-image {
    display: none;
  }
}
