.progress{
  margin-bottom: 1em;
}

.action-buttons{
  margin-top: 1em;
}

.start-button{
  margin-left: 1em;
}

.info-section{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.task-loader{
  margin-right: 1em;
}
