<fl-card>
  <fl-card-header>
    <fl-text-icon>
      <h2>{{ 'monitoring.global' | translate }}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body>
    <fl-async-section [object]="currentMonitor$">
      <ng-container *flSectionBody="currentMonitor$ as currentMonitor">
        <li-monitor-disk [freeDisk]="currentMonitor.freeDisk"></li-monitor-disk>

        <fl-key-value>
          <fl-key>{{ 'monitoring.lab_disk_space' | translate }}</fl-key>
          {{ currentMonitor.monitor.diskUsageUsed | flByteText }}
          / {{ currentMonitor.monitor.diskTotal | flByteText }} ({{
            currentMonitor.monitor.diskUsageFree | flByteText
          }}
          {{ 'monitoring.disk_space_available' | translate }})
          <button
            mat-stroked-button
            color="primary"
            (click)="openFolderSizesDialog()"
            class="g-button-small detail-button">
            <mat-icon>folder</mat-icon>
            {{ 'li.folder_sizes_details' | translate }}
          </button>
        </fl-key-value>
        <fl-key-value>
          <fl-key>{{ 'monitoring.number_of_processes' | translate }}</fl-key>
          {{ currentMonitor.monitor.cpuCount }}
        </fl-key-value>
        <fl-key-value>
          <fl-key>{{ 'monitoring.total_memory' | translate }}</fl-key>
          {{ currentMonitor.monitor.ramUsageTotal | flByteText }}
        </fl-key-value>
        @if (currentMonitor.monitor.gpuEnabled) {
          <fl-key-value>
            <fl-key>{{ 'monitoring.gpu_ram_total' | translate }}</fl-key>
            {{ currentMonitor.monitor.gpuMemoryTotal | flByteText }}
          </fl-key-value>
        }
      </ng-container>
    </fl-async-section>
  </fl-card-body>
</fl-card>
