.search-bar{
  width: 100%;
}

.left-panel-buttons-div{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bt{
  width: 100%;
  border-radius: 18px !important;
  height: 56px;
  padding: 8px;
}

.bt-primary{
  background-color: var(--primary-color);
  color: var(--color-text-primary);
}

.first-bt{
  margin-top: 77px;
}

.title{
  margin-top: 16px;
  margin-bottom: 12px;
}

.res-research-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  font-size: 67.3px;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  text-align: left;
  height: 80px;
}

.live-tasks-list-div{
  display: flex;
  flex-direction: column;
}

.left-side-div-title{
  margin-left: 10px;
  margin-bottom: 5px;
}

.live-task-result-card-div{
  width: auto;
  margin-bottom: 32px;
}

.live-task-result-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.live-task-result-card-inner{
  width: 372px;
  //TODO: Check avec Leo si la height en auto c'est mieux ?
  //height: auto;
}

.live-task-dates-div{
  display: flex;
  flex-direction: row;
}

.live-task-date-div{
  flex: 1;
}

.card-left-info{
  flex: auto;

}

.space-list-option{
  cursor: pointer;
  width: fit-content !important;
}

.my-lt-bt{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 672px){
  .live-task-result-card-inner{
    width: 241px;
  }

  .live-task-dates-div{
    flex-direction: column;
  }

  .live-task-date-div{
    margin-bottom: 12px;
  }

  .live-task-date-div:last-child{
    margin-bottom: 0;
  }
}

.date-info-div{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.16px;
}

@media (max-width: 320px){
  .live-task-result-card{
    flex-direction: column;
  }

  .live-task-result-card-inner{
    width: auto;
  }
}
