<div class="main-div-v2">
  <div class="spacer-v2"></div>
  <div class="res-research-div">
    <h2 class="h2-v2 spacing-8-v2">{{'research_results' | translate}} : </h2>
    <button class="spacing-8-v2" mat-flat-button type="button" *haIsAuthenticated (click)="openCreateLiveTaskDialog()">
      <mat-icon>add_circle</mat-icon>
      {{'create_live_task' | translate}}
    </button>
  </div>

  <div class="main-grid-v2">

    <div class="main-left-side-v2 spacing-8-v2">
      <mat-chip-option [value]="isSelected('public')" (click)="selectSpace('public')" color="accent" class="space-list-option">
        {{'public' | translate}}
      </mat-chip-option>
      <ng-container *haIsAuthenticated>
        <mat-chip-option [value]="isSelected('my-live-tasks')" (click)="selectSpace('my-live-tasks')" color="accent" class="space-list-option">
          {{'my_live_tasks' | translate}}
        </mat-chip-option>
        <div class="spacer-tiny-v2"></div>
        <ha-selectable-space-list *ngIf="user" [user]="user" (spaceSelectedEvent)="onSpace($event)">

        </ha-selectable-space-list>
      </ng-container>
    </div>

    <div class="main-right-side-v2 live-tasks-list-div" *ngIf="liveTasksPaginated"
         (flInfiniteScroll)="liveTasksPaginated.getNextPage()" [flInfiniteDisabled]="liveTasksPaginated?.isLoading || liveTasksPaginated?.page?.last"
         flInfiniteMode="auto">
      <div class="search-bar-title">
        <!--        <form>-->
        <form type="submit" (ngSubmit)="search($event)">
          <mat-form-field class="search-bar">
          <input matInput [formControl]="titleFormControl" placeholder="{{'search_by_title' | translate}}">
            <button mat-icon-button matSuffix aria-label="Clear" (click)="search($event)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <a class="live-task-result-card-div" *ngFor="let liveTask of liveTasksPaginated.connect() | async"
         [routerLink]="liveTask.id">
        <lt-live-task-list-item [liveTask]="liveTask"></lt-live-task-list-item>
      </a>
    </div>
  </div>
</div>
