.dialog-text-editor {
  z-index: 200;
}

.picture-container {
  width: 250px;
  height: 250px;
  margin: 0 auto 2rem auto;
}

.picture {
  width: 250px;
  height: 250px;
}

.radio-bt {
  margin-top: 0.3em;
  margin-right: 1em;
}
