<ha-page
  [pageTitle]="story()?.title ?? tempTitle"
  [isLoading]="isLoading()"
  [notFound]="notFound()"
  [showPageDescription]="false">
  @if (story(); as storyValue) {
    <div class="entity-page-section">
      <div class="entity-page-infos">
        <ha-entity-page-info
          [imageUrl]="imageUrl()"
          [entityId]="storyValue.id"
          [entityType]="entityType"
          [isAuthor]="isAuthor()"
          [contributors]="contributors()"
          [date]="storyValue.createdAt">
          @if (canEdit()) {
            <div class="entity-page-infos">
              <a type="button" mat-flat-button [routerLink]="storyEditRoute()" class="g-full">
                <mat-icon>edit</mat-icon>
                {{ 'edit_story' | translate }}
              </a>
            </div>

            <div class="entity-page-separator"></div>
          }

          @if (titles() && titles().length > 0) {
            <div class="entity-page-info-div">
              <span class="g-text-medium g-weight-600">{{ 'table_of_contents' | translate }}</span>
              <div class="entity-page-info-div-content table-of-contents">
                @for (title of titles(); track title.text) {
                  <a
                    role="button"
                    tabindex="0"
                    (click)="scrollToHeader(title.text)"
                    (keydown.enter)="scrollToHeader(title.text)"
                    [ngClass]="title.level === 2 ? 'g-weight-600' : ''">
                    {{ title.text }}
                  </a>
                }
              </div>
            </div>

            <div class="entity-page-separator"></div>
          }

          @if (storyFiles() && storyFiles().length > 0) {
            <div class="entity-page-info-div">
              <span class="g-text-medium g-weight-600">{{ 'attached_files' | translate }}</span>
              <div class="entity-page-info-div-content table-of-contents">
                @for (file of storyFiles(); track file.name) {
                  <a type="button" [href]="storyFileDocPrefix() + file.name" download>
                    <fl-file-text-icon [filename]="file.name"></fl-file-text-icon>
                  </a>
                }
              </div>
            </div>

            <div class="entity-page-separator"></div>
          }
        </ha-entity-page-info>
      </div>
      <div class="entity-page-content">
        <article>
          <te-text-editor
            [formControl]="formControl"
            [config]="textEditorConfig"
            class="community-text-editor"></te-text-editor>
        </article>
      </div>
      <div class="entity-page-comment" id="comments">
        <ha-comments-section [user]="currentUser()"></ha-comments-section>
      </div>
    </div>
  }
</ha-page>
