.back-link {
  display: block;
  width: fit-content;
}

.author-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.co-author-key-val {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.co-author-span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  border-radius: 10px;
  padding: 7px 8px;
  margin-top: 8px;
}

.title:first-child {
  margin-top: 0;
}

.story-pannel {
  margin: 0 auto;
  min-width: 55vw;
  width: fit-content;
  background-color: var(--main-background);
  border-radius: 16px;
}

.story-content {
  width: 60rem;
  max-width: calc(100vw - 32px);
  padding: 16px;
  margin: 19px auto 8px auto;
}

.story-like-comment-infos-div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.story-like-comment {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.author-div .edit-button {
  margin-left: 2em;
}

@media (max-width: 900px) {
  .story-content {
    padding: 16px 0 !important;
  }
}

.text-editor {
  border: none;
  width: 60rem;
  max-width: calc(100vw - 32px);
}

.story-date {
  margin-left: 3em;
}

.user-date-info {
  display: flex;
  align-items: center;
}

.date-info {
  margin-left: 8px;
  padding-left: 8px;
  border-left: solid 1px var(--light-color);
}

.files-div table {
  width: 100%;
}

.story-files-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.story-file {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-file:hover {
  cursor: pointer;
  text-decoration: underline;
}

.file-text-icon {
  width: 100%;
}

.files-div {
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--hover-color);
  display: flex;
  flex-direction: column;
}

.story-sub-infos-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  border-top: 1px solid var(--hover-color);
  padding: 0.75em;
}

.table-of-contents {
  color: var(--color-foreground-light);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 1600px) {
  .main-panel {
    margin: 4em auto 0 auto !important;
  }
}

@media (max-width: 700px) {
  .author-div {
    flex-direction: column;
    gap: 0.5em;
    align-items: start;
    margin-bottom: 1em;
  }

  .author-div a {
    margin-left: 8px;
  }
}
