<!--   Mat menu containing action buttons   -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  @if (!readOnly) {
    @if (resource.isFsNode()) {
      <button mat-menu-item type="button" (click)="openImportResource()">
        <mat-icon fontSet="material-icons" class="primary">system_update_alt</mat-icon>
        <span class="g-primary-text">{{ 'biox.import_resource' | translate }}</span>
      </button>
    }
  }

  @if (resource.isDownloadable) {
    <button mat-menu-item type="button" (click)="downloadResource()">
      <mat-icon>cloud_download</mat-icon>
      <span>{{ 'biox.download_resource' | translate }}</span>
    </button>
  }

  @if (resource.isUpdatable()) {
    <button mat-menu-item type="button" (click)="openUpdateName()">
      <mat-icon>edit</mat-icon>
      <span>{{ 'biox.update_resource_name' | translate }}</span>
    </button>
    <button mat-menu-item type="button" (click)="openUpdateFolder()">
      <mat-icon flIcon="folder">edit</mat-icon>
      <span>{{ 'biox.update_folder' | translate }}</span>
    </button>
  }

  <button mat-menu-item type="button" (click)="openTagDialog()" class="g-button-small button">
    <mat-icon>local_offer</mat-icon>
    {{ 'biox.resource_tags' | translate }}
  </button>

  <button mat-menu-item type="button" (click)="openShareDialog()" class="g-button-small button">
    <mat-icon>share</mat-icon>
    {{ 'biox.share' | translate }}
  </button>

  @if (resource.canUpdateType() && !readOnly) {
    <button mat-menu-item type="button" (click)="updateResourceType()">
      <mat-icon>edit</mat-icon>
      <span>{{ 'biox.update_resource_type' | translate }}</span>
    </button>
  }

  <a mat-menu-item type="button" [routerLink]="resourceDocRoute">
    <mat-icon>help</mat-icon>
    <span>{{ 'biox.resource_doc' | translate }}</span>
  </a>

  <ng-content></ng-content>

  @if (resource.isDeletable() && !readOnly) {
    <button mat-menu-item type="button" (click)="deleteResource()" class="warn">
      <mat-icon>delete</mat-icon>
      <span>{{ 'databox.delete_resource' | translate }}</span>
    </button>
  }
</mat-menu>
