<!--   Mat menu containing action buttons   -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item type="button" *ngIf="resource.isDownloadable"
          (click)="downloadResource()">
    <mat-icon>cloud_download</mat-icon>
    <span>{{'biox.download_resource' | translate}}</span>
  </button>

  <ng-container *ngIf="!readOnly">
    <button mat-menu-item type="button" *ngIf="resource.isFsNode()"
            (click)="openImportResource()">
      <mat-icon fontSet="material-icons">system_update_alt</mat-icon>
      <span>{{'biox.import_resource' | translate}}</span>
    </button>
  </ng-container>

  <ng-content></ng-content>

  <button mat-menu-item type="button" (click)="openTagFormDialog()">
    <mat-icon>local_offer</mat-icon>
    <span>{{'update_tags' | translate }}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateName()">
    <mat-icon>edit</mat-icon>
    <span>{{'biox.update_resource_name' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openUpdateProject()">
    <mat-icon flIcon="project">edit</mat-icon>
    <span>{{'biox.update_project' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="updateResourceType()"
          *ngIf="resource.isUpdatable() && !readOnly">
    <mat-icon>edit</mat-icon>
    <span>{{'biox.update_resource_type' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="openTypingDoc()">
    <mat-icon>info</mat-icon>
    <span>{{'biox.resource_doc' | translate}}</span>
  </button>

  <button mat-menu-item type="button" (click)="deleteResource()"
          *ngIf="resource.isDeletable() && !readOnly">
    <mat-icon color="warn">delete</mat-icon>
    <span  class="g-warn-text">{{'databox.delete_resource' | translate}}</span>
  </button>

</mat-menu>
