<div fxLayout="column" class="form" [formGroup]="formGp">

  <div fxLayout="row wrap" fxLayoutAlign="space-between center"
       class="g-full g-form-field-compact">

    <!--  Label  -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'label' | translate }}</mat-label>
      <input matInput formControlName="label" [placeholder]="'label' | translate" autocomplete="off">
    </mat-form-field>

    <!--  Id -->
    <mat-form-field class="g-search-field">
      <mat-label>{{'id' | translate }}</mat-label>
      <input matInput formControlName="id" [placeholder]="'id' | translate" autocomplete="off">
    </mat-form-field>


    <!--  Created by  -->
    <fl-form-field class="g-search-field">
      <fl-select-user formControlName="createdBy" mode="space"
                      [placeholder]="'created_by' | translate"></fl-select-user>
    </fl-form-field>

    <!--  Creation date  -->
    <div class="g-form-field-no-hint g-full">
      <p class="g-text-small">{{'creation_date' | translate}}</p>
      <fl-search-date-interval formGroupName="createdAt">
      </fl-search-date-interval>
    </div>


  </div>

</div>


