<fl-section [isLoading]="isLoading" [object]="formControl" class="section">

  <fl-section-header>
    <fl-text-icon>
      <mat-icon flIcon="folder"></mat-icon>
      <h2>{{ folderName }}</h2>
    </fl-text-icon>
    <fl-section-actions>
      @if (canEdit) {
        <button mat-icon-button type="button" (click)="toggleEdit()">
          <mat-icon>{{ edit ? 'visibility' : 'edit' }}</mat-icon>
        </button>
      }
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <te-text-editor [formControl]="formControl" [config]="textEditorConfig"
                    class="g-scrollable-element text-editor"
                    [placeholder]="'folder_description_placeholder' | translate"></te-text-editor>
  </ng-container>
</fl-section>

