<fl-section [isLoading]="getIsLoading" [object]="formControl" class="section">

  <fl-section-header>
    @if (folder$ | async; as folder) {
      <div class="g-layout-row g-layout-start-center g-layout-gap-1em">
        <ca-hierarchy-object-icon [objectType]="folder.objectType"
                                  [objectName]="folder.name"></ca-hierarchy-object-icon>
        <h2>{{ folder.name }}</h2>
      </div>
    }
    <fl-section-actions>

      <te-text-editor-save [formCtrl]="formControl" [saveFunc]="saveDescriptionFunc"
                           [debounceTime]="1000" class="save-status"></te-text-editor-save>

      @if (canEdit) {
        <button mat-icon-button type="button" (click)="toggleEdit()">
          <mat-icon>{{ formControl.enabled ? 'visibility' : 'edit' }}</mat-icon>
        </button>
      }
    </fl-section-actions>
  </fl-section-header>

  <ng-container *flSectionBody>
    <te-text-editor [formControl]="formControl" [config]="textEditorConfig"
                    class="g-scrollable-element text-editor"
                    [placeholder]="'folder_description_placeholder' | translate"></te-text-editor>
  </ng-container>
</fl-section>

