<fl-search class="g-full-height">
  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-note-template-search-form></lab-note-template-search-form>
  </fl-search-advanced-form>

  <!--  Center header  -->
  <fl-search-header>
    <fl-text-icon>
      <mat-icon flIcon="note_template"></mat-icon>
      <h2>{{ 'biox.note_templates' | translate }}</h2>
    </fl-text-icon>

    <fl-search-header-actions>
      <button
        mat-icon-button
        type="button"
        color="accent"
        [matTooltip]="'biox.create_note_template' | translate"
        matTooltipPosition="before"
        (click)="openCreateNoteTemplateDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </fl-search-header-actions>
  </fl-search-header>

  <fl-search-result>
    <lab-note-template-table
      [datasource]="datasource"
      [rowSelectable]="noteTemplateSelectable"
      (noteTemplateSelected)="selectTemplate($event)"></lab-note-template-table>
  </fl-search-result>
</fl-search>
