<fl-search class="g-full-height">

  <!-- Advanced section in the right in a drawer -->
  <fl-search-advanced-form>
    <lab-protocol-template-search-form></lab-protocol-template-search-form>
  </fl-search-advanced-form>


  <!--  Center header  -->
  <fl-search-header>
    <fl-text-icon>
      <mat-icon flIcon="protocol_template"></mat-icon>
      <h2>{{'biox.protocol_template' | translate}}</h2>
    </fl-text-icon>
  </fl-search-header>


  <fl-search-result>
    <lab-protocol-template-table [datasource]="datasource" [columns]="columns" [rowSelectable]="rowSelectable"
                                 (templateSelected)="selectTemplate($event)"></lab-protocol-template-table>
  </fl-search-result>


</fl-search>
