.back-link {
  display: block;
  width: fit-content;
  margin-bottom: 1.5em;
}

.agent-page-div {
  min-height: calc(100vh - var(--navbar-height) - 19px);
  margin-top: 19px;
}

.main-agent-panel {
  height: 100%;
}

.agent-user-div {
  .agent-user-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .agent-user-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    gap: 0.25em;
  }
}
