<ha-page
  [pageTitle]="agent()?.title ?? tempTitle"
  [showPageDescription]="false"
  [isLoading]="isLoading()"
  [notFound]="notFound()">
  @if (agent()) {
    <div class="entity-page-section">
      <div class="entity-page-infos">
        <ha-entity-page-info
          [entityId]="agent().id"
          [entityType]="entityType"
          [contributors]="contributors()"
          [date]="agent().createdAt"
          [space]="agent().space"
          [isAuthor]="isAuthor()">
          <div class="entity-page-info-div">
            @if (canEdit()) {
              <div class="entity-page-info-div">
                <button type="button" mat-flat-button (click)="openEditAgentDialog()" class="g-full">
                  <mat-icon>edit</mat-icon>
                  {{ 'edit_agent' | translate }}
                </button>
              </div>

              <div class="entity-page-separator"></div>
            }

            <div class="g-layout-row g-layout-between-center">
              <span class="g-text-medium g-weight-600">{{ 'versions_list' | translate }}</span>

              @if (canEdit() && versions()) {
                <input
                  flInputFile
                  flHide
                  type="file"
                  #file
                  [strictMode]="true"
                  [autoClearHtmlInput]="true"
                  accept="application/json"
                  (fileChange)="onFileSelected($any($event))" />
                <button
                  mat-icon-button
                  (click)="file.click()"
                  [matTooltip]="'select_file_to_create_agent_version' | translate">
                  <mat-icon>add</mat-icon>
                </button>
              }
            </div>
            <div class="entity-page-info-div-content additional-info-div">
              <a [routerLink]="'.'" class="g-text-small version-link">
                <span>Overview</span>
              </a>
              @for (version of versions(); track version.id) {
                <a [routerLink]="['version', version.version]" class="g-text-small version-link">
                  <span>{{ 'version' | translate }} {{ version.version }}</span>
                  @if (version.versionState === 'DRAFT') {
                    <span class="not-published-message">{{ 'not_published' | translate }}</span>
                  }
                </a>
              }
            </div>
          </div>

          <div class="entity-page-separator"></div>

          <div class="entity-page-info-div">
            <span class="g-text-medium g-weight-600">{{ 'necessary_bricks' | translate }}</span>
            <div class="entity-page-info-div-content additional-info-div">
              @for (brickVersion of brickDependencies(); track brickVersion.id) {
                <a
                  class="g-text-small version-link"
                  [routerLink]="brickVersion.brickMajorVersion.brick | haDetailRoute"
                  >{{ brickVersion.brickMajorVersion.brick.name }} {{ brickVersion.version }}</a
                >
              }
            </div>
          </div>

          <div class="entity-page-separator"></div>
        </ha-entity-page-info>
      </div>
      <div class="entity-page-content">
        <router-outlet></router-outlet>
      </div>
      <div class="entity-page-comment" id="comments">
        <ha-comments-section [user]="currentUser()"></ha-comments-section>
      </div>
    </div>
  }
</ha-page>
