.additional-info-div {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;

  .version-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    border-radius: 0.7rem;
  }

  .version-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .not-published-message {
    color: var(--warn-color);
  }
}
