<fl-dialog-header>
  {{'biox.update_project' | translate}}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="project-form">

    <p class="help-text g-text-light">
      {{(isUpdateResourceProjectMode ? 'biox.associate_resource_to_project' : 'biox.associate_resource_experiment_to_project') | translate}}
    </p>

    <!--    Project      -->
    <lab-project-select [formControl]="formControl" [multiple]="false"></lab-project-select>

  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="submit" form="project-form"
          class="g-centered-forced">
    {{'save' | translate}}
    <fl-button-loader *ngIf="isLoading"></fl-button-loader>
  </button>
</div>
