<fl-dialog-header>{{ 'tags' | translate}}</fl-dialog-header>

<mat-dialog-content>

  <!-- Existing/Delete section -->
  <h2>{{'existing_tags' | translate}}</h2>
  <fl-tag-list [tags]="currentTags" class="tag-list"
               [showDeleteIcon]="true" [showNoTagMessage]="true"
               (tagDeleted)="deleteExistingTag($event)"></fl-tag-list>

  <mat-divider class="divider"></mat-divider>


  <!-- Add section -->
  <h2>{{'add_tags_to_entity' | translate}}</h2>

  <fl-add-tag-input class="section" (addTag)="addTag($event)"></fl-add-tag-input>

  <fl-tag-list [tags]="newTags" class="tag-list"
               [showDeleteIcon]="true"
               (tagDeleted)="removeNewTag($event)"></fl-tag-list>

  <mat-checkbox [(ngModel)]="isPropagable" class="section">
    {{'propagate_tags' | translate}}
  </mat-checkbox>

  <button mat-flat-button color="primary" type="button" (click)="saveTags()"
          class="g-centered-forced add-button">
    {{'add_tags_to_entity' | translate}}
  </button>
</mat-dialog-content>

