<div class="g-layout-row">
  <div class="g-flex-auto">
    @if (tags | flDatasourceConnect | async; as tagList) {
      @for (tag of tagList; track tag) {
        <fl-tag
          [flTag]="tag"
          class="tag"
          [showDeleteIcon]="mode === 'edit' && tag.isUserOrigin"
          (deleteTag)="deleteTag(tag)"
          (click)="showTagDetail(tag, $event)"></fl-tag>
      }
    }

    @if (showNoTagMessage && tags.isEmpty()) {
      <div class="g-full-height g-layout-col g-layout-center-start">
        <div class="g-text-small g-text-light">
          {{ 'no_tags' | translate }}
        </div>
      </div>
    }
  </div>

  @if (entityInformationProvided) {
    <button
      mat-icon-button
      type="button"
      class="g-button-icon-small edit-button"
      (click)="openManageEntityTagDialog()"
      [matTooltip]="'update_tags' | translate">
      <mat-icon>edit</mat-icon>
    </button>
  }
</div>
