.title {
  display: block;
  margin-top: 8px;
  padding: 7px 8px;
  border-radius: 10px;
}

.main-title {
  background-color: var(--main-background);
  font-weight: 500;
}

.secondary-title {
  background-color: var(--hover-color);
  margin-left: 16px;
}

.title:first-child {
  margin-top: 0;
}
