<fl-card id="lab-manager">

  <fl-card-header>
    <fl-text-icon>
      <mat-icon>engineering</mat-icon>
      <h2>{{'lab_manager' | translate}}</h2>
    </fl-text-icon>

    <fl-card-actions class="action-buttons">

      <button mat-stroked-button type="button" class="g-button-small actions-button"
              (click)="updateLabManager()">
        {{'lab_update_lab_manager' | translate}}
      </button>

      <button mat-stroked-button type="button" class="g-button-small" (click)="openStatusDialog()">
        <mat-icon>info</mat-icon>
        <span>{{'lab_check_status' | translate}}</span>
      </button>

      <button mat-stroked-button type="button" class="g-button-small button" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>{{'lab_manager_refresh' | translate}}</span>
        <fl-button-loader size="small" *ngIf="refreshIsLoading"></fl-button-loader>
      </button>
    </fl-card-actions>
  </fl-card-header>

  <fl-card-body>

    <!--  Global status  -->
    <fl-async-section [object]="labManagerStatus$" [isFlStatusEvent]="true" [showServerErrorText]="true" emptyText="lab_manager_not_running">
      <ng-container *flSectionBody>
        <ca-lab-instance-manager-status></ca-lab-instance-manager-status>

        <!--  Lab config  -->
        <ca-lab-instance-manager-config [labInstanceId]="labInstanceId"
                                        class="g-section content"></ca-lab-instance-manager-config>

      </ng-container>
    </fl-async-section>


    <mat-expansion-panel class="advanced-config">
      <mat-expansion-panel-header>
        {{'lab_manager_advanced_config' | translate}}
      </mat-expansion-panel-header>

      <ca-lab-instance-manager-advanced></ca-lab-instance-manager-advanced>
    </mat-expansion-panel>

  </fl-card-body>

</fl-card>
