<fl-portal class="portal" flResize="both" [style.width]="width" [style.height]="height">
  <fl-portal-header [enableDrag]="!editTitle">
    <div class="g-layout-row-wrap g-layout-start-center g-layout-gap-05em">
      <div class="title" [(flElementEditable)]="editTitle" [flElementIgnoreDrag]="true"
           [flElementDisabled]="labView.viewConfig == null"
           (flElementValueChange)="updateTitle($event)">
        {{labView.title}}
      </div>
      <lab-view-config-favorite *ngIf="labView.viewConfig" [viewConfig]="labView.viewConfig"
                                (update)="onUpdate($event)"></lab-view-config-favorite>
    </div>

    <fl-tag-list *ngIf="labView.viewConfig"
                 [tags]="labView.viewConfig.tags" [tagSelectable]="false" class="g-text-small"></fl-tag-list>

    <fl-portal-header-buttons>

      <rv-technical-info-button [technicalInfo]="labView.view.technical_info"></rv-technical-info-button>
      <lab-view-config-actions-menu *ngIf="labView.viewConfig" [viewConfig]="labView.viewConfig"
                                    (update)="onUpdate($event)"
                                    (updateTags)="onTagUpdate($event)"
                                    mode="icon">

        <ng-container *ngIf="resourceStateAccessible">
          <button mat-menu-item type="button" (click)="updateView()">
            <mat-icon>edit</mat-icon>
            {{'biox.update_view' | translate}}
          </button>

        </ng-container>
      </lab-view-config-actions-menu>

      <span class="separator g-text-light">|</span>
      <ng-container *ngIf="resourceStateAccessible">
        <button mat-icon-button type="button" [matTooltip]="'biox.dock_view' | translate"
                (click)="dockView()">
          <mat-icon>dock</mat-icon>
        </button>

        <button mat-icon-button type="button" [matTooltip]="'biox.minimize_view' | translate"
                (click)="minimizeView()">
          <mat-icon>remove</mat-icon>
        </button>
      </ng-container>

      <fl-resize-portal-fullscreen-button></fl-resize-portal-fullscreen-button>
    </fl-portal-header-buttons>
  </fl-portal-header>

  <fl-portal-content>
    <rv-resource-view [view]="labView.view" [config]="rvConfig" [resourceId]="labView.resourceId"
                      [contextMenuItems]="contextMenuItems">
    </rv-resource-view>
  </fl-portal-content>
</fl-portal>
