<mat-dialog-content class="content">

  @if (process$ | async; as process) {
    <div class="header">
      <div class="g-layout-row g-layout-between-start">
        <div class="g-layout-col g-layout-start-start">
          <h2 flElementEditable (flElementValueChange)="updateProcessName(process, $event)">
            {{ process.name }}
          </h2>
          @if (process.processType?.short_description) {
            <p class="process-description">{{ process.processType.short_description }}</p>
          }
        </div>

        <div class="g-layout-row g-layout-start-center g-layout-gap-05em">
          <fl-status-chip [status]="process.status"></fl-status-chip>

          @if (isEditable$ | async) {
            <button mat-icon-button type="button" (click)="saveConfig()" tabindex="-1"
                    [matTooltip]="'save' | translate" matTooltipPosition="below">
              <mat-icon>save</mat-icon>
            </button>

            <button mat-icon-button type="button" (click)="saveConfigAndRunProcess(process)" tabindex="-1"
                    [matTooltip]="'biox.save_config_and_run_process' | translate"
                    matTooltipPosition="below">
              <mat-icon>play_arrow</mat-icon>
            </button>
          }

          @if (isWaiting$ | async) {
            <mat-icon [matTooltip]="'biox.scenario_is_in_queue' | translate"
                      matTooltipPosition="below">
              hourglass_empty
            </mat-icon>
          }

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">

            <button mat-menu-item type="button"
                    (click)="openTypingDoc(process.processTypingName)">
              <mat-icon>info</mat-icon>
              <span>{{ 'biox.process_type_doc' | translate }}</span>
            </button>

            @if (isLiveTask$ | async) {
              <button mat-menu-item [matMenuTriggerFor]="liveTaskMenu">
                <mat-icon flIcon="code"></mat-icon>
                {{ 'biox.live_task' | translate }}
              </button>
            }

            @if (isTask$ | async) {
              <button mat-menu-item type="button" (click)="duplicateTask(process)">
                <mat-icon>content_copy</mat-icon>
                {{ 'biox.duplicate_task' | translate }}
              </button>
            }


            <!--   Progress and logs infos     -->
            @if (process.progressBar && process.status.value !== 'DRAFT') {

              <button mat-menu-item type="button" (click)="openProgressDetails()">
                <mat-icon>description</mat-icon>
                {{ 'biox.node_progress_detail' | translate }}
              </button>


              <button mat-menu-item type="button" (click)="openProcessLogs(process)">
                <mat-icon>description</mat-icon>
                {{ 'biox.view_process_logs' | translate }}
              </button>

              <button mat-menu-item type="button" (click)="openProcessMonitor(process)">
                <mat-icon>troubleshoot</mat-icon>
                {{ 'biox.view_process_monitoring' | translate }}
              </button>

            }

            @if (process.wasRun()) {
              <button mat-menu-item type="button" (click)="resetProcess()">
                <mat-icon color="warn">restart_alt</mat-icon>
                <span class="g-warn-text">{{ 'biox.reset_process' | translate }}</span>
              </button>
            }

          </mat-menu>

          <mat-menu #liveTaskMenu>
            <button mat-menu-item type="button" (click)="downloadLiveTaskFile(process)">
              <mat-icon>download</mat-icon>
              {{ 'biox.download_live_task_file' | translate }}
            </button>

            <button mat-menu-item type="button" (click)="openShareCommunityLiveTaskDialog(process)">
              <mat-icon>share</mat-icon>
              {{ 'biox.share_live_task_to_community' | translate }}
            </button>

            @if (isPyLiveTask$ | async) {
              <button mat-menu-item type="button" (click)="convertLiveTaskCodeToTask(process)">
                <mat-icon>code</mat-icon>
                {{ 'biox.convert_live_task_code_to_task' | translate }}
              </button>
              <button mat-menu-item type="button" (click)="openPipPackageList()">
                <mat-icon>inventory_2</mat-icon>
                {{ 'monitoring.system_config' | translate }}
              </button>
            }
          </mat-menu>
        </div>
      </div>

      @if (process.errorInfo && process.isError()) {
        <div class="process-error process-run-error g-text-link" (click)="openProgressDetails()">
          {{ process.errorInfo.detail }}
        </div>
      } @else if (process.typeStatus === 'UNAVAILABLE') {
        <div class="process-error">
          {{ 'pr.process_not_available' | translate }}
        </div>
      }
    </div>
  }

  <div class="g-layout-row g-layout-start-stretch section-container">

    <lab-process-io-panel [nodeProcess$]="nodeProcess$" mode="input"
                          class="section input-section"></lab-process-io-panel>

    <lab-configure-process class="section central-section g-scrollable-element"
                           [process$]="process$"></lab-configure-process>

    <lab-process-io-panel [nodeProcess$]="nodeProcess$" mode="output"
                          class="section output-section"></lab-process-io-panel>
  </div>

</mat-dialog-content>
