.content {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  // make the grid fill the whole container
  height: 100%;
  padding-top: 0 !important;
}

.header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  border-bottom: 1px solid var(--hover-color);
  background-color: var(--card-background);
}

.name {
  min-width: 0;
}

.process-description {
  // align with title
  padding-left: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.process-error {
  color: var(--warn-color);
  margin-bottom: 0.2em;
  width: 100%;
  // align with title
  padding-left: 6px;
}

.process-run-error {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section-container {
  flex: 1;
  min-height: 0; // limit max height
}

.section {
  min-width: 0;
  padding-top: 1em;
}

.central-section {
  flex: 1;
}

.input-section.is-opened {
  border-right: 1px solid var(--hover-color);
  flex: 1;
}

.output-section.is-opened {
  border-left: 1px solid var(--hover-color);
  flex: 1;
}

.process-style {
  width: 40px;
  height: 40px;
  border: 1px solid var(--hover-color);
  margin: auto 5px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.update-style {
  margin-bottom: 1px;
}
