.card {
  width: 100%;
  height: 100%;
  display: block;
}

.card-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-info{
  flex: 1;
}

.since-the{
  margin-top: 0.5em;
}

.action-buttons{
  margin-top: 10px;
}
