<fl-card class="card" matRipple>
  <fl-card-header>
    <!--  Title and logo    -->
    <fl-text-icon>
      <mat-icon
        class="g-icon-background"
        flIcon="lab"
        [ngClass]="iconBackground"
      [matTooltip]="statusTooltip | translate"></mat-icon>
      <h2 class="g-text-dense-height">{{ lab.name }}</h2>
    </fl-text-icon>
  </fl-card-header>

  <fl-card-body class="card-body">
    <div class="body-info">
      @if (lab.region) {
        <ca-city [city]="lab.region.city"></ca-city>
      }

      <div class="g-text-light g-text-small since-the">
        {{ lab.currentStatus.status.name | translate }} {{ 'since_the' | translate }}
        {{ lab.currentStatus.createdAt | flDate }}
      </div>
    </div>

    <div class="g-layout-row-wrap g-layout-start-center g-layout-gap-05em">
      @if (lab.isHttpAccessible) {
        <ca-lab-login-button
          [labId]="lab.id"
          [isRunning]="lab.isRunning()"
          size="small"
        class="action-buttons"></ca-lab-login-button>
      }

      <a
        mat-stroked-button
        [routerLink]="lab | caDetailRoute"
        class="g-button-small action-buttons"
        (click)="stopEventPropagation($event)"
        (mousedown)="stopEventPropagation($event)">
        {{ 'detail' | translate }}
      </a>
    </div>
  </fl-card-body>
</fl-card>
