@if (isLoading()) {
  <div class="center-container">
    <fl-loader size="medium"></fl-loader>
  </div>
} @else {
  @if (isEmpty$ | async) {
    <div class="center-container g-text-big">
      <fl-error-text [errorMessage]="'no_chat_activated' | translate"></fl-error-text>
    </div>
  } @else {
    <div class="g-full drawer-container g-layout-row g-layout-start-stretch">
      <div class="tree-container">
        <ca-hierarchy-object-tree
          class="tree"
          [hierarchyObjects]="folders"
          [selectedObject$]="selectedObjectId$"
          [enableLazyChildrenLoading]="false"
          [getRoute]="getRoute"
          notificationObjectType="MESSAGE"></ca-hierarchy-object-tree>
      </div>

      <router-outlet></router-outlet>
    </div>
  }
}
