:host {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-container {
  width: 17em;
  padding: var(--main-menu-margin) 0.5em var(--main-menu-margin) 0.5em;
}

.tree{
  background-color: var(--card-background);
  border-radius: var(--card-radius);
  display: block;
  padding: 8px;
}
