<mat-table mat-table [dataSource]="datasource" class="table">

  <!-- Title -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="g-cell-header-with-left-border">
      <span> {{ 'title' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let report" class="g-cell-with-left-border"
              [style.border-left-color]="report.project?.id | flStringToRgb">

      <!--    Invisible link  -->
      <a *ngIf="!rowSelectable" [routerLink]="report | labDetailRoute"
         [target]="rowLinkTarget" class="g-row-link"></a>

      <div>
        <div>{{ report.title }}</div>
        <fl-text-icon class="g-text-tiny g-text-light" *ngIf="report.project"
                      gap="0">
          <mat-icon flIcon="project" class="g-icon-tiny"></mat-icon>
          {{ report.project.title }}
        </fl-text-icon>
      </div>

      <mat-icon class="status-icon" *ngIf="report.isValidated"
                [matTooltip]="'biox.report_validated' | translate" flIcon="validated">
      </mat-icon>

      <mat-icon class="status-icon" *ngIf="report.isArchived"
                [matTooltip]="'biox.report_archived' | translate" flIcon="archive">
      </mat-icon>

    </mat-cell>
  </ng-container>


  <!-- Creation -->
  <ng-container matColumnDef="creation">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'creation_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.lastModifiedBy" [date]="row.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Last Modification -->
  <ng-container matColumnDef="lastModification">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'last_modification_info' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date [user]="row.lastModifiedBy" [date]="row.lastModifiedAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Last Synchro -->
  <ng-container matColumnDef="lastSynchro">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ 'biox.last_sync' | translate }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <fl-user-with-date *ngIf="row.isSynced" [user]="row.lastSyncBy" [date]="row.lastSyncAt"></fl-user-with-date>
    </mat-cell>
  </ng-container>

  <!-- Unlinked report button -->
  <ng-container matColumnDef="unlink">
    <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell">
    </mat-header-cell>
    <mat-cell *matCellDef="let report" class="g-table-icon-button-cell">
      <button mat-icon-button type="button" (click)="unlinkReport(report, $event)"
              [matTooltip]="'biox.report_unlink_experiment' | translate">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;" class="g-table-row-selectable g-row-link-container"
           (click)="rowClicked(row)"></mat-row>

</mat-table>
