.content {
  margin-bottom: 1em;
}

.help-text{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.action-buttons button {
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.advanced-config{
  margin-top: 1em;
  background-color: var(--main-background);
}
