<lml-manager>
  <button mat-icon-button type="button" [matMenuTriggerFor]="menu" class="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
<!--   TODO IMPROVE button position-->
    <button mat-menu-item type="button" (click)="updateLabManager()">
      <mat-icon>upgrade</mat-icon>
      {{ 'lab_update_lab_manager' | translate }}
    </button>

    <button mat-menu-item type="button" (click)="openStatusDialog()">
      <mat-icon>info</mat-icon>
      <span>{{ 'lab_check_status' | translate }}</span>
    </button>

    <button mat-menu-item type="button" (click)="openLabConfig()">
      <mat-icon>info</mat-icon>
      {{ 'lab_installed_brick' | translate }}
    </button>
  </mat-menu>
</lml-manager>
