<!-- Server instance -->
<div>
  <h2>{{ 'lab_server_instance' | translate }}</h2>
  @if (serverCompleteInfo.instance) {
    <div>
      <fl-key-value>
        <fl-key>{{ 'name' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.name }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'status' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.status }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_ip_address' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.ipv4 }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'region' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.region }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_billing_mode' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.billing }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'id' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.id }}
      </fl-key-value>
      <mat-expansion-panel>
        <mat-expansion-panel-header>{{ 'lab_detail_object' | translate }}</mat-expansion-panel-header>
        <fl-pretty-json [object]="serverCompleteInfo.instance.originalObject"></fl-pretty-json>
      </mat-expansion-panel>
    </div>
  } @else {
    <fl-error-text [errorMessage]="'lab_no_server_instance' | translate"></fl-error-text>
  }

</div>

<!-- Volume -->
<div class="g-section">
  <h2>{{ 'lab_server_volume' | translate }}</h2>
  @if (serverCompleteInfo.volume) {
    <div>
      <fl-key-value>
        <fl-key>{{ 'name' | translate }}</fl-key>
        {{ serverCompleteInfo.instance.name }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'status' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.status }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_volume_size' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.size }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_volume_type' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.type }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'region' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.region }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_volume_attached_to' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.attachedTo }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'id' | translate }}</fl-key>
        {{ serverCompleteInfo.volume.id }}
      </fl-key-value>
      <mat-expansion-panel>
        <mat-expansion-panel-header>{{ 'lab_detail_object' | translate }}</mat-expansion-panel-header>
        <fl-pretty-json [object]="serverCompleteInfo.volume.originalObject"></fl-pretty-json>
      </mat-expansion-panel>
    </div>
  } @else {
    <fl-error-text [errorMessage]="'lab_no_server_volume' | translate"></fl-error-text>
  }

</div>

<!-- DNS record -->
<div class="g-section">
  <h2>{{ 'lab_dns_record' | translate }}</h2>
  @if (serverCompleteInfo.domainRecord) {
    <div>
      <fl-key-value>
        <fl-key>{{ 'lab_dns_zone' | translate }}</fl-key>
        {{ serverCompleteInfo.domainRecord.zone }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_dns_subdomain' | translate }}</fl-key>
        {{ serverCompleteInfo.domainRecord.subDomain }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_dns_record_type' | translate }}</fl-key>
        {{ serverCompleteInfo.domainRecord.fieldType }}
      </fl-key-value>
      <fl-key-value>
        <fl-key>{{ 'lab_dns_record_value' | translate }}</fl-key>
        {{ serverCompleteInfo.domainRecord.target }}
      </fl-key-value>
    </div>
  } @else {
    <fl-error-text [errorMessage]="'lab_no_dns_record' | translate"></fl-error-text>
  }

</div>
