<fl-dialog-header>
  {{ 'monitoring.synchronize_lab' | translate }}
</fl-dialog-header>

<mat-dialog-content>
  <form (ngSubmit)="submit()" id="sync-form" [formGroup]="formGp">
    <!--  Sync users  -->
    <div>
      <mat-checkbox formControlName="syncUsers">
        {{ 'monitoring.synchronize_users' | translate }}
      </mat-checkbox>
    </div>

    <!--  Sync folders  -->
    <div class="sync-folder">
      <mat-checkbox formControlName="syncFolders">
        {{ 'monitoring.synchronize_folders' | translate }}
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button type="submit" form="sync-form" class="g-centered-forced primary">
    {{ 'save' | translate }}
  </button>
</div>
