<ca-dashboard-list-layout
  [datasource]="teamsDatasource"
  sectionTitle="my_teams"
  titleIcon="group"
  emptyText="no_team"
  addText="add_new_team"
  [completeListRoute]="myTeamsRoute"
  completeListText="all_teams"
  [showAddButton]="isSpaceUser"
  (addClick)="openCreateTeamDialog()">
  <ng-template let-item>
    <ca-team-card [team]="item"></ca-team-card>
  </ng-template>

  <ca-dashboard-empty-list
    emoji="👥"
    [emojiBackgroundColor]="color"
    [emptyTitle]="'teams_empty_title' | translate"
    [emptyDescription]="'teams_empty_description' | translate"
    class="empty-list">
    <button *caIsSpaceUser action mat-stroked-button class="accent" (click)="openCreateTeamDialog()">
      <mat-icon>add</mat-icon>
      {{ 'add_new_team' | translate }}
    </button>
  </ca-dashboard-empty-list>
</ca-dashboard-list-layout>
