.dialog-content {
  padding: 0 4rem;
  overflow: visible;
}

.dialog-text-editor {
  z-index: 200;
}

.picture-container {
  width: 250px;
  height: 250px;
  margin: 0 auto 2rem auto;
}

.picture {
  width: 250px;
  height: 250px;
}
