<div class="navigation-div">
  <a [routerLink]="'..'" class="back-link">
    <fl-text-icon [iconPosition]="'start'">
      <mat-icon>arrow_back</mat-icon>
      {{'back_to_all_stories' | translate}}
    </fl-text-icon>
  </a>
</div>


<div class="main-div">
  <div class="my-stories-table">
    <mat-table mat-table class="g-flex-grow" [dataSource]="myStories">

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> {{'category' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let story"> {{story.category.toLowerCase() | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> {{'title' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let story"> {{story.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> {{'status' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let story">
          <span [style.color]="story.status === 'PUBLISHED' ? 'var(--primary-color)' : 'var(--secondary-color)'">
            {{story.status | translate}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> {{'role' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let story">
          <span>
            {{getStoryRole(story) | translate}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef class="date-cell-head"> {{'created' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let story" class="date-cell">
          <fl-from-now [date]="story.createdAt" [prefix]="'created' | translate"></fl-from-now>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef class="g-table-icon-button-cell"></mat-header-cell>
        <mat-cell *matCellDef="let story" class="g-table-icon-button-cell">
          <a [routerLink]="'/stories/edit/' + story.id">
              <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="right-side-div">
    <button mat-flat-button type="button" class="bt" *haIsAuthenticated (click)="openCreateDocDialog()">
      <mat-icon >add_circle</mat-icon>
      {{'create_story' | translate}}
    </button>
  </div>
</div>


