.back-link{
  display: block;
  width: fit-content;
}

.navigation-div{
  margin-top: 30px;
  padding: 0 100px 13px 100px;
}

.my-stories-table{
  width: 715px;
  margin: 0 20px 0 auto;
}


.main-div{
  margin-top: 20px;
  display: flex;
}

.bt{
  width: 100%;
  border-radius: 10px !important;
  background-color: var(--card-background);
  height: 56px;
  padding: 8px;
}

.right-side-div{
  margin-right: auto;
  width: 190px;
}


.date-cell-head{
  min-width: 12em;
}

.date-cell{
  min-width: 13em;
}
