@if (isLoading()) {
  <div class="main-panel g-centered-forced">
    <fl-loader></fl-loader>
  </div>
} @else {
  @if (!brickNotFound() && brick()) {
    <div class="left-panel">
      <mat-icon class="button-close-left-panel" haSidenavButton></mat-icon>
      <ha-public-sidenav></ha-public-sidenav>
    </div>

    <div class="main-panel">
      <div class="brick-content-div">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    <div class="main-panel">
      <ha-ha404></ha-ha404>
    </div>
  }
}
