.container{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container:hover{
  background-color: var(--hover-color);
}

.folder-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  flex-shrink: 0;
}

.text{
  line-height: 1.2em;
}
