<div *ngFor="let configSpec of configSpecs | flObjectKeys; index as i" [class]="i < (configSpecs | flObjectKeys).length - 1 ? 'spacing-6-v2' : ''">
  <div class="g-layout-row g-layout-between-center config-spec-head">
    <p class="spacing-4-v2">{{configSpec}}</p>
    <div class="chip-div">
      <fl-chip class="g-primary-background chip" *ngIf="configSpecs[configSpec].optional">{{'td.optional' |translate}}</fl-chip>
      <fl-chip class="g-primary-background chip" *ngIf="configSpecs[configSpec].visibility !== 'public'">{{'td.advanced_parameter' | translate}}</fl-chip>
    </div>
  </div>
  <p class="code1-v2">{{configSpecs[configSpec].short_description}}</p>
  <ng-container *ngIf="configSpecs[configSpec].type !== 'param_set'; else param_set_block">
    <fl-key-value *ngIf="configSpecs[configSpec].type" class="code1-v2">
      <fl-key>{{'td.type' |translate}}</fl-key>
      <code>{{configSpecs[configSpec].type === 'str' ? 'string' : configSpecs[configSpec].type}}</code>
    </fl-key-value>
    <fl-key-value *ngIf="configSpecs[configSpec].allowed_values" class="code1-v2">
      <fl-key>{{'td.allowed_values' | translate}}</fl-key>
      <span *ngFor="let allowedValue of configSpecs[configSpec].allowed_values">
         <code>{{allowedValue}}</code>&nbsp;
      </span>
    </fl-key-value>
    <fl-key-value *ngIf="configSpecs[configSpec].default_value" class="code1-v2">
      <fl-key>{{'td.default_value' | translate}}</fl-key>
      <code>{{configSpecs[configSpec].default_value}}</code>
    </fl-key-value>
  </ng-container>

  <ng-template #param_set_block>
    <fl-key-value *ngIf="configSpecs[configSpec].type" class="code1-v2">
      <fl-key>{{'td.type' |translate}}</fl-key>
      <code>{{'td.param_set' | translate}}</code>
    </fl-key-value>
    <fl-key-value *ngIf="getMaxParamSetOccurrences(configSpecs[configSpec])" class="code1-v2">
      <fl-key>{{'td.max_occurrence_number' |translate}}</fl-key>
      <code>{{getMaxParamSetOccurrences(configSpecs[configSpec])}}</code>
    </fl-key-value>
    <td-config [configSpecs]="getParamSet(configSpecs[configSpec])"
               *ngIf="getParamSet(configSpecs[configSpec]) | flIsNotEmpty"></td-config>
  </ng-template>
</div>
