<div class="agent-versions-panel">
  <h5 class="agent-versions-panel-title">
    <span>{{ 'versions_list' | translate }}</span>
    @if (canEditAgent() && agent() && agentVersions()) {
      <button
        mat-icon-button
        (click)="file.click()"
        [matTooltip]="'select_file_to_create_agent_version' | translate">
        <mat-icon>add</mat-icon>
      </button>
      <input
        flInputFile
        flHide
        type="file"
        #file
        [strictMode]="true"
        [autoClearHtmlInput]="true"
        accept="application/json"
        (fileChange)="onFileSelected($any($event))" />
    }
  </h5>
  <div class="agent-versions-list g-scrollable-element">
    <a class="agent-versions-list-item" [routerLink]="'./'">Overview</a>
    @for (agentVersion of agentVersions(); track agentVersion.id) {
      <a class="agent-versions-list-item" [routerLink]="'version/' + agentVersion.version">
        V{{ agentVersion.version }}
        <span class="g-text-small">
          @if (agentVersion.versionState === 'PUBLISHED') {
            <fl-from-now [date]="agentVersion.createdAt"></fl-from-now>
          } @else {
            <span class="g-warn-text">
              {{ 'not_published' | translate }}
            </span>
          }
        </span>
      </a>
    }
  </div>
</div>
