<mat-table mat-table [dataSource]="datasource">

  <!-- active -->
  <ng-container matColumnDef="userMail">
    <mat-header-cell *matHeaderCellDef>
      {{'invitation_mail' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>{{row.userMail}}</div>
    </mat-cell>
  </ng-container>


  <!-- Role -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>
      {{'role' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>{{row.role}}</div>
    </mat-cell>
  </ng-container>

  <!-- Valid until -->
  <ng-container matColumnDef="validUntil">
    <mat-header-cell *matHeaderCellDef>
      {{'invitation_valid_until' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div [matTooltip]="row.validUntil | flDate:'DATE_TIME_WITH_SECONDS'"
           [ngClass]="{'g-warn-text' : !row.isValid()}">
        {{row.validUntil | flDate}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- sentThe -->
  <ng-container matColumnDef="sentThe">
    <mat-header-cell *matHeaderCellDef>
      {{'invitation_sent_the' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div [matTooltip]="row.createdAt | flDate:'DATE_TIME'">
        {{row.createdAt | flDate}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="g-table-icon-button-cell" *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell class="g-table-icon-button-cell" *matCellDef="let row">

      <!--   Mat menu containing action buttons   -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">

        <button mat-menu-item type="button"
                (click)="openUpdateRoleDialog(row)">
          <mat-icon>edit</mat-icon>
          <span>{{'space_update_role' | translate}}</span>
        </button>

        <button mat-menu-item type="button"
                (click)="openResendInvitationDialog(row)">
          <mat-icon>send</mat-icon>
          <span>{{'resend_invitation' | translate}}</span>
        </button>

        <button mat-menu-item type="button"
                (click)="openRefreshInvitationDialog(row)">
          <mat-icon>autorenew</mat-icon>
          <span>{{'refresh_invitation_expiration' | translate}}</span>
        </button>

        <button mat-menu-item type="button" (click)="openDeleteInvitationDialog(row)">
          <mat-icon color="warn">delete</mat-icon>
          <span class="g-warn-text">{{'delete_invitation' | translate}}</span>
        </button>

      </mat-menu>
    </mat-cell>
  </ng-container>


  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.accessor">
    <mat-header-cell *matHeaderCellDef>
      {{column.columnName | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div>
        <span>{{user[column.accessor]}}</span>
      </div>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="_columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>

