.google-material-icons-text-div {
  margin-top: 20px;
  text-align: center;
}

.google-material-icons-text-div a {
  text-decoration: underline;
}

.material-icons-link {
  color: var(--primary-color);
}
