.comment{
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.profile-pic{
  margin-top: 0.2em;
  width: 5em;
}

.main-part{
  width: calc(100% - 5.75em);
  margin-left: 0.75em;
}

.user-info{
  font-size: 0.8em;
  color: var(--light-color);
}

.section {
  margin-bottom: 0;
}

.input-message {
  min-height: 8em !important;
  width: 97%;
  max-height: 30em;
  display: flex;
  flex-direction: column;
  border: none !important;
  position: relative;
}

