.selected-tree-node {
  color: var(--primary-color) !important;
}

.tree-node {
  min-height: 30px !important;
  padding-right: 0;
  width: 100%;
  border-radius: 0.7rem;
}

.tree-node:hover {
  cursor: pointer;
  text-decoration: underline;
}

.a-tree-node {
  user-select: none;
  -webkit-user-drag: none;
}

.toggle-parent-button {
  flex-shrink: 0;
  color: inherit !important;
}

.tree-node-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.line-icons {
  width: auto;
  font-size: 10px;
  align-items: center;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}
