
.container {
  padding: 0.5em 1em;
}

.header-title {
  word-break: break-word;
  line-height: initial; // fix height in dialog
}

.button{
  flex-shrink: 0;
}

.separator{
  margin-right: 5px;
}

.circle-color{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}
